@use './tokens' as *;
@use './functions';
@use './mixins';

#main-content {
  flex: 1;
  max-width: calc(760rem / 16);
  min-inline-size: 0;
  padding-block: functions.clamped(
      functions.get($tokens, 'size', 'spacing', '-2'),
      functions.get($tokens, 'size', 'spacing', '10')
    )
    functions.size('spacing', '5');
}

.nav {
  padding-block: functions.size('spacing', '0');

  a {
    color: inherit;
    text-decoration-line: none;
  }

  a[href="/"] {
    display: flex;
    align-items: center;
    gap: functions.size("spacing", "-2");
  }

  a[href='#main-content'] {
    background-color: functions.color('surface', '0');
  }

  .label {
    font-variant: small-caps;
    letter-spacing: functions.size('tracking', 'md');
    @include mixins.font($family: 'body', $weight: 'bold');
  }

  [data-dialog-action="show"] {
    margin-inline-start: auto;
  }
}

.nav-layout {
  display: flex;
}

.nav-layout.rhythm {
  --rhythm: 0;
}

#nav-mobile {
  :is(a, label) {
    padding-block: functions.size('spacing', '-3');
  }
}

.nav-desktop {
  display: none;
}

@include mixins.tablet-sm {
  .page-layout {
    display: flex;
    gap: functions.clamped(
      functions.get($tokens, 'size', 'spacing', '5'),
      functions.get($tokens, 'size', 'spacing', '13')
    );
    padding-block: functions.clamped(
      functions.get($tokens, 'size', 'spacing', '0'),
      functions.get($tokens, 'size', 'spacing', '12')
    );
  }

  .nav {
    flex-shrink: 0;
    padding: 0 functions.size('spacing', '0');
    @include mixins.font($size: 'sm');

    [data-dialog-action="show"] {
      display: none;
    }

    a {
      text-decoration-line: underline;
    }

    :is(a, label) {
      display: block;
      color: functions.color('text', 'soft');

      &:is(:focus-visible, :hover) {
        color: functions.color('text', 'emphasis');
      }
    }

    .nav-layout.rhythm {
      --rhythm: 1lh;
    }
  }

  .nav-layout {
    flex-direction: column;
  }

  #nav-mobile {
    display: none;
  }

  .nav-desktop {
    display: unset;
  }

  #main-content {
    padding-block: 0;
  }
}

body > footer {
  background-color: functions.color('surface', '1');
  color: functions.color('text', 'emphasis');
  text-align: center;
  text-wrap: balance;
  padding-block: functions.size('spacing', '5');

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: functions.size('spacing', '-1');
  }

  .end {
    align-items: center;
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: functions.size('spacing', '0');
  }

  @include mixins.mobile-lg {
    padding-block: functions.size('spacing', '5');
  }

  @include mixins.tablet-sm {
    text-align: start;

    .container {
      align-items: end;
      flex-direction: row;
      justify-content: space-between;
    }

    .end {
      align-items: end;
    }
  }
}
