@import 'mixins';

#page-not-found {
  align-items: center;
  animation: backgroundScroll 40s linear infinite;
  animation-fill-mode: forwards;
  background-color: var(--color-black-2);
  // https://www.transparenttextures.com/stardust.html
  background-image: url('/assets/images/404/stardust.png');
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  padding: 0 1.2rem;

  @keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: 798px 0;}
  }

  h1 {
    color: var(--color-black-18);
    margin-bottom: 2.4rem;
    text-shadow: 0.1em 0.1em var(--color-black-0);
  }

  p {
    color: var(--color-black-15);
    margin-bottom: 1.6rem;
    @include font-size(2);
  }

  a {
    color: var(--color-black-18);
  }
}
