@import 'fonts';
@import 'mixins';

.post-tag {
    display: inline-block;
}

.tag-navigation {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    li {
        margin-bottom: 0;
    }

    .post-tag {
        margin-bottom: 1em;
        margin-right: 1em;
        padding: 0.2em 0.8em;
        height: 2.2em;
    }
}

.pagination-trail {
    margin-top: 3em;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.pagination-page {
    @extend .tag;
    margin-bottom: 1em;
    margin-right: 0.625em;
    padding: 0.4em 0.8em;
    @include font(-1);
}

.pagination-page-current {
    @extend .active-tag;
}

.post-title {
    margin: 0;
}

.post-meta {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    color: var(--post-meta-text-color);
    position: relative;
    @include font(-2);
}

.author-photo {
    height: 2.5rem;
    width: 2.5rem;

    * {
        border-radius: 50%;
    }
}

.meta {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-column-gap: 0.25rem;
    margin: 0 1em 1em 0;
}

.meta-icon {
    fill: var(--post-meta-icon-fill);
    height: 1em;
    width: 1em;
}

.skip-post-meta-tags {
    background: var(--main-bg-color);
    padding: 0.3em 0.6em;
}

.skip-post-meta-tags-target {
    scroll-margin-top: var(--scroll-margin-top);
}

.post-meta-tags {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.post-meta-tag-wrapper {
    margin-bottom: 1em;

    &:not(:last-child) {
        margin-right: 0.625em;
    }
}

.post-meta-tag {
    display: flex;
    align-items: center;
    padding: 0.3em 0.8em;
}

#post {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 1rem;
}

.post-header {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 1rem;
}

.post-content {
    display: grid;
    grid-template-columns: minmax(0, var(--page-max-width));
    row-gap: var(--paragraph-spacing);
    overflow-wrap: break-word;

    @include headings {
      scroll-margin-top: var(--scroll-margin-top);
      margin-top: 1em;
      margin-bottom: 0;
    }

    // Heading, not the actual table
    #table-of-contents {
      margin-top: 0;
    }

    #markdown-toc {
        &, ol, ul {
          display: grid;
          grid-row-gap: 1rem;
        }

        li {
          ol, ul {
            margin-top: 1rem;
          }
        }

        a {
            @include weight("semiBold");
            @include underlinedLink($initiallyUnderlined: true);
        }
    }

    #toc-skipped + * {
      margin-top: 0;
    }

    ol,
    ul {
      display: grid;
      grid-row-gap: var(--list-item-spacing);
    }

    p {
        margin: 0;
    }

    a:not(.button):not(.clickable-picture-anchor):not(.username) {
        @include underlinedLink($initiallyUnderlined: true);
    }

    figure {
        figcaption {
          font-style: italic;
          text-align: center;
          @include font(-1);
        }

        picture {
            margin-top: 0;
            margin-bottom: 1em;
        }
    }

    figure,
    picture {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    img,
    iframe,
    video {
        max-width: 100%;
    }

    img {
        border-radius: 5px;
    }

    .embed-container {
        position: relative;
        // 9 / 16 = 0.5625 (16:9 aspect ratio for YT videos)
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;

        > * {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    ul,
    ol {
        padding-left: 2em;
    }

    blockquote {
        border-left: 4px solid;
        margin-left: 1.2rem;
        padding: 0.25em var(--paragraph-spacing);

        p:not(:last-child) {
            margin-bottom: var(--paragraph-spacing);
        }
    }

    .spoiler {
        &,
        * {
            background-color: var(--spoiler-bg-color);
            color: var(--spoiler-bg-color);
        }

        &:hover {
            &,
            * {
                background-color: transparent;
                color: var(--text-color-normal);
            }

            code {
                background-color: var(--inline-code-bg-color);
                color: var(--inline-code-text-color);
            }
        }
    }
}
