@import 'mixins';
@import 'fonts';

.blog-page-title {
  margin-bottom: 0.8rem;
}

.blog-page-description {
  margin-bottom: 2.4rem;
}

.post-tag {
    display: inline-block;
}

.navigation-tags {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.navigation-tag {
  margin-bottom: 1.6rem;
  margin-right: 1.6rem;
  padding: 0.8rem 1.6rem;
}

.pagination-trail {
    margin-top: 3em;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.pagination-page {
    @extend .tag;
    margin-bottom: 1em;
    margin-right: 1.2rem;
    padding: 0.4rem 1.6rem;
    @include fontSize(-1);
}

.pagination-page-current {
    @extend .active-tag;
}

.post-title {
    margin-bottom: 1.6rem;
}

.post-meta {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    color: var(--post-meta-text-color);
    position: relative;
    @include fontSize(-2);
    @include fontWeight('light');
}

.author-photo {
    height: 50px;
    width: 50px;

    * {
        border-radius: 50%;
    }
}

.meta {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-column-gap: 0.4rem;
    margin: 0 1.6rem 1.6rem 0;
}

.meta-icon {
    fill: var(--post-meta-icon-fill);
    height: 1.6rem;
    width: 1.6rem;
}

.skip-post-meta-tags {
    background: var(--main-bg-color);
    padding: 0.8rem 1.6rem;
}

.skip-post-meta-tags-target {
    scroll-margin-top: var(--scroll-margin-top);
}

.post-meta-tags {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.post-meta-tag-wrapper {
    margin-bottom: 1.6rem;

    &:not(:last-child) {
        margin-right: 0.8rem;
    }
}

.post-meta-tag {
    display: flex;
    align-items: center;
    padding: 0.8rem 1.6rem;
}

.post-header {
  margin-bottom: 1.6rem;
}

.post-content {
    overflow-wrap: break-word;

    p,
    blockquote,
    figure,
    ol,
    ul,
    .katex-display {
      margin-top: 0;
      margin-bottom: 3.2rem;
    }

    @include headings {
      scroll-margin-top: var(--scroll-margin-top);
      margin-top: 4.8rem;
      margin-bottom: 1.6rem;
    }

    #markdown-toc {
      li {
        margin-bottom: 2.4rem;

        ol, ul {
          margin-top: 2.4rem;
        }
      }

      a {
          @include fontWeight("semiBold");
          @include underlinedLink($initiallyUnderlined: true);
      }
    }

    ol,
    ul {
      li {
        margin-bottom: 0.8rem;
      }
    }

    a:not(.button):not(.clickable-picture-anchor):not(.username) {
        @include underlinedLink($initiallyUnderlined: true);
    }

    figure {
        figcaption {
          font-style: italic;
          text-align: center;
          @include fontSize(-1);
        }

        picture {
            margin-top: 0;
            margin-bottom: 0.8rem;
        }
    }

    figure,
    picture {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    img,
    iframe,
    video {
        max-width: 100%;
    }

    img {
        border-radius: 0.4rem;
    }

    .embed-container {
        position: relative;
        // 9 / 16 = 0.5625 (16:9 aspect ratio for YT videos)
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;

        > * {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    ul,
    ol {
        padding-left: 4.8rem;
    }

    blockquote {
        border-left: 0.4rem solid;
        margin-left: 2.4rem;
        padding: 0.4rem 3.2rem;

        p:last-child {
            margin-bottom: 0;
        }
    }

    .spoiler {
        &,
        * {
            background-color: var(--spoiler-bg-color);
            color: var(--spoiler-bg-color);
        }

        &:hover {
            &,
            * {
                background-color: transparent;
                color: var(--text-color-normal);
            }

            code {
                background-color: var(--inline-code-bg-color);
                color: var(--inline-code-text-color);
            }
        }
    }
}
