@import 'mixins';

.contact-heading {
  @include fontSize(3);
}

#contact-information {
    column-gap: 6em;
    display: grid;
    grid-template-areas: "form"
                         "socials";
    grid-template-rows: auto;
    grid-row-gap: 3em;

    @media only screen and (min-width: 800px) {
        grid-row-gap: 0;
        grid-template-areas: "form form form socials";
    }
}

.contact-form {
    $form-max-width: 24rem;

    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 0.75rem;
    background-color: var(--form-bg-color);
    border-radius: 0.1rem;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
    grid-area: form;
    max-width: $form-max-width;
    padding: 1.5em;

    .labeled-input {
      display: grid;
      grid-auto-flow: row;
    }

    label,
    input,
    textarea,
    button {
      font-family: inherit;
      @include fontSize(0);
    }

    textarea {
        line-height: inherit;
        min-height: 8.75rem;
        width: 100%;
    }

    .button {
        border-radius: 0.1rem;
        height: 2.5rem;
        max-width: 100%;
        width: 100%;
        @include fontSize(0);
    }
}

// Spammers begone
input.honeypot {
    display: none;
}

.social-networks-heading {
    @include fontSize(1);
}

#social-networks {
    column-gap: 1.5rem;
    display: grid;
    grid-auto-rows: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    margin-bottom: 3rem;
    margin-top: 3rem;
    grid-row-gap: 2.5rem;
    list-style-type: none;
}

.social-network {
    margin: 0;
}

.social-network-link {
    height: 100%;
    border-radius: 0.1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &:focus, &:hover {
        background-color: var(--hover-bg-color);
        cursor: pointer;
    }

    .network-name {
        color: var(--text-color-normal);
        align-self: center;
        grid-column: 2;
        @include fontWeight("regular");
    }
}

.network-icon {
    align-self: center;
    justify-self: center;
    width: 35px;
}

.linkedin-square {
    background: white;
    /* Nice little hack for getting a perfect fill */
    border-radius: 4px;
    fill: $brand-linkedin;
}

.github {
    @include themed(fill, $brand-github, $brand-github-alt);
}

.stack-exchange {
    fill: $brand-stack-exchange;
}

.upwork {
    fill: $brand-upwork;
}
