@import 'mixins';

.contact-title {
  margin-bottom: 0.8rem;
  @include font-size(3);
}

.contact-subtitle {
  margin-bottom: 2.4rem;
}

#contact-information {
  display: grid;
  grid-template-areas:
    "form"
    "socials";
  grid-template-rows: auto;
  grid-column-gap: 9.6rem;
  grid-row-gap: 4.8rem;
}

.contact-form {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 1.6rem;
    background-color: var(--form-bg-color);
    border-radius: 0.2rem;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
    grid-area: form;
    padding: 2.4rem;
    height: fit-content;

    .labeled-input {
      display: grid;
      grid-auto-flow: row;
      grid-row-gap: 0.4rem;
    }

    label,
    input,
    textarea,
    button {
      font-family: inherit;
      @include font-size(0);
    }

    textarea {
        line-height: inherit;
        min-height: 17.5rem;
        width: 100%;
    }

    .button {
        border-radius: 0.2rem;
        height: 4.8rem;
        max-width: 100%;
        width: 100%;
        @include font-size(0);
    }
}

// Spammers begone
input.honeypot {
    display: none;
}

#social-networks {
  display: grid;
  grid-row-gap: 4.8rem;
  grid-template-rows: min-content auto;
}

.social-networks-heading {
  @include font-size(1);
}

.social-networks-list {
    grid-column-gap: 3.2rem;
    display: grid;
    grid-auto-rows: 4.8rem;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-row-gap: 4.8rem;
    list-style: none;
}

.social-network {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 1.6rem;
    border-radius: 0.2rem;

    &:focus, &:hover {
        background-color: var(--hover-bg-color);
        cursor: pointer;
    }
}

.social-network-name {
  color: var(--text-color-normal);
  @include font-weight("regular");
}

.social-network-icon {
    justify-self: center;
    width: 3.2rem;
}

.linkedin-square {
    background: white;
    /* Nice little hack for getting a perfect fill */
    border-radius: 4px;
    fill: $brand-linkedin;
}

.github {
    @include themed(fill, $brand-github, $brand-github-alt);
}

.stack-exchange {
    fill: $brand-stack-exchange;
}

.upwork {
    fill: $brand-upwork;
}

@media only screen and (min-width: 800px) {
  #contact-information {
    grid-row-gap: 0;
    grid-template-areas: "form socials";
    grid-template-columns: 40rem auto;
  }
}
