@import 'mixins';

#hero-banner {
    margin-top: 3.2rem;
    display: grid;
    margin-bottom: 9.6rem;
    grid-template-areas:
        "title title headshot"
        "subtitle subtitle subtitle";
    grid-row-gap: 0.8rem;
}

.hero-banner-title {
  grid-area: title;
}

.hero-banner-subtitle {
  margin: 0;
  grid-area: subtitle;
}

#headshot {
    --headshot-size: 10rem;
    width: var(--headshot-size);
    height: var(--headshot-size);
    grid-area: headshot;
    justify-self: center;
    align-self: center;

    img {
        border-radius: 50%;
    }
}

@media screen and (min-width: 400px) {
    #hero-banner {
        grid-template-areas:
            "title title headshot"
            "subtitle subtitle subtitle";
    }

    #headshot {
      margin-left: 1.6rem;
    }
}

@media screen and (min-width: 600px) {
    #hero-banner {
        grid-template-areas:
            "title title headshot"
            "subtitle subtitle headshot";
        grid-row-gap: 0;
    }

    .hero-banner-title {
      margin-bottom: 0.8rem;
    }

    #headshot {
        --headshot-size: 14rem;
        margin-left: 1.6rem;
    }
}

#software-projects {
  margin-bottom: 0.8rem;
}
