@import 'mixins';

#hero-banner {
    margin-top: 3.2rem;
    display: grid;
    margin-bottom: 9.6rem;
    grid-template-areas:
        "title title headshot"
        "subtitle subtitle subtitle";
    grid-row-gap: 0.8rem;
}

.hero-banner-title {
  grid-area: title;
  align-self: center;
}

.hero-banner-subtitle {
  grid-area: subtitle;
}

#headshot {
    --headshot-size: 10rem;
    grid-area: headshot;
    justify-self: center;
    align-self: center;

    img {
      max-width: var(--headshot-size);
      width: var(--headshot-size);
      height: var(--headshot-size);
      border-radius: 50%;
    }
}

@include mobile {
  #hero-banner {
      grid-template-areas:
          "title title headshot"
          "subtitle subtitle subtitle";
      grid-column-gap: 1.6rem;
  }
}

@media screen and (min-width: 600px) {
  #hero-banner {
      grid-template-areas:
          "title headshot"
          "subtitle headshot";
      grid-row-gap: 0;
  }

  .hero-banner-title {
    margin-bottom: 1.6rem;
  }

  #headshot {
      --headshot-size: 14rem;
  }
}

#software-projects {
  margin-bottom: 0.8rem;
}

.projects-subheading {
  margin-bottom: 4.8rem;
}
