@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'settings';

$note-text-color: #3e464d;    

#notes {
    .heading,
    .subtitle {
        text-align: center;
    }
}

.notes-by-year {
    margin-top: 2.5rem;

    .year {
        margin-bottom: 1.5em;
        font-size: 1.25em;
    }
}

.notes-board {
    border: solid 0.8em #e3c19d;
    background-color: #b7814a;
    background-image: url("/assets/img/notes/cardboard.png");
    box-shadow: inset 0 2px 4px 0px rgba(0, 0, 0, 0.15);
    position: relative;
}

.notes-list {
    list-style: none;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.note {
    flex: 1 0;
    height: min-content;
    transform-style: preserve-3d;
    background: linear-gradient(180deg, #ffc, 90%, #f1f1dd);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    justify-self: center;
    padding: 2.5em 1.8em 1.8em 1.8em;
    margin: 1em;
    @include transition(transform, top, box-shadow, border-radius);

    @media screen and (min-width: 500px) {
        flex: 1 0 250px;
    }

    &::after {
        content: "";
        position: absolute;
        transform: translateZ(-1px);
        right: 3px;
        bottom: 15px;
        width: calc(100% - 3px);
        height: 25px;
        background: rgba(0, 0, 0, 0.2);
        box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
    }
    
    &:focus-within,
    &:hover {
        border-bottom-right-radius: 100px 15px;
    }

    &:nth-child(2n) {
        background: linear-gradient(180deg, #ffdcdc, 90%, #fae5e5);
        -o-transform:rotate(2deg);
        -webkit-transform:rotate(2deg);
        -moz-transform:rotate(2deg);
        transform: rotate(2deg);
        top: 12px;
    }

    &:nth-child(2n + 1) {
        &::after {
            content: "";
            left: 0px;
            right: unset;
        }

        &:focus-within,
        &:hover {
            border-bottom-left-radius: 100px 15px;
            border-bottom-right-radius: 0px;
        }
    }
    
    &:nth-child(3n) {
        -o-transform:rotate(-2deg);
        -webkit-transform:rotate(-2deg);
        -moz-transform:rotate(-2deg);
        transform: rotate(-2deg);
        box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3);
        top: -5px;
        background: linear-gradient(180deg, #f1f2f2, 90%, #faffff);
    }

    &:nth-child(4n) {
        top: -10px;
        background: linear-gradient(180deg, #e0f8e1, 90%, #f0fdf1);
    }

    &:nth-child(5n) {
        background: linear-gradient(180deg, #ffc, 90%, #f1f1dd);
    }

    &:nth-child(6n) {
        background: linear-gradient(180deg, #f1f2f2, 90%, #faffff);
    }
}

.note-title {
    font-weight: map-get($map: $font-weights, $key: "bolder");
    font-size: 1.125em;
    font-family: cursive;
    color: #384950;
    margin-bottom: 0.8em;
}

.note-date {
    position: absolute;
    top: 0.5em;
    right: 1em;
    color: $note-text-color;
    font-family: $font-family-cursive;
    font-size: 1.125em;
}

.note-description {
    color: $note-text-color;
    margin: 0;
    font-size: 1.3em;
    font-family: $font-family-cursive;
    font-weight: map-get($font-weights, "regular");
}
