@font-face {
  font-family: mono-fallback-1;
  font-weight: 400;
  src: local('Menlo'), local('Menlo Regular');
  size-adjust: 80%;
}
@font-face {
  font-family: mono-fallback-1;
  font-weight: 400;
  font-style: italic;
  src: local('Menlo Italic');
  size-adjust: 80%;
}
@font-face {
  font-family: mono-fallback-1;
  font-weight: 700;
  src: local('Menlo Bold');
  size-adjust: 80%;
}
@font-face {
  font-family: mono-fallback-2;
  font-weight: 400;
  src: local('Courier New'), local('Courier New Regular');
  size-adjust: 80%;
}
@font-face {
  font-family: mono-fallback-2;
  font-weight: 400;
  font-style: italic;
  src: local('Courier New Italic');
  size-adjust: 80%;
}
@font-face {
  font-family: mono-fallback-2;
  font-weight: 700;
  src: local('Courier New Bold');
  size-adjust: 80%;
}
@font-face {
  font-family: mono-fallback-3;
  font-weight: 400;
  src: local('Consolas'), local('Consolas Regular');
  size-adjust: 85%;
}
@font-face {
  font-family: mono-fallback-3;
  font-weight: 400;
  font-style: italic;
  src: local('Consolas Italic');
  size-adjust: 85%;
}
@font-face {
  font-family: mono-fallback-3;
  font-weight: 700;
  src: local('Consolas Bold');
  size-adjust: 85%;
}
@font-face {
  font-family: Source Code Pro;
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src:
    local('SourceCodeVF'),
    url('/assets/fonts/sourcecode-latin-roman-variable.woff2') format('woff2 supports variations'),
    url('/assets/fonts/sourcecode-latin-roman-variable.woff2') format('woff2-variations');
  size-adjust: 79%;
  ascent-override: 94%;
  descent-override: 26%;
}
