.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-column {
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
