@use "../tokens" as *;
@use "../functions";

@property --gap {
	syntax: "<length>";
	inherits: false;
	initial-value: 0;
}

$spacing-steps: functions.get($tokens, "size", "spacing");
@each $step, $value in $spacing-steps {
	/* stylelint-disable-next-line custom-property-pattern */
	.gap-#{$step} {
		--gap: #{functions.size("spacing", $step)};
		gap: var(--gap);
	}
}
