@use "../mixins";

.hero {
  > * {
    text-wrap: balance;
    max-width: 49ch;
  }

  &-title {
    @include mixins.font($size: "4xl");
  }

  &-subtitle {
    @include mixins.font($size: "lg");
  }
}
