.to-underline {
  text-decoration-line: none;

  &:is(:hover, :focus) {
    text-decoration-line: underline;
  }
}

.no-underline {
  text-decoration-line: none;
}

.text-center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.text-wrap-balance {
  text-wrap: balance;
}

.prose-tight {
  max-width: 49ch;
}
