---
title: Contact
description: Have questions, feedback, or business inquiries? Get in touch!
permalink: /contact/
redirect_to: https://aleksandrhovhannisyan.com/contact/
canonical_url: https://aleksandrhovhannisyan.com/contact/
---

<section id="contact" class="section">
    {% include headingWithImage.html h="Get in touch!" lvl=1 img="/assets/img/envelope.png" alt="📧" %}
    <div id="contact-information">
        <form action="https://formspree.io/aleksandrhovhannisyan.github.io@gmail.com" method="POST" spellcheck="false">
            <input type="hidden" name="_subject" value="Someone sent you a message!" />
            <label class="required" for="name">Name</label>
            <input type="text" name="name" id="name" required>
            <label for="email">Email</label>
            <input type="email" name="_replyto" id="email"/>
            <label class="required" for="message">Message</label>
            <textarea name="body" id="message" required></textarea>
            <input type="submit" value="Send message" class="button solid-button">
            <input type="text" name="_gotcha" class="honeypot" />
        </form>
        <section>
            <h3>You can also find me on:</h3>
            <section id="social-networks">
                {% for network in site.data.socials %}
                <a class="social-network" href="{{ network.url }}">
                    {% assign icon = network.icon %}
                    {% assign iconClass = "network-icon " | append: icon %}
                    {% include svg.html svg=icon class=iconClass %}
                    <span class="network-name">{{ network.name }}</span>
                </a>
                {% endfor %}
            </section>
        </section>
    </div>
</section>