---
title: Experience
description: I try to keep busy while having fun and testing my limits. Between school, side projects, freelancing, and interning, I've gained valuable exposure to a wide variety of interesting technologies and problems.
permalink: /experience/
custom_js: [lazyLoad]
---

{% include banner.html heading="My experience" content="I try to keep busy while
having fun and testing my limits. Between school, side projects, freelancing,
and interning, I've gained valuable exposure to a wide variety of interesting
technologies and problems." %}
<section id="projects" class="section">
  <h2>Software Projects</h2>
  <ol class="project-grid card-grid">
    {% for project in site.data.projects %}
        {% include projectCard.html project=project %}
    {% endfor %}
    <li id="github-cta">
      <header>
        <p><strong>Want to see more of my work?</strong></p>
      </header>
      <div>
        <p>Check out my other repos:</p>
        <a
          aria-label="Aleksandr Hovhannisyan's GitHub profile."
          href="https://github.com/AleksandrHovhannisyan?tab=repositories"
          >{% include svg.html svg="github" %}</a>
      </div>
    </li>
  </ol>
</section>
<section id="skills" class="section">
  <h2>Skills and Abilities</h2>
  <ul id="skill-grid">
    {% assign skillMap = "Familiar,Basic,Intermediate,Competent,Advanced" | split: ',' %}
    {% for item in site.data.skills %}
    <li class="skill-category">
      <h3 class="skill-category-name" aria-label="Skill category: {{ item.category }}">{{ item.category }}</h3>
      <ol>
        {% for skill in item.skills %}
        {% assign skillLabelIndex = skill.rating | minus: 1 %}
        <li class="skill-item">
          <span class="skill-name">{{ skill.name }}</span>
          <div class="skill-rating" role="img" aria-label="Experience level: {{ skillMap[skillLabelIndex] }}">
              {% for i in (1..skill.rating) %}
                  {% include svg.html svg="star" class="star star-filled" %}
              {% endfor %}
              {% assign j = skill.rating | plus: 1 %}
              {% for i in (j..5) %}
                  {% include svg.html svg="star" class="star star-empty" %}
              {% endfor %}
              {% assign rating = skillMap[skillLabelIndex] %}
              {% include tooltip.html position='top' text=rating %}
          </div>
        </li>
        {% endfor %}
      </ol>
    </li>
    {% endfor %}
  </ul>
</section>
<section id="work-experience" class="section">
  <div>
    <h2>Work Experience</h2>
    <ol class="jobs">
      {% for job in site.data.work %}
      <li class="job">
        <header class="job-header">
            {% include picture.html img=job.logo path="/assets/img/brands" alt="" class="company-logo" %}
            <h3 class="job-title">{{ job.title }} at {{ job.company }}</h3>
        </header>
        <div class="job-details">
          <span class="job-detail date-range">{{ job.dateRange }}</span>
          <ul class="job-detail technologies-used" aria-label="Technologies used on this job">
            {% for tech in job.tech %}
            <li class="tag tech {{tech}}">{{tech}}</li>
            {% endfor %}
          </ul>
        </div>
        <p class="responsibilities">
          {{ job.responsibilities }}
        </p>        
      </li>
      {% endfor %}
    </ol>
  </div>
</section>
<section id="education" class="section">
  <h2>Education</h2>
  {% for institution in site.data.education %}
  <div class="institution collapsible collapsible-closed">
    <header class="collapsible-header">
      <div>
        <div class="institution-name">{{ institution.name }}</div>
        <div class="institution-degree">{{ institution.degree }}</div>
        <div class="institution-details">
          {{ institution.gpa }} GPA, {{ institution.years }}
        </div>
      </div>
      <button class="collapsible-toggle" aria-label="Toggle collapsible accordion"></button>
    </header>
    <div class="collapsible-content" aria-hidden="true">
      <div class="courses">
        <div class="section-title">Notable Coursework</div>
        <ul>
          {% for course in institution.courses %}
          <li>{{ course }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="awards">
        <div class="section-title">Awards and Recognitions</div>
        <ul>
          {% for award in institution.awards %}
          <li>{{ award }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</section>

<!-- Currently only used on this page -->
<script src="/assets/scripts/collapsible.js"></script>
