---
title: Software Developer for Hire
customJS: [blogImage]
permalink: /
---

<section id="hero-banner">
    <div id="hero-text">
        <h1 class="title">Hey there! I'm Aleksandr.</h1>
        <p class="subtitle">I'm a software developer with an eye for creating beautiful, responsive designs. I love learning new things and sharing my discoveries with others through writing.</p>
    </div>
    <img src="/assets/img/profile-photo.png" alt="My profile photo" id="headshot" />
</section>
<section id="featured-posts" class="section">
    <h2 class="heading">Recent Blog Posts</h2>
    <p class="subtitle">Free dev tutorials, musings, and more. No ads whatsoever.</p>
    <div class="post-preview-grid card-grid">
        {% for post in site.posts limit:2 %}
        {% include postPreview.html post=post %}
        {% endfor %}
    </div>
</section>
<section id="featured-projects" class="section">
    <h2 class="heading">Featured Software Projects</h2>
    <p class="subtitle">I have experience with a range of stacks and languages.</p>
    <div id="project-grid" class="card-grid">
        {% for project in site.data.projects limit:3 %}
        {% include projectCard.html project=project %}
        {% endfor %}
        <div id="view-more-projects">
            <a class="button hollow-button arrow-button" href="/experience/#projects">View more</a>
        </div>
    </div>
</section>
<section id="cta" class="section">
    <h2 class="heading">Want to learn more about me?</h2>
    <p class="subtitle">Check out my full experience and blog!</p>
    <div id="cta-buttons">
        <a href="/experience" class="button solid-button">View experience</a>
        <a href="/blog" class="button hollow-button">Read my blog</a>
    </div>
</section>
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "image": "{{ site.url }}/assets/img/profile-photo.png",
      "jobTitle": "Software Developer",
      "name": "Aleksandr Hovhannisyan",
      "sameAs": ["https://github.com/AleksandrHovhannisyan", "https://www.upwork.com/freelancers/~014eb3a95d4d1fd855", "https://www.linkedin.com/in/aleksandr-hovhannisyan-ba154b120/"]
    }
</script>