---
title: Notes
description: A collection of thoughts, discoveries, and code snippets.
permalink: /notes/
---

<article id="notes" class="section">
    <div class="notes-board">
        <ol class="notes-list">
            {% assign notes = site.notes | sort: 'date' | reverse %}
            {% for note in notes %}
                <li class="note">
                    <h2 class="note-title">{{ note.title }}</h2>
                    {% include meta.html content=note.content date=note.date %}
                    <p class="note-description">{{ note.description | truncate: 160 }}</p>
                    <a class="container-link" href="{{ note.url }}" aria-label="Read this note"></a>
                </li>
            {% endfor %}
        </ol>
    </div>
</article>

<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
