<footer class="page-footer">
  <div class="page-footer-container container col-wrap align-center">
    <div class="stack gap--2">
      <h2 class="fs-xl">Thanks for reading!</h2>
      <p class="fs-sm">&copy; {{ site.author }}, 2019–Present</p>
      <p class="fs-xs">Last built on
        <time datetime="{{ buildInfo.time.raw }}">{{ buildInfo.time.formatted }}</time>&nbsp;
        <span class="nowrap">
          (<a
            href="https://www.github.com/{{ site.issues.owner }}/{{ site.issues.repo }}/commit/{{ buildInfo.hash }}"
            rel="noreferrer noopener"
            target="_blank">
              {{ buildInfo.hash }}
          </a>)
        </span>
      </p>
    </div>
    <ul class="page-footer-socials flex-center flex-wrap gap-0">
      {%- assign networks = socials | entries -%}
      {%- for network in networks -%}
        {%- assign id = network | first -%}
        {%- assign data = network | last -%}
        <li>
          <a href="{{ data.url }}" target="_blank" rel="noreferrer noopener" class="outline-offset to-underline">
            {{ data.name }}
          </a>
        </li>
        {%- endfor -%}
        <li>
          <a href="/sitemap.xml" class="outline-offset to-underline">
            Sitemap
          </a>
        </li>
        <li>
          <a href="/feed.xml" class="outline-offset to-underline">
            RSS
          </a>
        </li>
    </ul>
  </div>
</footer>
