<footer class="page-footer">
  <div class="container flex-wrap">
    <div class="stack stack--2">
      <h2 class="page-footer-title fs-xl">Thanks for reading!</h2>
      <div id="useful-links" aria-hidden="true">Here are some useful links before you go.</div>
      <div class="fs-sm"><span aria-hidden="true">&copy;</span> Copyright {{ site.author }}, 2019–Present</div>
    </div>
    <ul class="page-footer-socials" aria-labelledby="useful-links">
      {%- assign networks = socials | entries -%}
      {%- for network in networks -%}
        {%- assign id = network | first -%}
        {%- assign data = network | last -%}
        <li>
          <a href="{{ data.url }}" target="_blank" rel="noreferrer noopener" class="page-footer-link">
            {% socialIcon id %}
          </a>
        </li>
        {%- endfor -%}
        <li>
          <a href="/feed.xml" class="page-footer-link">
            {% socialIcon "rss" %}
          </a>
        </li>
    </ul>
  </div>
</footer>
