{%- assign className = class | default: nil -%}
{%- assign width = width | default: 24 -%}
{%- assign height = height | default: 24 -%}
{%- assign stroke = stroke | default: "currentColor" -%}
{%- assign fill = fill | default: "none" -%}
{%- assign strokeWidth = stroke_width | default: 2 -%}
{%- assign strokeLinecap = stroke_linecap | default: "round" -%}
{%- assign strokeLinejoin = stroke_linejoin | default: "round" -%}
{% icon icon, className, width, height, stroke, fill, strokeWidth, strokeLinecap, strokeLinejoin %}