{%- comment -%}
https://www.aleksandrhovhannisyan.com/blog/passing-object-arguments-to-liquid-shortcodes-in-11ty/
The props below get assembled as a JSON string and parsed into an object prop.
This is a workaround for the fact that 11ty doesn't support named shortcode arguments in Liquid.
{%- endcomment -%}
{%- capture props -%}
  {
    "src": "{{ src }}"
    {%- if alt -%},"alt": "{{ alt }}"{%- endif -%}
    {%- if baseFormat -%},"baseFormat": "{{ baseFormat }}"{%- endif -%}
    {%- if optimizedFormats -%},"optimizedFormats": {{ optimizedFormats }}{%- endif -%}
    {%- if widths -%},"widths": {{ widths }}{%- endif -%}
    {%- if sizes -%},"sizes": "{{ sizes }}"{%- endif -%}
    {%- if className -%},"className": "{{ className }}"{%- endif -%}
    {%- if imgClassName -%},"imgClassName": "{{ imgClassName }}"{%- endif -%}
    {%- if fileName -%},"fileName": "{{ fileName }}"{%- endif -%}
    {%- if isLazy != nil -%},"isLazy": {{ isLazy }}{%- endif -%}
  }
{%- endcapture -%}
{%- assign props = props | fromJson -%}
{%- comment -%}Wrapper around custom image shortcode to forward named arguments.{%- endcomment -%}
{%- image props -%}
