{%- comment -%}
The props below get assembled as a JSON string and parsed into an object prop.
This is a workaround for the fact that 11ty doesn't support named shortcode arguments in Liquid.
{%- endcomment -%}
{%- capture props -%}
  {
    "src": "{{ src }}"
    {%- if alt -%},"alt": "{{ alt }}"{%- endif -%}
    {%- if baseFormat -%},"baseFormat": "{{ baseFormat }}"{%- endif -%}
    {%- if optimizedFormats -%},"optimizedFormats": {{ optimizedFormats }}{%- endif -%}
    {%- if widths -%},"widths": {{ widths }}{%- endif -%}
    {%- if sizes -%},"sizes": "{{ sizes }}"{%- endif -%}
    {%- comment -%}Explicit nil check since clickable is a boolean prop.{%- endcomment -%}
    {%- if clickable != nil -%},"clickable": {{ clickable }}{%- endif -%}
    {%- if className -%},"className": "{{ className }}"{%- endif -%}
    {%- if fileName -%},"fileName": "{{ fileName }}"{%- endif -%}
    {%- if urlPath -%},"urlPath": "{{ urlPath }}"{%- endif -%}
    {%- if imgClass -%},"imgClass": "{{ imgClass }}"{%- endif -%}
  }
{%- endcapture -%}
{%- assign props = props | fromJson -%}
{%- comment -%}Wrapper around custom image shortcode to forward named arguments.{%- endcomment -%}
{%- image props -%}
