{%- assign normalizedImagePath = src | replace: './', '/' -%}
{%- assign imageSrc = 'src/' | append: page.filePathStem | replace: '/index', '' | append: normalizedImagePath  -%}
{%- comment -%}To prevent weird layout bugs, specifically with linked images, wrap images in markdown with a tag.{%- endcomment -%}
<figure class="full-bleed prose stack gap--2">
{%- include image.html src: imageSrc, alt: alt, baseFormat: baseFormat, formats: formats, widths: widths, sizes: sizes, className: className, clickable: clickable -%}
{% if caption %}
    <figcaption class="fs-sm container" {% if isCaptionAriaHidden %}aria-hidden="true"{% endif %}>{{ caption | toHtml }}</figcaption>
{% endif %}
</figure>
