{%- assign post = include.post -%}
{%- if post.reading_length -%}
  {%- assign reading_length = post.reading_length -%}
{%- else -%}
  {%- assign reading_length = post.content | number_of_words | divided_by: 250 -%}
{%- endif -%}
{%- if reading_length == 0 -%}
  {%- assign reading_length = 1 -%}
{%- endif -%}
{%- assign showProfilePhoto = include.showProfilePhoto -%}
{%- assign last_updated = include.last_updated -%}
<ul class="post-meta">
  {% if showProfilePhoto %}
    <li class="meta">
      {%- include picture.html img="/assets/images/profile-photo.png" alt="" class="author-photo" width=50 height=50 clickable=false -%}
    </li>
  {%- endif -%}
  <li class="meta post-date-published">
    {%- include icon.html icon="calendar" class="meta-icon" -%}
    <time datetime="{{ post.date | date: " %Y-%m-%d" }}">{{ post.date | date: "%b %-d, %Y" }}</time>
  </li>
  {% if last_updated %}
    <li class="meta post-date-updated">
      {%- include icon.html icon="info" class="meta-icon" -%}
      <time datetime="{{ last_updated | date: " %Y-%m-%d" }}">Updated: {{ last_updated | date: "%b %-d, %Y" }}</time>
    </li>
  {%- endif -%}
  <li class="meta post-reading-length">
    {%- include icon.html icon="clock" class="meta-icon" -%}
    <span>{{ reading_length }} min read</span>
  </li>
  {%- if post.tags -%}
    <li>
      <a href="#skip-tags-{{ post.title | slugify }}" class="screen-reader-only skip-post-meta-tags">Skip tag navigation</a>
      <ul class="meta post-meta-tags" aria-label="Tags belonging to this blog post.">
        {%- for tag in post.tags -%}
          <li>
            <a href="/tag/{{ tag }}" class="tag post-meta-tag">
              {{- tag -}}
            </a>
          </li>
        {%- endfor -%}
      </ul>
      <div id="skip-tags-{{ post.title | slugify }}" class="skip-post-meta-tags-target"></div>
    </li>
  {%- endif -%}
</ul>
