{%- assign numWords = content | stripHtml | wordCount -%}
{%- assign wordsPerMinute = 250.0 -%}
{%- assign readingLengthMinutes = numWords | dividedBy: wordsPerMinute | ceil -%}
<ul class="post-meta">
  {% if showProfilePhoto %}
    <li class="post-meta-item">
      {%- include picture.html src: "/profile-photo.jpg", alt: "", className: "author-photo", clickable: false -%}
    </li>
  {%- endif -%}
  <li class="post-meta-item post-date-published">
    {%- include icon.html icon: "calendar", class: "post-meta-icon" -%}
    {%- include date.html date: post.date, dateFormat: "%b %d, %Y" -%}
  </li>
  <li class="post-meta-item post-reading-length">
    {%- include icon.html icon: "clock" class: "post-meta-icon" -%}
    <span>{{ readingLengthMinutes }} min read</span>
  </li>
  {%- if categories -%}
    <li>
      <a href="#skip-tags-{{ post.fileSlug }}" class="screen-reader-only skip-post-meta-tags">Skip tag navigation</a>
      <ul class="post-meta-item post-meta-tags" aria-label="Tags">
        {%- for category in categories -%}
          <li>
            <a href="/categories/{{ category }}/" class="tag post-meta-tag">
              {{- category -}}
            </a>
          </li>
        {%- endfor -%}
      </ul>
      <div id="skip-tags-{{ post.fileSlug }}" class="skip-post-meta-tags-target"></div>
    </li>
  {%- endif -%}
</ul>
