{%- assign numWords = content | stripHtml | wordCount -%}
{%- assign wordsPerMinute = 200.0 -%}
{%- assign readingLengthMinutes = numWords | dividedBy: wordsPerMinute | ceil -%}
<div class="post-meta">
  {% if showProfilePhoto %}
    <div class="post-meta-item">
      {%- include image.html src: "/assets/images/author-photo.jpg", className: "author-photo", clickable: false, widths: "[44, 88]" -%}
    </div>
  {%- endif -%}
  <div class="post-meta-item">
    {%- include icon.html icon: "calendar", className: "post-meta-icon" -%}
    {%- include date.html date: post.date, dateFormat: "%b %d, %Y" -%}
  </div>
  <div class="post-meta-item">
    {%- include icon.html icon: "clock" className: "post-meta-icon" -%}
    <span>{{ readingLengthMinutes }} min read</span>
  </div>
  {%- if categories -%}
    <ul class="post-meta-item post-meta-tags" aria-label="Tags">
      {%- for category in categories -%}
        <li>
          <a href="/categories/{{ category }}/" class="tag post-meta-tag">
            {{- category -}}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
