<header class="navbar-header">
  <a href="#page-content" class="screen-reader-only skip-navigation">Skip to content</a>
  <nav class="navbar">
    <div class="navbar-container centered">
      <a id="home-link" href="/" aria-label="Home page">
        <img src="/assets/images/favicons/favicon-228.png" width="32" height="32" aria-hidden="true" alt="" class="logo">
        {%- include logotype.html -%}
      </a>
      <button id="navbar-toggle" aria-label="Open navigation menu" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-menu">
        <ul class="navbar-links">
          {%- assign navLinks = "About,Art,Blog,Contact" | split: ',' -%}
          {%- for link in navLinks -%}
          <li class="navbar-item">
            <a class="navbar-link" href="/{{ link | downcase }}/" {%- if title == link -%}aria-current="page"
              id="active-navbar-link" {%- endif -%} {%- if link=='Blog' and isBlogPage -%}aria-current="page"
              id="active-navbar-link" {%- endif -%}>
              {{- link -}}
            </a>
          </li>
          {%- endfor -%}
          <li class="navbar-item" id="theme-toggle-container">
            <button id="theme-toggle" class="lamp" aria-label="Toggle theme" type="button">
              <span class="lamp-base"></span>
              <span class="lamp-neck"></span>
              <span class="lamp-head"></span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
