<header class="navbar-header flex align-center">
  <div class="navbar-container container">
    <nav class="navbar flex align-center justify-between gap--3 relative fs-sm" aria-label="Primary">
      <a href="#page-content" class="screen-reader-only skip-navigation">Skip to content</a>
      <a class="navbar-branding outline-offset heading" href="/" aria-label="Home page" {% if permalink == "/" %}aria-current="page"{% endif %}>
        {%- comment -%}TODO: remove this hacky logic for assembling array as string once PR goes in for object arguments in liquid{%- endcomment -%}
        {%- assign faviconWidths = site.favicon.widths | join: ", " | prepend: "[" | append: "]" -%}
        {%- include image.html src: "/assets/images/favicons/favicon.png", className: "navbar-logo square", clickable: false, baseFormat: site.favicon.format, widths: faviconWidths, sizes: "57px", lazy: false %}
        <span class="navbar-site-name">Aleksandr Hovhannisyan</span>
      </a>
      <ul class="navbar-links">
        {%- comment -%}Only show this home link on mobile view.{%- endcomment -%}
        <li class="navbar-item">
          <a class="navbar-link home" href="/" {% if permalink == "/" %}aria-current="page"{% endif %}>Home</a>
        </li>
        {%- assign navLinks = "About,Art,Blog" | split: ',' -%}
        {%- for link in navLinks -%}
        <li class="navbar-item">
          {%- assign href = link | downcase | prepend: "/" | append: "/" -%}
          <a
            class="navbar-link"
            href="{{ href }}"
            {% if permalink == href -%}
            aria-current="page"
            {%- endif -%}
            {% if link == 'Blog' and isBlogPage -%}
            aria-current="page"
            {%- endif -%}
          >
            {{- link -}}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </nav>
    <div>
      <button id="theme-toggle" class="lamp" aria-label="Enable dark mode theme" aria-pressed="false" type="button">
        <span class="lamp-base"></span>
        <span class="lamp-neck"></span>
        <span class="lamp-head"></span>
      </button>
    </div>
  </div>
</header>
