<header class="navbar-header flex align-center">
  <div class="container flex align-center gap-0">
    <nav class="navbar flex align-center justify-between gap--2 fs-sm" aria-label="Primary">
      <a href="#page-content" class="screen-reader-only skip-navigation">Skip to content</a>
      <a class="navbar-branding outline-offset heading" href="/" aria-label="Home page" {% if permalink == "/" %}aria-current="page"{% endif %}>
        <img src="/assets/images/favicons/favicon-128.png" class="navbar-logo circle" alt="" />
        <span class="navbar-site-name">Aleksandr Hovhannisyan</span>
      </a>
      <ul class="navbar-links flex align-center">
        {%- comment -%}Only show this home link on mobile view.{%- endcomment -%}
        <li class="navbar-item home">
          <a class="navbar-link" href="/" {% if permalink == "/" %}aria-current="page"{% endif %}>Home</a>
        </li>
        {%- assign navLinks = "About,Art,Blog" | split: ',' -%}
        {%- for link in navLinks -%}
        <li class="navbar-item">
          {%- assign href = link | downcase | prepend: "/" | append: "/" -%}
          <a
            class="navbar-link"
            href="{{ href }}"
            {% if permalink == href -%}
            aria-current="page"
            {%- endif -%}
            {% if link == 'Blog' and isBlogPage -%}
            aria-current="page"
            {%- endif -%}
          >
            {{- link -}}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </nav>
    <div>
      <button id="theme-toggle" class="lamp" aria-label="Enable dark mode theme" aria-pressed="false" type="button">
        <span class="lamp-base"></span>
        <span class="lamp-neck"></span>
        <span class="lamp-head"></span>
      </button>
    </div>
  </div>
</header>
