{%- assign titleLevel = titleLevel | default: 3 -%}
<li class="post-preview">
  <header class="post-preview-header">
    <h{{ titleLevel }} class="post-preview-title font-md">
      <a class="post-preview-link" href="{{ post.url }}">{{ post.data.title }}</a>
    </h{{ titleLevel }}>
    <ul class="post-preview-tags font-sm" aria-label="Tags">
      {%- for category in post.data.categories -%}
        <li>
          <a href="/categories/{{ category }}/" class="tag post-preview-tag">
            {{- category -}}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </header>
  <p class="post-preview-description">{{- post.data.description -}}</p>
  {%- include date.html date: post.date, dateFormat: "%b %d, %Y", class: "post-preview-date font-xs" -%}
</li>
