{%- assign titleLevel = titleLevel | default: 3 -%}
<article class="card project">
  <header class="project-header">
    <div class="project-name-wrapper">
      <div class="project-icon" aria-hidden="true">{{ project.icon }}</div>
      <h{{ titleLevel }} class="fs-base">
        <a href="{{ project.url }}" rel="noreferrer noopener" target="_blank" class="project-link">{{ project.name }}</a>
      </h{{ titleLevel }}>
    </div>
    <div class="project-rating fs-sm" role="img" aria-label="Rated {{ project.rating }} stars on GitHub">
      {%- include icon.html icon: "star", width: "18", height: "18", fill: "currentColor", stroke: "none" -%}
      <span>{{ project.rating }}</span>
    </div>
  </header>
  <p>{{ project.description }}</p>
  <ul class="pill-group project-technologies fs-sm" aria-label="Technologies used">
    {%- for tech in project.tech -%}
    <li class="pill project-technology">{{ tech }}</li>
    {%- endfor -%}
  </ul>
</article>
