{%- assign titleLevel = titleLevel | default: 3 -%}
<article class="card project">
  <header class="flex justify-between">
    <div class="flex align-center gap--3">
      <div class="project-icon size-font-xs" aria-hidden="true">{{ project.icon }}</div> 
      <h{{ titleLevel }} class="project-name size-font-base">
        <a href="{{ project.url }}" rel="noreferrer noopener" target="_blank" class="project-link">{{ project.name }}</a>
      </h{{ titleLevel }}>
    </div>
    <div class="project-rating size-font-sm">
      {%- include "icon.html" icon: "star", width: "18", height: "18", fill: "currentColor", stroke: "none" -%}
      <span class="screen-reader-only">Rated </span>
      <span aria-hidden="true">{{ project.rating }}</span>
      <span class="screen-reader-only"> stars on GitHub</span>
    </div>
  </header>
  <p class="project-description">{{ project.description }}</p>
  <ul class="project-technologies" aria-label="Technologies used">
    {%- for tech in project.tech -%}
    <li class="project-technology size-font-xs">{{ tech }}</li>
    {%- endfor -%}
  </ul>
</article>
