{%- assign post = include.post -%}
{%- assign thumbnail = '/assets/images/posts/' | append: post.slug | append: '/thumbnail.png' -%}
{%- if post.thumbnail -%}
  {%- assign thumbnail = '/assets/images/posts/' | append: post.slug | append: '/' | append: post.thumbnail -%}
{%- endif -%}
{%- assign class = "post-preview-thumbnail" -%}
{%- if include.class -%}
  {%- assign class = class | append: ' ' | append: include.class -%}
{%- endif -%}
{%- include picture.html img=thumbnail alt="" path=path class=class clickable=false -%}
