:root {
    --night-bg-color: rgb(24, 24, 24);
    --night-nav-color: rgb(49, 49, 49);
    --night-light-text-color: rgb(179, 177, 177);
    --night-bright-text-color: rgb(202, 202, 202);
    --night-button-background: rgb(90, 90, 66);
    --night-link-color: rgb(202, 183, 143);
}


/* All regular text will have a light color */
body.night {
    background: var(--night-bg-color);
    color: var(--night-light-text-color);
    transition: 0.5s;
}

body.night nav {
    background: var(--night-nav-color);
}

/* Any important text will be slightly brighter */
body.night i, body.night nav, 
body.night h1, body.night h2, body.night h4, 
body.night strong, body.night em {
    color: var(--night-bright-text-color);
}

body.night a {
    color: var(--night-link-color);
}

.switch.night {
    background: var(--night-nav-color);
    border-color: var(--night-bright-text-color);
}

.switch.night::before {
    margin-left: 23px;
    background: var(--night-bright-text-color);
}

/* Buttons */
body.night .social-button, 
body.night .collapsible {
    background: var(--night-button-background);
}

body.night .collapsible {
    color: var(--night-light-text-color);
}

body.night .social-button {
    color: var(--night-bright-text-color);
}

/* Change the background of the buttons to the light color */
body.night .social-button:hover,
body.night .collapsible:hover {
    color: var(--night-bg-color);
    background: var(--night-light-text-color);
}

/* Change the text and icon descendants of buttons to the dark bg color */
body.night .social-button:hover *,
body.night .collapsible:hover * {
    color: var(--night-bg-color);
}

body.night .technologies p {
    background-color: var(--night-nav-color);
    border-color: var(--night-light-text-color);
}