/* ============================================

   General top-level styling

   ============================================
*/

* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: white;
    --nav-bg-color: rgb(44, 44, 44);
    --nav-text-color: rgb(179, 177, 177);
    
    --hr-color: rgba(143, 142, 142, 0.2);

    --text-color-normal: black;
    --text-color-emphasis: black;
    --link-color: rgb(39, 83, 133);

    --button-bg-color: rgb(39, 83, 133);
    --button-bg-hover-color: rgb(14, 48, 87);
    --button-text-color: white;
    --button-text-hover-color: white;

    --skill-hover-bg-color: whitesmoke;
    --form-bg-color: whitesmoke;
    --form-input-margins: 10px;

    --page-center-percentage: 80%;
}

.night {
    --main-bg-color: rgb(44, 44, 44);
    --nav-bg-color: rgb(10, 10, 10);
    
    --hr-color: rgba(255, 255, 255, 0.2);

    --text-color-normal: rgb(179, 177, 177);
    --text-color-emphasis: rgb(202, 202, 202);
    --link-color: rgb(202, 183, 143);
    
    --button-bg-color: rgb(90, 90, 66);
    --button-bg-hover-color: rgb(141, 141, 114);
    --button-text-color: var(--text-color-emphasis);
    --button-text-hover-color: rgb(24, 24, 24);

    --skill-hover-bg-color: rgb(66, 66, 66);
    --form-bg-color: var(--skill-hover-bg-color);
}

#intro {
    margin-bottom: 20px;
}

#about-me, #projects, #skills, #education, #contact {    
    /* So the fixed navbar doesn't cover up any content we scroll to */
    margin-top: -60px;
    padding-top: 60px;
}

body {
    font-family: Nunito, sans-serif;
    color: var(--text-color-normal);
    background: var(--main-bg-color);
    transition: 0.5s;
    
    width: var(--page-center-percentage);
    margin-left: auto;
    margin-right: auto;
}

i, h1, h2, h4, strong, em {
    color: var(--text-color-emphasis);
}

h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

h1, h2 {
    margin-top: 0;
}

a {
    color: var(--link-color);
}

p {
    color: var(--text-color-normal);
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    border-color: var(--hr-color);
}


/* ============================================

   Buttons, collapsibles, etc.

   ============================================
*/

/* Note: this is an anchor with a class of button */
.button {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    
    margin-bottom: 10px;
    margin-right: 15px;
    border-radius: 10px;
    
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

.collapsible {
    font-family: Nunito, sans-serif;
    font-size: 1em;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    width: 100%;
}

.collapsible p {
    text-align: left;
    padding-left: 10px;
}

.button, .collapsible {
    cursor: pointer;
    border: none;
    background: var(--button-bg-color);
}

.button, .button *, .collapsible * {
    color: var(--button-text-color);
}

.button:hover, .collapsible:hover {
    background: var(--button-bg-hover-color);
}

.button:hover, .button:hover *, .collapsible:hover * {
    color: var(--button-text-hover-color);
}

button:focus {
    outline: none;
}

.fa-angle-right, .fa-angle-down {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 1em;
}

@media only screen and (min-width: 400px) {
    
    .main-buttons {
        display: flex;
    }

    .button {
        max-width: 200px; 
    }
}


/* ============================================

   Navigation (+ night mode nightmode-switch)

   ============================================
*/

.centered-content {
    width: var(--page-center-percentage);
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    
}

#topnav {
    width: 100%;
    min-height: 45px;
    position: fixed;
    left: 0;
    right: 100%;
    top: 0;
    background: var(--nav-bg-color);
    z-index: 100;
}

#topnav * {
    color: var(--nav-text-color);
}

.nav-links {
    padding: 0;
    list-style-type: none;
    display: none;
}

.nav-links li {
    text-align: center;
    margin: 20px auto;
}

.nav-links a {
    text-decoration: none;
    vertical-align: middle;
}

#topnav .nav-links a:hover {
    text-decoration: underline;
    color: white;
}

.navbar-hamburger {
    position: absolute;
    top: 10px;
    right: 15px;
    display: inline;
    vertical-align: middle;
    font-size: 1.5em;
}

.nightmode-switch-container, .nightmode-switch-container * {
    display: inline-block;
    margin-top: 5px;
}

.nightmode-switch {
    width: 40px;
    height: 20px;
    line-height: 15px;
    margin-right: 5px;

    background: var(--nav-bg-color);
    border: 3px solid var(--nav-text-color);
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s;
}

.nightmode-switch::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

    margin-left: 2px;
    margin-bottom: 2px;
    width: 12px;
    height: 10px;
    
    background: var(--nav-text-color);
    border-radius: 50%;
}

.nightmode-switch.night::before {
    margin-left: 20px;
}

.active {
    display: block;
    background: var(--nav-bg-color);
    color: var(--nav-text-color);
    
    /* Make the dropdown take up 100% of the viewport width */
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
}

@media only screen and (min-width: 845px) {
    
    .centered-content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 35px;
        align-items: center;
    }

    #topnav {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 35px;
        align-items: center;
    }

    .nightmode-switch-container {
        margin-top: -8px;
    }

    .nav-links, .active {
        position: static;
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 1.1em;
    }

    .nav-links li {
        margin: 0;
    }

    .nav-links a {
        margin-left: 40px;
    }

   .navbar-hamburger {
       display: none;
    }
}

/* ============================================

   Page header (intro, about me)

   ============================================
*/

#page-header {
    margin-top: 100px;
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#main-cta {
    margin-bottom: 30px;
    font-size: 1.1em;
}

/* ============================================

   Projects/portfolio cards 

   ============================================
*/

#projects {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    /* Responsive: fill up space as it's made available */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project {
    /* Ensure that the project-link is absolute relative to us, not the page */
    position: relative;
    /* Portfolio cards themselves are grids */
    display: grid;
    /* Only one column needed for content */
    grid-template-columns: 1;
    /* Header, main, footer, respectively */
    grid-template-rows: auto 1fr auto;
    padding: 10px;
}

.project:not(:last-child) {
    box-shadow: 0 0 5px 2px var(--nav-bg-color);
    border-radius: 5px;
}

/* Links an entire project */
.project-link {
    /* Note that projects have position: relative */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

/* Don't treat the project header as an item/card, keep it on the top row */
#projects h2 {
    grid-row: 1;
    grid-column: 1 / -1;
}

/* Displayed when a user hovers over a project card */
.hover-content {
    font-size: 1.2em;
    /* Again, note that .project has position: relative */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Center the content for the hover layer */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Opacity = 0 means it's hidden by default */
    opacity: 0;
    background: var(--skill-hover-bg-color);
    transition: 0.5s ease;
}

/* Make it clearer which card is hovered over (Note: Last child is the placeholder) */
.project:hover:not(:last-child) {
    box-shadow: 0 0 5px 4px var(--nav-bg-color);
}

/* Here's the transition for the hover content (0.5s as per above style) */
.project:hover .hover-content {
    cursor: pointer;
    opacity: 0.92;
}

.fa-external-link-alt {
    margin-top: 20px;
}

.project:not(.project-placeholder) header {
    margin-left: 20px;
}

.project ul {
    padding-right: 10px;
}

.project-name {
    color: var(--link-color);
    text-decoration: none;
}

/* Line up the icons with their project titles */
.project-icon {
    display: inline-block;
    vertical-align: middle;
}

.technologies {
    display: flex;
    grid-row: 3;
}

.technologies p {
    padding: 3px;
    margin-right: 5px;
    border-radius: 5px;
    border: 2px solid var(--text-color-normal);
    background-color: var(--main-bg-color);
}

.technologies p:first-of-type {
    margin-left: 20px;
}

.project-placeholder {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.github-cta {
    display: inline-block;
    
    font-size: 3em;
    margin-top: 20px;

    text-decoration: none;
    color: black;
}

/* ============================================

   Skills (responsive columns)

   ============================================
*/

#skills {
    display: grid;
    column-gap: 50px;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

#skills h2 {
    grid-column: 1 / -1;
}

.skill-category h4 {
    margin-bottom: 5px;
}

.skill-item {
    margin-top: 10px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.skill-item:hover {
    background: var(--skill-hover-bg-color);
}

.skill-name {
    grid-column: 1;
}

.skill-rating {
    grid-column: 2;
    display: inline;
    text-align: right;
}

.fa-star.filled {
    color: var(--button-bg-color);
}

.fa-star.empty {
    color: var(--nav-text-color);
}

.night .fa-star.filled {
    color: var(--nav-text-color);
}

.night .fa-star.empty {
    color: var(--button-bg-color);
}

/* ============================================

   Education (institutions, coursework, etc.)

   ============================================
*/

.institution {
    margin-top: 20px;
}

/* Course and award container; hidden by default */
.institution-info {
    display: none;
    overflow: hidden;
    border: solid 1px;

    /* Note: the display attribute above changes from none to grid (see index.js) */
    grid-template-columns: 1fr;
}

.institution-info .awards {
    border-top: solid 1px;
}

.institution-info ul {
    padding-right: 10px;
}

.institution-info p {
    padding-left: 10px;
}

/* Line up courses and awards side by side on larger screens */
@media only screen and (min-width: 800px) {

    .institution-info {
        grid-template-rows: 1fr;
        grid-template-columns: auto auto;
    }

    .institution-info .awards {
        border-top: none;
        border-left: solid 1px;
    }
}

/* ============================================

   Contact form

   ============================================
*/

form {
    margin-bottom: 50px;
    margin-top: 30px;
}

form {
    max-width: 800px;
}

form * {
    color: var(--text-color-normal);
    font-family: Nunito, sans-serif;
    font-size: 1em;
}

form .flex-field {
    flex: 1 1 0;
    margin-right: var(--form-input-margins);
}

/* All inputs are required in this case, so this works */
label:after {
    content: " *";
    color: red;
}

form .flexible-inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0px;

    /* This is to ensure that the inputs (which have a right margin) 
    line up with the right edge of the form parent */
    margin-right: calc(var(--form-input-margins) * -1);
}

form .flex-field {
    width: 100%;
}

form input:not([class="button"]), form textarea {
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 5px;
    
    background: var(--form-bg-color);
    border: 1px solid rgb(156, 156, 156);
    box-shadow: 0 0 1px 1px rgb(136, 136, 136);
}

form textarea {
    min-height: 200px;
    resize: none;
}

/* Yum, honey */
input.form-class {
    display: none;
}