/* General spacing stuff */
#intro {
    margin-bottom: 20px;
}

#about-me, #projects, #skills, #education {
    margin-bottom: 50px;
}


/* Font and CSS grid styling */
body {
    font-family: Nunito, sans-serif;
    display: grid;
    column-gap: 15px;
    grid-template-columns: repeat(11, 1fr);
}

/* One column gap on either end */
body > * {
    grid-column: 2 / -2;
}

h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

#main-cta {
    margin-bottom: 30px;
    font-size: 1.1em;
}

.social-button {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: block;
    
    margin-bottom: 10px;
    margin-right: 15px;
    border-radius: 10px;
    
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

.social-button, .collapsible {
    cursor: pointer;
    color: white;
    border: none;
    color: white;
    background: rgb(39, 83, 133);
}

.social-button:hover, .collapsible:hover {
    background: rgb(14, 48, 87);
}

button:focus {
    outline: none;
}

hr {
    width: 100%;
}

/* Container for all projects */

#projects {
    display: grid;
    column-gap: 50px;
    row-gap: 20px;
    /* Responsive: fill up space as it's made available */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* Header, main, footer, respectively */
}

/* Portfolio cards themselves are 1-column sub-grids with three rows */
.project {
    display: grid;
    /* Only one column needed for content */
    grid-template-columns: 1;
    /* Header, main, footer, respectively */
    grid-template-rows: auto 1fr auto;
}

/* Don't treat the header as an item/card, keep it on the top row */
#projects h2 {
    grid-row: 1;
    grid-column: 1 / -1;
}

.project a {
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

.technologies {
    display: flex;
    grid-row: 3;
}

.technologies p {
    padding: 3px;
    margin-right: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

.technologies p:first-of-type {
    margin-left: 20px;
}

/* Not really a project item: just for a CTA */
.project-placeholder {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/* For the placeholder GitHub logo */
.github-cta {

    /* For centering the icon */
    display: inline-block;    
    width: 100%;
    
    font-size: 3em;
    margin-top: 20px;

    text-decoration: none;
    color: black;
}

/* Skills section */

#skills {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(105px, 1fr));
}

#skills h2 {
    grid-column: 1 / -1;
}

.skill ul {
    padding-left: 0;
    list-style: none;
}

.skill li {
    margin-top: 10px;
}

/* Education section */

.institution {
    margin-top: 20px;
}

.collapsible {
    font-family: Nunito, sans-serif;
    font-size: 1em;

    border: none;
    outline: none;
    width: 100%;
}

/* Icon to signal expanding collapsible */
.fa-caret-down, .fa-caret-up {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Course and award container; hidden by default */
.institution-info {
    display: none;
    overflow: hidden;
    border: solid 1px;

    /* Display changes from none to grid in javascript */
    grid-template-columns: 1fr;
}

.institution-info .awards {
    border-top: solid 1px;
}

.institution-info ul {
    padding-right: 10px;
}

.institution-info p {
    padding-left: 10px;
}


/* Position buttons next to each other */

@media only screen and (min-width: 450px) {

    .social-button {
        display: inline-block;
        width: 150px;
    }

}

/* Education section: line up courses and awards side by side */
@media only screen and (min-width: 800px) {

    .institution-info {
        grid-template-rows: 1fr;
        grid-template-columns: auto auto;
    }

    .institution-info .awards {
        border-top: none;
        border-left: solid 1px;
    }

    .collapsible {
        display: flex;
    }

    .collapsible p {
        text-align: left;
        padding-left: 10px;
    }

    .fa-caret-down, .fa-caret-up {
        display: inline;
        font-size: 1.5em;
        margin-left: auto;
        margin-right: 10px;
        margin-top: auto;
    }
}

/* Tablets and desktops */

@media only screen and (min-width: 960px) {

    /* Increase gap between skills */
    #skills {
        column-gap: 20px;
    }
}

/* Fill in whitespace to right of intro */
@media only screen and (min-width: 1000px) {

    #intro {
        grid-column: 2 / 6;
    }

    #about-me {
        grid-row: 1;
        grid-column: 7 / -2;
    }
}