/* ============================================

   General top-level styling

   ============================================
*/

:root {
    --main-bg-color: white;
    --nav-bg-color: rgb(44, 44, 44);
    --nav-text-color: rgb(179, 177, 177);
    
    --text-color-normal: black;
    --text-color-emphasis: black;
    --link-color: rgb(39, 83, 133);

    --button-bg-color: rgb(39, 83, 133);
    --button-bg-hover-color: rgb(14, 48, 87);
    --button-text-color: white;
    --button-text-hover-color: white;
}

.night {
    --main-bg-color: rgb(44, 44, 44);
    --nav-bg-color: rgb(10, 10, 10);
    
    --text-color-normal: rgb(179, 177, 177);
    --text-color-emphasis: rgb(202, 202, 202);
    --link-color: rgb(202, 183, 143);
    
    --button-bg-color: rgb(90, 90, 66);
    --button-bg-hover-color: rgb(141, 141, 114);
    --button-text-color: var(--text-color-emphasis);
    --button-text-hover-color: rgb(24, 24, 24);
}

#intro {
    margin-bottom: 20px;
}

#about-me, #projects, #skills, #education {
    margin-bottom: 50px;
}

body {
    font-family: Nunito, sans-serif;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    color: var(--text-color-normal);
    background: var(--main-bg-color);
    transition: 0.5s;
}

body > * {
    grid-column: 2 / -2;
}

i, h1, h2, h4, strong, em {
    color: var(--text-color-emphasis);
}

h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

a {
    color: var(--link-color);
}

p {
    color: var(--text-color-normal);
}

hr {
    width: 100%;
}


/* ============================================

   Buttons, collapsibles, etc.

   ============================================
*/

/* Note: this is an anchor with a class of button */
.button {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    
    margin-bottom: 10px;
    margin-right: 15px;
    border-radius: 10px;
    
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

.collapsible {
    font-family: Nunito, sans-serif;
    font-size: 1em;
    border: none;
    outline: none;
    width: 100%;
}

.button, .collapsible {
    cursor: pointer;
    border: none;
    background: var(--button-bg-color);
}

.button, .button *, .collapsible * {
    color: var(--button-text-color);
}

.button:hover, .collapsible:hover {
    background: var(--button-bg-hover-color);
}

.button:hover, .button:hover *, .collapsible:hover * {
    color: var(--button-text-hover-color);
}

button:focus {
    outline: none;
}

.fa-caret-down, .fa-caret-up {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ============================================

   Navigation (+ night mode switch)

   ============================================
*/

nav {
    width: 100%;
    position: fixed;
    left: 0;
    right: 100%;
    top: 0;
    background: var(--nav-bg-color);

    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

nav * {
    color: var(--nav-text-color);
    grid-column: 2 / -2;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
}

.switch-container {
    margin-right: auto;
}

/* Toggles night mode */
.switch {
    display: inline-block;
    width: 35px;
    height: 15px;
    line-height: 15px;
    margin-right: 5px;

    background: var(--nav-bg-color);
    border: 3px solid var(--nav-text-color);
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s;
}

/* Switch pseudo element/orb */
.switch::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

    margin-left: 2px;
    margin-bottom: 1px;
    width: 12px;
    height: 10px;
    
    background: var(--nav-text-color);
    border-radius: 50%;
}

.switch.night::before {
    margin-left: 21px;
}

.fa-bars {
    font-size: 1.5em;
}

/* ============================================

   Page header (intro, about me)

   ============================================
*/

#page-header {
    margin-top: 80px;
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#main-cta {
    margin-bottom: 30px;
    font-size: 1.1em;
}

/* ============================================

   Projects/portfolio cards 

   ============================================
*/

#projects {
    display: grid;
    column-gap: 50px;
    row-gap: 20px;
    /* Responsive: fill up space as it's made available */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* Header, main, footer, respectively */
}

/* Portfolio cards themselves are 1-column sub-grids with three rows */
.project {
    display: grid;
    /* Only one column needed for content */
    grid-template-columns: 1;
    /* Header, main, footer, respectively */
    grid-template-rows: auto 1fr auto;
}

/* Don't treat the header as an item/card, keep it on the top row */
#projects h2 {
    grid-row: 1;
    grid-column: 1 / -1;
}

.project a {
    color: var(--link-color);
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

/* Line up the icons with their project titles */
.project-icon {
    display: inline-block;
    vertical-align: middle;
}

.technologies {
    display: flex;
    grid-row: 3;
}

.technologies p {
    padding: 3px;
    margin-right: 5px;
    border-radius: 5px;
    border: 2px solid var(--text-color-normal);
    background-color: var(--main-bg-color);
}

.technologies p:first-of-type {
    margin-left: 20px;
}

.project-placeholder {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.github-cta {

    /* Centers the GitHub icon */
    display: inline-block;    
    width: 100%;
    
    font-size: 3em;
    margin-top: 20px;

    text-decoration: none;
    color: black;
}

/* ============================================

   Skills (responsive columns)

   ============================================
*/

#skills {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(105px, 1fr));
}

#skills h2 {
    grid-column: 1 / -1;
}

.skill ul {
    padding-left: 0;
    list-style: none;
}

.skill li {
    margin-top: 10px;
}

/* ============================================

   Education (institutions, coursework, etc.)

   ============================================
*/

.institution {
    margin-top: 20px;
}

/* Course and award container; hidden by default */
.institution-info {
    display: none;
    overflow: hidden;
    border: solid 1px;

    /* Display changes from none to grid in javascript */
    grid-template-columns: 1fr;
}

.institution-info .awards {
    border-top: solid 1px;
}

.institution-info ul {
    padding-right: 10px;
}

.institution-info p {
    padding-left: 10px;
}


/* ============================================

   All media queries

   ============================================
*/


@media only screen and (min-width: 400px) {
    
    .main-buttons {
        display: flex;
    }

    .button {
        max-width: 200px; 
    }
}


/* Education section: line up courses and awards side by side */
@media only screen and (min-width: 800px) {

    .institution-info {
        grid-template-rows: 1fr;
        grid-template-columns: auto auto;
    }

    .institution-info .awards {
        border-top: none;
        border-left: solid 1px;
    }

    .collapsible {
        display: flex;
    }

    .collapsible p {
        text-align: left;
        padding-left: 10px;
    }

    .fa-caret-down, .fa-caret-up {
        display: inline;
        font-size: 1.5em;
        margin-left: auto;
        margin-right: 10px;
        margin-top: auto;
    }
}