/* Font and CSS grid styling */
body {
    font-family: Nunito, sans-serif;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(11, 1fr);
}

/* One column gap on either end */
body > * {
    grid-column: 2 / -2;
}

#main-cta {
    margin-bottom: 30px;
    font-size: 1.1em;
}

.social-button {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: block;
    
    margin-bottom: 10px;
    margin-right: 15px;
    
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    
    border-radius: 10px;
    border: none;
    color: white;
    background: rgb(106, 148, 196);
}

.social-button:hover {
    background: rgb(17, 54, 95);
}

button:focus {
    outline: none;
}

hr {
    width: 100%;
}

/* Portfolio items */

.project a {
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

.technologies {
    display: flex;
}

.technologies p {
    padding: 3px;
    margin-right: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

.technologies p:first-of-type {
    margin-left: 20px;
}

/* Prevent buttons from stretching */

@media only screen and (min-width: 450px) {

    .social-button {
        display: inline-block;
        width: 150px;
    }

}

/* Tablets and desktops */

@media only screen and (min-width: 960px) {

    .project {
        grid-column: 2 / 5;
    }

    .project ~ .project {
        grid-column: span 3;
    }
}

/* Fill in whitespace to right of intro */
@media only screen and (min-width: 1000px) {

    #intro {
        grid-column: 2 / 6;
    }

    #about-me {
        grid-row: 1;
        grid-column: 7 / -2;
    }
}