/* Font and CSS grid styling */
body {
    font-family: Nunito, sans-serif;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* Mobile-first strategy: one column gap on either end */
body > * {
    grid-column: 2 / -2;
}

#main-cta {
    margin-bottom: 30px;
    font-size: 1.1em;
}

button {
    height: 35px;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: white;
    background: rgb(106, 148, 196);
}

button:focus {
    outline: none;
}

/* Portfolio items */

.technologies {
    display: flex;
}

.technologies p {
    padding: 3px;
    margin-right: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

.project a {
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}