@use "sass:math";

@import "../functions";
@import "../mixins";

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-surface-1);
  color: var(--color-text-normal);
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  @include font($size: "base");
}

#page-content {
  padding-block-start: clamped(32px, 96px);
  padding-block-end: clamped(64px, 96px);
}

:is(code, kbd) {
  font-size: 0.82em;
  @include font($family: "code", $weight: "medium");

  :is(strong, h1, h2, h3, h4, h5, h6) & {
    @include font($family: "code", $weight: "bold");
  }
}

:is(a, h1, h2, h3, h4, h5, h6, label, th, strong) {
  color: var(--color-text-emphasis);
}

:is(h1, h2, h3, h4, h5, h6, label, th, strong) {
  @include font($family: "body", $weight: "bold");
}
