@use "sass:math";
@use "../tokens" as *;
@use "../functions";
@use "../mixins";

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-surface-1);
  color: var(--color-text-normal);
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  @include mixins.font($size: "base");
}

#page-content {
  flex-grow: 1;
  padding-block: functions.clamped(functions.get($tokens, "size", "spacing", "5"), functions.get($tokens, "size", "spacing", "12"));
}

:is(code, kbd) {
  @include mixins.font($family: "mono", $weight: "regular");

  :is(strong, h1, h2, h3, h4, h5, h6) & {
    @include mixins.font($family: "mono", $weight: "bold");
  }
}

a {
  color: var(--color-text-link);
}

:is(h1, h2, h3, h4, h5, h6) {
  color: var(--color-text-emphasis);
}

:is(h1, h2, h3, h4, h5, h6, label, th, strong) {
  @include mixins.font($family: "body", $weight: "bold");
}
