@use "sass:math";

@import "../mixins";

body {
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background-color: var(--color-surface-1);
  color: var(--color-text-normal);
  padding-bottom: var(--navbar-height);
  @include font-weight("body", "regular");
  @include mobile-lg {
    padding-bottom: unset;
  }
}

#page-content {
  --padding-y: #{clamped(32px, 96px)};
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
}

strong,
a {
  color: var(--color-text-emphasis);
}

a {
  text-decoration: underline;

  &:where(:focus:not(:focus-visible)) {
    text-decoration: underline;
  }

  &:where(:hover, :focus) {
    text-decoration: none;
  }
}
