@use "sass:math";

@import "../mixins";

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--color-text-normal);
  padding-bottom: var(--navbar-height);
  @include font-size("base");
  @include font-weight("body", "regular");
  @include tablet {
    padding-bottom: unset;
  }
}

#page-content {
  --padding-y: #{clamped(32px, 96px)};
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
}

strong,
a {
  color: var(--color-text-emphasis);
}

.section {
  & + & {
    margin-top: var(--sp-10);
  }
}
