@use "sass:math";

@import "../mixins";

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--color-text-normal);
  padding-bottom: var(--navbar-height);
  @include font($family: "body", $weight: "regular", $size: "base");
  @include tablet {
    padding-bottom: unset;
  }
}

#page-content {
  --padding-y: #{clamped(3.2rem, 9.6rem)};
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
}

strong {
  color: var(--color-text-emphasis);
  @include font($family: "body", $weight: "bold");
}

a {
  color: var(--color-text-emphasis);
  @include focus-outline;
}

.section {
  h2 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    @include font($size: 'sm');
  }

  & + & {
    margin-top: 12.8rem;
  }
}
