@use 'sass:math';
@import '../mixins';

::selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-text-color);
  text-shadow: none;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--text-color-normal);
  @include font-family('sans');
  @include font-weight('regular');
  @include font-size('base');
}

#page-content {
  --padding-y: clamp(6.4rem, 16vw, 9.6rem);
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
}

.logo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

strong {
  color: var(--text-color-emphasis);
  @include font-weight('bold');
}

@include headings {
  color: var(--text-color-emphasis);

  // TODO: figure out an alternative since the library makes the links focusable (bad a11y)
  // This is fine for now, but it makes them invisible to everyone.
  .heading-anchor {
    display: none;
  }

  &,
  code {
    @include font-weight('bold');
  }
}

h1 {
  @include font-size('xxxl');
}

h2 {
  @include font-size('xxl');
}

h3 {
  @include font-size('xl');
}

h4 {
  @include font-size('lg');
}

h5 {
  @include font-size('md');
}

h6 {
  @include font-size('base');
}

p {
  color: var(--text-color-normal);
}

a {
  @include focus-outline($color: currentColor, $style: solid, $thickness: 0.2rem);

  &, code {
    color: var(--text-color-link);
  }
}

code {
  font-size: 0.925em;
  font-weight: 500;
  @include font-family('mono');
}

// Inline code
code:not([class^=language-]) {
  background-color: var(--inline-code-bg-color);
  color: var(--inline-code-text-color);
  border-radius: 0.4rem;
  padding: 0.4rem 0.8rem;
}

.section:not(:last-of-type) {
  margin-bottom: 12.8rem;
}

figure {
  display: grid;
  grid-auto-flow: row;
  row-gap: 0.8rem;
}

.quote {
  font-style: italic;
}

blockquote {
  border-left: 0.4rem solid;
  margin-left: clamp(1.2rem, 4vw, 2.4rem);
  padding: 0.4rem clamp(2rem, 6vw, 3.2rem);
  @include rhythm;
}

figcaption,
cite {
  font-style: italic;
  text-align: center;
  @include font-size('sm');

  &, a {
    color: var(--text-color-soft);
  }
}

// https://piccalil.li/quick-tip/add-scroll-margin-to-all-elements-which-can-be-targeted/
[id] {
  scroll-margin-top: var(--scroll-margin-top);
}
