* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

label,
input,
textarea {
  font-family: inherit;
}

img,
iframe,
video {
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

a {
  font-weight: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  overflow-x: auto;
  display: block;
}
