* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

label,
input,
textarea {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

ul,
ol {
  list-style: none;
}
