@import "../functions";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  @media (prefers-reduced-motion) {
    animation: none !important;
    transition: none !important;
  }
}

:where(html, body) {
  height: 100%;
}

:where(label, input, textarea, button) {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

:where(picture) {
  display: flex;
  align-items: center;
  justify-content: center;
}

:where(img, video) {
  height: auto;
}

:where(img, iframe, video, table) {
  max-width: 100%;
}

:where(button) {
  border: none;
  cursor: pointer;
}

:where(ul, ol) {
  list-style: none;
}

:where(table) {
  border-collapse: collapse;
  overflow-x: auto;
}

// https://css-tricks.com/standardizing-focus-styles-with-css-custom-properties/
:where(a, button, input, textarea) {
  --outline-thickness: #{to-rems(3px)};
  --outline-style: solid;
  --outline-color: currentcolor;

  &:focus {
    outline: var(--outline-thickness) var(--outline-style) var(--outline-color);
    outline-offset: var(--outline-offset, 0);

    &:not(:focus-visible) {
      outline: none;
    }
  }
}
