* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --line-height: calc(2ex + 1.2rem);
  line-height: var(--line-height);
}

*,
*::before,
*::after {
  @media (prefers-reduced-motion) {
    animation: none !important;
    transition: none !important;
  }
}

label,
input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

img {
  height: auto;
}

img,
iframe,
video,
table {
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

a {
  font-weight: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
}
