@import "../mixins";
@import "../functions";

strong {
  @include font-family("body");
  @include font-weight("body", "bold");
}

:is(code, kbd) {
  font-size: 0.82em;
  @include font-family("code");
  @include font-weight("code", "medium");

  :is(strong, h1, h2, h3, h4, h5, h6) & {
    @include font-weight("code", "bold");
  }
}

:is(h1, h2, h3, h4, h5, h6, label, th, strong) {
  color: var(--color-text-emphasis);
  @include font-weight("body", "bold");
}
