@import '../mixins';

.screen-reader-only {
  position: absolute;
  left: 0;
  clip: rect(0, 0, 0, 0);

  &:focus {
    clip: auto;
  }
}

.centered {
  --padding: MIN(4vw, 2.4rem);
  // why not just use content-box? because it creates overflow issues on mobile with width: 100% below
  max-width: calc(var(--page-max-width) + 2 * var(--padding));
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.underlined-link {
  @include underlined-link;
}

$font-size-steps: 'sm', 'base', 'md', 'lg', 'xl', 'xxl', 'xxxl';
@each $step in $font-size-steps {
  .font-#{$step} {
    @include font($size: $step);
  }
}

// Until this gets fixed: https://bugs.chromium.org/p/chromium/issues/detail?id=1266022&q=emoji%20bold&can=2
.emoji {
  font-weight: initial !important;
}
