@import "../mixins";

.screen-reader-only {
  position: absolute;
  left: 0;
  clip: rect(0, 0, 0, 0);

  &:focus {
    clip: auto;
  }
}

.centered {
  @include centered;
}

.circle {
  border-radius: 50%;
}

.underlined-link {
  @include underlined-link;
}

.banner-heading {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  word-spacing: 0.2rem;
  background-color: var(--color-text-emphasis);
  color: var(--color-surface-1);
  width: fit-content;
  padding: 0.2rem 1.2rem;
  @include font($size: "sm");
}

$font-size-steps: "xs", "sm", "base", "md", "lg", "xl", "xxl", "xxxl";

@each $step in $font-size-steps {
  .font-#{$step} {
    @include font($size: $step);
  }
}

// Until this gets fixed: https://bugs.chromium.org/p/chromium/issues/detail?id=1266022&q=emoji%20bold&can=2
.emoji {
  font-weight: initial !important;
}
