@import '../mixins';

.screen-reader-only {
  position: absolute;
  left: 0;
  clip: rect(0, 0, 0, 0);

  &:focus {
    clip: auto;
  }
}

.centered {
  @include centered;
}

.underlined-link {
  @include underlined-link;
}

$font-size-steps: 'xs', 'sm', 'base', 'md', 'lg', 'xl', 'xxl', 'xxxl';
@each $step in $font-size-steps {
  .font-#{$step} {
    @include font($size: $step);
  }
}

// Until this gets fixed: https://bugs.chromium.org/p/chromium/issues/detail?id=1266022&q=emoji%20bold&can=2
.emoji {
  font-weight: initial !important;
}
