@import "../functions";
@import "../mixins";

.screen-reader-only {
  position: absolute;
  left: 0;
  clip: rect(0, 0, 0, 0);

  &:focus {
    clip: auto;
  }
}

.container {
  /* stylelint-disable-next-line scss/no-global-function-names */
  --padding-x: #{spacing(0, true)};

  // why not just use content-box? because it creates overflow issues on mobile with width: 100% below
  max-width: calc(#{to-rems(868px)} + 2 * var(--padding-x));
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
}

.circle {
  aspect-ratio: 1;
  border-radius: 50%;
}

.underlined-link {
  @include underlined-link;
}

.banner-heading {
  text-transform: uppercase;
  letter-spacing: spacing(-5);
  word-spacing: spacing(-4);
  @include font-size("sm");
}

.heading {
  @include heading;
}

.full-bleed {
  @include full-bleed;
}

.rhythm {
  > * + * {
    margin-top: var(--line-height);
  }
}

.prose {
  > :where(:not(h1, h2, h3, h4, h5, h6)) {
    max-width: 80ch;
  }
}

// Until this gets fixed: https://bugs.chromium.org/p/chromium/issues/detail?id=1266022&q=emoji%20bold&can=2
.emoji {
  font-weight: initial !important;
}

.image-link {
  --outline-offset: var(--outline-thickness);
  display: block;
}
