@import '../mixins';

.screen-reader-only {
  position: absolute;
  left: 0;
  clip: rect(0, 0, 0, 0);

  &:focus {
    clip: auto;
  }
}

.centered {
  max-width: var(--page-max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 MIN(4vw, 2.4rem);
}

.underlined-link {
  @include underlined-link;
}
