@import '../mixins';

.screen-reader-only {
  position: absolute;
  left: 0;
  clip: rect(0, 0, 0, 0);

  &:focus {
    clip: auto;
  }
}

.centered {
  --padding: MIN(4vw, 2.4rem);
  // why not just use content-box? because it creates overflow issues on mobile with width: 100% below
  max-width: calc(var(--page-max-width) + 2 * var(--padding));
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.underlined-link {
  @include underlined-link;
}
