@import "../mixins";

.screen-reader-only {
  position: absolute;
  left: 0;
  clip: rect(0, 0, 0, 0);

  &:focus {
    clip: auto;
  }
}

.centered {
  @include centered;
}

.circle {
  aspect-ratio: 1;
  border-radius: 50%;
}

.underlined-link {
  @include underlined-link;
}

.banner-heading {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  @include font-size("sm");
}

.heading {
  @include heading;
}

// Until this gets fixed: https://bugs.chromium.org/p/chromium/issues/detail?id=1266022&q=emoji%20bold&can=2
.emoji {
  font-weight: initial !important;
}

.image-link {
  --outline-offset: var(--outline-thickness);
  display: block;
}
