@import '../mixins';

.code-header {
  height: 0;
  z-index: 2;
  position: relative;

  & + pre[class*="language-"] {
    margin-top: calc(-1em * var(--line-height));
  }

  // Code blocks with a file name need a bit of top padding
  &.with-file-name + pre[class*="language-"] {
    padding-top: 7.6rem;
  }
}

.code-file-name {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.4rem;
  color: var(--color-black-90);
  word-break: break-all;
  padding: 2.4rem 2.4rem 0 2.4rem;
  border-radius: 0.8rem 0.8rem 0 0;
  background-color: var(--color-code-background);
  @include font-size(-1);
  @include font-weight('regular');

  &::before {
    content: '📂';
  }
}

.copy-code-button {
  --copy-code-bg-color: var(--color-black-25);
  --copy-code-text-color: var(--color-black-90);
  position: absolute;
  right: 2.4rem;
  top: 2.4rem;
  display: none;
  color: var(--copy-code-text-color);
  background-color: var(--copy-code-bg-color);
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
  @include font-size(-1);

  &::before {
    content: 'Copy 📋';
  }

  @include tablet {
    display: block;
  }

  &.copied,
  &:focus,
  &:hover {
    color: var(--color-black);
    background-color: var(--color-black-70);
  }

  &:not(.copied):not(:hover):focus:not(:focus-visible) {
    color: var(--copy-code-text-color);
    background-color: var(--copy-code-bg-color);
  }

  &.copied {
    &::before {
      content: 'Copied! ✔️';
    }
  }
}

/* VS Code Dark Plus theme: https://github.com/PrismJS/prism-themes/blob/master/themes/prism-vsc-dark-plus.css */

pre[class*="language-"] {
  --code-block-padding: 3.2rem;
  overflow-x: auto;
  background: #1e1e1e;
  box-shadow: var(--code-block-box-shadow);
  padding: var(--code-block-padding);
  border-radius: 0.8rem;
}

pre[class*="language-"],
code[class*="language-"] {
  color: #d4d4d4;
  text-shadow: none;
  text-align: start;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"] *::selection,
code[class*="language-"] *::selection {
  text-shadow: none;
  color: unset;
  background: hsla(210, 100%, 84%, 0.15);
}

@media print {
  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}

:not(pre) > code[class*="language-"] {
  color: #db4c69;
  background: #f9f2f4;
}

/* Tokens */

.namespace {
  opacity: .7;
}

.token.doctype .token.doctype-tag {
  color: #569CD6;
}

.token.doctype .token.name {
  color: #9cdcfe;
}

.token.comment {
  margin: 0;
}

.token.comment,
.token.prolog {
  color: #6a9955;
}

.token.punctuation,
.language-html .language-css .token.punctuation,
.language-html .language-javascript .token.punctuation {
  color: #d4d4d4;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.inserted,
.token.unit {
  color: #b5cea8;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.deleted {
  color: #ce9178;
}

.language-css .token.string.url {
  text-decoration: underline;
}

.token.operator,
.token.entity {
  color: #d4d4d4;
}

.token.operator.arrow {
  color: #569CD6;
}

.token.atrule {
  color: #ce9178;
}

.token.atrule .token.rule {
  color: #c586c0;
}

.token.atrule .token.url {
  color: #9cdcfe;
}

.token.atrule .token.url .token.function {
  color: #dcdcaa;
}

.token.atrule .token.url .token.punctuation {
  color: #d4d4d4;
}

.token.keyword {
  color: #569CD6;
}

.token.keyword.module,
.token.keyword.control-flow {
  color: #c586c0;
}

.token.function,
.token.function .token.maybe-class-name {
  color: #dcdcaa;
}

.token.regex {
  color: #d16969;
}

.token.important {
  color: #569cd6;
}

.token.italic {
  font-style: italic;
}

.token.constant {
  color: #9cdcfe;
}

.token.class-name,
.token.maybe-class-name {
  color: #4ec9b0;
}

.token.console {
  color: #9cdcfe;
}

.token.parameter {
  color: #9cdcfe;
}

.token.interpolation {
  color: #9cdcfe;
}

.token.punctuation.interpolation-punctuation {
  color: #569cd6;
}

.token.boolean {
  color: #569cd6;
}

.token.property,
.token.variable,
.token.imports .token.maybe-class-name,
.token.exports .token.maybe-class-name {
  color: #9cdcfe;
}

.token.selector {
  color: #d7ba7d;
}

.token.escape {
  color: #d7ba7d;
}

.token.tag {
  color: #569cd6;
}

.token.tag .token.punctuation {
  color: #808080;
}

.token.cdata {
  color: #808080;
}

.token.attr-name {
  color: #9cdcfe;
}

.token.attr-value,
.token.attr-value .token.punctuation {
  color: #ce9178;
}

.token.attr-value .token.punctuation.attr-equals {
  color: #d4d4d4;
}

.token.entity {
  color: #569cd6;
}

.token.namespace {
  color: #4ec9b0;
}

/* Language Specific */

pre[class*="language-javascript"],
code[class*="language-javascript"],
pre[class*="language-jsx"],
code[class*="language-jsx"],
pre[class*="language-typescript"],
code[class*="language-typescript"],
pre[class*="language-tsx"],
code[class*="language-tsx"] {
  color: #9cdcfe;
}

pre[class*="language-css"],
code[class*="language-css"] {
  color: #ce9178;
}

pre[class*="language-html"],
code[class*="language-html"] {
  color: #d4d4d4;
}

.language-regex .token.anchor {
  color: #dcdcaa;
}

.language-html .token.punctuation {
  color: #808080;
}

/* Line highlighting */
pre[data-line] {
  position: relative;
}

pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 1em;
  background: #f7ebc6;
  box-shadow: inset 5px 0 0 #f7d87c;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
