.katex {
  white-space: normal !important;
  line-height: 1.3 !important;
  font-size: 1.1em !important;
}

.katex-display {
  .katex {
    display: inline-block;
    white-space: nowrap;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }
}
