@import '../mixins';

.lazy-picture {
  position: relative;
  display: block;
  height: 0;
  // See picture.html for where this CSS var gets set as an inline style
  padding-bottom: var(--aspect-ratio);
}

.lazy-img {
  --transition-duration: 0.8s;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  height: auto;
  max-width: 100%;
  width: 100%;
  filter: blur(0.4rem);
  @include transition(filter);
}

.loaded .lazy-img {
  filter: initial;
}

.clickable-picture-anchor {
  width: 100%;
  display: block;
  cursor: zoom-in;
}

.dark .loaded .lazy-img {
  filter: blur(0) brightness(0.85);
}
