.youtube-embed {
  position: relative;
  // 9 / 16 = 0.5625 (16:9 aspect ratio for YT videos)
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  button {
    cursor: pointer;
  }
}
