@import 'mixins';

.button {
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  @include font-weight("semiBold");
}

.solid-button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);

  &:focus,
  &:hover {
    background-color: var(--button-bg-color-hover);
  }
}
