@import 'mixins';

.button {
  @include font-weight("semiBold");
}

.solid-button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);

  &:focus,
  &:hover {
    background-color: var(--button-bg-color-hover);
  }
}

.plus-button {
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto;
  grid-column-gap: 0.8rem;

  &::before {
    content: "+";
    @include font-size(-1);
    @include font-weight("bold");
  }
}
