@import 'mixins';

.card {
  --card-padding: 3.2rem;
  padding: var(--card-padding);
  background-color: var(--card-bg-color);
  border-radius: 0.4rem;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12),
              0 2px 2px rgba(0,0,0,0.12),
              0 4px 4px rgba(0,0,0,0.12),
              0 5px 12px rgba(0,0,0,0.12);
  position: relative;
  transform: none;
  @include transition(box-shadow, transform);

  &.interactive {
    cursor: pointer;

    &:hover,
    &:focus-within {
      box-shadow: 0 2px 2px rgba(0,0,0,0.12),
                  0 4px 4px rgba(0,0,0,0.12),
                  0 8px 8px rgba(0,0,0,0.12),
                  0 8px 12px rgba(0,0,0,0.12);
      transform: translate(0, -5px);

      .hover-content {
          opacity: 0.92;
      }
    }
  }

  // Displayed when a user hovers over a card
  .hover-content {
    align-items: center;
    background-color: var(--card-bg-color);
    border-radius: 0.4rem;
    color: var(--text-color-emphasis);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    @include transition(opacity);
    @include font-size(1);
    @include font-weight("semiBold");
  }
}
