div.highlighter-rouge {
  --code-block-padding-bottom: 1.6rem;
  --code-block-padding: 3.2rem;
  border-radius: 0.4rem;
  box-shadow: var(--code-block-box-shadow);

  & > div.highlight {
    padding: var(--code-block-padding);
    padding-bottom: calc(var(--code-block-padding) - var(--code-block-padding-bottom));

    pre.highlight {
      // Spacing between the horizontal scroll bar and the code itself.
      // This only matters whenever the content overflows horizontally.
      padding-bottom: var(--code-block-padding-bottom);
    }
  }

  code {
    padding: 0;
  }
}

.code-header {
  margin-bottom: calc(-1em * var(--line-height));
  display: flex;
  background-color: var(--color-black-25);
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  box-shadow: 0 0.4rem 0.4rem 0px rgba(0, 0, 0, 0.3);
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 1.2rem;
  z-index: 2;

  // Code blocks that have a header
  & + .highlighter-rouge {
    // If we don't do this, the top-left and top-right border radii will be visible
    & .highlight {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.code-file-name-container {
  display: flex;
  align-items: center;
  flex: 2;
  justify-content: flex-start;
}

.code-file-name {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.4rem;
  color: var(--color-black-90);
  word-break: break-all;
  @include font-size(-1);
  @include font-weight('regular');

  &::before {
    content: '📂';
  }
}

.copy-code-container {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

.copy-code-button {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.4rem;
  background-color: var(--color-black-35);
  color: var(--color-black-90);
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.5);
  top: 0;
  position: relative;
  @include font-size(-1);

  &::before {
    content: 'Copy';
  }

  &::after {
    content: '📋';
    display: block;
  }

  &.copied,
  &:focus,
  &:hover {
    color: var(--color-black);
    background-color: var(--color-black-70);
  }

  &:active {
    box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.5);
    top: 0.2rem;
  }

  &.copied {
    &::before {
      content: 'Copied!';
    }

    &::after {
      content: '✔️';
    }
  }
}

code {
  background-color: var(--inline-code-bg-color);
  color: var(--inline-code-text-color);
  border-radius: 0.4rem;
  padding: 0.4rem 0.8rem;
  @include font-family('mono');
  font-size: 0.925em;
}

// VS Code Dark Theme, modified for use with Rouge.
.highlight {
  border-radius: 0.4rem;

  &,
  code {
    background-color: var(--color-code-background);
    color: var(--color-code-text);
  }

  *::selection {
    background-color: var(--color-code-selection);
    // This will be overriden by more specific styles but retained for normal text and labels
    color: var(--color-code-text);
  }

  // Base Style
  pre {
    background-color: var(--color-code-background);
    color: transparent;

    &.highlight {
      margin: 0;
      overflow: auto;
      white-space: pre;
    }
  }

  // Comments
  .c,
  .cm,
  .cp,
  .c1,
  .cs {
    font-style: italic;
    @include selection-resistant-color(var(--color-code-comment));
  }

  // Functions
  .nf,
  .nx {
    @include selection-resistant-color(var(--color-code-function));
  }

  // Attributes
  .na {
    @include selection-resistant-color(var(--color-code-attribute));
  }

  // Variables
  .bp,
  .nv,
  .vc,
  .vg,
  .vi,
  .err {
    @include selection-resistant-color(var(--color-code-variable));
  }

  // Numbers
  .m,
  .mf,
  .mh,
  .mi,
  .mo,
  .il {
    @include selection-resistant-color(var(--color-code-number));
  }

  // Keywords
  .k,
  .kd,
  .kn,
  .kr,
  .kt {
    @include selection-resistant-color(var(--color-code-keyword));
  }

  // Constants
  .kc {
    @include selection-resistant-color(var(--color-code-constant));
  }

  // Pseudo
  .kp,
  .nb {
    @include selection-resistant-color(var(--color-code-support));
  }

  // Strings
  .s,
  .sb,
  .sc,
  .s1,
  .s2 {
    @include selection-resistant-color(var(--color-code-string));
  }

  // Classes/tags
  .nc,
  .nt,
  .nl {
    @include selection-resistant-color(var(--color-code-tag));
  }

  // Punctuation
  .p {
    @include selection-resistant-color(var(--color-code-punctuation));
  }

  .o {
    @include selection-resistant-color(var(--color-code-operator));
  }

  // Operators
  .ow {
    @include selection-resistant-color(var(--color-code-operator-word));
  }
}
