.comment-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2em;
  margin-bottom: 2em;

  h2 {
    margin: 0 !important;
  }
}

.post-comment-button {
  padding: 0.4em 0.8em;
  margin: 1em 0;
}

#comments-wrapper {
  display: flex;
}

.comments-list {
  list-style-type: none;
  width: 100%;
  padding: 0 !important;
}

$avatar-size: 2em;
$meta-spacing: 0.5em;

.comment {
  margin-left: $avatar-size + $meta-spacing;

  &:not(:last-of-type) {
    margin-bottom: 4em !important;
  }
}

.comment-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin-bottom: calc(#{var(--paragraph-spacing)} - #{$meta-spacing} / 2);
}

.comment-meta {
  margin: 0 $meta-spacing $meta-spacing / 2 0;
}

.comment-avatar {
  position: absolute;
  width: $avatar-size;
  left: -1 * $avatar-size - $meta-spacing;
  top: calc(-1 * #{$meta-spacing} / 4);
  border-radius: 50% !important;
}

.comment-username {
  color: var(--text-color-emphasis);
  @include fontWeight('semiBold');
  @include underlinedLink;
}

.comment-edited {
  font-style: italic;
  @include fontSize(-1);
}

.comment-date-posted {
  @include fontSize(-1);
}

.comment-author-badge {
  display: flex;
  align-items: center;
  padding: 0 0.4em;
  height: 1.5rem;
  @include fontSize(-1);
}

.comment-body {
  display: grid;
  grid-row-gap: var(--paragraph-spacing);

  > * {
    min-width: 0;
  }

  @include headings {
    margin-top: 0 !important;
  }
}
