@import 'mixins';

#page-footer {
  grid-area: footer;
  background: var(--footer-bg-color);
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.6rem;
  @include centered;

  * {
    color: var(--footer-text-color);
    text-align: center;
  }
}
