@import 'mixins';

#page-footer {
  align-items: center;
  background: var(--footer-bg-color);
  bottom: 0;
  display: flex;
  grid-row: 2;
  height: var(--footer-height);
  justify-content: center;
  position: absolute;
  width: 100%;
  @include centered;

  * {
    color: var(--footer-text-color);
    text-align: center;
  }
}
