@import 'mixins';

.star {
    height: 1em;
    width: 1em;

    &.star-filled {
        fill: var(--star-fill-color-filled);
    }

    &.star-empty {
        fill: var(--star-fill-color-empty);
    }
}