.katex {
    font-size: 1.1em !important;
    white-space: normal !important;
}

.katex-display {
    margin: 0 !important;
    
    .katex {
        display: inline-block;
        white-space: nowrap;
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 0.5em;
        width: 100%;
    }

    .base {
        margin-top: 0.5em;
    }
}
