@import 'fonts';

.katex {
    white-space: normal !important;
    line-height: 1.3 !important;
}

.katex-display {
    margin: 0 !important;

    .katex {
        display: inline-block;
        white-space: nowrap;
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
    }
}
