@import 'mixins';

$meta-spacing: 1.6rem;
$meta-tag-spacing: 0.8rem;

.post-meta {
  --post-meta-item-spacing: 1.6rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  @include font-size(-1);
  @include font-weight('light');

  @include mobile-lg {
    @include font-size(-2);
  }
}

.post-meta-item {
  margin: 0 var(--post-meta-item-spacing) var(--post-meta-item-spacing) 0;
}

.post-meta-icon {
  height: 1.6rem;
  width: 1.6rem;
}

.author-photo {
  grid-column-gap: 0;
  height: 5rem;
  width: 5rem;

  * {
    border-radius: 50%;
  }
}

.post-date-published,
.post-date-updated,
.post-reading-length {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: 0.4rem;
}

.skip-post-meta-tags {
  background: var(--main-bg-color);
  padding: 0.8rem 1.6rem;
  color: var(--text-color-normal);
  @include font-weight('semiBold');
}

.skip-post-meta-tags-target {
  scroll-margin-top: var(--scroll-margin-top);
}

.post-meta-tags {
  --post-meta-tag-spacing: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: calc(var(--post-meta-item-spacing) - var(--post-meta-tag-spacing));
}

.post-meta-tag {
  display: flex;
  align-items: center;
  padding: 0.6rem 1.2rem;
  margin-right: $meta-tag-spacing;
  margin-bottom: $meta-tag-spacing;
  border-radius: 0.4rem;
}
