@import 'mixins';
@import 'fonts';

.navbar-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  z-index: var(--navbar-z-index);
}

.skip-navigation {
  padding: 0 0.8em;
  color: var(--navbar-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  @include weight('regular');

  &:focus {
    top: 0;
    bottom: 0;
  }
}

.navbar {
  background-color: var(--navbar-bg-color);
  box-shadow: var(--navbar-box-shadow);
  height: 100%;
  @include centered;

  // Mobile only
  &.opened {
    .navbar-menu {
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 1;
      visibility: visible;
    }

    #navbar-toggle {
      .icon-bar {
        &:first-child,
        &:last-child {
          position: absolute;
          margin: 0;
          width: var(--navbar-toggle-size);
          height: 5%;
        }

        &:first-child {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.navbar-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

#home-link {
  flex-shrink: 0;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.4rem;
  align-items: center;

  &:hover,
  &:focus {
    #website-name {
      color: white;
    }
  }
}

#logo {
  height: 1.6em;
  border-radius: 50%;
}

#website-name {
  color: var(--navbar-text-color);
}

.navbar-menu {
  position: fixed;
  left: 0;
  top: var(--navbar-height);
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  @include transition(opacity, visibility);
}

.navbar-links {
  background-color: var(--navbar-bg-color);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.8);
  list-style-type: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 1.5rem;
  padding: 1.5rem 0;
}

.navbar-item {
  text-align: center;
}

.navbar-link {
  border-radius: 2px;
  padding: 0.75em;
  margin: 0 1.2rem;
  display: block;
  color: var(--navbar-text-color);
  @include weight('regular');
}

#active-navbar-link,
.skip-navigation:focus,
.navbar-link:hover,
.navbar-link:focus {
  color: white;
  background-color: var(--navbar-link-bg-color-hover);
}

#navbar-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: transparent;
  border: none;
  height: var(--navbar-toggle-size);
  width: var(--navbar-toggle-size);
  flex-shrink: 0;
  cursor: pointer;
  @include font(0);

  .icon-bar {
    display: block;
    width: 100%;
    flex-basis: 0.2em;
    background: var(--navbar-text-color);
    @include transition(transform, opacity);
  }

  &:focus,
  &:hover {
    .icon-bar {
      background-color: white;
    }
  }
}

#theme-toggle-container {
  display: flex;
  height: 3em;
  justify-content: center;
}

.lamp {
  // --lamp-color: #ba9f72;
  --lamp-color: #a39681;
  width: 45px;
  height: 45px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  transform: scale(0.8);
  transform-style: preserve-3d;
  @include font(0);

  > * {
    display: block;
  }

  &:active {
    .lamp-base::after {
      top: -0.5px;
    }
  }

  .dark & {
    filter: brightness(0.75);
  }
}

.lamp-base {
  position: absolute;
  bottom: 0;
  right: 5px;
  width: 30px;
  height: 7px;
  background-color: var(--lamp-color);
  border-radius: 4px 4px 0 0;
  transform-style: preserve-3d;
  box-shadow: inset 0 0.5px 2px rgba(0, 0, 0, 0.6);

  &::after {
    content: '';
    position: absolute;
    transform: translateZ(-1px);
    width: 6px;
    height: 6px;
    top: -2px;
    left: 4px;
    border-radius: 1px 1px 0 0;
    background-color: white;
  }
}

.lamp-neck {
  width: 4px;
  height: 20px;
  background-color: var(--lamp-color);
  position: absolute;
  transform: translateZ(-1px) rotate(20deg);
  right: 8px;
  bottom: 5px;

  &::after {
    content: '';
    background-color: var(--lamp-color);
    width: 4px;
    height: 20px;
    position: absolute;
    transform: rotate(-60deg);
    left: -8px;
    top: -14px;
  }
}

.lamp-head {
  width: 20px;
  height: 10px;
  background-image: linear-gradient(to bottom, #897e6c 5%, var(--lamp-color) 90%, #897e6c 5%);
  border-radius: 100px 100px 0 0;
  transform: rotate(45deg);
  position: absolute;
  left: 10px;
  top: 4px;
  transform-style: preserve-3d;
  z-index: 2;
  box-shadow: 0 4px 4px -2px rgba(230, 230, 230, 1);

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: var(--lamp-color);
    border-radius: 50%;
    right: 6px;
    top: -4px;
    transform: translateZ(-1px);
  }

  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 40px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
    clip-path: polygon(30% 0, 70% 0, 100% 100%, 0 100%);
    transform: translateZ(-1px);
    right: 0;
    top: 10px;
  }

  .dark & {
    box-shadow: none;

    &::after {
      background: transparent;
    }
  }
}

@media only screen and (min-width: 800px) {
  .navbar,
  .navbar.opened {
    .navbar-menu {
      position: static;
      display: flex;
      height: 100%;
      opacity: 1;
      visibility: visible;
    }

    .navbar-links {
      grid-row-gap: 0;
      grid-column-gap: 1rem;
      grid-auto-flow: column;
      align-items: center;
      box-shadow: none;
      margin: 0;
      padding: 0;
      position: static;
    }

    .navbar-item {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .navbar-link {
      padding: 0.25em 0.8em;
      display: inline;
      margin: 0;
    }

    #navbar-toggle {
      display: none;
    }
  }

  #theme-toggle-container {
    margin-left: 0.5em;
  }
}
