@import 'mixins';
@import 'colors';

.project-grid {
  list-style-type: none;
  margin-top: 6.4rem;
}

.project {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 1fr;
  grid-row-gap: calc(var(--card-padding) / 2);
  margin-bottom: 0;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.project-name-wrapper {
  align-self: center;
  grid-area: heading;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.4rem;
}

.project-name {
  display: inline;
  color: var(--text-color-emphasis);
  margin: 0;
  @include font-size(0);
  @include font-weight('bold');
}

.project-rating {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.4rem;
  align-items: center;
  align-self: center;
  grid-area: rating;
  justify-self: center;
  @include font-size(-1);
}

.project-description {
  margin: 0;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  grid-row: 3;
  list-style-type: none;
  margin: 0;
}

.project-technology {
  margin-bottom: 0;
  margin-right: 0.8rem;
  margin-top: 0.8rem;
  padding: 0.4rem 1.2rem;
  @include font-size(-2);
}

#github-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    border-radius: 50%;
    display: inline-block;
    height: 4.8rem;
    width: 4.8rem;
    margin-top: 1.6rem;

    .icon-github {
      @include themed(fill, $brand-github, $brand-github-alt);
    }
  }
}

.github-cta-heading {
  margin-bottom: 0.8rem;
  @include font-size(0);
  @include font-weight('bold');
}

.github-cta-subheading {
  margin: 0;
}
