@import 'mixins';
@import 'colors';

.project-grid {
  list-style: none;
  margin-top: 6.4rem;
}

.project {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 1fr;
  grid-row-gap: calc(var(--card-padding) / 2);
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.project-name-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.4rem;
}

.project-name {
  color: var(--text-color-emphasis);
  @include font-size(0);
  @include font-weight('bold');
}

.project-rating {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.4rem;
  align-items: center;
  @include font-size(-1);
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.project-technology {
  margin-top: 0.8rem;
  margin-right: 0.8rem;
  padding: 0.4rem 1.2rem;
  @include font-size(-2);
}

#github-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    height: 4.8rem;
    width: 4.8rem;
  }
}

.github-cta-heading {
  margin-bottom: 0.8rem;
  @include font-size(0);
  @include font-weight('bold');
}

.github-cta-subheading {
  margin-bottom: 1.6rem;
}
