@import 'mixins';
@import 'colors';

.project-grid {
  list-style-type: none;
  margin-top: 3rem;
}

.project {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 1fr;
  grid-row-gap: calc(var(--card-padding) / 2);
  margin-bottom: 0;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.project-name-wrapper {
  align-self: center;
  grid-area: heading;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.25rem;
}

.project-name {
  display: inline;
  color: var(--text-color-emphasis);
  margin: 0;
  @include fontSize(0);
  @include fontWeight('bold');
}

.project-rating {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.15rem;
  align-items: center;
  align-self: center;
  grid-area: rating;
  justify-self: center;
  @include fontSize(-1);
}

.project-description {
  margin: 0;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  grid-row: 3;
  list-style-type: none;
  margin: 0;
}

.project-technology {
  margin-bottom: 0px;
  margin-right: 0.5em;
  margin-top: 0.5em;
  padding: 0.25em 0.8em;
  @include fontSize(-2);
}

#github-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    margin-top: 20px;
    width: 50px;

    .icon-github {
      @include themed(fill, $brand-github, $brand-github-alt);
    }
  }
}

.github-cta-heading {
  margin-bottom: 0.5em;
  @include fontSize(0);
  @include fontWeight('bold');
}

.github-cta-subheading {
  margin: 0;
}
