::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg-color);

  &:hover {
      background: var(--scrollbar-thumb-bg-color-hover);
  }
}
