@import 'mixins';

.tag {
  background-color: var(--tag-bg-color);
  color: var(--tag-text-color);
  @include font-weight("regular");
}

// Because not all tags are links/interactive (see project cards)
a.tag {
  &:hover,
  &:focus,
  &.active {
    background-color: var(--tag-bg-color-hover);
    color: var(--tag-text-color-hover);
  }

  @include focus-outline($color: var(--tag-bg-color-hover), $style: solid, $thickness: 0.2rem, $offset: 0.2rem);
}
