.tag {
  background-color: var(--tag-bg-color);
  border-radius: 0.2rem;
  color: var(--tag-text-color);
  @include font-weight("regular");
}

// Because not all tags are links/interactive (see project cards)
a.tag {
  &:hover,
  &:focus,
  &.active-tag {
      background-color: var(--tag-bg-color-hover);
      color: var(--tag-text-color-hover);
  }
}
