/* stylelint-disable value-keyword-case */
$config: (
  lineHeight: (
    steps: (
      "base": 1.6,
      "sm": 1.5,
      "xs": 1.4,
      "2xs": 1.35,
      "3xs": 1.2,
      "4xs": 1.1,
    ),
    customPropertyPrefix: "lh",
  ),
  fontSize: (
    steps: (
      "xs": (
        min: 12px,
        max: 13px,
      ),
      "sm": (
        min: 14px,
        max: 16px,
      ),
      "base": (
        min: 16px,
        max: 19px,
        lineHeight: "base",
      ),
      "md": (
        min: 19px,
        max: 24px,
        lineHeight: "sm",
      ),
      "lg": (
        min: 23px,
        max: 28px,
        lineHeight: "xs",
      ),
      "xl": (
        min: 26px,
        max: 36px,
        lineHeight: "2xs",
      ),
      "2xl": (
        min: 32px,
        max: 44px,
        lineHeight: "2xs",
      ),
      "3xl": (
        min: 38px,
        max: 54px,
        lineHeight: "3xs",
      ),
      "4xl": (
        min: 50px,
        max: 76px,
        lineHeight: "4xs",
      ),
    ),
    customPropertyPrefix: "fs",
  ),
  spacing: (
    steps: (2px, 4px, 8px, 12px, 16px, 18px, 20px, 24px, 28px, 32px, 36px, 40px, 48px, 56px, 64px, 76px, 96px),
    base: 16px,
    customPropertyPrefix: "sp",
  ),
);
