/* stylelint-disable value-keyword-case */
$config: (
  typeScale: (
    steps: ("xs", "sm", "base", "md", "lg", "xl", "2xl", "3xl", "4xl"),
    base: "base",
    customPropertyPrefix: "fs",
    sizes: (
      min: (
        baseFontSize: 16px,
        ratio: 1.18,
      ),
      max: (
        baseFontSize: 19px,
        ratio: 1.24,
      ),
    ),
  ),
  spacing: (
    steps: (2px, 4px, 8px, 12px, 16px, 18px, 20px, 24px, 28px, 32px, 36px, 40px, 48px, 56px, 64px, 76px, 96px),
    base: 16px,
    customPropertyPrefix: "sp",
  ),
);
