/* stylelint-disable value-keyword-case */
$config: (
  typeScale: (
    steps: ("xs", "sm", "base", "md", "lg", "xl", "xxl", "xxxl"),
    base: "base",
    customPropertyPrefix: "fs",
    sizes: (
      min: (
        baseFontSize: 17.6px,
        ratio: 1.18,
      ),
      max: (
        baseFontSize: 20px,
        ratio: 1.23,
      ),
    ),
  ),
  spacing: (
    steps: (2, 4, 8, 12, 16, 18, 20, 24, 28, 32, 36, 40, 48, 56, 64, 96),
    base: 16,
    customPropertyPrefix: "sp",
  ),
);
