@use 'sass:math';
@import './zIndex';

@function toRem($px) {
  $rem: math.div($px, 16px);
  @return #{$rem}rem;
}

@function z-index($key) {
  @return map-get($zIndex, $key);
}

@function rnd($number, $places: 0) {
  $n: 1;

  @if $places > 0 {
    @for $i from 1 through $places {
      $n: $n * 10;
    }
  }

  @return math.div(math.round($number * $n), $n);
}
