@use "sass:math";
@use "sass:string";
@use "sass:map";
@use "sass:list";

@import "./functions";
@import "./breakpoints";

/// Returns all the custom properties for spacing/typography.
@mixin design-custom-properties() {
  // Spacing variables
  $spacing-steps: get($config, "spacing", "steps");
  $spacing-base-index: list.index($spacing-steps, get($config, "spacing", "base"));
  @for $i from 1 through list.length($spacing-steps) {
    $step: $i - $spacing-base-index;
    $value-px: list.nth($spacing-steps, $i) * 1px;
    /* stylelint-disable-next-line custom-property-pattern */
    --#{get-custom-property-prefix("spacing")}-#{$step}: #{to-rems($value-px)};
  }

  // Typography variables
  $type-steps: get($config, "typeScale", "steps");
  $type-sizes: get($config, "typeScale", "sizes");
  $type-base-index: list.index($type-steps, get($config, "typeScale", "base"));
  $type-min: get($type-sizes, "min");
  $type-max: get($type-sizes, "max");
  @for $i from 1 through length($type-steps) {
    $step: list.nth($type-steps, $i);
    $power: $i - $type-base-index;
    $clamp-min: rnd(get($type-min, "baseFontSize") * math.pow(get($type-min, "ratio"), $power), 2);
    $clamp-max: rnd(get($type-max, "baseFontSize") * math.pow(get($type-max, "ratio"), $power), 2);
    /* stylelint-disable-next-line custom-property-pattern */
    --#{get-custom-property-prefix("typeScale")}-#{$step}: #{clamped($clamp-min, $clamp-max)};
  }
}

@mixin full-bleed {
  --offset: calc(-1 * var(--padding-x));
  border-radius: 0;
  margin-inline: var(--offset);
  @include tablet {
    margin-inline: 0;
  }
}

// Inspiration: https://stackoverflow.com/a/49437769/5323344

@mixin transition($props...) {
  $result: ();
  @for $i from 1 through length($props) {
    $prop: list.nth($props, $i);
    $result: list.append($result, $prop);
    @if $i != length($props) {
      $result: list.append(
        $result,
        string.unquote(
          $string: ",",
        )
      );
    }
  }
  transition-timing-function: var(--transition-timing-function);
  transition-duration: var(--transition-duration);
  transition-property: $result;
}

@mixin headings {
  :is(h1,h2,h3,h4,h5,h6) {
    @content;
  }
}

/// Extends the font size utility class corresponding to the specified step.
@mixin extended-font-size($step) {
  /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
  @extend .#{get-custom-property-prefix("typeScale")}-#{$step};
}

@mixin font-size($step) {
  // expose CSS var to later compute other things, e.g., spacing
  --line-height: calc(2ex + #{to-rems(11px)});
  font-size: get-font-size($step);
  line-height: var(--line-height);
  @if $step == "xxxl" {
    letter-spacing: to-rems(-0.6px);
  }
}

@mixin font-family($family) {
  font-family: var(--ff-#{$family});
}

@mixin font-weight($family, $weight) {
  font-weight: var(--fw-#{$family}-#{$weight});
}

@mixin heading {
  @include font-family("title");
  @include font-weight("title", "bold");
}

@mixin line-clamp($num-lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num-lines;
}

// Breakpoint mixins

@mixin mobile {
  $bp: map.get($media-breakpoints, mobile);
  @media screen and (min-width: $bp) {
    @content;
  }
}

@mixin mobile-lg {
  $bp: map.get($media-breakpoints, mobile-lg);
  @media screen and (min-width: $bp) {
    @content;
  }
}

@mixin tablet-sm {
  $bp: map.get($media-breakpoints, tablet-sm);
  @media screen and (min-width: $bp) {
    @content;
  }
}

@mixin tablet {
  $bp: map.get($media-breakpoints, tablet);
  @media screen and (min-width: $bp) {
    @content;
  }
}

@mixin desktop {
  $bp: map.get($media-breakpoints, desktop);
  @media screen and (min-width: $bp) {
    @content;
  }
}

@mixin desktop-lg {
  $bp: map.get($media-breakpoints, desktop-lg);
  @media screen and (min-width: $bp) {
    @content;
  }
}
