@use "sass:math";
@use "sass:string";
@use "sass:map";
@use "sass:list";

@import "./functions";
@import "./breakpoints";

@mixin full-bleed {
  --offset: calc(-1 * var(--padding-x));
  border-radius: 0;
  margin-inline: var(--offset);
  @include tablet {
    margin-inline: 0;
  }
}

// Inspiration: https://stackoverflow.com/a/49437769/5323344

@mixin transition($props...) {
  $result: ();
  @for $i from 1 through length($props) {
    $prop: list.nth($props, $i);
    $result: list.append($result, $prop);
    @if $i != length($props) {
      $result: list.append(
        $result,
        string.unquote(
          $string: ",",
        )
      );
    }
  }
  transition-timing-function: var(--transition-timing-function);
  transition-duration: var(--transition-duration);
  transition-property: $result;
}

@mixin headings {
  :is(h1,h2,h3,h4,h5,h6) {
    @content;
  }
}

/// Extends the font size utility class corresponding to the specified step.
@mixin extended-font-size($step) {
  /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
  @extend .#{get-custom-property-prefix("typeScale")}-#{$step};
}

@mixin font($size: null, $family: null, $weight: null) {
  @if not $size and not $family and not $weight {
    @error "You must specify at least a font size or a font family + weight when using the font mixin.";
  }
  // Don't ever set family without a weight, and vice versa, since not all fonts have the same weights (in which case the inherited font weight may look weird)
  @if $weight and not $family or $family and not $weight {
    @error "Cannot set font family without a weight, and vice versa.";
  }
  // Font sizing
  @if $size {
    $font-size-steps: get($config, "typeScale", "steps");
    $step-index: list.index($font-size-steps, $size);
    @if $step-index < 1 or $step-index > list.length($font-size-steps) {
      $min-step-name: first($font-size-steps);
      $max-step-name: last($font-size-steps);
      @error "#{$size} is not a valid step in the type scale. Valid steps range from #{$min-step-name} to #{$max-step-name}, inclusive.";
    } @else {
      // expose CSS var to later compute other things, e.g., spacing
      --line-height: calc(2ex + #{to-rems(12px)});
      font-size: var(--#{get-custom-property-prefix("typeScale")}-#{$size});
      line-height: var(--line-height);
    }
  }
  // Setting family and weight together
  @if $family {
    font-family: var(--ff-#{$family});
    font-weight: var(--fw-#{$family}-#{$weight});
  }
}

@mixin line-clamp($num-lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num-lines;
}

// Breakpoint mixins

@mixin mobile {
  $bp: map.get($media-breakpoints, mobile);
  @media screen and (min-width: $bp) {
    @content;
  }
}

@mixin mobile-lg {
  $bp: map.get($media-breakpoints, mobile-lg);
  @media screen and (min-width: $bp) {
    @content;
  }
}

@mixin tablet-sm {
  $bp: map.get($media-breakpoints, tablet-sm);
  @media screen and (min-width: $bp) {
    @content;
  }
}

@mixin tablet {
  $bp: map.get($media-breakpoints, tablet);
  @media screen and (min-width: $bp) {
    @content;
  }
}

@mixin desktop {
  $bp: map.get($media-breakpoints, desktop);
  @media screen and (min-width: $bp) {
    @content;
  }
}

@mixin desktop-lg {
  $bp: map.get($media-breakpoints, desktop-lg);
  @media screen and (min-width: $bp) {
    @content;
  }
}
