/* stylelint-disable value-keyword-case */
$tokens: (
  leading: (
    steps: (
      "3xs": 1.15,
      "2xs": 1.2,
      "xs": 1.3,
      "sm": 1.4,
      "base": 1.45,
      "md": 1.6,
      "lg": 1.7,
    ),
    customPropertyPrefix: "lh",
  ),
  fontSize: (
    steps: (
      "xs": (
        min: 12px,
        max: 13px,
      ),
      "sm": (
        min: 14px,
        max: 16px,
      ),
      // body, h6
      "base": (
        min: 16px,
        max: 20px,
        leading: "base",
      ),
      // h5
      "md": (
        min: 18px,
        max: 24px,
        leading: "sm",
      ),
      // h4
      "lg": (
        min: 22px,
        max: 28px,
        leading: "xs",
      ),
      // h3
      "xl": (
        min: 26px,
        max: 32px,
        leading: "2xs",
      ),
      // h2
      "2xl": (
        min: 30px,
        max: 40px,
        leading: "2xs",
      ),
      // h1
      "3xl": (
        min: 34px,
        max: 48px,
        leading: "3xs",
      ),
      // hero h1s
      "4xl": (
        min: 38px,
        max: 90px,
        leading: "3xs",
      ),
    ),
    breakpoints: (
      min: "mobile-min",
      max: "desktop",
    ),
    customPropertyPrefix: "fs",
  ),
  spacing: (
    steps: (
      "-4": 2px,
      "-3": 4px,
      "-2": 8px,
      "-1": 12px,
      "0": 16px,
      "1": 18px,
      "2": 20px,
      "3": 24px,
      "4": 28px,
      "5": 32px,
      "6": 36px,
      "7": 40px,
      "8": 48px,
      "9": 56px,
      "10": 64px,
      "11": 76px,
      "12": 96px,
    ),
    customPropertyPrefix: "sp",
  ),
  breakpoints: (
    "mobile-min": 360px,
    "mobile": 400px,
    "mobile-lg": 600px,
    "tablet-sm": 768px,
    "tablet": 896px,
    "desktop": 960px,
    "desktop-lg": 1200px,
  ),
);
