$tokens: (
  color: (
    light: (
      "surface": (
        "1": hsl(0deg 0% 100%),
        "2": hsl(0deg 0% 96%),
        "3": hsl(0deg 0% 92%),
        "4": hsl(0deg 0% 75%),
        "5": hsl(0deg 0% 55%),
        "6": hsl(0deg 0% 35%),
        "7": hsl(0deg 0% 23%),
        "8": hsl(0deg 0% 13%),
      ),
      "text": (
        "normal": "{color.light.surface.8}", // syntax borrowed from style-dictionary
        "soft": "{color.light.surface.6}",
        "emphasis": hsl(0deg 0% 0%),
        "inverted": hsl(0deg 0% 100%),
      ),
      "border": (
        "0": "{color.light.surface.4}"
      ),
    ),
    dark: (
      "surface": (
        "1": hsl(0deg 0% 6%),
        "2": hsl(0deg 0% 12%),
        "3": hsl(0deg 0% 20%),
        "4": hsl(0deg 0% 30%),
        "5": hsl(0deg 0% 40%),
        "6": hsl(0deg 0% 60%),
        "7": hsl(0deg 0% 70%),
        "8": hsl(0deg 0% 86%),
      ),
      "text": (
        "normal": "{color.dark.surface.8}",
        "soft": "{color.dark.surface.7}",
        "emphasis": hsl(0deg 0% 100%),
        "inverted": hsl(0deg 0% 0%),
      ),
      "border": (
        "0": "{color.dark.surface.5}",
      )
    )
  ),
  size: (
    leading: (
      "4xs": 1,
      "3xs": 1.1,
      "2xs": 1.2,
      "xs": 1.3,
      "sm": 1.4,
      "base": 1.55,
      "md": 1.6,
      "lg": 1.7,
    ),
    font: (
      "xs": (
        min: 14px,
        max: 16px,
      ),
      "sm": (
        min: 16px,
        max: 18px,
      ),
      "base": (
        min: 18px,
        max: 20px,
        leading: "base",
      ),
      "md": (
        min: 20px,
        max: 22px,
        leading: "sm",
      ),
      "lg": (
        min: 22px,
        max: 26px,
        leading: "xs",
      ),
      "xl": (
        min: 24px,
        max: 32px,
        leading: "xs",
      ),
      "2xl": (
        min: 28px,
        max: 38px,
        leading: "xs",
      ),
      "3xl": (
        min: 32px,
        max: 44px,
        leading: "2xs",
        tracking: "sm",
      ),
      "4xl": (
        min: 36px,
        max: 56px,
        leading: "3xs",
        tracking: "sm",
      ),
      "5xl": (
        min: 40px,
        max: 72px,
        leading: "3xs",
        tracking: "xs",
      ),
    ),
    tracking: (
      "xs": -0.5px,
      "sm": -0.25px,
      "md": 0.25px,
      "lg": 1px,
    ),
    spacing: (
      "-4": 2px,
      "-3": 4px,
      "-2": 8px,
      "-1": 12px,
      "0": 16px,
      "1": 18px,
      "2": 20px,
      "3": 24px,
      "4": 28px,
      "5": 32px,
      "6": 36px,
      "7": 40px,
      "8": 48px,
      "9": 56px,
      "10": 64px,
      "11": 76px,
      "12": 96px,
    ),
    relative: (
      "-3": 0.25em,
      "-2": 0.5em,
      "-1": 0.75em,
      "0":  1em,
      "1":  1.25em,
      "2":  1.5em,
    )
  ),
  animation: (
    "duration": 0.2s,
    "timing-function": ease,
  ),
  breakpoints: (
    "mobile-min": 375px,
    "mobile": 400px,
    "mobile-lg": 560px,
    "tablet-sm": 768px,
    "tablet": 896px,
    "desktop": 960px,
    "desktop-lg": 1200px,
  ),
);
