@import './mixins';
@import './functions';

html {
  --fs-sm: #{clamped(1.4rem, 1.6rem)};
  --lh-sm: #{clamped(2.6rem, 2.8rem)};
  --ls-sm: 0;

  --fs-base: #{clamped(1.6rem, 1.8rem)};
  --lh-base: #{clamped(2.8rem, 3rem)};
  --ls-base: 0;

  --fs-md: #{clamped(1.8rem, 2.0rem)};
  --lh-md: #{clamped(3rem, 3.2rem)};
  --ls-md: 0;

  --fs-lg: #{clamped(2.0rem, 2.8rem)};
  --lh-lg: #{clamped(3.2rem, 3.92rem)};
  --ls-lg: -0.02rem;

  --fs-xl: #{clamped(2.8rem, 3.2rem)};
  --lh-xl: #{clamped(3.92rem, 4.4rem)};
  --ls-xl: #{clamped(-0.02rem, -0.03rem)};

  --fs-xxl: #{clamped(3.2rem, 3.6rem)};
  --lh-xxl: #{clamped(4.4rem, 4.68rem)};
  --ls-xxl: #{clamped(-0.03rem, -0.04rem)};

  --fs-xxxl: #{clamped(3.6rem, 4.8rem)};
  --lh-xxxl: #{clamped(4.68rem, 5.76rem)};
  --ls-xxxl: #{clamped(-0.04rem, -0.05rem)};

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --transition-duration: 0.2s;
  --transition-timing-function: ease;
  --page-max-width: 80rem;
  --navbar-height: #{clamped(6.4rem, 7.6rem)};
  --scroll-margin-top: calc(var(--navbar-height) + 2ex);

  @include tablet {
    --scroll-margin-top: 1ex;
  }

  &.light {
    --color-surface-1: white;
    --color-surface-2: hsl(0, 0%, 95%);
    --color-surface-3: hsl(0, 0%, 92%);
    --color-surface-4: hsl(0, 0%, 20%);
    --color-surface-5: hsl(0, 0%, 10%);
    --color-text-normal: black;
    --color-text-soft: hsl(0, 0%, 35%);
    --color-text-emphasis: black;
    --color-text-inverted: white;
    --color-border-focus: hsl(0, 0%, 30%);
    --color-border: hsl(0, 0%, 80%);

    --button-bg-color-focus: var(--color-surface-4);
    --button-bg-color: var(--color-surface-5);
    --card-bg-color: var(--color-surface-1);
    --code-block-box-shadow: none;
    --form-bg-color: var(--color-surface-2);
    --footer-bg-color: var(--color-surface-5);
    --hover-bg-color: var(--color-surface-2);
    --inline-code-bg-color: var(--color-surface-3);
    --input-bg-color: var(--color-surface-1);
    --main-bg-color: var(--color-surface-1);
    --navbar-bg-color: var(--color-surface-5);
    --navbar-box-shadow: 0 0 0.2rem 0 hsla(0, 0%, 0%, 0.8);
    --navbar-link-bg-color-focus: var(--color-surface-4);
    --navbar-text-color: hsl(0, 0%, 85%);
    --scrollbar-thumb-bg-color-focus: hsl(0, 0%, 60%);
    --scrollbar-thumb-bg-color: hsl(0, 0%, 70%);
    --scrollbar-track-bg-color: var(--color-surface-3);
    --selection-bg-color: black;
    --table-header-bg-color: var(--color-surface-3);
    --tag-bg-color-focus: var(--color-surface-5);
    --tag-bg-color: var(--color-surface-3);
  }

  &.dark {
    --color-surface-1: hsl(0, 0%, 8%);
    --color-surface-2: hsl(0, 0%, 12%);
    --color-surface-3: hsl(0, 0%, 20%);
    --color-surface-4: hsl(0, 0%, 60%);
    --color-surface-5: hsl(0, 0%, 80%);
    --color-text-normal: hsl(0, 0%, 75%);
    --color-text-soft: hsl(0, 0%, 60%);
    --color-text-emphasis: white;
    --color-text-inverted: black;
    --color-border: hsl(0, 0%, 30%);
    --color-border-focus: hsl(0, 0%, 80%);

    --button-bg-color-focus: var(--color-surface-5);
    --button-bg-color: var(--color-surface-4);
    --card-bg-color: var(--color-surface-2);
    --code-block-box-shadow: 0 0.2rem 0.8rem 0 hsla(0, 0%, 0%, 0.4);
    --form-bg-color: var(--color-surface-2);
    --footer-bg-color: var(--color-surface-2);
    --hover-bg-color: var(--color-surface-2);
    --inline-code-bg-color: var(--color-surface-3);
    --input-bg-color: var(--color-surface-3);
    --main-bg-color: var(--color-surface-1);
    --navbar-bg-color: var(--color-surface-2);
    --navbar-box-shadow: 0 0 0.8rem 0 hsla(0, 0%, 0%, 0.8);
    --navbar-link-bg-color-focus: var(--color-surface-3);
    --navbar-text-color: var(--color-surface-5);
    --scrollbar-thumb-bg-color-focus: var(--color-surface-5);
    --scrollbar-thumb-bg-color: var(--color-surface-4);
    --scrollbar-track-bg-color: var(--color-surface-3);
    --selection-bg-color: white;
    --table-header-bg-color: var(--color-surface-2);
    --tag-bg-color-focus: var(--color-surface-5);
    --tag-bg-color: var(--color-surface-3);
  }
}
