@import '../partials/mixins';

html {
  // Palette
  --color-black: hsl(0, 0%, 0%);
  --color-black-5: hsl(0, 0%, 5%);
  --color-black-8: hsl(0, 0%, 8%);
  --color-black-10: hsl(0, 0%, 10%);
  --color-black-12: hsl(0, 0%, 12%);
  --color-black-15: hsl(0, 0%, 15%);
  --color-black-20: hsl(0, 0%, 20%);
  --color-black-25: hsl(0, 0%, 25%);
  --color-black-30: hsl(0, 0%, 30%);
  --color-black-35: hsl(0, 0%, 35%);
  --color-black-40: hsl(0, 0%, 40%);
  --color-black-45: hsl(0, 0%, 45%);
  --color-black-50: hsl(0, 0%, 50%);
  --color-black-55: hsl(0, 0%, 55%);
  --color-black-60: hsl(0, 0%, 60%);
  --color-black-65: hsl(0, 0%, 65%);
  --color-black-70: hsl(0, 0%, 70%);
  --color-black-75: hsl(0, 0%, 75%);
  --color-black-80: hsl(0, 0%, 80%);
  --color-black-85: hsl(0, 0%, 85%);
  --color-black-90: hsl(0, 0%, 90%);
  --color-black-92: hsl(0, 0%, 92%);
  --color-black-95: hsl(0, 0%, 95%);
  --color-white: hsl(0, 0%, 100%);

  --fs-sm: clamp(1.4rem, 3.8vw, 1.6rem);
  --lh-sm: 1.75;
  --fs-base: clamp(1.6rem, 4.4vw, 1.8rem);
  --lh-base: 1.67;
  --fs-md: clamp(1.8rem, 5vw, 2.0rem);
  --lh-md: 1.6;
  --fs-lg: clamp(2.0rem, 5.6vw, 2.8rem);
  --lh-lg: 1.4;
  --fs-xl: clamp(2.8rem, 7.8vw, 3.2rem);
  --lh-xl: 1.375;
  --fs-xxl: clamp(3.2rem, 8.9vw, 3.6rem);
  --lh-xxl: 1.3;
  --fs-xxxl: clamp(3.6rem, 10vw, 4.8rem);
  --lh-xxxl: 1.2;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --font-sans: Fira Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  --font-mono: Inconsolata, Monaco, Consolas, Courier New, monospace;

  --transition-duration: 0.2s;
  --transition-timing-function: ease;
  --page-max-width: 80rem;
  --navbar-height: 6.4rem;
  --scroll-margin-top: calc(var(--navbar-height) + 2ex);

  @include tablet {
    --scroll-margin-top: 1ex;
  }
}

html.light {
  --button-bg-color-focus: var(--color-black-30);
  --button-bg-color: var(--color-black-15);
  --button-text-color: var(--color-white);
  --card-bg-color: var(--color-white);
  --code-block-box-shadow: none;
  --form-bg-color: var(--color-black-95);
  --hover-bg-color: var(--color-black-95);
  --inline-code-bg-color: var(--color-black-92);
  --inline-code-text-color: var(--text-color-normal);
  --input-bg-color: var(--color-white);
  --input-border-color-focus: var(--color-black-30);
  --input-border-color: var(--color-black-80);
  --main-bg-color: var(--color-white);
  --navbar-bg-color: var(--color-black-15);
  --navbar-box-shadow: 0 0 0.2rem 0 hsla(0, 0%, 0%, 0.8);
  --navbar-link-bg-color-focus: var(--color-black-25);
  --navbar-text-color: var(--color-black-85);
  --scrollbar-thumb-bg-color-focus: var(--color-black-60);
  --scrollbar-thumb-bg-color: var(--color-black-70);
  --scrollbar-track-bg-color: var(--color-black-90);
  --selection-bg-color: var(--color-black-10);
  --selection-text-color: var(--color-white);
  --table-border-color: var(--color-black-80);
  --table-header-bg-color: var(--color-black-92);
  --table-header-text-color: var(--color-black-25);
  --tag-bg-color-focus: var(--color-black-15);
  --tag-bg-color: var(--color-black-92);
  --tag-text-color-focus: var(--color-white);
  --tag-text-color: var(--color-black-10);
  --text-color-link: var(--color-black);
  --text-color-soft: var(--color-black-35);
  --text-color-emphasis: var(--color-black-10);
  --text-color-normal: var(--color-black-10);
}

html.dark {
  --button-bg-color-focus: var(--color-black-80);
  --button-bg-color: var(--color-black-60);
  --button-text-color: var(--color-black);
  --card-bg-color: var(--color-black-12);
  --code-block-box-shadow: 0 0.2rem 0.8rem 0 hsla(0, 0%, 0%, 0.4);
  --form-bg-color: var(--color-black-12);
  --hover-bg-color: var(--color-black-12);
  --inline-code-bg-color: var(--color-black-25);
  --inline-code-text-color: var(--color-white);
  --input-bg-color: var(--color-black-20);
  --input-border-color-focus: var(--color-black-70);
  --input-border-color: var(--input-bg-color);
  --main-bg-color: var(--color-black-8);
  --navbar-bg-color: var(--color-black-12);
  --navbar-box-shadow: 0 0 8px 0 hsla(0, 0%, 0%, 0.8);
  --navbar-link-bg-color-focus: var(--color-black-20);
  --navbar-text-color: var(--color-black-80);
  --scrollbar-thumb-bg-color-focus: var(--color-black-45);
  --scrollbar-thumb-bg-color: var(--color-black-35);
  --scrollbar-track-bg-color: var(--color-black-20);
  --selection-bg-color: var(--color-white);
  --selection-text-color: var(--color-black);
  --table-border-color: var(--color-black-30);
  --table-header-bg-color: var(--color-black-12);
  --table-header-text-color: var(--color-black-90);
  --tag-bg-color-focus: var(--color-black-75);
  --tag-bg-color: var(--color-black-20);
  --tag-text-color-focus: var(--color-black);
  --tag-text-color: var(--color-white);
  --text-color-link: var(--color-white);
  --text-color-soft: var(--color-black-60);
  --text-color-emphasis: var(--color-white);
  --text-color-normal: var(--color-black-75);
}
