@import "./mixins";
@import "./functions";

html {
  --font-size-sm: #{clamped(1.4rem, 1.6rem)};
  --line-height-sm: #{clamped(2.6rem, 2.8rem)};
  --font-size-base: #{clamped(1.6rem, 1.8rem)};
  --line-height-base: #{clamped(2.8rem, 3rem)};
  --font-size-md: #{clamped(1.8rem, 2.2rem)};
  --line-height-md: #{clamped(3rem, 3.5rem)};
  --font-size-lg: #{clamped(2.2rem, 2.6rem)};
  --line-height-lg: #{clamped(3.5rem, 3.8rem)};
  --letter-spacing-lg: -0.02rem;
  --font-size-xl: #{clamped(2.6rem, 3.2rem)};
  --line-height-xl: #{clamped(3.8rem, 4.4rem)};
  --letter-spacing-xl: #{clamped(-0.02rem, -0.03rem)};
  --font-size-xxl: #{clamped(3.2rem, 3.6rem)};
  --line-height-xxl: #{clamped(4.4rem, 4.8rem)};
  --letter-spacing-xxl: #{clamped(-0.03rem, -0.04rem)};
  --font-size-xxxl: #{clamped(3.6rem, 4.8rem)};
  --line-height-xxxl: #{clamped(4.8rem, 6rem)};
  --letter-spacing-xxxl: #{clamped(-0.04rem, -0.05rem)};
  --transition-duration: 0.2s;
  --transition-timing-function: ease;
  --page-max-width: 80rem;
  --navbar-height: #{clamped(6.4rem, 7.6rem)};

  &.light {
    color-scheme: light;

    --color-surface-1: white;
    --color-surface-2: hsl(0deg 0% 95%);
    --color-surface-3: hsl(0deg 0% 92%);
    --color-surface-4: hsl(0deg 0% 20%);
    --color-surface-5: hsl(0deg 0% 10%);
    --color-text-normal: black;
    --color-text-soft: hsl(0deg 0% 35%);
    --color-text-emphasis: black;
    --color-text-inverted: white;
    --color-border-focus: hsl(0deg 0% 30%);
    --color-border: hsl(0deg 0% 80%);
    --aside-bg-color: var(--color-surface-2);
    --button-bg-color-focus: var(--color-surface-4);
    --button-bg-color: var(--color-surface-5);
    --card-bg-color: var(--color-surface-1);
    --code-block-box-shadow: none;
    --form-bg-color: var(--color-surface-2);
    --footer-bg-color: var(--color-surface-5);
    --hover-bg-color: var(--color-surface-2);
    --inline-code-bg-color: var(--color-surface-2);
    --input-bg-color: var(--color-surface-1);
    --main-bg-color: var(--color-surface-1);
    --navbar-bg-color: var(--color-surface-5);
    --navbar-box-shadow: none;
    --navbar-text-color: var(--color-surface-3);
    --navbar-text-bg-color-focus: var(--color-surface-4);
    --navbar-text-color-focus: var(--color-text-inverted);
    --scrollbar-thumb-bg-color: hsl(0deg 0% 70%);
    --scrollbar-track-bg-color: var(--color-surface-3);
    --selection-bg-color: black;
    --table-header-bg-color: var(--color-surface-3);
    --tag-bg-color-focus: var(--color-surface-5);
    --tag-bg-color: var(--color-surface-3);
    --color-code-background: hsl(0deg 0% 95%);
    --color-code-overlay-1: hsl(0deg 0% 88%);
    --color-code-overlay-2: hsl(0deg 0% 80%);
    --color-code-selection: hsl(243.9deg 80.3% 33.9% / 20%);
    --color-code-comment: hsl(0deg 0% 43%);
    --color-code-text: hsl(0deg 0% 0%);
    --color-code-keyword: hsl(233deg 100% 38%);
    --color-code-number: hsl(111deg 100% 24%);
    --color-code-attribute: var(--color-code-text);
    --color-code-string: hsl(8deg 100% 38%);
    --color-code-variable: var(--color-code-keyword);
    --color-code-tag: var(--color-code-keyword);
    --color-code-constant: var(--color-code-number);
    --color-code-punctuation: hsl(0deg 0% 43%);
    --color-code-selector: var(--color-code-string);
  }

  &.dark {
    color-scheme: dark;

    --color-surface-1: hsl(0deg 0% 8%);
    --color-surface-2: hsl(0deg 0% 12%);
    --color-surface-3: hsl(0deg 0% 20%);
    --color-surface-4: hsl(0deg 0% 60%);
    --color-surface-5: hsl(0deg 0% 80%);
    --color-text-normal: hsl(0deg 0% 75%);
    --color-text-soft: hsl(0deg 0% 65%);
    --color-text-emphasis: white;
    --color-text-inverted: black;
    --color-border: hsl(0deg 0% 30%);
    --color-border-focus: hsl(0deg 0% 80%);
    --aside-bg-color: var(--color-surface-3);
    --button-bg-color-focus: var(--color-surface-5);
    --button-bg-color: var(--color-surface-4);
    --card-bg-color: var(--color-surface-2);
    --code-block-box-shadow: 0 0.2rem 0.8rem 0 hsl(0deg 0% 0% / 40%);
    --form-bg-color: var(--color-surface-2);
    --footer-bg-color: var(--color-surface-2);
    --hover-bg-color: var(--color-surface-2);
    --inline-code-bg-color: var(--color-surface-3);
    --input-bg-color: var(--color-surface-3);
    --main-bg-color: var(--color-surface-1);
    --navbar-bg-color: var(--color-surface-2);
    --navbar-box-shadow: 0 -0.2rem 0.8rem hsl(0deg 0% 0% / 40%);
    --navbar-text-color: var(--color-surface-5);
    --navbar-text-bg-color-focus: var(--color-surface-3);
    --navbar-text-color-focus: var(--color-text-emphasis);
    --scrollbar-thumb-bg-color: var(--color-surface-4);
    --scrollbar-track-bg-color: var(--color-surface-3);
    --selection-bg-color: white;
    --table-header-bg-color: var(--color-surface-2);
    --tag-bg-color-focus: var(--color-surface-5);
    --tag-bg-color: var(--color-surface-3);
    --color-code-background: hsl(0deg 0% 12%);
    --color-code-overlay-1: hsl(0deg 0% 25%);
    --color-code-overlay-2: hsl(0deg 0% 60%);
    --color-code-selection: hsl(210deg 100% 84% / 15%);
    --color-code-comment: hsl(101deg 29% 47%);
    --color-code-text: hsl(0deg 0% 83%);
    --color-code-keyword: hsl(207deg 61% 59%);
    --color-code-number: hsl(99deg 28% 73%);
    --color-code-attribute: hsl(201deg 98% 80%);
    --color-code-string: hsl(17deg 47% 64%);
    --color-code-variable: var(--color-code-keyword);
    --color-code-tag: var(--color-code-keyword);
    --color-code-constant: var(--color-code-number);
    --color-code-punctuation: #8a8a8a;
    --color-code-selector: hsl(41deg 53% 67%);
  }
}
