#cube {
  row-gap: 3.2rem;
}

.cube {
  --cube-size: 9vw;
  --cube-border-thickness: calc(var(--cube-size) / 100);
  width: var(--cube-size);
  height: var(--cube-size);
  transform-style: preserve-3d;
  perspective: calc(var(--cube-size) * 3);
  position: relative;
  color: var(--color-black);
  transform: rotateY(17deg) translateX(-30%);
}

.cube-face {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: calc(var(--cube-size) / 8);
  display: flex;
  align-items: center;
  justify-content: center;

  &.top {
    border: var(--cube-border-thickness) solid red;
    background-color: hsla(0, 100%, 80%, 0.5);
    transform: rotateX(90deg);
    transform-origin: top;
  }

  &.front {
    background-color: rgba(210, 231, 255, 0.5);
    transform: translateZ(var(--cube-size));
  }

  &.left {
    border: var(--cube-border-thickness) solid green;
    background-color: rgba(224, 255, 210, 0.5);
    transform: rotateY(-90deg);
    transform-origin: left;
  }

  &.back {
    border: var(--cube-border-thickness) solid orange;
    background-color: rgba(255, 235, 181, 0.5);
    transform: rotateY(180deg);
  }

  &.right {
    transform: rotateY(90deg);
    transform-origin: right;
    background-color: rgba(210, 231, 255, 0.5);
    border: var(--cube-border-thickness) solid blue;
  }

  &.front {
    border: var(--cube-border-thickness) solid black;
    background-color: hsla(0, 0%, 100%, 0.5);
    transform: translateZ(var(--cube-size));
  }

  &.bottom {
    border: var(--cube-border-thickness) solid purple;
    background-color: rgba(128, 0, 128, 0.5);
    transform: rotateX(-90deg);
    transform-origin: bottom;
  }
}
