@import 'mixins';
@import 'fonts';

#artwork-page-header {
  text-align: center;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;

  .title {
    font-size: 4.8rem;
    line-height: 1.8;
    text-shadow: 0.4rem 0.4rem black;
    max-width: fit-content;
    margin: 0 auto 1.6rem auto;
    position: relative;
    @include font-family('cursive-title');

    @keyframes subtitle-pulse {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(1.1);
      }
    }

    &::after {
      content: 'Best viewed in Chrome!';
      text-shadow: none;
      vertical-align: top;
      position: absolute;
      right: 0;
      bottom: -2em;
      left: 0;
      animation: subtitle-pulse 1s ease infinite alternate-reverse;
      @include font-size(1);
      @include font-weight('regular');
      @include font-family('cursive-body');

      @include mobile-lg {
        @keyframes subtitle-pulse {
          from {
            transform: rotate(2deg) scale(1);
          }
          to {
            transform: rotate(2deg) scale(1.1);
          }
        }

        left: unset;
        bottom: unset;
        top: -0.8rem;
        right: -10rem;
        transform: rotate(2deg);
      }
    }
  }
}

#artwork-list {
  list-style: none;
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-auto-flow: dense;

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }
}

.artwork {
  display: grid;
  place-items: center;
  grid-template-columns: minmax(0, 1fr);
  position: relative;

  &::after {
    @keyframes popin {
      0% {
        transform: scale(0);
      }
      60% {
        transform: scale(1.1);
      }
    }

    content: attr(aria-label);
    transform: scale(0);
    display: block;
    position: absolute;
    bottom: 0.25vw;
    text-align: center;
    max-width: 30ch;
    line-height: 1.2;
    font-size: 2.4rem;
    @include font-family('cursive-body');
  }

  &:hover,
  &:focus-within {
    &::after {
      animation: popin 0.3s ease-in;
      transform: scale(1);
    }
  }
}
