@import 'mixins';
@import 'fonts';
@import 'pages/art/theKnight';
@import 'pages/art/wanderingHusk';
@import 'pages/art/cuphead';
@import 'pages/art/goopy';
@import 'pages/art/cube';
@import 'pages/art/smirkingEmoji';
@import 'pages/art/thinkingEmoji';
@import 'pages/art/smileEmoji';
@import 'pages/art/stickyNote';
@import 'pages/art/heart';
@import 'pages/art/loadingOrbs';

#artwork-page-header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .title {
    font-size: 3rem;
    font-family: Rock Salt, $font-family-normal;
    text-shadow: 4px 4px black;
  }

  .subtitle {
    font-style: italic;
    max-width: 50ch;
    margin: 0 auto;
    font-family: $font-family-cursive;
    @include font(4);
  }
}

#artwork-list {
  list-style: none;
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-auto-flow: dense;

  @media screen and (min-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }
}

.artwork {
  display: flex;
  align-items: center;
  justify-content: center;
}
