// Reference image: https://static.wikia.nocookie.net/hollowknight/images/9/96/Wandering_Husk_Idle.png/revision/latest/scale-to-width-down/105?cb=20181128210129
// The Wandering Husk enemy from Hollow Knight

.wanderingHusk {
    --bellyColor: #5E6275;
    --shellColor: #39435B;
    --faceColor: #CABFC6;
    --eyeColor: #DE7C4D;

    width: 11.44vmin;
    height: 13.6vmin;
    border: solid 0.5vmin black;
    border-bottom-width: 0.7vmin;
    border-radius: 50% 90% 55% 70%;
    transform-style: preserve-3d;
    perspective: 3vmin;
    background-image: radial-gradient(circle at 6% 82%, var(--bellyColor) 54%, black 54%, black 58%, var(--shellColor) 58%);
}

/* Segment lines */
.wanderingHusk::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -0.3vmin;
    top: 0;
    border-radius: 50% 90% 70% 70%;
    z-index: -1;
    background-image: radial-gradient(ellipse at 15% 35%, transparent 34%, transparent 55%, black 55%, black 59%, transparent 59%, transparent 78%, black 78%, black 82%, transparent 82%);
    transform: rotate(12deg);
}

/* Lone segment line */
.wanderingHusk::before {
    content: '';
    display: block;
    width: 5vmin;
    height: 3vmin;
    border-right: 0.5vmin solid transparent;
    border-left: 0.2vmin solid transparent;
    border-bottom: 0.5vmin solid black;
    border-radius: 50% 50% 50% 45%;
    right: -1.2vmin;
    position: absolute;
    transform: rotate(-70deg);
    bottom: 2.8vmin;
}

.wanderingHusk-head {
    width: 8.8vmin;
    height: 7.2vmin;
    border-radius: 50% 45% 50% 50%;
    transform: rotate(-48deg);
    border: solid 0.5vmin black;
    position: absolute;
    left: -2.5vmin;
    top: 0.3vmin;
    background-color: var(--faceColor);
}

.wanderingHusk-eye.right {
    position: absolute;
    background-color: var(--eyeColor);
    position: absolute;
    border-radius: 50%;
    width: 0.9vmin;
    height: 0.9vmin;
    transform: rotate(15deg);
    transform-style: preserve-3d;
    perspective: 1vmin;
    right: 4vmin;
    bottom: 1.4vmin;
}

.wanderingHusk-eye.right::after {
    content: '';
    display: block;
    position: absolute;
    background-color: black;
    position: absolute;
    border-radius: 50%;
    width: 2.5vmin;
    height: 3.5vmin;
    left: 0.2vmin;
    transform: translateZ(-0.1vmin) translateX(-35%) translateY(30%);
    bottom: 0.3vmin;
}

.wanderingHusk-eye.left {
    position: absolute;
    background-color: var(--eyeColor);
    position: absolute;
    border-radius: 50%;
    width: 0.6vmin;
    height: 0.6vmin;
    transform: rotate(19deg);
    transform-style: preserve-3d;
    perspective: 1vmin;
    left: 0.4vmin;
    bottom: 2.9vmin;
}

.wanderingHusk-eye.left::after {
    content: '';
    display: block;
    position: absolute;
    background-color: black;
    position: absolute;
    border-radius: 50%;
    width: 1.2vmin;
    height: 2.9vmin;
    transform: translateZ(-0.1vmin) translateX(-23%) translateY(35%);
    bottom: 0.3vmin;
}

.wanderingHusk-leg.right {
    border-right: solid 1.2vmin black;
    height: 5vmin;
    width: 1.5vmin;
    border-radius: 0% 0% 60% 40%;
    position: absolute;
    bottom: -3.8vmin;
    right: 1.8vmin;
    transform: translateZ(-0.1vmin) rotate(4deg);
}

.wanderingHusk-leg.left {
    border-left: solid 1.2vmin black;
    border-bottom: solid 0.1vmin transparent;
    height: 5vmin;
    width: 1.5vmin;
    border-radius: 0% 0% 50% 80%;
    position: absolute;
    bottom: -3.8vmin;
    left: 3.5vmin;
    transform: translateZ(-0.1vmin) rotate(-8deg);
}

.wanderingHusk-arm.right {
    border-left: solid 0.9vmin black;
    border-top: solid 0.2vmin transparent;
    border-bottom: solid 0.2vmin transparent;
    height: 3.6vmin;
    width: 1.5vmin;
    border-radius: 30% 30% 50% 100%;
    position: absolute;
    right: 3.3vmin;
    top: 7.8vmin;
    transform: rotate(-5deg);
}

.wanderingHusk-arm.right::before {
    content: '';
    display: block;
    position: absolute;
    width: 0.9vmin;
    height: 0.9vmin;
    border-radius: 50%;
    background-color: black;
    left: -0.9vmin;
    top: -0.4vmin;
}

.wanderingHusk-arm.left {
    border-left: solid 1vmin black;
    border-bottom: solid 0.1vmin trnsparent;
    border-right: solid 0.4vmin transparent;
    height: 3.5vmin;
    width: 1.4vmin;
    border-radius: 100% 30% 50% 200%;
    position: absolute;
    left: 0vmin;
    top: 9vmin;
    transform: rotate(-8deg) translateZ(-0.1vmin);
}
