@use '../functions';

.button {
  --color-bg-button: transparent;
  --color-fg-button: currentcolor;
  padding: functions.token('size', 'spacing', '-2') functions.token('size', 'spacing', '0');
  border-radius: functions.token('size', 'spacing', '-4');
  text-decoration: none;
  background-color: var(--color-bg-button);
  color: var(--color-fg-button);
  border: solid;
}

.button.secondary {
  --color-bg-button: #{functions.token('color', 'surface', '0')};
  --color-fg-button: #{functions.token('color', 'accent', '0')};
  border-color: var(--color-fg-button);

  &:is(:focus-visible, :hover) {
    --color-bg-button: #{functions.token('color', 'accent', '1')};
    --color-fg-button: #{functions.token('color', 'text', 'inverted')};
    border-color: var(--color-bg-button);
  }
}

.button.primary {
  --color-bg-button: #{functions.token('color', 'accent', '0')};
  --color-fg-button: #{functions.token('color', 'text', 'inverted')};
  border-color: var(--color-bg-button);

  &:is(:focus-visible, :hover) {
    --color-bg-button: #{functions.token('color', 'accent', '1')};
  }
}
