@use '../../partials/functions';
@use '../../partials/mixins';

carousel-root {
  display: block;
  position: relative;
}

carousel-scroll {
  display: block;

  /* Enable horizontal scrolling */
  overflow-x: auto;

  /* Enable horizontal scroll snap */
  scroll-snap-type: x proximity;

  /* Smoothly snap from one focal point to another */
  scroll-behavior: smooth;
}

carousel-scroll > * {
  padding: 0 !important;
  list-style: none;
  display: flex;
  gap: functions.token('size', 'spacing', '0');
}

[data-scroll-snap-align='start'] {
  scroll-snap-align: start;
}

[data-scroll-snap-align='center'] {
  scroll-snap-align: center;
}

[data-scroll-snap-align='end'] {
  scroll-snap-align: end;
}

carousel-root [data-scroll-snap-align] {
  margin: 0;

  /* Limit the height of each media item */
  height: 300px;

  /* Prevent media from shrinking */
  flex-shrink: 0;

  & > *,
  & :is(figure, picture, img) {
    height: 100%;
  }

  & img {
    /* Responsive width based on aspect ratio */
    width: auto;
  }
}

carousel-root figure {
  position: relative;
}

carousel-root figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: functions.token('size', 'spacing', '-3');
  text-align: center;
  color: white;
  background-color: hsl(0deg 0% 0% / 75%);
  @include mixins.font($size: 'xs');

  a {
    --outline-color: currentcolor;
    color: inherit;
    text-decoration-color: currentcolor;
  }
}

carousel-navigation button {
  --offset-x: #{functions.token('size', 'spacing', '-3')};
  cursor: pointer;

  /* Anchor the controls relative to the outer wrapper */
  position: absolute;

  /* Center the controls vertically */
  top: 50%;
  padding: functions.token('size', 'spacing', '0');
  transform: translateY(-50%);
  border-radius: 50%;
  border: solid 1px hsl(0deg 0% 50%);
  background-color: white;
  color: black;
  box-shadow: 0 0 16px 0 hsl(0deg 0% 0% / 20%);
  line-height: 0;
}

carousel-navigation button:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 2px black,
    0 0 0 4px white;
}

/* Don't allow icons to be event targets */
/* stylelint-disable-next-line no-descending-specificity */
carousel-navigation button * {
  pointer-events: none;
}

carousel-navigation button[data-direction='start'] {
  /* Same as left in LTR and right in RTL */
  inset-inline-start: var(--offset-x);
}

carousel-navigation button[data-direction='end'] {
  /* Same as right in LTR and left in RTL */
  inset-inline-end: var(--offset-x);
}

[dir='rtl'] carousel-navigation button[data-direction] {
  transform: translateY(-50%) scale(-1);
}

carousel-navigation button[aria-disabled='true'] {
  filter: opacity(0.5);
  cursor: not-allowed;
}

carousel-root[mode='slideshow'] carousel-scroll {
  /* Mandatory scroll snap is more consistent for a slideshow */
  scroll-snap-type: x mandatory;
}

carousel-root[mode='slideshow'] .carousel-media {
  /* No gap in slideshows */
  gap: 0;
}

carousel-root[mode='slideshow'] [data-scroll-snap-align] {
  /* Full-width slides, taller height */
  height: 90vmin;
  width: 100%;
}

carousel-root[mode='slideshow'] [data-scroll-snap-align] > *,
carousel-root[mode='slideshow'] [data-scroll-snap-align] :is(figure, picture, img) {
  /* Cover the full slide */
  width: 100%;
  height: 100%;
}

carousel-root[mode='slideshow'] [data-scroll-snap-align] img {
  /* Crop and center overflowing images */
  object-fit: cover;
  object-position: center;
}
