@use "../functions";

// Inline code and kbd
:is(code, kbd):not([class^="language-"]) {
  --color-inline-code-bg: light-dark(#{functions.color("surface", "2")}, #{functions.color("surface", "3")});
  color: functions.color("text", "emphasis");
  background-color: var(--color-inline-code-bg);
  border-radius: functions.size("spacing", "-3");
  padding: functions.size("relative", "-3");
}
