@use 'sass:math';
@use '../functions';
@use '../mixins';

#comments {
  --rhythm: 1.75lh;
  padding-top: var(--rhythm);
  border-top: solid 1px functions.token('color', 'border', '0');
}

#comments-placeholder {
  min-block-size: calc(60rem / 16);
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-comment {
  &-meta > * {
    display: inline;
    vertical-align: middle;
  }

  &-avatar {
    width: functions.token('size', 'spacing', '5');
  }

  &-username {
    @include mixins.font($family: 'body', $weight: 'bold');
  }

  &-edited {
    font-style: italic;
  }

  &-author {
    border-radius: functions.token('size', 'spacing', '-4');
    padding: functions.token('size', 'spacing', '-3') functions.token('size', 'spacing', '-2');
  }

  &-body {
    ul {
      list-style: disc;
    }

    @include mixins.headings {
      @include mixins.font($size: 'base');
    }
  }
}

#comments-count {
  color: functions.token('color', 'text', 'soft');
  vertical-align: middle;
  padding-inline-start: 0.25ch;
  @include mixins.font($size: 'base');
}
