@use '../functions';

details {
  summary {
    cursor: pointer;
    background-color: functions.token('color', 'surface', '1');
  }

  summary,
  .details-content {
    padding: functions.token('size', 'spacing', '2') functions.token('size', 'spacing', '3');
    border: 1px solid functions.token('color', 'border', '0');
  }

  .details-content {
    border-top: none;
  }
}
