@use '../mixins';
@use '../functions';

figure {
  gap: functions.token('size', 'spacing', '-2');
  display: flex;
  flex-direction: column;
}

figcaption {
  text-align: center;
  max-width: 65ch;
  margin-inline: auto;
  @include mixins.font($size: 'xs');
}
