@use '../mixins';
@use '../functions';

.float {
  --spacing: #{functions.token('size', 'spacing', '-2')};
  margin-block-end: var(--spacing);

  &.right {
    margin-inline-start: var(--spacing);
    float: right;
  }
}
