@use "../mixins";
@use "../functions";

.float {
  --spacing: #{functions.size("spacing", "-2")};
  margin-block-end: var(--spacing);
  
  &.right {
    margin-inline-start: var(--spacing);
    float: right;
  }
}
