@use "../functions";
@use "../mixins";

body > footer {
  background-color: functions.color("surface", "1");
  color: functions.color("text", "emphasis");
  text-align: center;
  text-wrap: balance;
  padding-block: functions.size("spacing", "5");

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: functions.size("spacing", "-1");
  }

  .end {
    align-items: center;
  }

  .links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: functions.size("spacing", "0");
  }

  @include mixins.mobile-lg {
    padding-block: functions.size("spacing", "5");
  }

  @include mixins.tablet-sm {
    text-align: start;

    .container {
      align-items: end;
      flex-direction: row;
      justify-content: space-between;
    }

    .end {
      align-items: end;
    }
  }
}
