@use "../functions";
@use "../mixins";

.page-footer {
  @include mixins.theme-light {
    --color-footer-bg: #{functions.color("surface", "8")};
  }

  @include mixins.theme-dark {
    --color-footer-bg: #{functions.color("surface", "2")};
  }

  color-scheme: dark;
  background-color: var(--color-footer-bg);
  color: white;
  text-align: center;
  padding-block: functions.size("spacing", "5");
  accent-color: currentcolor;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: functions.size("spacing", "-1");
  }

  &-end {
    align-items: center;
  }

  &-socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: functions.size("spacing", "0");
  }

  @include mixins.mobile-lg {
    padding-block: functions.size("spacing", "5");
  }

  @include mixins.tablet-sm {
    text-align: start;

    &-container {
      align-items: end;
      flex-direction: row;
      justify-content: space-between;
    }

    &-end {
      align-items: end;
    }
  }

  h2 {
    color: inherit;
  }
}
