@use "../mixins";
@use "../functions";

body > header {
  /* Body is a flex container. Without this, the navbar may shrink vertically due to the presence of a horizontal scrollbar. */
  flex-shrink: 0;
  padding-block: functions.size("spacing", "0");
  overflow-x: auto;
  white-space: nowrap;

  a {
    text-decoration: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: functions.size("spacing", "0");
  }

  a[href="/"] {
    display: flex;
    gap: functions.size("spacing", "-3");
    align-items: center;
    padding: functions.size("spacing", "-2");
    @include mixins.font($family: "body", $weight: "bold");
  }

  .logo {
    width: functions.size("spacing", "4");
  }

  .site-name {
    @include mixins.screen-reader-only;
  }

  .links {
    width: 100%;
    display: flex;
    align-items: center;
    gap: functions.size("relative", "-3");

    > :first-child {
      flex-shrink: 0;
      margin-inline-end: auto;
    }
  }

  a:not([href="/"]) {
    padding: functions.size("relative", "-2") functions.size("relative", "-1");

    &:is(:focus-visible, :hover, [aria-current="page"]) {
      background-color: functions.color("surface", "2");
    }
  }

  @include mixins.mobile-lg {
    padding-block: functions.size("spacing", "4");
    position: unset;

    .site-name {
      position: unset;
      @include mixins.screen-reader-only-unset;
    }
  }
}
