@use "../mixins";
@use "../functions";

.pagination {
  &-trail {
    justify-content: flex-end;
  }

  &-page {
    min-width: functions.size("spacing", "5");
    padding: functions.size("spacing", "-4") functions.size("spacing", "-1");
    border-radius: functions.size("spacing", "-3");
    display: flex;
    justify-content: center;
    @include mixins.font($size: "base");
  }
}
