@use "../mixins";
@use "../functions";

.pill-group {
  display: flex;
  flex-wrap: wrap;
  gap: functions.size("spacing", "-2");
}

.pill {
  text-decoration: none;
  display: inline-flex;
  align-items: baseline;
  background-color: functions.color("surface", "2");
  color: functions.color("text", "emphasis");
  padding: functions.size("spacing", "-3") functions.size("spacing", "0");
  @include mixins.font($family: "mono", $weight: "regular");

  &[data-shape="round"] {
    border-radius: functions.size("spacing", "8");
  }

  &[data-size="sm"] {
    padding: functions.size("spacing", "-3") functions.size("spacing", "-2");
    @include mixins.font($size: "sm");
  }

  &-count {
    @include mixins.font($size: "xs");
  }
}

// Because not all pills are links/interactive (see project cards)
a.pill {
  --color-focus-bg: #{functions.color("text", "emphasis")};
  --outline-color: var(--color-focus-bg);
  --outline-offset: var(--outline-thickness);

  &:is(:focus-visible, :hover, [aria-current="page"]) {
    background-color: var(--color-focus-bg);
    color: functions.color("text", "inverted");
  }
}
