@use '../functions';
@use '../mixins';

.post-preview {
  border-radius: functions.token('size', 'spacing', '-3');
  background-color: functions.token('color', 'surface', '1');
  padding: functions.token('size', 'relative', '2');
  position: relative;

  &-link {
    text-decoration-line: none;
    outline: none;
  }

  &:has(&-link:focus-visible) {
    outline: solid calc(3rem / 16) functions.token('color', 'accent', '0');
  }

  &-date {
    @include mixins.font($size: 'sm');
  }

  &-date {
    color: functions.token('color', 'text', 'soft');
  }

  &-title {
    margin-top: functions.token('size', 'spacing', '-3');
    @include mixins.font($size: 'lg');
  }

  &-description {
    margin-top: functions.token('size', 'spacing', '-2');
    // Tighten line height due to short line length
    @include mixins.font($size: 'base', $leading: 'sm');
  }

  &-tags {
    display: none;
  }

  &-tag {
    border-radius: functions.token('size', 'spacing', '-3');
  }

  @include mixins.tablet-sm {
    &-title {
      line-height: functions.token('size', 'leading', '2xs');
    }
  }

  @include mixins.desktop {
    &-tags {
      display: flex;
      flex-wrap: wrap;
      gap: functions.token('size', 'spacing', '-2');
      margin-top: functions.token('size', 'spacing', '2');
    }
  }
}
