@use "../functions";
@use "../mixins";

.post {
  counter-reset: footnotes;
  max-width: calc(700rem / 16);

  &-title {
    margin-bottom: functions.size("spacing", "-1");
  }

  &-date {
    color: functions.color("text", "soft");
    margin-bottom: functions.size("spacing", "-3");
    @include mixins.font($size: "sm");

    dt,
    dd {
      display: inline-block;
    }
  }

  &-tag {
    padding: functions.size("spacing", "-3") functions.size("spacing", "-2");
    border-radius: functions.size("spacing", "-4");
  }

  img {
    margin-inline: auto;
  }
}
