@use "../functions";
@use "../mixins";

.post-preview {
  border-radius: functions.size("spacing", "-3");
  background-color: functions.color("surface", "1");
  padding: functions.size("relative", "2");
  position: relative;
  text-wrap: balance;

  // Pseudo-element trick to make the whole card clickable. Good on mobile so users don't have to worry about tapping links precisely
  &-link {
    // Enlarge mouse target
    display: block;
    text-decoration-line: none;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &-date,
  &-tags {
    @include mixins.font($size: "sm");
  }

  &-date {
    color: functions.color("text", "soft");
  }

  &-title {
    margin-top: functions.size("spacing", "-3");
    @include mixins.font($size: "lg");
  }

  &-description {
    margin-top: functions.size("spacing", "-2");
    // Tighten line height due to short line length
    @include mixins.font($size: "base", $leading: "sm");
  }

  &-tags {
    display: none;
  }

  @include mixins.tablet-sm {
    &-title {
      line-height: functions.size("leading", "2xs");
    }
  }

  @include mixins.desktop {
    &-tags {
      display: flex;
      flex-wrap: wrap;
      gap: functions.size("spacing", "-3") functions.size("spacing", "-2");
      margin-top: functions.size("spacing", "0");
    }

    a {
      text-decoration-line: underline;
      text-decoration-color: functions.color("surface", "6");

      &:is(:hover, :focus-visible) {
        text-decoration-color: inherit;
      }
    }

    // On desktop, we don't want the link to cover the entire card, or it creates a somewhat annoying UX where hovering from one tag to another causes the card link underline to flicker on/off.
    &-link {
      &::after {
        content: none;
      }
    }
  }
}
