@use "../functions";
@use "../mixins";

.post-preview {
  border-radius: functions.size("spacing", "-3");
  background-color: functions.color("surface", "1");
  padding: functions.size("relative", "2");
  position: relative;

  &:hover {
    background-color: functions.color("surface", "2");
  }

  &:has(a:focus-visible) {
    outline: calc(4rem / 16) solid functions.color("accent", "0");
  }

  a {
   text-decoration: none;
   outline: none;
  }

  &-date {
    @include mixins.font($size: "sm");
  }

  &-date {
    color: functions.color("text", "soft");
  }

  &-title {
    margin-top: functions.size("spacing", "-3");
    @include mixins.font($size: "lg");
  }

  &-description {
    margin-top: functions.size("spacing", "-2");
    // Tighten line height due to short line length
    @include mixins.font($size: "base", $leading: "sm");
  }

  @include mixins.tablet-sm {
    &-title {
      line-height: functions.size("leading", "2xs");
    }
  }
}
