@use '../functions';
@use '../mixins';

.project {
  position: relative;
  gap: 0;
  border: solid 1px functions.token('color', 'border', '0');

  &:focus-within {
    outline: solid 3px functions.token('color', 'accent', '0');
    outline-offset: 3px;
  }

  img {
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.9);
  }

  &:is(:hover, :focus-within) {
    img {
      filter: brightness(1);
    }
  }

  figcaption {
    background-color: black;
    padding: 1ch;
    margin: 0;
    color: white;

    a {
      text-decoration: none;
      outline: none;
      color: inherit;
    }
  }
}
