@use '../functions';
@use '../mixins';

table {
  border-collapse: collapse;
  font-variant-numeric: tabular-nums;
}

caption {
  text-align: start;
  margin-bottom: functions.token('size', 'spacing', '-2');
  @include mixins.font($size: 'sm');
}

th {
  white-space: nowrap;
}

:is(td, th) {
  text-align: start;
  padding: functions.token('size', 'spacing', '-1');
  border: solid 0.75px functions.token('color', 'border', '0');

  &.numeric {
    text-align: end;
  }
}

thead {
  background-color: functions.token('color', 'surface', '1');
}
