@use "../functions";
@use "../mixins";

.theme-picker {
  accent-color: functions.color("accent", "0");

  fieldset {
    border: none;
  }

  legend {
    font-variant: small-caps;
    letter-spacing: functions.size("tracking", "md");
    @include mixins.font($family: "body", $weight: "bold");
  }

  label {
    display: block;
    font-weight: unset;
  }
}
