@use '../functions';
@use '../mixins';

.theme-picker {
  fieldset {
    border: none;
  }

  legend {
    font-variant: small-caps;
    letter-spacing: functions.token('size', 'tracking', 'md');
    @include mixins.font($family: 'body', $weight: 'bold');
  }

  label {
    display: block;
    font-weight: unset;
  }
}
