@use "../functions";

.toc-list {
  list-style: disc; // some headings have numbers already
  padding-inline-start: functions.size("relative", "2");

  li {
    margin-top: functions.size("spacing", "-2");
  }
}
