@import "../mixins";

.post-aside {
  border-inline-start: spacing(-3) solid;
  padding: spacing(2, true) spacing(3, true);
  background-color: var(--aside-bg-color);
  color: var(--color-text-emphasis);

  code {
    padding: 0;
    background-color: transparent;
  }
}
