@import "../mixins";

.post-aside {
  border-inline-start: spacing(-3) solid;
  padding: spacing(2) spacing(3);
  background-color: var(--color-surface-2);

  code {
    padding: 0;
    background-color: transparent;
  }
}
