@import "../mixins";

.post-aside {
  border-inline-start: #{spacing(-3)} solid;
  padding: clamped(12px, 20px) clamped(16px, 24px);
  background-color: var(--aside-bg-color);
  color: var(--color-text-emphasis);
  @include rhythm;

  code {
    padding: 0;
    background-color: transparent;
  }
}
