@import "../mixins";

.button {
  --outline-offset: var(--outline-thickness);
  --outline-color: var(--color-button-bg);
  background-color: var(--color-button-bg);
  color: var(--color-text-inverted);

  &:is(:focus, :hover) {
    background-color: var(--color-button-bg-focus);
  }
}
