@import "../functions";
@import "../mixins";

.button {
  --outline-offset: var(--outline-thickness);
  --outline-color: var(--color-surface-5);
  background-color: var(--color-surface-5);
  color: var(--color-text-inverted);
  padding: spacing(-2) spacing(0);
  border-radius: 2px;
  text-decoration: none;

  &:is(:focus, :hover) {
    background-color: var(--color-surface-4);
  }
}
