@import "../functions";
@import "../mixins";

.card {
  @include theme-light {
    --color-card-bg: var(--color-surface-1);
  }

  @include theme-dark {
    --color-card-bg: var(--color-surface-2);
  }

  // Expose these to consumers so we don't hard-code the logic here
  --card-padding: #{relative("2")};
  --card-box-shadow-default:
    0 1px 1px hsl(0deg 0% 0% / 12%),
    0 2px 2px hsl(0deg 0% 0% / 12%),
    0 4px 4px hsl(0deg 0% 0% / 12%),
    0 5px 12px hsl(0deg 0% 0% / 12%);
  --card-box-shadow-focus:
    0 2px 2px hsl(0deg 0% 0% / 12%),
    0 4px 4px hsl(0deg 0% 0% / 12%),
    0 8px 8px hsl(0deg 0% 0% / 12%),
    0 8px 12px hsl(0deg 0% 0% / 12%);
  --card-offset-y-focus: translateY(calc(-1 * #{spacing("-2")}));
  position: relative;
  padding: var(--card-padding);
  background-color: var(--color-card-bg);
  border-radius: spacing("-3");
  box-shadow: var(--card-box-shadow-default);
  transform: none;
  cursor: pointer;

  // Fixes jankiness on Windows
  will-change: transform, box-shadow;
  @include transition(box-shadow, transform);

  &:focus-within {
    outline: solid to-rems(3px) currentcolor;
  }
}
