@use "../mixins";
@use "../functions";

// Inline code and kbd
:is(code, kbd):not([class^="language-"]) {
  @include mixins.theme-light {
    --color-inline-code-bg: var(--color-surface-2);
  }

  @include mixins.theme-dark {
    --color-inline-code-bg: var(--color-surface-3);
  }

  color: var(--color-text-emphasis);
  background-color: var(--color-inline-code-bg);
  border-radius: functions.spacing("-3");
  padding: functions.relative("-3");
}
