@import '../mixins';

code {
  font-size: 0.925em;
  font-weight: 500;
  @include font-family('mono');
}

// Inline code
code:not([class^=language-]) {
  background-color: var(--inline-code-bg-color);
  color: var(--color-text-emphasis);
  border-radius: 0.4rem;
  padding: 0.4rem 0.8rem;
}
