@import "../mixins";

// Inline code
code:not([class^="language-"]) {
  background-color: var(--inline-code-bg-color);
  color: var(--color-text-emphasis);
  border-radius: spacing(-3);
  padding: spacing(-3);
}
