@import "../mixins";

code {
  font-size: 0.82em;
  @include font($family: "code", $weight: "regular");
}

// Inline code
code:not([class^="language-"]) {
  background-color: var(--inline-code-bg-color);
  color: var(--color-text-emphasis);
  border-radius: 0.4rem;
  padding: 0.4rem;
}
