@import "../mixins";

code {
  font-size: 0.82em;
  @include font-family("code");
  @include font-weight("code", "medium");

  :is(strong, h1, h2, h3, h4, h5, h6) & {
    @include font-weight("code", "bold");
  }
}

// Inline code
code:not([class^="language-"]) {
  background-color: var(--inline-code-bg-color);
  color: var(--color-text-emphasis);
  border-radius: var(--sp--3);
  padding: var(--sp--3);
}
