@use 'sass:math';
@import '../mixins';

.comment-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4.8rem;

  h2 {
    margin: 0 !important;
  }
}

.post-comment-button {
  border-radius: 0.4rem;
  padding: 0.4em 0.8em;
  margin: 1em 0;
}

.comments-explanation {
  font-style: italic;
}

#comments-wrapper {
  margin-top: 6.4rem;
}

#comments-placeholder {
  text-align: center;
}

.comments-list {
  list-style: none;
  width: 100%;
  padding: 0 !important;
  display: grid;
  grid-row-gap: 6.4rem !important;
}

$avatar-size: 3.2rem;
$meta-spacing: 0.8rem;

.comment {
  margin-left: $avatar-size + $meta-spacing;
}

.comment-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin-bottom: 1.6rem;
}

.comment-meta {
  margin: 0 $meta-spacing math.div($meta-spacing, 2) 0;
}

.comment-avatar {
  position: absolute;
  width: $avatar-size;
  left: -1 * $avatar-size - $meta-spacing;
  top: calc(-1 * #{$meta-spacing} / 4);
  border-radius: 50% !important;
}

.comment-username {
  color: var(--text-color-emphasis);
  @include font-weight('bold');
  @include underlined-link;
}

.comment-edited {
  font-style: italic;
  @include font-size(-1);
}

.comment-date-posted {
  @include font-size(-1);
}

.comment-author-badge {
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  @include font-size(-2);
}

.comment-body {
  @include rhythm;
  grid-template-columns: minmax(0, 1fr);

  pre {
    white-space: pre-wrap;
  }

  @include headings {
    @include font-size(0);
    margin-top: 0;
  }
}
