@use "sass:math";

@import "../mixins";

.comment-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4.8rem;
  margin-bottom: 1.6rem;
  gap: 1.6rem;
}

.post-comment-button {
  border-radius: 0.4rem;
  padding: 0.8rem 1.6rem;
}

#comments-wrapper {
  margin-top: 6.4rem;
}

#comments-placeholder {
  text-align: center;
}

.comments-list {
  display: grid;
  row-gap: 6.4rem;
  grid-template-columns: minmax(0, 1fr);
  padding: 0;
}

.post-comment {
  --avatar-size: 3.2rem;
  --meta-spacing: 0.8rem;
  padding-inline-start: calc(var(--avatar-size) + var(--meta-spacing));

  &-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin-bottom: 0.8rem;
    gap: var(--meta-spacing);
  }

  &-avatar {
    align-self: flex-start;
    position: absolute;
    width: var(--avatar-size);
    left: calc(-1 * var(--avatar-size) - var(--meta-spacing));
  }

  &-username {
    color: var(--color-text-emphasis);
    @include font($family: "title", $weight: "bold");
    @include underlined-link;
  }

  &-edited {
    font-style: italic;
  }

  &-author {
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    padding: 0.4rem 0.8rem;
  }

  &-body {
    @include rhythm;

    pre {
      white-space: pre-wrap;
    }
    @include headings {
      @include font($size: "base");
    }
  }
}
