@use 'sass:math';
@import '../mixins';

.comment-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4.8rem;
  margin-bottom: 1.6rem;
  gap: 1.6rem;
}

.post-comment-button {
  border-radius: 0.4rem;
  padding: 0.8rem 1.6rem;
}

.comments-explanation {
  font-style: italic;
}

#comments-wrapper {
  margin-top: 6.4rem;
}

#comments-placeholder {
  text-align: center;
}

.comments-list {
  width: 100%;
  padding: 0;
  list-style: none;
  display: grid;
  row-gap: 6.4rem;
  grid-template-columns: minmax(0, 1fr);
}

:not(.token).comment {
  --avatar-size: 3.2rem;
  --meta-spacing: 0.8rem;
  padding-inline-start: calc(var(--avatar-size) + var(--meta-spacing));
}

.comment {
  &-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin-bottom: 1.6rem;
    gap: var(--meta-spacing);
  }

  &-avatar {
    align-self: flex-start;
    position: absolute;
    width: var(--avatar-size);
    left: calc(-1 * var(--avatar-size) - var(--meta-spacing));
    border-radius: 50%;
  }

  &-username {
    color: var(--color-text-emphasis);
    @include font-weight('bold');
    @include underlined-link;
  }

  &-meta {
    @include font-size('sm');
  }

  &-edited {
    font-style: italic;
  }

  &-author-badge {
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    padding: 0.4rem 0.8rem;
  }

  &-body {
    @include rhythm;
    grid-template-columns: minmax(0, 1fr);

    pre {
      white-space: pre-wrap;
    }

    @include headings {
      @include font-size('base');
    }
  }
}
