@use "sass:math";
@use "../functions";
@use "../mixins";

#comments {
  --spacing: calc(1.75 * var(--rhythm));
  padding-top: var(--spacing);
  margin-top: var(--spacing);
  border-top: solid 1px var(--color-border);
}

.comment-button {
  display: flex;
  align-items: center;
  gap: functions.spacing("-2");
}

.post-comment {
  &-meta > * {
    display: inline;
    vertical-align: middle;
  }

  &-avatar {
    width: functions.spacing("5");
  }

  &-username {
    @include mixins.font($family: "body", $weight: "bold");
  }

  &-edited {
    font-style: italic;
  }

  &-author {
    border-radius: functions.spacing("-4");
    padding: functions.spacing("-3") functions.spacing("-2");
  }

  &-body {
    ul {
      list-style: disc;
    }

    @include mixins.headings {
      @include mixins.font($size: "base");
    }
  }
}

#comments-count {
  color: var(--color-text-soft);
  vertical-align: middle;
  padding-inline-start: 0.25ch;
  // reserve a reasonable amount of space ahead of time to prevent layout shifts on mobile
  min-width: 4ch;
  @include mixins.font($size: "base");
}
