@use "../functions";

details {
  summary {
    cursor: pointer;
    background-color: functions.color("surface", "2");
  }

  summary,
  .details-content {
    padding: functions.size("spacing", "2") functions.size("spacing", "3");
    border: functions.size("spacing", "-4") solid functions.color("border", "0");
  }

  .details-content {
    border-top: none;
  }
}
