@import "../mixins";

figure {
  display: grid;
  grid-auto-flow: row;
  row-gap: #{spacing(-2)};
}

figcaption {
  max-width: 70ch;
  margin: 0 auto;
}

figcaption,
cite {
  text-align: center;
  @include font-size("sm");

  &,
  a {
    color: var(--color-text-soft);
  }
}
