@import "../mixins";

figure {
  gap: spacing(-2);
  @include stack;

  img {
    margin-inline: auto;
  }
}

figcaption {
  text-align: center;
  @include font($size: "sm");

  strong {
    @include font($family: "title", $weight: "bold");
  }
}

:is(figcaption, cite) {
  &,
  a {
    color: var(--color-text-soft);
  }
}
