@import "../mixins";

.float {
  --spacing: #{spacing("-2")};
  max-width: to-rems(160px);
  margin-block-end: var(--spacing);

  &.right {
    margin-inline-start: var(--spacing);
    float: right;
  }

  @include mobile-lg {
    max-width: to-rems(190px);
  }
}
