@import "../mixins";

.float {
  float: none;
  margin-block-start: var(--line-height);

  &.left,
  &.right {
    float: none;
  }
  @include mobile-lg {
    & {
      max-width: to-rems(200px);
      margin-block-end: #{spacing(5)};
    }

    &.left {
      margin-inline-end: #{spacing(5)};
      float: left;
    }

    &.right {
      margin-inline-start: #{spacing(5)};
      float: right;
    }
  }
}
