@import "../mixins";

.footnotes {
  &__list {
    list-style: decimal;
    padding-inline-start: 1em;
  }
}

[role="doc-noteref"]::after {
  counter-increment: footnotes;
  content: " [" counter(footnotes) "]";
}
