@import "../mixins";

.page-footer {
  background-color: var(--footer-bg-color);
  color: var(--navbar-text-color);
  align-items: center;
  justify-content: center;
  text-align: center;

  &-container {
    display: flex;
    flex-direction: column;
    gap: var(--sp-5);
    justify-content: space-between;
    padding-top: var(--sp-5);
    padding-bottom: var(--sp-5);
  }

  &-title {
    color: white;
    margin-bottom: var(--sp--2);
  }

  &-subtitle {
    margin-bottom: var(--sp--2);
  }

  &-copyright {
    color: hsl(0deg 0% 70%);
  }

  &-links {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    gap: var(--sp-3);
  }

  &-pages,
  &-socials {
    display: flex;
    align-items: center;
    gap: var(--sp-3);
  }

  &-socials svg {
    aspect-ratio: 1;
    width: var(--sp-3);
    fill: currentColor;
  }

  &-link {
    --outline-offset: var(--outline-thickness);
    color: var(--navbar-text-color);
    display: flex;
    @include underlined-link($initially-underlined: false);
  }
  @include tablet {
    & {
      text-align: start;
    }

    &-container {
      flex-direction: row;
      gap: var(--sp-0);
    }

    &-links {
      justify-content: center;
      align-items: flex-end;
    }
  }
}
