@import '../mixins';

.footnotes {
  @include rhythm;

  &__list {
    list-style: decimal;
  }

  &__ref {
    @include underlined-link($initially-underlined: true);
  }
}

[role="doc-noteref"]::after {
  counter-increment: footnotes;
  content: ' [' counter(footnotes) ']';
}
