@import "../mixins";

.page-footer {
  background-color: var(--color-footer-bg);
  color: white;
  text-align: center;
  padding-block: spacing(5);

  h2,
  a {
    color: white;
  }

  svg {
    aspect-ratio: 1;
    width: spacing(3);
    fill: currentcolor;
  }

  @include tablet {
    & {
      text-align: start;
    }

    &-socials {
      justify-content: flex-end;
    }
  }
}
