@use "../functions";

.footnotes {
  &__list {
    list-style: decimal;
    padding-inline-start: functions.relative("0");
  }
}

[role="doc-noteref"]::after {
  counter-increment: footnotes;
  content: " [" counter(footnotes) "]";
}
