@import '../mixins';

img {
  height: auto;
  width: 100%;
}

.lazy-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lazy-img {
  --transition-duration: 0.3s;
  --transition-timing-function: ease-in;
  filter: blur(0.8rem);
  @include transition(filter);
}

:is(.loaded, .failed-to-load) .lazy-img {
  filter: initial;
}

.dark :is(.loaded, .failed-to-load) .lazy-img {
  filter: blur(0) brightness(0.85);
}
