@import "../mixins";

.input {
  background-color: var(--input-bg-color);
  border: solid 0.1rem var(--color-border);
  border-radius: 0.2rem;
  color: var(--color-text-emphasis);
  padding: 0.2rem 0.8rem;

  &:focus {
    outline: solid 0.2rem var(--color-border-focus);
    border-color: var(--color-border-focus);
  }
}

label {
  color: var(--color-text-emphasis);
  @include font($family: "title", $weight: "bold");

  &.required::after {
    content: "*";
    margin: 0 0.4rem;
    vertical-align: middle;
  }
}
