@import "../functions";
@import "../mixins";

.input {
  background-color: var(--input-bg-color);
  border: solid 1px var(--color-border);
  border-radius: var(--sp--4);
  color: var(--color-text-emphasis);
  padding: var(--sp--3) var(--sp--2);

  &:focus {
    outline: solid var(--sp--4) var(--color-border-focus);
    border-color: var(--color-border-focus);
  }
}

label {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--sp--3);
  align-items: center;

  &[data-flow="horizontal"] {
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
  }

  &.required .label-title::after {
    content: "*";
    margin: 0 var(--sp--3);
    vertical-align: middle;
  }
}
