@import '../mixins';

.input {
  background-color: var(--input-bg-color);
  border: solid 0.1rem var(--border-color);
  border-radius: 0.2rem;
  color: var(--text-color-emphasis);
  padding: 0.2rem 0.8rem;
  width: 100%;

  &:focus {
    outline: solid 0.2rem var(--border-color-focus);
    border-color: var(--border-color-focus);
  }
}

label {
  color: var(--text-color-emphasis);
  @include font-weight('bold');

  &.required::after {
    content: '*';
    margin: 0 0.4rem;
    vertical-align: middle;
  }
}
