.footnotes__list,
.list {
  --gap: 0.4rem;
  display: grid;
  gap: var(--gap);
  padding-inline-start: clamped(2.4rem, 4.8rem);

  li {
    .list {
      margin-top: var(--gap);
    }
  }
}

ol.list {
  list-style: decimal;
}

ul.list {
  list-style: disc;
}
