@import "../mixins";

.post-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  position: relative;
  @include font($family: "body", $size: "sm");

  &-stats {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &-tags {
    --gap: 0.6rem;
  }

  &-tag {
    @include font($family: "code", $weight: "medium");
  }
}
