@import "../mixins";

.post-meta {
  &-date {
    color: var(--color-text-emphasis);
  }

  &-tag {
    display: flex;

    &::before {
      content: "#";
      user-select: none;
    }

    &::after {
      user-select: none;
      content: ",";
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp--2);

    li:last-of-type .post-meta-tag::after {
      content: none;
    }
  }
}
