@import '../mixins';

.post-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.6rem;
  position: relative;
  @include font($family: 'main', $weight: 'light', $size: 'sm');

  &-item {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  &-icon {
    height: 1.6rem;
    width: 1.6rem;
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
  }

  &-tag {
    display: flex;
    align-items: center;
    padding: 0.6rem 1.2rem;
    border-radius: 0.4rem;
  }
}

.author-photo {
  --size: 4.4rem;
  height: var(--size);
  width: var(--size);

  img {
    border-radius: 50%;
  }
}

.skip-post-meta-tags {
  background: var(--main-bg-color);
  padding: 0.8rem 1.6rem;
  color: var(--color-text-emphasis);
  @include font($family: 'main', $weight: 'bold');
}
