@import '../mixins';

.post-meta {
  --post-meta-item-spacing: 1.6rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  @include font-size(-2);
  @include font-weight('light');
}

.post-meta-item {
  margin: 0 var(--post-meta-item-spacing) var(--post-meta-item-spacing) 0;
}

.post-meta-icon {
  height: 1.6rem;
  width: 1.6rem;
}

.author-photo {
  --size: 4.4rem;
  gap: 0;
  height: var(--size);
  width: var(--size);

  * {
    border-radius: 50%;
  }
}

.post-date-published,
.post-date-updated,
.post-reading-length {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.4rem;
}

.skip-post-meta-tags {
  background: var(--main-bg-color);
  padding: 0.8rem 1.6rem;
  color: var(--text-color-normal);
  @include font-weight('bold');
}

.post-meta-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.post-meta-tag {
  display: flex;
  align-items: center;
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
}
