@import "../mixins";

.post-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1.6rem;
  row-gap: 1.2rem;
  position: relative;
  @include font($family: "body", $size: "sm");

  &-item {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  &-icon {
    height: 1.6rem;
    width: 1.6rem;
  }

  &-tags {
    --gap: 0.8rem;
  }
  @include tablet {
    row-gap: 1.6rem;
  }
}

.author-photo {
  --size: 3.6rem;
  height: var(--size);
  width: var(--size);

  img {
    border-radius: 50%;
  }
}
