@import "../mixins";
@import "../functions";

.skip-navigation {
  top: 50%;
  transform: translate(#{spacing(-2)}, -50%);
  padding: spacing(-2);
  color: inherit;
  z-index: z-index("navbar") + 1;
}

.navbar {
  width: 100%;
  height: 100%;
  color: white;
  @include font-family("title");
  @include font-weight("title", "regular");

  a {
    text-decoration: none;
  }

  &-container {
    display: flex;
    align-items: center;
    gap: spacing(0, true);
  }

  &-header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-block: spacing(-1, true);
    background-color: var(--color-navbar-bg);
    box-shadow: var(--shadow-navbar);
    min-height: var(--navbar-height);
    overflow-x: auto;
    @include z-index(navbar);
  }

  &-logo {
    width: spacing(4);
  }

  &-site-name {
    display: none;
  }

  &-branding {
    display: none;
    color: inherit;
  }

  &-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &-item {
    text-align: center;
    display: flex;
    justify-content: center;
    flex: 1 0 0;
  }

  &-link {
    padding: spacing(-3, true) spacing(0, true);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: inherit;
  }
}

.skip-navigation:focus,
.navbar-link:is([aria-current="page"], :hover, :focus) {
  background-color: var(--color-navbar-bg-focus);
}

#theme-toggle-container {
  display: flex;
  justify-content: center;
}

.lamp {
  --lamp-lightness: 60%;
  --lamp-color: hsl(0deg 0% var(--lamp-lightness));
  width: 45px;
  height: 45px;
  background-color: transparent;
  position: relative;
  transform: scale(0.711);
  transform-style: preserve-3d;

  --outline-offset: #{spacing(-3)};
  --outline-color: white;

  &-base {
    position: absolute;
    bottom: 0;
    right: 5px;
    width: 30px;
    height: 7px;
    background-color: var(--lamp-color);
    border-radius: 4px 4px 0 0;
    transform-style: preserve-3d;
    box-shadow: inset 0 0.5px 2px rgb(0 0 0 / 60%);

    &::after {
      content: "";
      position: absolute;
      transform: translateZ(-1px);
      width: 6px;
      height: 6px;
      top: -2px;
      left: 4px;
      border-radius: 1px 1px 0 0;
      background-color: white;
    }
  }

  > * {
    display: block;
  }

  &:active {
    .lamp-base::after {
      top: -0.5px;
    }
  }

  [data-theme="dark"] & {
    filter: brightness(0.75);
  }

  &-neck {
    width: 4px;
    height: 20px;
    background-color: var(--lamp-color);
    position: absolute;
    transform: translateZ(-1px) rotate(20deg);
    right: 8px;
    bottom: 5px;

    &::after {
      content: "";
      background-color: var(--lamp-color);
      width: 4px;
      height: 20px;
      position: absolute;
      transform: rotate(-60deg);
      left: -8px;
      top: -14px;
    }
  }

  &-head {
    --lamp-color-light: hsl(0deg 0% calc(var(--lamp-lightness) - 5%));
    width: 20px;
    height: 10px;
    background-image:
      linear-gradient(
        to bottom,
        var(--lamp-color-light) 5%,
        var(--lamp-color) 90%,
        var(--lamp-color-light) 5%
      );
    border-radius: 100px 100px 0 0;
    transform: rotate(45deg);
    position: absolute;
    left: 10px;
    top: 4px;
    transform-style: preserve-3d;
    z-index: 2;
    box-shadow: 0 4px 4px -2px rgb(230 230 230 / 100%);

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: var(--lamp-color);
      border-radius: 50%;
      right: 6px;
      top: -4px;
      transform: translateZ(-1px);
    }

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 40px;
      background: linear-gradient(rgb(255 255 255 / 80%), rgb(255 255 255 / 35%), rgb(255 255 255 / 5%));
      clip-path: polygon(30% 0, 70% 0, 100% 100%, 0 100%);
      transform: translateZ(-1px);
      right: 0;
      top: 10px;
    }

    [data-theme="dark"] & {
      box-shadow: none;

      &::after {
        background: transparent;
      }
    }
  }
}

@include mobile-lg {
  .navbar {
    &-links {
      gap: spacing(-1, true);
    }

    &-site-name {
      display: unset;
    }
  }
}
@include mobile-lg {
  .navbar {
    &-header {
      position: unset;
      box-shadow: none;
    }

    &-branding {
      display: flex;
      gap: spacing(-3);
      align-items: center;
    }

    &-site-name {
      display: unset;
    }

    &-links {
      justify-content: unset;
      width: unset;
    }

    &-link {
      &.home {
        display: none;
      }
    }
  }
}
