@import "../mixins";
@import "../functions";

.skip-navigation {
  top: 50%;
  transform: translate(#{spacing("-2")}, -50%);
  padding: spacing("-2");
  background-color: var(--color-navbar-bg);
}

.navbar {
  @include theme-light {
    --color-navbar-bg: var(--color-surface-8);
    --color-navbar-bg-focus: var(--color-surface-7);
  }

  @include theme-dark {
    --color-navbar-bg: var(--color-surface-2);
    --color-navbar-bg-focus: var(--color-surface-3);
  }

  /* Body is a flex container. Without this, the navbar may shrink vertically due to the presence of a horizontal scrollbar. */
  flex-shrink: 0;
  width: 100%;
  padding-block: spacing("0");
  background-color: var(--color-navbar-bg);
  overflow-x: auto;
  color: white;

  a {
    text-decoration: none;
    padding: spacing("-2");
  }

  nav {
    // Don't wrap whitespace
    white-space: nowrap;
    // Distribute available space evenly, but don't shrink
    flex: 1 0 auto;
    // Relatively position the navbar for the skip link
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: spacing("0");
  }

  &-container {
    display: flex;
    align-items: center;
    gap: spacing("-2");
  }

  &-logo {
    width: spacing("4");
  }

  &-link-home {
    display: flex;
    gap: spacing("-3");
    align-items: center;
    @include font($family: "body", $weight: "bold");

    .site-name {
      @include screen-reader-only;
    }
  }

  &-links {
    width: 100%;
    display: flex;
    align-items: center;
    gap: relative("-1");
    text-align: center;

    > :first-child {
      margin-inline-end: auto;
    }
  }
}

@include mobile-lg {
  .navbar {
    padding-block: spacing("2");
    position: unset;
    box-shadow: none;

    .site-name {
      position: unset;
      @include screen-reader-only-unset;
    }
  }
}
