@import "../mixins";

.pagination {
  &-trail {
    gap: var(--sp--2);
    margin-top: var(--sp-5);
    justify-content: flex-end;
  }

  &-page {
    min-width: var(--sp-5);
    justify-content: center;
    @include font-weight("code", "medium");
  }
}
