@import "../mixins";

.pagination {
  &-trail {
    justify-content: flex-end;
  }

  &-page {
    min-width: spacing(6);
    justify-content: center;
    @include font($family: "code", $weight: "medium");
  }
}
