@use "../mixins";
@use "../functions";

.pagination {
  &-trail {
    justify-content: flex-end;
  }

  &-page {
    min-width: functions.spacing("5");
    aspect-ratio: 1;
    border-radius: functions.spacing("-4");
    display: flex;
    justify-content: center;
    @include mixins.font($family: "mono", $weight: "regular", $size: "xs");
  }
}
