@import "../mixins";

.pagination {
  &-trail {
    margin-top: 6.4rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.8rem;
  }

  &-page {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    min-width: 3.2rem;
    border-radius: 0.4rem;
  }
}
