@import '../mixins';

.lazy-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lazy-img {
  --transition-duration: 0.8s;
  height: auto;
  width: 100%;
  filter: blur(0.4rem);
  @include transition(filter);
}

.loaded .lazy-img {
  filter: initial;
}

.dark .loaded .lazy-img {
  filter: blur(0) brightness(0.85);
}
