@import '../mixins';

.lazy-picture {
  display: flex;
}

.lazy-img {
  --transition-duration: 0.8s;
  height: auto;
  object-fit: cover;
  object-position: center;
  width: 100%;
  filter: blur(0.4rem);
  @include transition(filter);
}

.loaded .lazy-img {
  filter: initial;
}

.clickable-picture-anchor {
  width: 100%;
  display: block;
  cursor: zoom-in;
}

.dark .loaded .lazy-img {
  filter: blur(0) brightness(0.85);
}
