@import "../mixins";

.pill-group {
  display: flex;
  flex-wrap: wrap;
  gap: #{spacing(-1)};
}

.pill {
  display: inline-flex;
  align-items: center;
  background-color: var(--pill-bg-color);
  color: var(--color-text-emphasis);
  @include font-family("code");
  @include font-weight("code", "regular");

  &[data-shape="round"] {
    border-radius: #{spacing(8)};
  }

  &[data-size="sm"] {
    padding: #{spacing(-3)} #{spacing(0)};
    @include font-size("sm");
  }

  &[data-size="xs"] {
    padding: #{spacing(-4)} #{spacing(-1)};
    @include font-size("xs");
    @include font-weight("code", "medium");
  }

  &-count {
    @include font-size("xs");
    @include font-weight("code", "medium");
  }
}

// Because not all pills are links/interactive (see project cards)
a.pill {
  &:is(:focus, :hover, [aria-current="page"]) {
    background-color: var(--pill-bg-color-focus);
    color: var(--color-text-inverted);
  }

  --outline-color: var(--pill-bg-color-focus);
  --outline-offset: var(--outline-thickness);
}
