@import "../functions";
@import "../mixins";

.post {
  max-width: 73ch;
  margin-inline: auto;

  &-title {
    margin-bottom: spacing("-2");

    // Allow title to extend slightly past the parent width on wider devices. This cosmetic
    // touch-up fixes most instances of orphaned words in titles.
    @include desktop-lg {
      max-width: to-rems(900px);
      width: max-content;
    }
  }

  &-date {
    text-transform: uppercase;
    color: var(--color-text-soft);
    margin-bottom: spacing("-3");
    @include font($size: "sm", $letter-spacing: "lg");

    dt,
    dd {
      display: inline-block;
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    gap: spacing("-2");
  }

  &-tag {
    color: var(--color-text-soft);

    &::before {
      content: "#";
      user-select: none;
    }
  }

  &-content {
    display: flow-root;
    overflow-wrap: break-word;
    counter-reset: footnotes;

    #skip-toc {
      transform: translateY(-50%);
      padding: spacing("-4") spacing("-2");
      @include font($family: "body", $weight: "bold");
    }

    .toc-list {
      list-style: disc; // some headings have numbers already
      padding-inline-start: 1.5em;

      li {
        margin-top: spacing("-2");
      }
    }
  }
}
