@use "../functions";
@use "../mixins";

.post-preview {
  border-radius: functions.spacing("-3");
  background-color: var(--color-surface-2);
  padding: functions.relative("2");
  position: relative;

  &-grid {
    display: grid;
    gap: functions.spacing("3");
    /* stylelint-disable-next-line scss/no-global-function-names */
    grid-template-columns: repeat(auto-fill, minmax(min(#{functions.to-rems(300px)}, 100%), 1fr));

    @include mixins.mobile-lg {
      gap: functions.spacing("0");
    }
  }

  // Pseudo-element trick to make the whole card clickable. Good on mobile so users don't have to worry about tapping links precisely
  &-link {
    // Enlarge mouse target
    display: block;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &-date {
    color: var(--color-text-soft);
    @include mixins.font($size: "sm");
  }

  &-title {
    margin-top: functions.spacing("-3");
    text-wrap: pretty;
    // Tighten line height due to short line length
    @include mixins.font($size: "lg", $leading: "xs");
  }

  &-description {
    margin-top: functions.spacing("-2");
    // Tighten line height due to short line length
    @include mixins.font($size: "base", $leading: "sm");
  }

  &-tags {
    display: none;
    @include mixins.font($size: "sm");
  }

  &-tag {
    &:is(:focus, :hover) {
      text-decoration: none;
    }

    &:focus:not(:focus-visible) {
      text-decoration: underline;
    }
  }

  @include mixins.tablet {
    &-date {
      @include mixins.font($size: "xs");
    }

    &-title {
      @include mixins.font($size: "md", $leading: "xs");
    }

    &-description {
      @include mixins.font($size: "sm");
    }
  }

  @include mixins.desktop {
    &-tags {
      display: flex;
      flex-wrap: wrap;
      gap: functions.spacing("-3") functions.spacing("-2");
      margin-top: functions.spacing("0");
      @include mixins.font($size: "xs");
    }

    // On desktop, we don't want the link to cover the entire card, or it creates a somewhat annoying UX where hovering from one tag to another causes the card link underline to flicker on/off.
    &-link {
      &::after {
        content: none;
      }
    }
  }
}
