@import "../functions";
@import "../mixins";

.post-preview {
  display: grid;
  border-radius: spacing(-3);
  background-color: var(--color-surface-2);
  padding: spacing(3);
  position: relative;

  @include tablet-sm {
    padding: spacing(5);
  }

  &:focus-within {
    outline: spacing(-3) solid;
  }

  &-grid {
    display: grid;
    gap: spacing(5);
    /* stylelint-disable-next-line scss/no-global-function-names */
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  }

  &-link {
    &:focus {
      outline: none;
      text-decoration: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &-title {
    margin-bottom: spacing(-1);
    @include font-size("lg");
  }

  &-description {
    margin-bottom: spacing(1);
  }

  &-tag {
    position: relative;
  }
}
