@import "../mixins";

.post-preview {
  display: grid;
  gap: 0.4rem;
  position: relative;

  &-grid {
    margin-top: 6.4rem;
    display: grid;
    row-gap: 6.4rem;
  }

  &-header {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
  }

  &-link {
    @include underlined-link($initially-underlined: false);
  }

  &-description {
    margin-bottom: 0.4rem;
    max-width: 68ch;
  }

  &-date {
    position: absolute;
    top: -0.4rem;
    left: 0;
    transform: translateY(-100%);
    @include font($family: 'code', $weight: 'regular', $size: 'xs');
  }

  &-tags {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.4rem;
  }

  &-tag {
    display: flex;
    padding: 0.2rem 1.2rem;
    border-radius: 1.6rem;
  }
}
