@import "../functions";
@import "../mixins";

.post {
  max-width: #{to-rems(860px)};
  margin-inline: auto;

  &-title {
    margin-bottom: spacing(-2);
  }

  &-date {
    text-transform: uppercase;
    letter-spacing: to-rems(1px);
    margin-bottom: spacing(-3);
    color: var(--color-text-soft);
    @include font($size: "sm");
  }

  &-tag {
    display: flex;
    color: var(--color-text-soft);

    &::before {
      content: "#";
      user-select: none;
    }
  }

  &-content {
    display: flow-root;
    overflow-wrap: break-word;
    counter-reset: footnotes;

    #skip-toc {
      transform: translateY(-50%);
      padding: spacing(-4) spacing(-2);
      @include font($family: "body", $weight: "bold");
    }

    .toc-list {
      --gap: #{spacing(0)};
      list-style: disc; // some headings have numbers already
      padding-inline-start: 1.5em;
    }
  }
}
