@use "../functions";
@use "../mixins";

.post {
  counter-reset: footnotes;

  &-title {
    text-wrap: pretty;
    margin-bottom: functions.spacing("-2");
  }

  &-date {
    color: var(--color-text-soft);
    margin-bottom: functions.spacing("-3");
    text-wrap: balance;
    @include mixins.font($size: "sm");

    dt,
    dd {
      display: inline-block;
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    gap: functions.spacing("-3") functions.spacing("-2");
  }

  &-tag {
    color: var(--color-text-soft);

    &::before {
      content: "#";
      user-select: none;
    }
  }
}
