@import "../mixins";

.post-preview {
  display: grid;
  grid-template-areas:
    "thumbnail"
    "title"
    "description"
    "tags";

  &-thumbnail-container {
    display: flex;
    grid-area: thumbnail;
    user-select: none;
    margin-bottom: spacing(0);
  }

  &-thumbnail {
    img {
      object-fit: cover;
      object-position: center;
      aspect-ratio: 16 / 9;

      [data-theme="light"] & {
        filter: contrast(0.95);
      }
    }
  }

  &-title {
    grid-area: title;
    margin-bottom: spacing(-2);
    @include font-size("lg");
    line-height: 1.4;
  }

  &-description {
    grid-area: description;
    margin-bottom: spacing(0);
  }

  &-date {
    display: none;
  }

  &-tags {
    grid-area: tags;
  }

  @include tablet {
    & {
      grid-template-columns: min-content min-content auto;
      column-gap: spacing(-1);
      row-gap: spacing(-4);
      grid-template-areas:
        "thumbnail date tags"
        "thumbnail title title"
        "thumbnail description description";
    }

    & > * {
      margin: 0;
    }

    &-thumbnail {
      width: to-rems(180px);
      padding: spacing(-2) 0;

      &-container {
        margin-inline-end: spacing(-1);
      }

      &,
      img {
        height: 100%;
      }
    }

    &-title {
      @include font-size("md");
    }

    &-date {
      display: unset;
    }

    &-date,
    &-tags {
      @include font-size("sm");
    }
  }
}
