@import "../mixins";

.post-preview {
  display: grid;
  grid-template-areas:
    "date"
    "title"
    "description"
    "tags";
  position: relative;

  &-grid {
    margin-top: 3.2rem;
    display: grid;
    row-gap: 4rem;
  }

  &-link {
    @include underlined-link($initially-underlined: false);
  }

  &-title {
    grid-area: title;
  }

  &-description {
    grid-area: description;
    max-width: 66ch;
  }

  &-date {
    grid-area: date;
  }

  &-tags {
    grid-area: tags;
    margin-top: 0.4rem;
  }
  @include tablet-sm {
    & {
      grid-template-columns: min-content auto;
      column-gap: 1.2rem;
      grid-template-areas:
        "date tags"
        "title title"
        "description description";
    }

    &-tags {
      margin: 0;
    }
  }
}
