@import '../mixins';

.post {
  &-header {
    margin-bottom: 3.2rem;
  }

  &-title {
    margin-bottom: 1.6rem;
    max-width: 28ch;
  }

  &-content {
    display: flow-root;
    overflow-wrap: break-word;
    counter-reset: footnotes;
    @include rhythm;

    #skip-toc {
      transform: translateY(-50%);
      padding: 0.2rem 0.8rem;
      @include font($family: 'main', $weight: 'bold');
    }

    .toc-list {
      --gap: 2.4rem;
      list-style: disc; // some headings have numbers already
    }

    a:not([class]) {
      @include underlined-link($initially-underlined: true);
    }
  }
}
