@import "../mixins";

.post-preview {
  display: grid;
  grid-template-areas:
    "date"
    "header"
    "description";
  position: relative;

  &-grid {
    margin-top: 6.4rem;
    display: grid;
    row-gap: 4rem;
  }

  &-header {
    grid-area: header;
    display: flex;
    gap: 0.6rem;
    flex-direction: column-reverse;
    margin-bottom: 0.6rem;
  }

  &-link {
    @include underlined-link($initially-underlined: false);
  }

  &-description {
    grid-area: description;
  }

  &-date {
    grid-area: date;
    @include font($family: "code", $weight: "regular");
  }
  @include tablet {
    &-header {
      flex-flow: row wrap;
    }
  }
}
