@import "../mixins";

.post-preview {
  display: grid;
  grid-template-areas:
    "thumbnail"
    "title"
    "description"
    "tags";
  position: relative;

  &-grid {
    margin-top: spacing(5);
    display: grid;
    row-gap: spacing(8);
  }

  &-link {
    @include underlined-link($initially-underlined: false);
  }

  &-thumbnail-container {
    grid-area: thumbnail;
    user-select: none;
    margin-block-end: spacing(-1);
  }

  &-thumbnail {
    img {
      object-fit: cover;
      object-position: center;
      border-radius: spacing(-3);
      aspect-ratio: 16 / 9;

      [data-theme="light"] & {
        filter: contrast(0.95);
      }
    }
  }

  &-title {
    grid-area: title;
  }

  &-description {
    grid-area: description;
    max-width: 66ch;
  }

  &-date {
    display: none;
  }

  &-tags {
    grid-area: tags;
    margin-top: spacing(-3);
  }
  @include tablet {
    & {
      grid-template-columns: auto min-content auto;
      column-gap: spacing(-1);
      grid-template-areas:
        "thumbnail date tags"
        "thumbnail title title"
        "thumbnail description description";
    }

    &-thumbnail {
      height: 100%;
      width: to-rems(180px);
      padding: spacing(-2) 0;

      &-container {
        margin-block: 0;
        margin-inline-end: spacing(-1);
      }

      img {
        height: 100%;
      }
    }

    &-description {
      @include line-clamp(3);
    }

    &-date {
      display: unset;
    }

    &-tags {
      margin: 0;
    }

    &-date,
    &-tags {
      @include font-size("sm");
    }
  }
}
