@import "../functions";
@import "../mixins";

.post {
  counter-reset: footnotes;

  &-title {
    margin-bottom: spacing("-2");

    // Allow title to extend slightly past the parent width on wider devices. This cosmetic
    // touch-up fixes most instances of orphaned words in titles.
    @include desktop-lg {
      max-width: to-rems(900px);
      width: max-content;
    }
  }

  &-date {
    text-transform: uppercase;
    color: var(--color-text-soft);
    margin-bottom: spacing("-3");
    @include font($size: "sm", $letter-spacing: "md");

    dt,
    dd {
      display: inline-block;
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    gap: spacing("-2");
  }

  &-tag {
    color: var(--color-text-soft);

    &::before {
      content: "#";
      user-select: none;
    }
  }
}
