@import '../mixins';

.post-preview-grid {
  margin-top: 6.4rem;
  display: grid;
  grid-row-gap: 6.4rem;
}

.post-preview {
  list-style: none;
  display: grid;
  grid-template-areas:
    'thumbnail'
    'title'
    'meta'
    'description';

  .post-meta {
    grid-area: meta;
  }
}

.post-preview-title {
  grid-area: title;
  margin-bottom: 1.6rem;
  @include font-size(0);
  @include font-weight('bold');

  a {
    color: var(--text-color-emphasis);
    @include underlined-link($initially-underlined: false);
  }
}

.post-preview-thumbnail-container {
  margin-right: 0;
  margin-bottom: 1.6rem;
  grid-area: thumbnail;
  width: 100%;
}

.post-preview-thumbnail {
  .light &.loaded img {
    filter: blur(0) contrast(0.95);
  }
}

.post-preview-description {
  grid-area: description;
  @include line-clamp(3);
}

@include tablet {
  .post-preview {
    grid-template-areas:
      'thumbnail title'
      'thumbnail description'
      'thumbnail meta';
    grid-column-gap: 3.2rem;
  }

  .post-preview-thumbnail-container {
    margin: 0 0 1.6rem 0;
  }

  .post-preview-thumbnail {
    --aspect-ratio: unset !important;
    height: 100%;
    width: 20rem;

    img {
      height: 100%;
    }
  }

  .post-preview-description {
    margin-bottom: 1.6rem;

    @include line-clamp(2);
  }
}
