@import '../mixins';

.post {
  &-header {
    margin-bottom: 3.2rem;
  }

  &-title {
    margin-bottom: 1.6rem;
    max-width: 28ch;
  }

  &-content {
    grid-template-columns: minmax(0, var(--page-max-width));
    overflow-wrap: break-word;
    @include rhythm;

    #skip-toc {
      transform: translateY(-50%);
      padding: 0.2rem 0.8rem;
      @include font($family: 'main', $weight: 'bold');
    }

    .toc-list {
      --gap: 2.4rem;
      display: grid;
      row-gap: var(--gap);
      list-style: disc; // some headings have numbers already
    }

    .toc-list .toc-list {
      margin-top: var(--gap);
    }

    ol:not([class]) {
      list-style: decimal;
    }

    ul:not([class]) {
      list-style: disc;
    }

    .toc-list,
    :is(ol, ul):not([class]) {
      padding-inline-start: clamped(2.4rem, 4.8rem);
    }

    :is(ol, ul):not([class]) {
      display: grid;
      row-gap: 0.4rem;

      li:not([class]) {
        :is(ol, ul):not([class]) {
          margin-top: 0.4rem;
        }
      }
    }

    a:not([class]) {
      @include underlined-link($initially-underlined: true);
    }
  }
}
