@import '../mixins';

.post-preview {
  display: grid;
  grid-template-areas:
    'thumbnail';
  gap: 0.4rem;
  position: relative;

  &-grid {
    margin-top: 3.2rem;
    display: grid;
    row-gap: 6.4rem;
  }

  &-thumbnail-container {
    grid-area: thumbnail;
    user-select: none;
  }

  &-thumbnail {
    img {
      object-fit: cover;
      object-position: center;
      border-radius: 0.4rem;
    }

    .light &.loaded img {
      filter: blur(0) contrast(0.95);
    }
  }

  &-header {
    display: flex;
    flex-direction: column;
    grid-area: thumbnail;
    height: 100%;
    padding: clamped(1.6rem, 3.2rem);
    z-index: 2;
    justify-content: end;
    background-image:
      linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0.069) 8.8%,
        hsla(0, 0%, 0%, 0.142) 16.7%,
        hsla(0, 0%, 0%, 0.219) 24%,
        hsla(0, 0%, 0%, 0.298) 30.8%,
        hsla(0, 0%, 0%, 0.377) 37%,
        hsla(0, 0%, 0%, 0.456) 43%,
        hsla(0, 0%, 0%, 0.532) 48.7%,
        hsla(0, 0%, 0%, 0.604) 54.3%,
        hsla(0, 0%, 0%, 0.672) 59.9%,
        hsla(0, 0%, 0%, 0.732) 65.6%,
        hsla(0, 0%, 0%, 0.785) 71.6%,
        hsla(0, 0%, 0%, 0.829) 77.9%,
        hsla(0, 0%, 0%, 0.862) 84.6%,
        hsla(0, 0%, 0%, 0.883) 92%,
        hsla(0, 0%, 0%, 0.89) 100%
      );
    pointer-events: none;
  }

  &-title {
    width: 100%;
    @include font($size: 'base');

    a {
      color: white;
      @include line-clamp(1);
    }
  }

  &-subtitle {
    color: hsl(0, 0%, 88%);
    line-height: 1.3;
    @include font($size: 'sm');
    @include line-clamp(2);
  }

  &-link {
    @include underlined-link($initially-underlined: false);
  }

  &-description {
    display: none;
  }

  &-thumbnail-container {
    grid-area: thumbnail;
  }

  &-date {
    grid-area: thumbnail;
    background-image:
      linear-gradient(
        30deg,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0.003) 8%,
        hsla(0, 0%, 0%, 0.013) 15.3%,
        hsla(0, 0%, 0%, 0.029) 22%,
        hsla(0, 0%, 0%, 0.053) 28.3%,
        hsla(0, 0%, 0%, 0.083) 34.1%,
        hsla(0, 0%, 0%, 0.121) 39.8%,
        hsla(0, 0%, 0%, 0.166) 45.4%,
        hsla(0, 0%, 0%, 0.219) 50.9%,
        hsla(0, 0%, 0%, 0.28) 56.6%,
        hsla(0, 0%, 0%, 0.349) 62.5%,
        hsla(0, 0%, 0%, 0.426) 68.8%,
        hsla(0, 0%, 0%, 0.511) 75.6%,
        hsla(0, 0%, 0%, 0.605) 83%,
        hsla(0, 0%, 0%, 0.708) 91.1%,
        hsla(0, 0%, 0%, 0.82) 100%
      );
    filter: brightness(2);
    text-align: end;
    color: white;
    padding: clamped(1.6rem, 3.2rem);
    line-height: 1;
    z-index: 1;
    pointer-events: none;
    @include font($family: 'code', $weight: 'regular');
  }

  &-tags {
    display: none;
  }

  @include mobile-lg {
    & {
      &-subtitle {
        color: hsl(0, 0%, 88%);
        line-height: 1.3;
        @include font($size: 'base');
        @include line-clamp(4);
      }

      &-title {
        @include font($size: 'md');
      }
    }
  }

  @include tablet {
    & {
      grid-template-areas:
        'thumbnail date'
        'thumbnail header'
        'thumbnail description';
      column-gap: 2.4rem;
    }

    &-thumbnail-container {
      grid-area: thumbnail;
      user-select: none;
    }

    &-thumbnail {
      img {
        object-fit: cover;
        object-position: center;
        border-radius: 0.4rem;
      }

      .light &.loaded img {
        filter: blur(0) contrast(0.95);
      }
    }

    &-header {
      grid-area: header;
      display: flex;
      flex-direction: row;
      justify-content: start;
      flex-wrap: wrap;
      gap: 0.8rem;
      height: unset;
      padding: 0;
      align-items: unset;
      background: none;
      pointer-events: unset;
    }

    &-title {
      width: unset;
      line-height: unset;

      a {
        color: unset;
        line-height: unset;
      }
    }

    &-subtitle {
      display: none;
    }

    &-date {
      grid-area: date;
      background: none;
      color: unset;
      padding: 0;
      text-align: start;
      pointer-events: unset;
      filter: none;
    }

    &-thumbnail {
      width: 20rem;
      height: 100%;
      padding: 0.8rem 0;

      img {
        height: 100%;
      }
    }

    &-description {
      display: unset;
      @include line-clamp(3);
    }

    &-tags {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 0.4rem;
    }

    &-tag {
      display: flex;
      padding: 0.2rem 1rem;
      border-radius: 1.6rem;
      @include font($family: 'code', $weight: 'regular');
    }
  }
}
