@import "../mixins";

.post {
  &-header {
    display: grid;
    grid-template-areas:
      "date"
      "title"
      "tags";
    margin-bottom: 3.2rem;
  }

  &-title {
    grid-area: title;
    margin-bottom: 0.8rem;
  }

  & &-date {
    grid-area: date;
  }

  & &-meta-tags {
    grid-area: tags;
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap, 1.2rem);
  }

  &-tag {
    display: flex;
    align-items: center;
    border-radius: 0.4rem;
    padding: 0.6rem 1.2rem;

    &-count {
      font-size: var(--font-size-xs);
    }
  }

  &-content {
    max-width: 68ch;
    display: flow-root;
    overflow-wrap: break-word;
    counter-reset: footnotes;
    @include rhythm;

    #skip-toc {
      transform: translateY(-50%);
      padding: 0.2rem 0.8rem;
      @include font($family: "body", $weight: "bold");
    }

    .toc-list {
      --gap: 2.4rem;
      list-style: disc; // some headings have numbers already
      padding-inline-start: clamped(2.4rem, 4.8rem);
    }

    a:not([class]) {
      @include underlined-link($initially-underlined: true);
    }
  }
}
