@import "../functions";
@import "../mixins";

.post-preview {
  border-radius: spacing("-3");
  background-color: var(--color-surface-2);
  padding: spacing("2");
  position: relative;

  @include mobile-lg {
    padding: spacing("5");
  }

  &-grid {
    display: grid;
    gap: spacing("5");
    /* stylelint-disable-next-line scss/no-global-function-names */
    grid-template-columns: repeat(auto-fill, minmax(min(#{to-rems(400px)}, 100%), 1fr));
  }

  &-link {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &-date {
    display: block;
    color: var(--color-text-soft);
    margin-bottom: spacing("-3");
  }

  &-title {
    margin-bottom: spacing("-2");
    // Tighten line height due to short line length
    @include font($size: "lg", $line-height: "2xs");
  }

  &-description {
    margin-bottom: spacing("0");
    // Tighten line height due to short line length
    line-height: leading("xs");
  }

  &-tag {
    position: relative;
    line-height: leading("lg");
  }
}
