@import '../mixins';

.post-preview {
  display: grid;
  grid-template-areas:
    'thumbnail';
  gap: 0.4rem;
  position: relative;

  &-grid {
    margin-top: clamped(1.6rem, 3.2rem);
    display: grid;
    row-gap: clamped(4.8rem, 6.4rem);
  }

  &-thumbnail-container {
    grid-area: thumbnail;
    user-select: none;
  }

  &-thumbnail {
    img {
      object-fit: cover;
      object-position: center;
      border-radius: 0.4rem;
      filter: none;
    }
  }

  &-header {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    grid-area: thumbnail;
    height: 100%;
    padding: clamped(1.6rem, 3.2rem);
    z-index: 2;
    justify-content: end;
    background-image:
      linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0.057) 7.8%,
        hsla(0, 0%, 0%, 0.118) 14.9%,
        hsla(0, 0%, 0%, 0.184) 21.3%,
        hsla(0, 0%, 0%, 0.252) 27.4%,
        hsla(0, 0%, 0%, 0.324) 33%,
        hsla(0, 0%, 0%, 0.396) 38.5%,
        hsla(0, 0%, 0%, 0.469) 43.9%,
        hsla(0, 0%, 0%, 0.541) 49.4%,
        hsla(0, 0%, 0%, 0.612) 55%,
        hsla(0, 0%, 0%, 0.681) 61%,
        hsla(0, 0%, 0%, 0.747) 67.4%,
        hsla(0, 0%, 0%, 0.809) 74.3%,
        hsla(0, 0%, 0%, 0.865) 82%,
        hsla(0, 0%, 0%, 0.916) 90.5%,
        hsla(0, 0%, 0%, 0.96) 100%
      );
    pointer-events: none;
  }

  &-title {
    width: 100%;
    @include font($size: 'base');
  }

  &-link {
    color: white;
  }

  &-title,
  &-link {
    line-height: 1.3;
  }

  &-subtitle {
    color: hsl(0, 0%, 88%);
    line-height: 1.3;
    @include font($size: 'sm');
    @include line-clamp(2);
  }

  &-link {
    @include underlined-link($initially-underlined: false);
  }

  &-description {
    display: none;
  }

  &-thumbnail-container {
    grid-area: thumbnail;
  }

  &-date {
    grid-area: thumbnail;
    background-image:
      linear-gradient(
        202deg,
        hsla(0, 0%, 0%, 0.87) 0%,
        hsla(0, 0%, 0%, 0.764) 9.9%,
        hsla(0, 0%, 0%, 0.668) 18.6%,
        hsla(0, 0%, 0%, 0.582) 26.2%,
        hsla(0, 0%, 0%, 0.505) 33%,
        hsla(0, 0%, 0%, 0.436) 39%,
        hsla(0, 0%, 0%, 0.373) 44.6%,
        hsla(0, 0%, 0%, 0.317) 49.7%,
        hsla(0, 0%, 0%, 0.267) 54.7%,
        hsla(0, 0%, 0%, 0.221) 59.8%,
        hsla(0, 0%, 0%, 0.179) 65%,
        hsla(0, 0%, 0%, 0.14) 70.5%,
        hsla(0, 0%, 0%, 0.104) 76.6%,
        hsla(0, 0%, 0%, 0.069) 83.5%,
        hsla(0, 0%, 0%, 0.034) 91.2%,
        hsla(0, 0%, 0%, 0) 100%
      );
    text-align: end;
    color: white;
    padding: clamped(1.6rem, 3.2rem);
    line-height: 1;
    z-index: 1;
    pointer-events: none;
    @include font($family: 'code', $weight: 'regular');
  }

  &-tags {
    display: none;
  }

  @include mobile-lg {
    & {
      &-subtitle {
        color: hsl(0, 0%, 88%);
        line-height: 1.3;
        @include font($size: 'base');
        @include line-clamp(4);
      }

      &-title {
        @include font($size: 'md');
      }
    }
  }

  @include tablet {
    & {
      grid-template-areas:
        'thumbnail date'
        'thumbnail header'
        'thumbnail description';
      column-gap: 2.4rem;
    }

    &-thumbnail-container {
      grid-area: thumbnail;
      user-select: none;
    }

    &-header {
      grid-area: header;
      display: flex;
      flex-direction: row;
      justify-content: start;
      flex-wrap: wrap;
      gap: 0.8rem;
      height: unset;
      padding: 0;
      align-items: unset;
      background: none;
      pointer-events: unset;
    }

    &-title {
      width: unset;
    }

    &-link {
      color: unset;
    }

    &-title,
    &-link {
      line-height: unset;
    }

    &-subtitle {
      display: none;
    }

    &-date {
      grid-area: date;
      background: none;
      color: unset;
      padding: 0;
      text-align: start;
      pointer-events: unset;
    }

    &-thumbnail {
      width: 20rem;
      height: 100%;
      padding: 0.8rem 0;

      img {
        height: 100%;
        filter: unset;
      }

      .light &.loaded img {
        filter: blur(0) contrast(0.95);
      }
    }

    &-description {
      grid-area: description;
      display: unset;
      @include line-clamp(3);
    }

    &-tags {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 0.4rem;
    }

    &-tag {
      display: flex;
      padding: 0.2rem 1rem;
      border-radius: 1.6rem;
      @include font($family: 'code', $weight: 'regular');
    }
  }
}
