@import "../functions";
@import "../mixins";

.project {
  display: grid;
  gap: calc(var(--card-padding) / 2);

  &-grid {
    --gap: #{spacing(5)};
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap);
  }

  &-wrapper {
    --container-width: 50rem;

    // Prevents the dreaded "doom flicker": https://www.joshwcomeau.com/animation/css-transitions/#doom-flicker
    &:is(:hover, :focus-within) {
      .project {
        box-shadow: var(--card-box-shadow-focus);
        transform: var(--card-offset-y-focus);
      }
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-name-wrapper {
    display: flex;
    align-items: center;
    gap: spacing(-3);
  }

  &-icon {
    picture {
      width: spacing(3);
      aspect-ratio: 1;
    }
  }

  &-link {
    &:is(:focus, :focus-visible) {
      outline: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &-rating {
    display: flex;
    gap: spacing(-3);
    align-items: center;
  }

  &-technologies {
    gap: spacing(-2);
  }

  &-technology {
    border-radius: spacing(-4);
    padding: spacing(-3) spacing(-1);
    @include font-size("xs");
  }
}

.github-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-subheading {
    margin-bottom: spacing(0);
  }

  a {
    display: flex;
  }

  svg {
    width: spacing(8, true);
    aspect-ratio: 1;
    fill: currentColor;
  }
}
