@import '../mixins';

.project-grid {
  --gap: 4.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.project-wrapper {
  display: flex;
  flex: 1 1 calc(50% - var(--gap));
  min-width: 27rem;
}

.project {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 1fr;
  row-gap: calc(var(--card-padding) / 2);
}

.explore-project-on-github {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0.4rem;
  color: var(--text-color-emphasis);
  background-color: var(--card-bg-color);
  @include transition(opacity);
  @include font-size('md');
  @include font-weight("bold");
}

.project-wrapper {
  display: grid;

  // Prevents the dreaded "doom flicker": https://www.joshwcomeau.com/animation/css-transitions/#doom-flicker
  &:hover,
  &:focus-within {
    .project {
      box-shadow: var(--card-box-shadow-focus);
      transform: var(--card-offset-y-focus);
    }

    .explore-project-on-github {
      opacity: 0.92;
    }
  }
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.project-name-wrapper {
  display: grid;
  grid-auto-flow: column;
  column-gap: 0.4rem;
}

.project-name {
  color: var(--text-color-emphasis);
  @include font-size('base');
  @include font-weight('bold');
}

.project-rating {
  display: grid;
  grid-auto-flow: column;
  column-gap: 0.4rem;
  align-items: center;
  @include font-size('sm');
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.project-technology {
  border-radius: 0.2rem;
  padding: 0.4rem 1.2rem;
  @include font-size('xs');
}

#github-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    height: 4.8rem;
    width: 4.8rem;
    color: var(--text-color-normal);
  }

  svg {
    width: inherit;
    height: inherit;
    fill: currentColor;
  }
}

.github-cta-heading {
  @include font-size('base');
}

.github-cta-subheading {
  margin-bottom: 1.6rem;
}
