blockquote {
  font-style: italic;
  border-inline-start: spacing(-3) solid;
  margin-inline-start: clamped(12px, 24px);
  padding: spacing(-3) clamped(20px, 32px);
  @include rhythm;
}

.quote {
  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}
