blockquote {
  font-style: italic;
  border-inline-start: spacing(-3) solid;
  margin-inline-start: clamped(12px, 24px);
  padding: spacing(-3) spacing(5);
}

.quote {
  > p {
    &:first-of-type {
      &::before {
        content: open-quote;
      }
    }

    &:last-of-type {
      &::after {
        content: close-quote;
      }
    }
  }
}
