blockquote {
  font-style: italic;
  border-inline-start: 0.4rem solid;
  margin-inline-start: clamped(1.2rem, 2.4rem);
  padding: 0.4rem clamped(2rem, 3.2rem);
  @include rhythm;
}

.quote-content {
  &::before {
    content: open-quote;
  }
  &::after {
    content: close-quote;
  }
}
