html {
  scrollbar-color: var(--scrollbar-thumb-bg-color) var(--scrollbar-track-bg-color);
}

::-webkit-scrollbar {
  // vertical scrollbars
  width: 1.4rem;
  // horizontal scrollbars
  height: 1.4rem;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  background: var(--scrollbar-thumb-bg-color);

  &:hover {
    background: var(--scrollbar-thumb-bg-color-focus);
  }
}
