@import '../mixins';

table {
  border-collapse: collapse;
  max-width: 100%;
  overflow-x: auto;
  display: block;
}

thead {
  background-color: var(--table-header-bg-color);
  color: var(--table-header-text-color);

  th {
    @include font-weight('semiBold');
  }
}

td,
th {
  text-align: left;
  padding: 0.8rem 1.6rem;
  border: solid 0.2rem var(--table-border-color);
}
