@import "../mixins";

th {
  white-space: nowrap;
}

:is(td, th) {
  text-align: start;
  padding: spacing(-2) spacing(0);
  border: solid spacing(-4) var(--color-border);

  &.numeric {
    text-align: end;
  }

  &.nowrap {
    white-space: nowrap;
  }
}

thead {
  background-color: var(--color-surface-2);
  color: var(--color-text-emphasis);
}
