@import "../mixins";

table {
  border-collapse: collapse;
}

caption {
  text-align: start;
  font-style: italic;
}

th {
  white-space: nowrap;
}

:is(td, th) {
  text-align: start;
  padding: spacing(-1);
  border: solid 0.75px var(--color-surface-4);

  &.numeric {
    text-align: end;
  }
}

thead {
  background-color: var(--color-surface-2);
  color: var(--color-text-emphasis);
}
