@import '../mixins';

:not(.token).tag {
  background-color: var(--tag-bg-color);
  color: var(--color-text-emphasis);
  @include font-weight("regular");
}

// Because not all tags are links/interactive (see project cards)
a.tag {
  &:hover,
  &:focus,
  &[aria-current="page"] {
    background-color: var(--tag-bg-color-focus);
    color: var(--color-text-inverted);
  }

  @include focus-outline($color: var(--tag-bg-color-focus), $style: solid, $thickness: 0.2rem, $offset: 0.2rem);
}
