@import "../mixins";

:not(.token).tag {
  background-color: var(--tag-bg-color);
  color: var(--color-text-emphasis);
  @include font($family: "body", $weight: "regular");
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1.2rem);
}

.post-tag {
  display: flex;
  align-items: center;
  padding: 0.4rem 1.2rem;
  border-radius: 1.6rem;

  &-count {
    font-size: var(--font-size-xs);
  }
}

// Because not all tags are links/interactive (see project cards)
a.tag {
  &:is(:focus, :hover, [aria-current="page"]) {
    background-color: var(--tag-bg-color-focus);
    color: var(--color-text-inverted);
  }
  @include focus-outline($color: var(--tag-bg-color-focus), $offset: 0.2rem);
}
