#demo {
  --gap: var(--size-spacing-0);
  border: solid var(--size-spacing--4) var(--color-border-0);
  padding: var(--gap);
  border-radius: var(--size-spacing--4);
  background-color: var(--color-surface-2);
}

#demo,
#demo-form {
  display: grid;
  gap: var(--gap);
}

#demo-form {
  display: flex;
  flex-wrap: wrap;
}

#demo button[type='submit'] {
  display: none;
}

#demo .input-group {
  font-size: var(--size-font-sm);
  display: grid;
  gap: var(--size-spacing--2);
  flex: 1 1 calc(50% - var(--gap));
}

#demo input {
  padding: var(--size-spacing--3) var(--size-spacing--2);
}

#demo output {
  white-space: nowrap;
  overflow-x: auto;
  border-radius: var(--size-spacing--3);
  padding: var(--size-spacing--2) 0;
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-mono-medium);
  font-size: var(--size-font-xs);
}
