<div class="code-header">
    {% if include.file %}
    <div class="file-name-container">
        <h6 class="file-name" 
            role="heading" 
            aria-label="File name: {{ include.file }}">
            {{ include.file }}
        </h6>
    </div>
    {% endif %}
    {% unless include.copyable == false %}
    <div class="copy-code-container">
        <button class="copy-code-button"
             aria-label="Copy code block to your clipboard" 
             data-code="{{ include.code | escape }}"
        ></button>
    </div>
    {% endunless %}
</div>
````{{ include.lang }}
{{ include.code }}
````