{% assign title = include.title %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    const post = document.getElementById('post');

    fetch('https://api.github.com/search/issues?q={{ title | slugify }}+author:AleksandrHovhannisyan+in:title+state:open+repo:{{ site.issues_repo }}')
    .then((blob) => blob.json())
    .then((data) => {
        if (!data.items.length) return;

        const issue = data.items[0];

        fetch(issue.comments_url)
        .then((blob) => blob.json())
        .then((comments) => {
            renderComments(comments, issue);
        });
    });

    function renderComments(comments, issue) {
        const commentActions = document.createElement('div');
        commentActions.className = 'comment-actions';

        const commentHeading = document.createElement('h2');
        commentHeading.innerText = 'Comments ';
        const commentCount = document.createElement('span');
        commentCount.id = 'comment-count';
        mount(commentHeading, commentCount);

        const addCommentButton = document.createElement('a');
        addCommentButton.href = `https://github.com/{{ site.issues_repo }}/issues/${issue.number}`;
        addCommentButton.classList.add('button', 'solid-button', 'plus-button', 'add-comment');
        addCommentButton.innerText = 'Post comment';
        mount(commentActions, commentHeading, addCommentButton);

        const commentsWrapper = document.createElement('div');
        commentsWrapper.id = 'comments-wrapper';

        if (!comments.length) {
            commentsWrapper.innerHTML = `<p>No comments yet 👀</p>`;
            mount(post, commentActions, commentsWrapper);
            return;
        }

        commentCount.innerText = `(${comments.length})`;
        const commentList = document.createElement('ul');
        commentList.className = 'comments';
        commentList.setAttribute('aria-label', 'Comments on this blog post');

        commentList.innerHTML = comments
            .sort((comment1, comment2) => {
                return comment1.created_at < comment2.created_at ? 1 : -1;
            })
            .map((comment) => {
                console.log(comment);
                const user = comment.user;
                const datePosted = moment(comment.created_at).fromNow();

                return `<li class="comment">
                            <header class="comment-header">
                                    <div class="user">
                                        <img src="${user.avatar_url}" alt="" aria-hidden="true" class="avatar" />
                                        <a href="https://github.com/${user.login}" class="name" aria-label="Comment by ${user.login}">${user.login}</a>
                                        ${comment.author_association === 'OWNER' ? '<span class="tag author-badge">Author</span>' : ''}
                                        ${comment.created_at !== comment.updated_at ? `<span class="comment-edited">Edited</span>` : ''}
                                    </div>
                                    <time class="date-posted" datetime="${comment.created_at}">${datePosted}</time>
                            </header>
                            <div class="comment-body">${marked(comment.body)}</div>
                        </li>`;
            })
            .join('');

        mount(commentsWrapper, commentList);
        mount(post, commentActions, commentsWrapper);
    }
</script>
