{% assign issue_id = include.issue_id %}
<footer>
    <div class="comment-actions">
        <h2>Comments <span id="comment-count"></span></h2>
        <a
          class="button solid-button plus-button post-comment"
          href="https://github.com/{{ site.issues_repo }}/issues/{{ issue_id }}"
          >Post comment</a
        >
    </div>
    <div id="comments-wrapper">
        <ul class="comments" aria-label="Comments on this blog post"></ul>
    </div>
</footer>

<!-- Dependencies for comments -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<!-- Comments script -->
<script>
    const commentsWrapper = document.getElementById('comments-wrapper');
    const commentList = commentsWrapper.querySelector('.comments');
    const commentCount = document.getElementById('comment-count');

    fetch('https://api.github.com/repos/{{ site.issues_repo }}/issues/{{ issue_id }}/comments')
    .then(blob => blob.json())
    .then(renderComments);

    function renderComments(comments) {
        if (!comments.length) {
            commentsWrapper.innerHTML = `<p>No comments yet 👀 Be the first to post!</p>`;
            return;
        }

        commentCount.innerText = `(${comments.length})`;
        commentList.innerHTML = comments
            .sort((comment1, comment2) => {
                return comment1.created_at < comment2.created_at ? 1 : -1;
            })
            .map((comment) => {
                const user = comment.user;
                const datePosted = moment(comment.created_at).fromNow();

                return `<li class="comment">
                            <header class="comment-header">
                                    <div class="user">
                                        <img src="${user.avatar_url}" alt="" aria-hidden="true" class="avatar" />
                                        <a href="https://github.com/${user.login}" class="name" aria-label="Comment by ${user.login}">${user.login}</a>
                                        ${comment.author_association === 'OWNER' ? '<span class="tag author-badge">Author</span>' : ''}
                                        ${comment.created_at !== comment.updated_at ? `<span class="comment-edited">Edited</span>` : ''}
                                    </div>
                                    <time class="date-posted" datetime="${comment.created_at}">${datePosted}</time>
                            </header>
                            <div class="comment-body">${marked(comment.body)}</div>
                        </li>`;
            })
            .join('');
    }
</script>
