<h2>Fair Use Rationale: Copyrighted Images</h2>
<p>Though any images used in this article that were not created by the author himself are subject to copyright, their use is covered by U.S. fair use laws because they are:</p>
<ul>
    <li>Used to illustrate the subject in question and not to profit from it.</li>
    <li>Not used in such a way that the reader would be misled into believing that the article is written or authorized by the owner of the images.</li>
    <li>Not replaceable with any uncopyrighted images of comparable educational value.</li>
</ul>