<!-- Metadata, for search engines -->
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords | join: ', ' }}{% else %}{{ site.keywords | join: ', ' }}{% endif %}" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="{{ site.author }}" />
<!-- For the contact form -->
<meta name="referrer" content="origin" />
<!-- og: properties are for LinkedIn and/or any other social platforms with previews for shared links -->
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:image" content="/assets/img/profile-photo.png" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:url" content="{{ site.url }}" />
{% include loadTheme.html %}
<link rel="stylesheet" href="/assets/styles/main.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
