<!-- Metadata, for search engines -->
<meta name="description" content="I'm a software developer who's passionate about tinkering with code, solving problems, and having fun. Get in touch!" />
<meta name="keywords" content="Aleksandr Hovhannisyan, github pages resume, github pages portfolio, github pages personal website" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="Aleksandr Hovhannisyan" />
<!-- For the contact form -->
<meta name="referrer" content="origin" />
<!-- For LinkedIn -->
<meta property="og:title" content="Aleksandr Hovhannisyan" />
<meta property="og:image" content="https://aleksandrhovhannisyan.github.io/img/profile-photo.jpg" />
<meta property="og:description" content="I'm a software developer who's passionate about tinkering with code, solving problems, and having fun. Get in touch!" />
<meta property="og:url" content="https://aleksandrhovhannisyan.github.io/" />