{% assign reading_length = include.content | number_of_words | divided_by: 250 %}
{% assign showProfilePhoto = include.showProfilePhoto %}
{% assign date = include.date %}
{% assign last_updated = include.last_updated %}
{% assign tags = include.tags %}
{% assign class = include.class %}
{% if minutes == 0 %}{% assign minutes = 1 %}{% endif %}
<ul class="post-meta{% if class %} {{ class }}{% endif %}">
    {% if include.showProfilePhoto %}
        <li>
            {% include picture.html path="assets/img" img="profile-photo.png" alt="" class="meta author-photo" clickable=false %}
        </li>
    {% endif %}
    <li class="meta post-date-published">
        {% include icon.html icon="calendar" class="meta-icon" %}
        <time datetime="{{ include.date | date: "%Y-%m-%d" }}">{{ include.date | date: "%b %-d, %Y" }}</time>
    </li>
    {% if include.last_updated %}
    <li class="meta post-date-updated">
        {% include icon.html icon="info" class="meta-icon" %}
        <time datetime="{{ include.last_updated | date: "%Y-%m-%d" }}">Updated: {{ include.last_updated | date: "%b %-d, %Y" }}</time>
    </li>
    {% endif %}
    <li class="meta post-reading-length">
        {% include icon.html icon="clock" class="meta-icon" %}
        <span>{{ reading_length }} min read</span>
    </li>
    {% if include.tags %}
    <li>
        <ul class="meta post-meta-tags" aria-label="Tags belonging to this blog post.">
            {% for tag in include.tags %}
            <li><a href="/tag/{{ tag }}" class="tag post-meta-tag">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
</ul>
