{% assign minutes = include.content | number_of_words | divided_by: 250 %}
{% if minutes == 0 %}{% assign minutes = 1 %}{% endif %}
<div class="post-meta">
    {% if include.showProfilePhoto %}
        {% include picture.html path="/assets/img" img="profile-photo" ext="png" alt="" class="meta author-photo" clickable=false %}
    {% endif %}
    <div class="meta post-date-published">
        {% include svg.html svg="calendar" class="meta-icon" %}
        <time datetime="{{ include.date | date: "%Y-%m-%d" }}">{{ include.date | date: "%b %-d, %Y" }}</time>
    </div>
    {% if include.last_updated %}
    <div class="meta post-date-updated">
        {% include svg.html svg="info" class="meta-icon" %}
        <time datetime="{{ include.last_updated | date: "%Y-%m-%d" }}">Updated: {{ include.last_updated | date: "%b %-d, %Y" }}</time>
    </div>
    {% endif %}
    <div class="meta post-reading-length">
        {% include svg.html svg="clock" class="meta-icon" %}
        <span>{{ minutes }} min read</span>
    </div>
    {% if include.tags %}
    <ul class="meta post-tags" aria-label="Tags belonging to this blog post.">
        {% for tag in include.tags %}
        <li><a href="/tag/{{ tag }}" class="tag post-tag">{{ tag }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
