<a href="#page-content" class="screen-reader-only skip-navigation">Skip main navigation</a>
<header>
    <nav id="topnav">
        <div class="nav-container">
            <a id="home-link" href="/">
                <img src="/favicon.png" alt="Logo" id="logo" />
                <span id="website-name">{{ site.title }}</span>
            </a>
            <button id="navbar-toggle" aria-label="Open navigation menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-menu">
                <ul class="nav-links">
                    {% assign navLinks = "About,Notes,Blog,Contact" | split: ',' %}
                    {% for link in navLinks %}
                        <li class="nav-item"><a class="nav-link" href="/{{ link | downcase }}/" {% if page.title == link %}aria-current="page" id="active-nav-link"{% endif %}>{{ link }}</a></li>
                    {% endfor %}
                    <li class="nav-item" id="theme-switch-container">
                        <!-- Inspiration: https://create-react-app.dev/ -->
                        <button id="theme-switch" title="Toggle theme">
                            <img aria-hidden="true" id="moon" src="/assets/img/moon.png" alt="🌜" />
                            <img aria-hidden="true" id="sun" src="/assets/img/sun.png" alt="🌞" />
                            <span id="knob"></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>