{% assign img = include.img %}
{% assign ext = include.ext %}
{% assign class = include.class %}
{% assign clickable = include.clickable %}
{% assign path = include.path %}
{% if path == Nil %}{% assign path = '/assets/img/posts/' | append: page.slug %}{% endif %}
<picture 
class="lazy-loaded-picture{% unless clickable == false %} clickable-picture{% endunless %}{% if class %} {{ class }}{% endif %}" 
{% unless clickable == false %}data-clickable{% endunless %}>
    <source 
        srcset="{{ path }}/{{ img }}-placeholder.webp" 
        type="image/webp" 
        data-src="{{ path }}/{{ img }}.webp">
    <img 
        src="{{ path }}/{{ img }}-placeholder.{{ ext }}"
        alt="{{ include.alt }}" 
        data-src="{{ path }}/{{ img }}.{{ ext }}"
        class="placeholder" />
</picture>