{% assign post = include.post %}
<li class="post-preview">
  <a href="{{ post.url }}" aria-hidden="true" tabindex="-1" class="post-preview-thumbnail-container">
    {% include thumbnail.html post=post %}
  </a>
  <h3 class="post-preview-title">
    <a class="underlined-link" href="{{ post.url }}" tabindex="-1">{{ post.title }}</a>
  </h3>
  <p class="post-preview-description">
    {{ post.description | truncate: 122 }}
    <a href="{{ post.url }}" class="underlined-link">Read this post &rarr;</a>
  </p>
  {% include meta.html content=post.content date=post.date tags=post.tags tag_class="post-preview-tag" %}
</li>
