{% assign post = include.post %}
{% assign thumbnail = 'thumbnail.png' %}
{% if post.thumbnail %}
    {% assign thumbnail = post.thumbnail %}
{% endif %}
{% assign path = post.img_path | append: '/' | append: post.slug %}
{% if include.path %}
    {% assign path = include.path %}
{% endif %}
{% assign class = "post-preview-thumbnail" %}
{% if include.class %}
    {% assign class = class | append: ' ' | append: include.class %}
{% endif %}
{% include picture.html img=thumbnail alt="" path=path class=class clickable=false %}