<nav id="topnav">
    <div class="container nav-container">
        <a id="my-name" href="/">🏠 Aleksandr Hovhannisyan</a>
        {% include svg.html svg="hamburger" class="navbar-hamburger" %}
        <ul class="nav-links">
            <li><a href="/experience" {% if page.title == "Experience" %}class="active-nav-link"{% endif %}>Experience</a></li>
            <li><a href="/blog" {% if page.title == "Blog" %}class="active-nav-link"{% endif %}>Blog</a></li>
            <li><a href="/contact" {% if page.title == "Contact" %}class="active-nav-link"{% endif %}>Contact</a></li>
            <li id="theme-switch-container">
                <!-- Inspiration: https://create-react-app.dev/ -->
                <div id="theme-switch">
                    <div id="moon">🌜</div>
                    <div id="sun">🌞</div>
                    <div id="knob"></div>
                </div>
            </li>
        </ul>
    </div>
</nav>