<nav id="topnav">
    <div class="container nav-container">
        <div id="logo">
            <div id="theme-switch"></div>
            <a id="my-name" href="/"></a>
        </div>
        {% include svg.html svg="hamburger" class="navbar-hamburger" %}
        <ul class="nav-links">
            {% assign pages = site.html_pages | where: "showOnNavbar","true" | sort: "order" %}
            {% for p in pages %}
                {% if page.title == p.title %}
                <li><a class="active-nav-link" href="{{ p.url }}">{{ p.title }}</a></li>    
                {% else %}
                <li><a href="{{ p.url }}">{{ p.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>