<nav id="topnav">
    <div class="container nav-container">
        <a id="logo" href="/"><img src="/assets/img/house.png" height="21px" alt="🏠" /><span id="my-name">Aleksandr Hovhannisyan</span></a>
        {% include svg.html svg="hamburger" class="navbar-hamburger" %}
        <ul class="nav-links">
            <li><a href="/experience" {% if page.title == "Experience" %}class="active-nav-link"{% endif %}>Experience</a></li>
            <li><a href="/blog" {% if page.title == "Blog" %}class="active-nav-link"{% endif %}>Blog</a></li>
            <li><a href="/contact" {% if page.title == "Contact" %}class="active-nav-link"{% endif %}>Contact</a></li>
            <li id="theme-switch-container">
                <!-- Inspiration: https://create-react-app.dev/ -->
                <div id="theme-switch">
                    <img id="moon" src="/assets/img/moon.png" alt="🌜" />
                    <img id="sun" src="/assets/img/sun.png" alt="🌞" />
                    <div id="knob"></div>
                </div>
            </li>
        </ul>
    </div>
</nav>