@mixin colors-light() {
    color-scheme: light;
    --color-surface-1: hsl(0deg 0% 100%);
    --color-surface-2: hsl(0deg 0% 96%);
    --color-surface-3: hsl(0deg 0% 92%);
    --color-surface-4: hsl(0deg 0% 75%);
    --color-surface-5: hsl(0deg 0% 55%);
    --color-surface-6: hsl(0deg 0% 35%);
    --color-surface-7: hsl(0deg 0% 23%);
    --color-surface-8: hsl(0deg 0% 13%);
    --color-text-normal: var(--color-surface-8);
    --color-text-soft: var(--color-surface-6);
    --color-text-emphasis: black;
    --color-text-inverted: white;
    --color-border: var(--color-surface-4);
    --color-scrollbar-thumb: var(--color-surface-4);
}

@mixin colors-dark() {
    color-scheme: dark;
    --color-surface-1: hsl(0deg 0% 8%);
    --color-surface-2: hsl(0deg 0% 13%);
    --color-surface-3: hsl(0deg 0% 23%);
    --color-surface-4: hsl(0deg 0% 30%);
    --color-surface-5: hsl(0deg 0% 40%);
    --color-surface-6: hsl(0deg 0% 60%);
    --color-surface-7: hsl(0deg 0% 70%);
    --color-surface-8: hsl(0deg 0% 87%);
    --color-text-normal: var(--color-surface-8);
    --color-text-soft: var(--color-surface-7);
    --color-text-emphasis: white;
    --color-text-inverted: black;
    --color-border: var(--color-surface-5);
    --color-scrollbar-thumb: var(--color-surface-5);
}

html {
  --color-text-link: inherit;

  // Light theme, assumed to be default
  &,
  &[data-theme="light"] {
    @include colors-light;
  }

  // Dark theme
  &[data-theme="dark"] {
    @include colors-dark;
  }

  @media (prefers-color-scheme: dark) {
    &:not([data-theme]) {
      @include colors-dark;
    }
  }
}
