@use "sass:list";
@use "sass:math";

@import "../config";
@import "../functions";

html {
  $type-steps: get($config, "typeScale", "steps");
  $type-sizes: get($config, "typeScale", "sizes");
  $type-base-index: list.index($type-steps, get($config, "typeScale", "base"));
  $type-min: get($type-sizes, "min");
  $type-max: get($type-sizes, "max");
  @for $i from 1 through length($type-steps) {
    $step: list.nth($type-steps, $i);
    $power: $i - $type-base-index;
    $clamp-min: rnd(get($type-min, "baseFontSize") * math.pow(get($type-min, "ratio"), $power), 2);
    $clamp-max: rnd(get($type-max, "baseFontSize") * math.pow(get($type-max, "ratio"), $power), 2);
    /* stylelint-disable-next-line custom-property-pattern */
    --#{get-custom-property-prefix("typeScale")}-#{$step}: #{clamped($clamp-min, $clamp-max)};
  }
}
