@import "../tokens";
@import "../functions";

html {
  // Font size
  $font-size-steps: get($tokens, "fontSize", "steps");
  $font-size-prefix: get-custom-property-prefix("fontSize");
  $min-bp: get($tokens, "breakpoints", get($tokens, "fontSize", "breakpoints", "min"));
  $max-bp: get($tokens, "breakpoints", get($tokens, "fontSize", "breakpoints", "max"));
  @each $step, $step-config in $font-size-steps {
    $min-px: get($step-config, "min");
    $max-px: get($step-config, "max");
    $font-size: clamped($min-px, $max-px, $min-bp, $max-bp);
    /* stylelint-disable-next-line custom-property-pattern */
    --#{$font-size-prefix}-#{$step}: #{$font-size};
  }

  // Line height
  $leading-steps: get($tokens, "leading", "steps");
  $leading-prefix: get-custom-property-prefix("leading");
  @each $step, $value in $leading-steps {
    --#{$leading-prefix}-#{$step}: #{$value};
  }

  // Letter spacing
  $letter-spacing-steps: get($tokens, "letterSpacing", "steps");
  $letter-spacing-prefix: get-custom-property-prefix("letterSpacing");
  @each $step, $value in $letter-spacing-steps {
    --#{$letter-spacing-prefix}-#{$step}: #{$value};
  }
}
