@import "../tokens";
@import "../functions";

$font-size-steps: get($tokens, "fontSize", "steps");
$font-size-prefix: get-custom-property-prefix("fontSize");

$line-height-steps: get($tokens, "lineHeight", "steps");
$line-height-prefix: get-custom-property-prefix("lineHeight");

html {
  // Font size
  @each $step, $step-config in $font-size-steps {
    $min-px: get($step-config, "min");
    $max-px: get($step-config, "max");
    $font-size: clamped($min-px, $max-px);
    /* stylelint-disable-next-line custom-property-pattern */
    --#{$font-size-prefix}-#{$step}: #{$font-size};
  }
  // Line height
  @each $step, $value in $line-height-steps {
    --#{$line-height-prefix}-#{$step}: #{$value};
  }
}
