// Primary theme: blue skies (custom)
$primary-color: #35647a;
$primary-color-dark: #13242c;
$primary-color-light: #4989a7;
$primary-color-highlight: #d3dafa;
$primary-color-link: #205692;

// Secondary theme: coffee (custom)
$secondary-color: #635b4b;
$secondary-color-light: #867d6b;
$secondary-color-highlight: rgba(125, 117, 99, 0.8);
$secondary-color-link: #ae8f5d;

// Miscellaneous colors, mostly on the gray spectrum
$denim: #586069;
$nearly-black: #141414;
$charcoal: #212121;
$nearly-white: #fdfdfd;

// All social media icons
$brand-github: #24292E;
$brand-github-alt: #BEBFC1;
$brand-linkedin: #0077B5;
$brand-upwork: #6fda44;
$brand-stack-exchange: #195398;