$primary-color: #35647a;
$primary-color-dark: #13242c;
$primary-color-light: #4989a7;
$primary-color-selection: #d3dafa;
$primary-color-link: #2378d8;

//$secondary-color: #6b5748;
//$secondary-color-light: #b39b88;
$secondary-color: #635b4b;
$secondary-color-light: #a79c87;
$secondary-color-selection: rgba(95, 90, 79, 0.8);
//$secondary-color-link: #ae8f5d;
$secondary-color-link: #cea25a;

// Miscellaneous colors
$denim: #586069;
$nearly-white: #fdfdfd;

// All brand colors
$brand-github: #24292E;
$brand-github-alt: #BEBFC1;
$brand-linkedin: #0077B5;
$brand-upwork: #6fda44;
$brand-stack-exchange: #195398;
$brand-react: #61dbfb;
$brand-typescript: #294E80;
$brand-grpc: #4A8687;
