// All color palettes, for more legible styling
// See themes.scss for usage.

$blue: rgb(39, 83, 133);
$blue-light: rgb(83, 129, 182);
$blue-cloud: rgb(211, 218, 250);

$coffee: rgb(85, 79, 67);
$coffee-gray: rgb(83, 79, 79);
$coffee-light: rgb(116, 110, 99);

$beige: rgb(177, 169, 156);
$beige-light: rgb(201, 192, 176);

$gray-light: rgb(179, 177, 177);
$charcoal: rgb(44, 44, 44);
$nearly-black: rgb(20, 20, 20);
$nearly-white: rgb(253, 253, 253);