@import 'settings';

@mixin transition($what: all, $duration: $transition-duration) {
    transition: ease $what $duration;
}

@mixin headings {
    h1, h2, h3, h4, h5, h6 {
        @content;
    }
}

@mixin banner {
    max-width: calc(#{$page-max-width} / 1.5) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin underlined-link {
    a {
        border-bottom: 3px solid transparent;

        &:hover {
            border-bottom: 3px solid var(--link-color);
        }
    }
}

@mixin solid-button($bgColor, $textColor) {
    background-color: $bgColor;
    color: $textColor;
    border: 3px solid $bgColor;

    &:focus, &:hover {
        background-color: $textColor;
        color: $bgColor;
    }
}

@mixin hollow-button($bgColor, $textColor) {
    background-color: $bgColor;
    color: $textColor;
    border: 3px solid $textColor;

    &:focus, &:hover {
        background-color: $textColor;
        color: $bgColor;
    }
}