@import 'mixins';

@include comment-banner("Cards that look like material panels.");

.card {
    --card-padding: 30px;
    padding: var(--card-padding);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: calc(var(--card-padding) / 2);

    position: relative;
    background-color: var(--card-bg-color);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: background-color $transition-duration, box-shadow $transition-duration;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 8px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2);
    }
}