@import 'mixins';
@import 'settings';
@import 'fonts';

@include comment-banner("General styling common to all pages on the site.");

::selection {
    background-color: var(--highlight-bg-color);
    color: var(--text-color-emphasis);
}

* {
    box-sizing: border-box;
}

body {
    font-family: $font-family-primary, $font-family-backup;
    color: var(--text-color-normal);
    background-color: var(--bg-color-main);
    @include transition(background-color);
    max-width: $page-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-top: calc(#{$topnav-min-height} + 60px);
}

main {
    padding-bottom: calc(#{$topnav-min-height} + 20px);
}

.centered-content {
    margin: auto;
    padding: 0 1.5rem;
}

i, h1, h2, h3, h4, h5, h6, strong, em {
    color: var(--text-color-emphasis);
    @include transition;
}

h1 {
    font-size: 2.2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

h1, h2 {
    margin-top: 0;
}

a {
    color: var(--link-color);
    @include transition;

    &:hover {
        color: var(--text-color-emphasis);
    }
}

p {
    color: var(--text-color-normal);
    @include transition;
}

.heading, .heading * {
    vertical-align: middle;

    img {
        margin-left: 5px;
        width: 1.1em;
    }
}