@import 'mixins';
@import 'settings';
@import 'fonts';

@include comment-banner("General styling common to all pages on the site.");

::selection {
    background-color: var(--highlight-bg-color);
    color: var(--text-color-emphasis);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    font-family: $font-family-primary, $font-family-backup;
    color: var(--text-color-normal);
    background-color: var(--bg-color-main);
    @include transition(background-color);
}

#page-wrapper {
    position: relative;
    height: 100%;
    min-height: 100vh;
    max-width: $page-max-width;
    margin-left: auto;
    margin-right: auto;
    // Space between us and absolutely positioned footer
    padding-bottom: 100px;
}

.banner {
    max-width: calc(#{$page-max-width} / 1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner * {
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
}

/* Links an entire parent container, but the parent must be set to relative position */
.container-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 1;
}

i, h1, h2, h3, h4, h5, h6, strong, em {
    color: var(--text-color-emphasis);
    @include transition;
}

h1 {
    font-size: 2.2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

h1, h2 {
    margin-top: 0;
}

a {
    color: var(--link-color);
    @include transition;

    &:hover {
        color: var(--text-color-emphasis);
    }
}

p {
    color: var(--text-color-normal);
    @include transition;
}

.heading, .heading * {
    vertical-align: middle;

    img {
        margin-left: 5px;
        width: 1.1em;
    }
}

article {
    margin-top: 120px;
}

hr {
    border: 1.2px solid var(--text-color-emphasis);
    width: 50%;
    @include transition;
}