@import 'settings';
@import 'functions';

@mixin maxFontSize($max) {
    // For most browsers, the base font size is 16px. To increase this fluidly, we find 
    // the screen width cutoff point at which 16px = some value in vw units.
    // At 400px (25rem), for example, we find that 16px is exactly 4vw. So between 
    // 0px and 400px screens we get 16px font, and beyond that we scale up gradually
    // and stop at whatever $max is.
    // Reference: https://www.madebymike.com.au/writing/precise-control-responsive-typography/
    //
    @media screen and (min-width: 25rem) {
        font-size: 4vw;
    }

    // Now we're saying "At what screen width should our scaling 4vw font size become
    // $max?" Equation: 0.04 * screen_width = $max. Solve for screen width: $max / 0.04.
    @media screen and (min-width: toRem($max / 0.04)) {
        font-size: toRem($max);
    }
}


// Inspiration: https://stackoverflow.com/a/49437769/5323344
@mixin transition($props...) {
    $result: ();
  
    @for $i from 1 through length($props) {
      $prop: nth($props, $i);
      $result: append($result, $prop);
      $result: append($result, ease #{$transition-duration});

      @if $i != length($props) {
        $result: append($result, unquote($string: ","));
      }
    }

    transition: $result;
}

@mixin headings {
    h1, h2, h3, h4, h5, h6 {
        @content;
    }
}

@mixin underlinedLink($lightColor, $darkColor) {
    text-decoration: none;
    @include themed(border-bottom, 3px solid transparent, 3px solid transparent);
    @include transition(border, color);

    &:hover, &:focus {
        @include themed(border-bottom, 3px solid $lightColor, 3px solid $darkColor);
    }
}

@mixin solidButton($bgColor, $textColor) {
    background-color: $bgColor;
    color: $textColor;
    border: 3px solid $bgColor;
    @include transition(color, border, background-color);

    &:focus, &:hover {
        background-color: var(--button-bg-hover-color);
        border: 3px solid var(--button-bg-hover-color);
        outline: none;
    }
}

@mixin hollowButton($bgColor, $textColor) {
    background-color: $bgColor;
    color: $textColor;
    border: 3px solid $textColor;
    box-shadow: 0 0 0 0 $textColor;
    @include transition(color, border, box-shadow, background-color);

    &:focus, &:hover {
        box-shadow: 0 0 0 2px $textColor;
        outline: none;
    }
}

@mixin themed($attribute, $light, $dark) {
    #{$attribute}: $light;

    .dark & {
        #{$attribute}: $dark;
    }
}

@mixin selectionResistantColor($color) {
    &, &::selection {
        color: $color;
    }
}

@mixin centered($marginMin: 1.2rem, $contentMax: $page-max-width) {
    display: grid;
    grid-template-columns: minmax($marginMin, 1fr) minmax(0, $contentMax) minmax($marginMin, 1fr);

    > * {
        grid-column: 2;
    }
}

@mixin responsiveGrid($mobileMin, $desktopMin, $mobileMax: 1fr, $desktopMax: 1fr, $cutoff: 25.6rem) {
    grid-template-columns: repeat(auto-fill, minmax($mobileMin, $mobileMax));

    @media only screen and (min-width: $cutoff) {
        grid-template-columns: repeat(auto-fit, minmax($desktopMin, $desktopMax));
    }
}