@import 'colors';
@import 'mixins';
@include comment-banner("Styling for blog post previews.");

.post-title {
    margin-bottom: 10px;
}

.post-stats {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-style: italic;

    .post-date, .post-reading-length {
        @include transition;
    }
}

#post-previews {
    @include card-grid;

    .post-preview {
        width: 100%;

        .post-excerpt {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}

.post-body {
    $main-spacing: 40px;
    margin-top: 60px;
    font-size: 1.1em;

    .post-stats {
        margin-top: calc(#{$main-spacing} / 4);
        margin-bottom: calc(#{$main-spacing} / 2);
    }

    h2 {
        margin-top: $main-spacing;
    }

    img, iframe {
        margin: calc(#{$main-spacing} / 2) auto;
        width: 100%;
    }

    iframe {
        height: 315px;
        max-width: 560px;
    }

    ol li::marker {
        @include transition;
        font-weight: bold;
        margin-right: 5px;
        color: var(--text-color-emphasis);
    }

    ul, ol {
        @include transition;
        padding-left: 30px;
    }

    blockquote {
        --blockquote-bg-color: rgb(216, 216, 216);
        --blockquote-text-color: rgb(110, 110, 110);

        html.night & {
            --blockquote-bg-color: rgb(63, 63, 63);
            --blockquote-text-color: #{$beige};
        }

        p, p * {
            color: var(--blockquote-text-color);

            em {
                @include transition;
            }
        }

        background: var(--blockquote-bg-color);
        margin: 25px auto;
        padding: 1px 1px 1px 20px;
        border-left: 4px solid var(--blockquote-text-color);
        @include transition;
    }

    .spoiler {
        $spoiler-color: rgb(133, 133, 133);
        background-color: $spoiler-color;
        color: $spoiler-color;
        margin-top: 10px;
        margin-bottom: 10px;
        @include transition;

        &:hover {
            background-color: rgba(0, 0, 0, 0);
            color: var(--text-color-emphasis);
        }
    }
}