$transition-duration: 0.3s;
$page-max-width: 900px;
$paragraph-spacing: calc(1em + 0.5vw);
$font-weights: ("light": 300, "normal": 400, "bold": 600);

$navbar-height: 64px;
$navbar-z-index: 100;
$footer-height: 80px;