---
layout: default
is_blog_page: true
---

{%- assign pagePath = paginator["page_path"] | remove: 'index.html' -%}
<section class="section blog-post-previews">
  {%- if page.autopages -%}
    {%- assign pageTag = page.autopages.display_name -%}
  {% else %}
    {%- assign pageTag = 'all' -%}
  {%- endif -%}
  {%- assign blogType = "" -%}
  {%- assign pageTagWords = pageTag | split: '-' -%}
  {%- for word in pageTagWords -%}
    {%- assign capitalizedWord = word | capitalize | append: ' ' -%}
    {%- assign blogType = blogType | append: capitalizedWord -%}
  {%- endfor -%}
  <h1 class="blog-page-title">{{ blogType }}Blog Posts</h1>
  <p class="blog-page-description">
    {%- if site.data.tags[pageTag] -%}
      {{- site.data.tags[pageTag] -}}
    {% else %}
      {{- site.data.tags["all"] -}}
    {%- endif -%}
  </p>
  <nav aria-label="Popular tags">
    <ul class="navigation-tags">
      {%- assign tags = "all,accessibility,css,webperf,off-topic" | split: ',' -%}
      {%- for tag in tags %}
        {%- assign tagDescription = site.data.tags[tag][1] -%}
        <li>
          <a
            href="{% if tag == "all" %}/blog/{% else %}/tag/{{ tag }}{% endif %}"
            class="tag post-tag navigation-tag{% if pageTag == tag %} active{% endif %}"
            title="{% if pageTag != tag %}View{% endif %} {% if tag == "all" %}all posts{% else %}posts tagged as {{ tag }}{% endif %}"
            {%- if pageTag == tag -%}aria-current="page"{%- endif -%}
          >
            {{- tag -}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <ol class="post-preview-grid">
    {{- content -}}
  </ol>
  {%- if paginator.page_trail -%}
  <ol class="pagination-trail" aria-label="Page navigation for {{ pageTag }} blog posts.">
    {%- for trail in paginator.page_trail -%}
      {%- assign trailPath = trail.path | remove: 'index.html' -%}
      {%- assign totalPages = paginator["total_pages"] -%}
      <li>
        <a
          href="{{ trailPath | prepend: site.baseurl }}"
          {% if pagePath == trailPath %}aria-current="page"{%- endif -%}
          title="{% if pagePath == trailPath %}Page {{ trail.num }}{% else %}Go to page {{ trail.num }}{% endif %}"
          aria-label="{% if pagePath == trailPath %}Viewing page {{ trail.num }} of {{ totalPages }}{% else %}Go to page {{ trail.num }}{% endif %}"
          class="tag pagination-page{% if pagePath == trailPath %} active{% endif %}"
        >
        {{- trail.num -}}
        </a>
      </li>
    {%- endfor -%}
  </ol>
  {%- endif -%}
</section>
