---
layout: default
isBlogPage: true
eleventyComputed:
  preloads:
    -
      as: font
      type: font/woff2
      href: "{{ fonts.code.weights.regular.url }}"
      crossorigin: true
---

<article class="stack blog-page">
  {%- assign pageTag = tag.title | default: 'all' -%}
  <header class="hero stack gap-0">
    <h1 class="hero-title">{%- if pageTag == 'all' -%}All Blog Posts{%- else -%}Tag: {{ pageTag }}{%- endif -%}</h1>
    <p class="hero-subtitle">
      Browse the following posts, or <a href="/tags/">view all tags</a>.
    </p>
  </header>
  {{ content }}
</article>
