---
layout: default
---

<article id="contact" class="section">
  <div class="contact-content">
    {{ content }}
    <section class="social-networks">
      <h2 class="social-networks-heading">You can also find me on:</h2>
      <ul class="social-networks-list">
        {%- for network in site.data.socials -%}
          <li>
            <a class="social-network" href="{{ network.url }}">
              {%- assign icon = network.icon -%}
              {%- assign iconClass = "social-network-icon " | append: "icon-" | append: icon -%}
              {%- include icon.html icon=icon class=iconClass fill="currentColor" stroke="none" -%}
              <span class="social-network-name">{{ network.name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</article>

