---
layout: default
---

<article class="contact">
  <div class="contact-content">
    {{ content }}
    <section class="contact-socials">
      <h2 class="font-md">You can also find me on:</h2>
      <ul class="contact-socials-list">
        {%- assign networks = socials | entries -%}
        {%- for network in networks -%}
          {%- assign id = network | first -%}
          {%- assign data = network | last -%}
          <li>
            <a class="contact-social" href="{{ data.url }}" target="_blank" rel="noreferrer noopener">
              {% socialIcon id -%}
              {%- comment -%}Icons already have a title; having both that and a visible label = double narration{%- endcomment -%}
              <span class="contact-social-name" aria-hidden="true">{{ data.name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</article>

