---
layout: default
---

<article id="contact" class="section">
  <div class="contact-content">
    {{ content }}
    <section class="social-networks">
      <h2 class="social-networks-heading">You can also find me on:</h2>
      <ul class="social-networks-list">
        {%- for network in socials -%}
          <li>
            <a class="social-network" href="{{ network.url }}" target="_blank" rel="noreferrer noopener">
              {% socialIcon network.icon -%}
              <span class="social-network-name">{{ network.name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</article>

