{%- comment -%}Global variables for reuse in meta tags{%- endcomment -%}
{%- if page.url == "/" -%}
  {%- assign pageTitle = site.title -%}
{%- else -%}
  {%- assign pageTitle = title | default: renderData.title -%}
  {%- assign pipe = " | " -%}{%- comment -%}Get an error otherwise, probably a Liquid/11ty bug{%- endcomment -%}
  {%- assign pageTitle = pageTitle | append: pipe | append: site.title -%}
{%- endif -%}
{%- assign description = description | default: site.description -%}
{%- assign keywords = keywords | default: site.keywords -%}
{%- if isPost -%}
  {%- assign ogImage = "/assets/images/posts/" | append: page.fileSlug | append: "/" | append: "thumbnail-1280.jpeg" -%}
{%- endif -%}
{%- comment -%}Sometimes, ogImage is specified in front matter, hence why I don't just do this in the if statement above.{%- endcomment -%}
{%- if ogImage -%}
  {%- assign ogImage = ogImage | toAbsoluteUrl -%}
{%- endif -%}
{%- comment -%}Canonical URL. Make sure each page has one since some spam sites pull and repost content.{%- endcomment -%}
{%- assign defaultCanonicalUrl = page.url | toAbsoluteUrl -%}
{%- assign canonicalUrl = canonicalUrl | default: defaultCanonicalUrl -%}

<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  {%- comment -%}Metadata for search engines{%- endcomment -%}
  <title>{{ pageTitle }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ keywords | join: ', ' }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ site.author }}">
  <link rel="canonical" href="{{ canonicalUrl }}">
  {%- comment -%}Prevent this page from showing up on search engines{%- endcomment -%}
  {%- if noindex -%}
    <meta name="robots" content="noindex">
  {%- endif -%}
  {%- comment -%}Font face and variable declarations in head rather than in stylesheet{%- endcomment -%}
  {%- capture fontCss -%}
    {%- include fontFace.liquid -%}
    {%- include fontVariables.liquid -%}
    body {
      font-family: var(--font-main);
    }
    code {
      font-family: var(--font-code);
    }
  {%- endcapture -%}
  <style>{{ fontCss | compileAndMinifyScss }}</style>
  {%- comment -%}Global and page/layout-specific CSS{%- endcomment -%}
  <link rel="stylesheet" href="/assets/styles/main.css">
  {%- for stylesheet in stylesheets -%}
    <link rel="stylesheet" href="{{ stylesheet.href }}">
  {%- endfor -%}
  {%- comment -%}Favicons{%- endcomment -%}
  <link rel="icon" href="/assets/images/favicons/favicon-32.png" sizes="32x32">
  <link rel="icon" href="/assets/images/favicons/favicon-57.png" sizes="57x57">
  <link rel="icon" href="/assets/images/favicons/favicon-76.png" sizes="76x76">
  <link rel="icon" href="/assets/images/favicons/favicon-96.png" sizes="96x96">
  <link rel="icon" href="/assets/images/favicons/favicon-128.png" sizes="128x128">
  <link rel="icon" href="/assets/images/favicons/favicon-192.png" sizes="192x192">
  <link rel="icon" href="/assets/images/favicons/favicon-228.png" sizes="228x228">
  {%- comment -%}Load the user's last selected theme{%- endcomment -%}
  <script>
    (function() {
      const savedTheme = localStorage.getItem('theme');
      if (savedTheme) {
        document.documentElement.className = savedTheme;
      } else {
        const userPrefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
        const preferredTheme = userPrefersDarkMode ? 'dark' : 'light';
        document.documentElement.className = preferredTheme;
        localStorage.setItem('theme', preferredTheme);
      }
    })();
  </script>
  {%- comment -%}Common bundles.{%- endcomment -%}
  <script type="module" src="/assets/scripts/main.bundle.mjs"></script>
  {%- comment -%}Posts with comments.{%- endcomment -%}
  {%- if commentsId -%}
    <script type="module" src="/assets/scripts/comments.bundle.mjs"></script>
  {%- endif -%}
  {%- comment -%}Open Graph social media previews{%- endcomment -%}
  <meta property="og:title" content="{{ pageTitle }}">
  {%- if ogImage -%}
    <meta property="og:image" content="{{ ogImage }}">
  {%- endif -%}
  <meta property="og:description" content="{{ description }}">
  <meta property="og:url" content="{{ page.url | toAbsoluteUrl }}">
  {%- comment -%}Twitter card meta tags{%- endcomment -%}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@hovhaDovah">
  <meta name="twitter:title" content="{{ pageTitle }}">
  <meta name="twitter:description" content="{{ description }}">
  {%- if ogImage -%}
    <meta name="twitter:image" content="{{ ogImage }}">
  {%- endif -%}
  {%- comment -%}Preload optimizations{%- endcomment -%}
  <link rel="preload" as="style" type="text/css" href="/assets/styles/main.css">
  <link rel="preload" as="font" type="font/woff2" href="{{ fonts.main.weights.light.url }}" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="{{ fonts.main.weights.regular.url }}" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="{{ fonts.main.weights.bold.url }}" crossorigin>
  <link rel="modulepreload" as="script" type="text/javascript" href="/assets/scripts/main.bundle.mjs">
  {%- if preloads -%}
    {% for preload in preloads %}
      <link rel="preload" as="{{ preload.as }}" type="{{ preload.type }}" href="{{ preload.href }}" {% if preload.crossorigin %}crossorigin{% endif %}>
    {%- endfor -%}
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for aleksandrhovhannisyan.com" href="/feed.xml" />
</head>
<body>
  {%- include navbar.html -%}
  <main id="page-content" class="centered">
    {{ content }}
  </main>
  {%- include footer.html -%}
</body>
</html>
