---
layout: base
defaultTheme: light
criticalCSS:
  - css/fontFace.liquid
  - css/fontVariables.liquid
  - css/criticalFontUsage.css
stylesheets:
  - /assets/styles/main.css
scripts:
  - /assets/scripts/index.mjs
requiredFonts:
  - title
  - body
  - code
eleventyComputed:
  preloads:
    -
      as: style
      type: text/css
      href: /assets/styles/main.css
    -
      as: font
      type: font/woff2
      href: "{{ fonts.body.weights.regular.url }}"
      crossorigin: true
    -
      as: font
      type: font/woff2
      href: "{{ fonts.title.url }}"
      crossorigin: true
---

{%- include "navbar.html" -%}
<main id="page-content" class="container">
  {{ content }}
</main>
{%- include "footer.html" -%}
