---
layout: post
stylesheets:
  - href: https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css
eleventyComputed:
  preloads:
    -
      as: font
      type: font/woff2
      href: "{{ fonts.main.regularItalic }}"
      crossorigin: true
    -
      as: font
      type: font/woff2
      href: "{{ fonts.code.regular }}"
      crossorigin: true
    -
      as: font
      type: font/woff2
      href: "{{ fonts.code.bold }}"
      crossorigin: true
    -
      as: style
      type: text/css
      href: https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css
---

{{ content }}
