---
layout: default
isBlogPage: true
eleventyComputed:
  preloads:
    -
      as: font
      type: font/woff2
      href: "{{ fonts.code.weights.medium.url }}"
      crossorigin: true
    -
      as: font
      type: font/woff2
      href: "{{ fonts.code.weights.bold.url }}"
      crossorigin: true
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ title }}</h1>
    {% include meta.html post: page, content: content, categories: categories, showProfilePhoto: true %}
  </header>
  <div class="post-content">
    {{ content }}
    {%- if commentsId and site.featureFlags.enableComments -%}
      <section id="comments" data-comments-id="{{ commentsId }}">
        <div class="comment-actions">
          <h2>Comments <span id="comments-count" aria-hidden="true"></span></h2>
          <a
            class="button post-comment-button"
            href="https://github.com/{{ site.issues.owner }}/{{ site.issues.repo }}/issues/{{ commentsId }}"
            aria-label="Post a comment on GitHub"
            target="_blank"
            rel="noreferrer noopener"
            >Post comment</a
          >
        </div>
        <p class="comments-explanation">
          This comment system is powered by the
          <a
            href="https://docs.github.com/en/rest/reference/issues"
            target="_blank"
            rel="noreferrer noopener"
            >GitHub Issues API</a
          >. You can learn more about
          <a href="/blog/static-site-comments-github-issues/">how I built it</a> or
          post a comment over on GitHub, and it'll show up below once you reload this page.
        </p>
        <div id="comments-wrapper">
          <p id="comments-placeholder">Loading...</p>
        </div>
      </section>
    {%- endif -%}
  </div>
</article>
{%- assign thumbnail = "thumbnail-1280.jpeg" -%}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ page.url | toAbsoluteUrl }}"
    },
    "headline": {{ title | escape | toJson }},
    "image": ["{{ site.url }}/assets/images/posts/{{ page.fileSlug }}/{{ thumbnail }}"],
    "datePublished": {{ page.date | toJson }},
    {% if lastUpdated -%}
    "dateModified": {{ lastUpdated | toJson }},
    {% endif -%}
    "author": {
      "@type": "Person",
      "name": "{{ site.author }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.title }}",
      "url": "{{ site.url }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ '/assets/images/favicons/favicon-128.png' | toAbsoluteUrl }}"
      }
    },
    "description": {{ description | stripNewlines | strip | toJson }}
  }
</script>
