---
layout: default
eleventyComputed:
  preloads:
    -
      as: font
      type: font/woff2
      href: "{{ fonts.mono.variants.roman.url }}"
      crossorigin: true
---

<article class="post prose rhythm">
  <header class="post-header">
    <p class="post-date"><span class="screen-reader-only">Published </span>{% include "date.html" date: page.date, dateFormat: "MMMM DD, YYYY" %}{% if lastUpdated %} &bull; Updated {% include "date.html" date: lastUpdated, dateFormat: "MMMM DD, YYYY" %}{% endif %}</p>
    <h1 class="post-title">{{ title }}</h1>
    <ul class="post-tags" aria-label="Tags">
      {%- for category in categories -%}
        <li>
          <a href="/tags/{{ category }}/" class="post-tag" aria-label="{{ category }}">
            {{- category -}}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </header>
  <div class="rhythm">
    {{ content }}
    {%- if commentsId -%}
      <template id="comment-template">
        <li>
          <div class="post-comment stack gap-0">
            <header class="post-comment-meta">
              <img eleventy:ignore alt="" aria-hidden="true" class="post-comment-avatar circle">&nbsp;
              <a class="post-comment-username" target="_blank" rel="noreferrer noopener"></a>&nbsp;
              <span class="pill post-comment-author" data-shape="round" data-size="sm">Author</span>
              <span class="size-font-sm">commented <time></time></span>&nbsp;
              <span class="size-font-sm post-comment-edited">(edited)</span>
            </header>
            <div class="post-comment-body rhythm"></div>
          </div>
        </li>
      </template>
      <section id="comments" class="rhythm" data-comments-id="{{ commentsId }}">
        <div class="rhythm">
          <div class="repel align-center gap-0">
            <h2>Comments <span id="comments-count"></span></h2>
            <a
              class="button primary comment-button"
              href="https://github.com/{{ site.issues.owner }}/{{ site.issues.repo }}/issues/{{ commentsId }}"
              target="_blank"
              rel="noreferrer noopener"
            >
              Comment on GitHub
            </a>
          </div>
          <p class="comments-explanation">
            Comment system powered by the GitHub Issues API. You can learn more about
            <a href="/blog/static-site-comments-github-issues/">how I built it</a> or
            post a comment on GitHub, and it'll show up below once you reload this page.
          </p>
        </div>
        <p id="comments-placeholder" class="text-center">
          <button id="load-comments" type="button" class="button secondary">Load comments</button>
        </p>
        <ol class="rhythm" style="--rhythm: 2lh;" aria-live="assertive"></ol>
      </section>
    {%- endif -%}
  </div>
</article>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ page.url | toAbsoluteUrl }}"
    },
    "headline": {{ title | escape | toJson }},
    "description": {{ description | strip | toJson }},
    {% if openGraph.image %}
    "image": ["{{ openGraph.image }}"],
    {% endif %}
    "datePublished": {{ page.date | toJson }},
    {% if lastUpdated -%}
    "dateModified": {{ lastUpdated | toJson }},
    {% endif -%}
    "author": {
      "@type": "Person",
      "name": "{{ site.author }}"
    }
  }
</script>
