---
layout: blog
permalink: "/blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber | plus: 1 }}/{% endif %}"
pagination:
  data: collections.posts
  size: 20
  alias: posts
eleventyComputed:
  title: "Blog{% if pagination.pageNumber > 0 %} (Page {{ pagination.pageNumber | plus: 1 }}){% endif %}"
---


<ol class="post-preview-grid">
  {% for post in posts %}
    {% include postPreview.html post: post, titleLevel: 2 %}
  {% endfor %}
</ol>
{%- assign numPages = pagination.hrefs | size -%}
{%- if numPages > 1 -%}
  {%- include pagination.html hrefs: pagination.hrefs -%}
{%- endif -%}
