---
layout: blog
description: Programming tutorials, thoughts on software development, and the occasional off-topic post.
permalink: "/blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber | plus: 1 }}/{% endif %}"
pagination:
  data: collections.posts
  size: 20
  alias: posts
renderData:
  title: "Blog{% if pagination.pageNumber > 0 %} (Page {{ pagination.pageNumber | plus: 1 }}){% endif %}"
---


<ol class="post-preview-grid">
  {% for post in posts %}
    {% include postPreview.html post: post, titleLevel: 2 %}
  {% endfor %}
</ol>
{%- assign numPages = pagination.hrefs | size -%}
{%- if numPages > 1 -%}
<ol class="pagination-trail" aria-label="Page navigation">
  {%- for pageUrl in pagination.hrefs %}
    <li>
      <a
        href="{{ pageUrl }}"
        class="tag pagination-page{% if pageUrl == page.url %} active{% endif %}"
        aria-label="Page {{ forloop.index }}"
        {% if pageUrl == page.url -%}aria-current="page"{%- endif -%}
      >
        {{- forloop.index -}}
      </a>
    </li>
  {%- endfor -%}
</ol>
{%- endif -%}
