---
layout: blog
permalink: "/blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber | plus: 1 }}/{% endif %}"
pagination:
  data: collections.posts
  size: 20
  alias: posts
eleventyComputed:
  title: "Blog{% if pagination.pageNumber > 0 %} (Page {{ pagination.pageNumber | plus: 1 }}/{{ pagination.hrefs | size }}){% endif %}"
---


{% include postPreviews.html posts: posts, titleLevel: 2 %}
{%- assign numPages = pagination.hrefs | size -%}
{%- if numPages > 1 -%}
  {%- include pagination.html hrefs: pagination.hrefs -%}
{%- endif -%}
