---
layout: blog
pagination:
  data: collections.postsByCategory
  size: 1
  alias: category
permalink: "{{ category.href }}"
noindex: true
excludeFromSitemap: true
renderData:
  title: "Posts tagged as {{ category.title }}{% if category.pageNumber > 0 %} (Page {{ category.pageNumber | plus: 1 }}){% endif %}"
---

<ol class="post-preview-grid">
  {% for post in category.posts %}
    {% include postPreview.html post: post, titleLevel: 2 %}
  {% endfor %}
</ol>
{%- if category.totalPages > 1 -%}
  {%- include pagination.html hrefs: category.hrefs.all -%}
{%- endif -%}
