---
layout: blog
pagination:
  data: collections.postsByCategory
  size: 1
  alias: category
permalink: "/categories/{{ category.slug }}/"
noindex: true
excludeFromSitemap: true
renderData:
  title: "Posts tagged as {{ category.title }}{% if category.pageNumber > 0 %} (Page {{ category.pageNumber | plus: 1 }}){% endif %}"
---

<ol class="post-preview-grid">
  {% for post in category.items %}
    {% include postPreview.html post: post, titleLevel: 2 %}
  {% endfor %}
</ol>
{%- if category.totalPages > 1 -%}
<ol class="pagination-trail" aria-label="Page navigation">
  {%- for pageSlug in category.pageSlugs.all -%}
    {%- assign categoryUrl = "/categories/" | append: pageSlug | append: "/" -%}
    <li>
      <a
        href="{{ categoryUrl}}"
        class="tag pagination-page{% if categoryUrl == page.url %} active{% endif %}"
        aria-label="Page {{ forloop.index }}"
        {% if categoryUrl == page.url %}aria-current="page"{% endif %}
      >
        {{- forloop.index -}}
      </a>
    </li>
  {%- endfor -%}
</ol>
{%- endif -%}
