---
title: Software Developer & Tech Writer
permalink: /
img_path: assets/img
---

<section id="hero-banner" class="section">
  <h1 class="title">Hey there! I'm Aleksandr.</h1>
  <p class="subtitle">
    I'm a software developer and writer with an eye for creating beautiful, responsive designs. I love learning new things and
    sharing my discoveries with others through writing. You can
    <a class="underlined-link" href="/blog/">read my blog</a>,
    <a class="underlined-link" href="/about/">learn more about me</a>, or
    <a class="underlined-link" href="/contact/">get in touch</a>.
  </p>
  {% include picture.html img="profile-photo.png" alt="" id="headshot" clickable=false %}
</section>
<section id="recent-posts" class="section">
    {% include linkedHeading.html heading="Recent Blog Posts" class="heading" level=2 %}
    <ol class="post-preview-grid">
        {% for post in site.posts limit:5 %} {% include postPreview.html post=post %} {% endfor %}
    </ol>
</section>
<section id="popular-posts" class="section">
    {% include linkedHeading.html heading="Popular Blog Posts" class="heading" level=2 %}
  <ol class="post-preview-grid">
    {% assign popular_posts = site.posts | where: "is_popular", true %} {% for post in popular_posts %} {% include
    postPreview.html post=post %} {% endfor %}
  </ol>
</section>
<section id="projects" class="section">
  {% include linkedHeading.html heading="Software Projects" level=2 %}    
  <p>
    I have experience with a wide range of stacks and enjoy working on projects that have a strong UI/UX
    component. Below is just some of the work that I'm proud of. Got a project in mind? <a class="underlined-link" href="/contact/">Get in touch!</a>
  </p>
  <ul class="project-grid card-grid">
    {% for project in site.data.projects %}
        {% include projectCard.html project=project %}
    {% endfor %}
    <li id="github-cta">
      <h3 class="github-cta-heading"><strong>Want to see more of my work?</strong></h3>
      <p class="github-cta-subheading">Check out my other repos:</p>
      <a
        aria-label="Aleksandr Hovhannisyan's GitHub profile."
        href="https://github.com/AleksandrHovhannisyan?tab=repositories"
        >{% include icon.html icon="github" class="icon-github" %}</a>
    </li>
  </ul>
</section>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "image": "{{ site.url }}/assets/img/profile-photo.png",
    "jobTitle": "Software Developer",
    "name": "Aleksandr Hovhannisyan",
    "sameAs": [
      "https://github.com/AleksandrHovhannisyan",
      "https://www.upwork.com/freelancers/~014eb3a95d4d1fd855",
      "https://www.linkedin.com/in/aleksandr-hovhannisyan-ba154b120/"
    ]
  }
</script>
