@import 'mixins';
@import 'settings';
@import 'fonts';

@include comment-banner("General styling common to all pages on the site.");

::selection {
    background-color: var(--selection-bg-color);
    color: var(--text-color-emphasis);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: $font-family-primary, $font-family-backup;
    color: var(--text-color-normal);
    background-color: var(--bg-color-main);
    @include transition(background-color);
}

#page-wrapper {
    position: relative;
    height: 100%;
    min-height: 100vh;
    max-width: $page-max-width;
    margin-left: auto;
    margin-right: auto;
    // Space between us and absolutely positioned footer
    padding-bottom: 100px;
}

.banner {
    @include banner;
    font-size: 1.1em;

    * {
        text-align: center;
    }

    + hr {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        box-shadow: 0px 2px 5px 0px var(--text-color-normal);
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
}

/* Links an entire parent container, but the parent must be set to relative position */
.container-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 1;
}

strong {
    color: var(--text-color-emphasis);
    @include transition;
}

@include headings {
    color: var(--text-color-emphasis);
    @include transition;
}

ul, ol {
    li {
        line-height: 24px;
    }
}

h1 {
    font-size: 2.2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;

    &, h2 {
        margin-top: 0;
    }
}

a {
    text-decoration: none;
    color: var(--link-color);
    @include transition;
}

p {
    margin-top: 17px;
    margin-bottom: 17px;
    color: var(--text-color-normal);
    @include transition;

    &, li {
        line-height: 1.5em;
    }
}

.heading {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    &, * {
        vertical-align: middle;
    }

    img {
        margin-left: 10px;
        width: 1.1em;
    }
}

article {
    margin-top: 120px;
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1.2px solid var(--text-color-normal);
    @include transition;
}

p, ul, ol, figcaption {
    @include underlined-link;
}