@import 'mixins';
@import 'settings';
@import 'fonts';

::selection {
    background-color: var(--selection-bg-color);
    color: var(--selection-text-color);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color-nav);
}

::-webkit-scrollbar-thumb {
    background: var(--button-bg-hover-color);
    border-radius: 5px;

    &:hover {
        background: var(--button-bg-color);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body {
    background-color: var(--bg-color-main);
    color: var(--text-color-normal);
    font-family: $font-family-primary, $font-family-backup;
    position: relative;
    @include transition(background-color);
}

#page-wrapper {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: $page-max-width;
    min-height: 100vh;
    // Space between us and absolutely positioned footer
    padding-bottom: 130px;
    position: relative;
}

.banner {
    @include banner;

    * {
        text-align: center;
    }

    + hr {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.35rem;
}

/* Links an entire parent container, but the parent must be set to relative position */
.container-link {
    height: 100%;
    left: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 100%;
    z-index: 1;
}

strong {
    color: var(--text-color-emphasis);
    @include transition;
}

@include headings {
    color: var(--text-color-emphasis);
    @include transition;
}

ul, ol {
    li {
        line-height: 24px;
    }
}

h1 {
    font-size: 2.2em;
    margin-block-end: 0.67em;
}

a {
    text-decoration: none;

    &, blockquote & {
        color: var(--link-color);
        font-weight: bold;
        @include transition;
    }
}

p {
    color: var(--text-color-normal);
    margin-bottom: $paragraph-spacing;
    @include transition;

    &, li {
        line-height: 1.5em;
    }
}

.heading-with-image {
    align-items: center;
    display: flex;
    margin-bottom: 40px;

    &, * {
        vertical-align: middle;
    }

    img {
        margin-left: 10px;
        width: 1.1em;
    }
}

.section {
    margin-top: 135px;
}

hr {
    border: 1.2px solid rgb(145, 145, 145);
    margin-bottom: 8px;
    margin-top: 8px;
    @include transition;
}

p, ul, ol, figcaption {
    @include underlined-link;
}

#error {
    margin-top: 200px;
    text-align: center;
}