@import 'mixins';
@import 'fonts';
@import 'settings';

::selection {
    background-color: var(--selection-bg-color);
    color: var(--selection-text-color);
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 0.875em;
    height: 0.875em;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bg-color);
    border-radius: 2px;

    &:hover {
        background: var(--scrollbar-thumb-bg-color-hover);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.screen-reader-only {
    position: absolute;
    left: -5000px;
    z-index: $nav-z-index + 1;
    
    &:focus {
        left: 0;
    }
}

.skip-navigation {
    padding: 0.8em;
    color: var(--nav-text-color);
    font-weight: map-get($font-weights, "normal");
    @include transition(color, background-color);

    &:focus {
        background-color: var(--nav-link-bg-color-hover);
    }
}

html {
    @include maxFontSize(20px);
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color-normal);
    display: grid;
    font-family: $font-family-normal;
    grid-template-rows: 1fr $footer-height;
    line-height: 1.6;
    min-height: 100vh;
    position: relative;
    @include transition(background-color);
}

#page-content {
    grid-row: 1;
    min-width: 0; // https://css-tricks.com/preventing-a-grid-blowout/
    padding: $nav-height 0;
    @include centered;
}

.banner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 670px;
    text-align: center;
}

// Links an entire parent container, but the parent must be set to relative position
.container-link {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

strong {
    color: var(--text-color-emphasis);
    font-weight: map-get($font-weights, "bold");
    @include transition(color);
}

@include headings {
    color: var(--text-color-emphasis);
    margin-bottom: 0.5em;
    font-weight: map-get($font-weights, "bold");
    line-height: 1.4;
    @include transition(color);
}

.title, .subtitle, .heading {
    text-align: center;
}

.subtitle {
    max-width: 70ch;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
}

.underlined-link {
    @include underlinedLink;
}

a {
    color: var(--link-color);
    font-weight: map-get($font-weights, "bold");
    text-decoration: none;
}

p {
    color: var(--text-color-normal);
    line-height: 1.6;
    margin-bottom: $paragraph-spacing;
    @include transition(color);
}

.heading-with-image {
    font-size: 1.5em;
    scroll-margin-top: $nav-height + 20px;
    align-items: center;
    display: flex;
    margin-bottom: 40px;

    &, * {
        vertical-align: middle;
    }

    img {
        margin-left: 10px;
        width: 1.1em;
    }
}

.linked-heading {
    position: relative;

    .heading-anchor-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 1em;
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-100%);

        &:hover {
            .heading-anchor {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &:hover {
        .heading-anchor {
            visibility: visible;
            opacity: 1;
        }
    }

    .heading-anchor {
        visibility: hidden;
        opacity: 0;
        display: flex;
        margin-left: 4px;
        @include transition(visibility, opacity, border, color);
    }
}

.section {
    margin-top: 5rem;

    .heading {
        margin-bottom: 1em;
    }
}

li {
    ol, ul {
        margin-top: calc(#{$paragraph-spacing} / 2);
        margin-bottom: 0 !important;
    }
}

#markdown-toc {
    li:not(:last-child) {
        margin-bottom: calc(#{$paragraph-spacing} / 2);
    }
}

.input {
    background-color: var(--input-bg-color);
    border: solid 1px var(--input-border-color);
    border-radius: 2px;
    box-shadow: var(--input-box-shadow);
    color: var(--text-color-emphasis);
    height: 2em;
    margin-bottom: 0.75em;
    padding: 0.25em 0.5em;
    width: 100%;
    @include transition(background-color, border-color, box-shadow, color);

    &:focus {
        outline: none;
        border-color: var(--input-border-color-focus);
        box-shadow: var(--input-box-shadow-focus);
    }
}

label {
    color: var(--text-color-emphasis);
    display: block;
    font-weight: map-get($font-weights, "bold");
    margin-bottom: 0.3125em;
    @include transition(color);

    &.required::after {
        color: var(--input-required-asterisk-color);
        content: " *";
        @include transition(color);
    }
}
