/*
VS Code Dark Theme, modified for use with Rouge.
*/

$background: #2f2f2f; // modified from original
$selection: #add6ff26;
$comment: #6A9955;
$text: #b3b9c5;
$function: #d4d4d4;
$variable: #569cd6;
$number: #b5cea8;
$attribute: #9cdcfe;
$keyword: #569cd6;
$string: #ce9178;
$tag: #569cd6;
$constant: #569cd6;
$support: #9cdcfe;
$operator: #d4d4d4;
$punctuation: #d4d4d4;
$operator-word: #569cd6;

.highlight {
  border-radius: 5px;

  &, code {
    background-color: $background;
    color: $text;
    font-size: 1em;
    padding: 20px;
  }

  *::selection {
    background-color: $selection;
    // This will be overriden by more specific styles but retained for normal text and labels
    color: $text;
  }

  /* Base Style */
  pre {
    background-color: $background;
    color: transparent;

    &.highlight {
      margin: 0px;
      overflow: auto;
      padding: 15px;
      white-space: pre;
    }
  }

  /* Comments */
  .c, .cm, .cp, .c1, .cs {
    font-style: italic;

    &, &::selection {
      color: $comment;
    }
  }

  /* Functions */
  .nf, .nx {
    &, &::selection {
      color: $function;
    }
  }

  /* Attributes */
  .na {
    &, &::selection {
      color: $attribute;
    }
  }

  /* Variables */
  .bp, .nv, .vc, .vg, .vi, .err {
    &, &::selection {
      color: $variable;
    }
  }

  /* Numbers */
  .m, .mf, .mh, .mi, .mo, .il {
    &, &::selection {
      color: $number;
    }
  }

  /* Keywords */
  .k, .kd, .kn, .kr, .kt {
    &, &::selection {
      color: $keyword;
    }
  }

  /* Constants */
  .kc {
    &, &::selection {
      color: $constant;
    }
  }

  /* Pseudo */
  .kp, .nb {
    &, &::selection {
      color: $support;
    }
  }

  /* Strings */
  .s, .sb, .sc, .s1, .s2 {
    &, &::selection {
      color: $string;
    }
  }

  /* Classes/tags */
  .nc, .nt, .nl {
    &, &::selection {
      color: $tag;
    }
  }

  /* Punctuation */
  .p {
    &, &::selection {
      color: $punctuation;
    }
  }

  .o {
    &, &::selection {
      color: $operator;
    }
  }

  /* Operators */
  .ow {
    &, &::selection {
      color: $operator-word;
    }
  }
}

.si {
  &, &::selection {
    color: #569cd6;
  }
}