/* VS Code Dark Theme, modified for use with Rouge. */
@import 'colors';

.highlight {
  border-radius: 5px;

  &, code {
    background-color: $code-background;
    color: $code-text;
  }

  *::selection {
    background-color: $code-selection;
    // This will be overriden by more specific styles but retained for normal text and labels
    color: $code-text;
  }

  /* Base Style */
  pre {
    background-color: $code-background;
    color: transparent;

    &.highlight {
      margin: 0px;
      overflow: auto;
      white-space: pre;
    }
  }

  /* Comments */
  .c, .cm, .cp, .c1, .cs {
    font-style: italic;
    @include selectionResistantColor($code-comment);
  }

  /* Functions */
  .nf, .nx {
    @include selectionResistantColor($code-function);
  }

  /* Attributes */
  .na {
    @include selectionResistantColor($code-attribute);
  }

  /* Variables */
  .bp, .nv, .vc, .vg, .vi, .err {
    @include selectionResistantColor($code-variable);
  }

  /* Numbers */
  .m, .mf, .mh, .mi, .mo, .il {
    @include selectionResistantColor($code-number);
  }

  /* Keywords */
  .k, .kd, .kn, .kr, .kt {
    @include selectionResistantColor($code-keyword);
  }

  /* Constants */
  .kc {
    @include selectionResistantColor($code-constant);
  }

  /* Pseudo */
  .kp, .nb {
    @include selectionResistantColor($code-support);
  }

  /* Strings */
  .s, .sb, .sc, .s1, .s2 {
    @include selectionResistantColor($code-string);
  }

  /* Classes/tags */
  .nc, .nt, .nl {
    @include selectionResistantColor($code-tag);
  }

  /* Punctuation */
  .p {
    @include selectionResistantColor($code-punctuation);
  }

  .o {
    @include selectionResistantColor($code-operator);
  }

  /* Operators */
  .ow {
    @include selectionResistantColor($code-operator-word);
  }
}