/*
VS Code Dark Theme, modified for use with Rouge.
*/

$background: #282828;
$selection: #add6ff26;
$comment: #6A9955;
$text: #b3b9c5;
$function: #d4d4d4;
$variable: #569cd6;
$number: #b5cea8;
$attribute: #9cdcfe;
$keyword: #569cd6;
$string: #ce9178;
$tag: #569cd6;
$constant: #569cd6;
$support: #9cdcfe;
$operator: #d4d4d4;
$punctuation: #d4d4d4;
$operator-word: #569cd6;

.highlight {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  &, code {
    background-color: $background;
    color: $text;
    font-size: 1em;
    padding: 20px;
  }

  *::selection {
    background-color: $selection;
    // This will be overriden by more specific styles but retained for normal text and labels
    color: $text;
  }

  /* Base Style */
  pre {
    background-color: $background;
    color: transparent;

    &.highlight {
      margin: 0px;
      overflow: auto;
      padding: 15px;
      white-space: pre;
    }
  }

  /* Comments */
  .c, .cm, .cp, .c1, .cs {
    font-style: italic;
    @include fixedColor($comment);
  }

  /* Functions */
  .nf, .nx {
    @include fixedColor($function);
  }

  /* Attributes */
  .na {
    @include fixedColor($attribute);
  }

  /* Variables */
  .bp, .nv, .vc, .vg, .vi, .err {
    @include fixedColor($variable);
  }

  /* Numbers */
  .m, .mf, .mh, .mi, .mo, .il {
    @include fixedColor($number);
  }

  /* Keywords */
  .k, .kd, .kn, .kr, .kt {
    @include fixedColor($keyword);
  }

  /* Constants */
  .kc {
    @include fixedColor($constant);
  }

  /* Pseudo */
  .kp, .nb {
    @include fixedColor($support);
  }

  /* Strings */
  .s, .sb, .sc, .s1, .s2 {
    @include fixedColor($string);
  }

  /* Classes/tags */
  .nc, .nt, .nl {
    @include fixedColor($tag);
  }

  /* Punctuation */
  .p {
    @include fixedColor($punctuation);
  }

  .o {
    @include fixedColor($operator);
  }

  /* Operators */
  .ow {
    @include fixedColor($operator-word);
  }
}