@import 'colors';
@import 'mixins';

@include comment-banner("CSS custom properties used for theming the site (day and night mode)");

html.day {
    --bg-color-main: white;
    --bg-color-contrast: #{$charcoal};
    --highlight-bg-color: #{$blue-cloud};

    --text-color-normal: #{$coffee-gray};
    --text-color-nav: #{$silver};
    --text-color-emphasis: black;
    
    --link-color: #{$blue};
    --link-bg-hover-color: #{$blue-cloud};

    --button-bg-color: #{$blue};
    --button-text-color: white;
    --button-bg-hover-color: #{$blue-light};
    --button-text-hover-color: white;

    --card-bg-color: #{$nearly-white};
    --label-bg-color: #e7e7e7;
    --hover-color-general: whitesmoke;

    --form-bg-color: white;

    --code-bg-color: rgb(235, 232, 232);

    --blockquote-bg-color: rgb(216, 216, 216);
    --blockquote-text-color: rgb(110, 110, 110);
}

html.night {
    --bg-color-main: #{$charcoal};
    --bg-color-contrast: #{$nearly-black};
    // Alpha applied for Chrome bug where colors meld together: https://stackoverflow.com/a/29416776/10480032
    $highlight-bg-color: adjust-color($coffee-milky, $alpha: -0.2);
    --highlight-bg-color: #{$highlight-bg-color};

    --text-color-normal: #{$beige};
    --text-color-emphasis: #{$beige-light};
    --text-color-nav: #{$silver};

    --link-color: rgb(167, 157, 137);
    $coffee-milky-transparent: adjust-color($coffee-milky, $alpha: -0.5);
    --link-bg-hover-color: #{$coffee-milky-transparent};

    --button-bg-color: #{$coffee-dark};
    --button-text-color: #{$beige-light};
    --button-bg-hover-color: #{$coffee-milky};
    --button-text-hover-color: #{$nearly-black};

    $card-bg-color: adjust-color($charcoal, $red: 15, $blue: 15, $green: 15);
    --card-bg-color: #{$card-bg-color};
    --label-bg-color: #{$charcoal};
    $hover-color-general: adjust-color($charcoal, $red: 22, $blue: 22, $green: 22);
    --hover-color-general: #{$hover-color-general};

    --form-bg-color: #{$hover-color-general};

    --code-bg-color: #{$coffee-gray};

    --blockquote-bg-color: rgb(63, 63, 63);
    --blockquote-text-color: #{$beige};
}