@import 'colors';
@import 'mixins';

html.day {
    --bg-color-main: #ffffff;
    --bg-color-contrast: #{$primary-color-dark};
    --selection-bg-color: #{$primary-color-highlight};

    --text-color-normal: #{$denim};
    --text-color-nav: #cecdcd;
    --text-color-emphasis: #37474F;
    --link-color: #{$primary-color-link};

    --button-bg-color: #{$primary-color};
    --button-text-color: white;
    --button-bg-hover-color: #{$primary-color-light};
    --button-text-hover-color: white;

    --card-bg-color: #fefefe;
    --label-bg-color: #dae3e7;
    --hover-color-general: #F3F3F3;

    --form-bg-color: #F3F3F3;
    --code-color: #37474F;
    --code-bg-color: #dae3e7;
    --blockquote-bg-color: rgb(216, 216, 216);
    --spoiler-color: #90A4AE;
}

html.night {
    --bg-color-main: #{$charcoal};
    --bg-color-contrast: #{$nearly-black};
    --selection-bg-color: #{$secondary-color-highlight};

    --text-color-normal: #9b9b9b;
    --text-color-emphasis: #c0b9ab;
    --text-color-nav: #b3b1b1;
    --link-color: #{$secondary-color-link};

    --button-bg-color: #{$secondary-color};
    --button-text-color: #d1d1d1;
    --button-bg-hover-color: #{$secondary-color-light};
    --button-text-hover-color: #{$nearly-black};

    $card-bg-color: adjust-color($charcoal, $red: 15, $blue: 15, $green: 15);
    --card-bg-color: #{$card-bg-color};
    --label-bg-color: #{$charcoal};
    $hover-color-general: adjust-color($charcoal, $red: 22, $blue: 22, $green: 22);
    --hover-color-general: #313131;

    --form-bg-color: #313131;
    --code-color: #cacaca;
    --code-bg-color: rgb(83, 79, 79);
    --blockquote-bg-color: #373434;
    --spoiler-color: rgb(163, 158, 148);
}
