@import 'colors';
@import 'mixins';

html.day {
    --main-bg-color: #ffffff;
    --nav-bg-color: #2c2c2c;
    --hero-bg-color: #1c1c1c;
    --selection-bg-color: #{$primary-color-selection};

    --text-color-normal: #{$denim};
    --text-color-nav: #cecdcd;
    --text-color-emphasis: #192226;
    --link-color: #{$primary-color-link};

    --button-bg-color: #{$primary-color};
    --button-bg-hover-color: #{$primary-color-light};

    --card-bg-color: #ffffff;
    --label-bg-color: #dae3e7;
    --hover-color-general: #eaeaea;

    --form-bg-color: #f6f6f6;
    --form-shadow-color: #bebebe;

    --code-color: #37474F;
    --code-bg-color: #e6edf0;
    --blockquote-bg-color: rgb(216, 216, 216);
    --blockquote-text-color: #484e55;
    --spoiler-color: #90A4AE;
}

html.night {
    --main-bg-color: #1a1a1a;
    //--nav-bg-color: #1F1F1F;
    --nav-bg-color: #292929;
    --hero-bg-color: #202020;
    //--hero-bg-color: black;
    --selection-bg-color: #{$secondary-color-selection};

    --text-color-normal: #adadad;
    --text-color-emphasis: #cccccc;
    --text-color-nav: #cecdcd;
    --link-color: #{$secondary-color-link};

    --button-bg-color: #ae9679;
    --button-bg-hover-color: rgb(221, 188, 148);;

    --card-bg-color: #292929;
    --label-bg-color: #53514b;
    --hover-color-general: #313131;

    --form-bg-color: #313131;
    --form-shadow-color: #151515;

    --code-color: #d9d9d9;
    --code-bg-color: #5f5f5f;
    --blockquote-bg-color: rgb(63, 62, 62);
    --blockquote-text-color: #aaaaaa;
    --spoiler-color: rgb(163, 158, 148);
}
