@import 'colors';

html.light {
//    --main-bg-color: #fafafd;
    --main-bg-color: #fdfdfd;
    --nav-bg-color: #2c2c2c;
    --nav-text-color: #dedede;
    --hero-bg-color: #1c1c1c;
    --selection-bg-color: #{$primary-color-selection};

    --text-color-normal: #{$denim};
    --text-color-emphasis: #384950;
    --link-color: #{$primary-color-link};

    --button-bg-color: #{$primary-color};
    --button-bg-hover-color: #{$primary-color-light};

    --card-bg-color: #ffffff;
    
    --tag-bg-color: #{$primary-color-tag};
    --tag-text-color: #{$primary-color};

    --code-bg-color: rgba(230, 230, 230, 0.749);
    --code-text-color: #5b6169;

    --table-header-bg-color: #4d4d4d;
    --table-header-text-color: #e6e6e6;
    --table-row-stripe-color: hsl(0, 0%, 96%);
    --table-row-border-color: hsl(0, 0%, 92%);

    --hover-color-general: #e8ecee;
    
    --form-bg-color: #f6f6f6;
    --form-input-color: white;
    
    --blockquote-bg-color: transparent;
    --blockquote-text-color: var(--text-color-normal);
    --spoiler-color: #{$primary-color-tag};

    --input-border-color: hsl(0, 0%, 85%);
    --input-border-color-focus: #288bba;
    --input-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0);
    --input-box-shadow-focus: 0 0 6px 0 #7ed6ff;

    --danger-color: #{$primary-danger-color};
}

html.dark {
    --main-bg-color: #1a1a1a;
    --nav-bg-color: #292929;
    --nav-text-color: #dedede;
    --hero-bg-color: #202020;
    --selection-bg-color: #{$secondary-color-selection};
    
    --text-color-normal: #adadad;
    --text-color-emphasis: #cccccc;
    --link-color: #{$secondary-color-link};
    
    --button-bg-color: #{$secondary-color};
    --button-bg-hover-color: #{$secondary-color-light};
    
    --card-bg-color: #292929;
    
    --tag-bg-color: #ada08f;
    --tag-text-color: #000000;
    
    --code-bg-color: rgba(88, 88, 88, 0.65);
    --code-text-color: #b2b2b2;
    
    --table-header-bg-color: #292929;
    --table-header-text-color: #dedede;
    --table-row-stripe-color: #2a2a2a;
    --table-row-border-color: #2a2a2a;
    
    --hover-color-general: #292929;
    
    --form-bg-color: #292929;
    --form-input-color: #3b3b3b;
    
    --blockquote-bg-color: #2c2c2c;
    --blockquote-text-color: #aaaaaa;
    --spoiler-color: #9c9387;
    
    --input-border-color: hsl(0, 0%, 25%);
    --input-border-color-focus: #{$secondary-color};
    --input-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0);
    --input-box-shadow-focus: 0 0 6px 0 #fcd876;
    
    --danger-color: #{$secondary-danger-color};
}
