@import 'colors';

html.light {
    --button-bg-color-hover: #4989a7;
    --button-bg-color: #35647a;
    --button-text-color: white;
    --card-bg-color: white;
    --footer-bg-color: var(--navbar-bg-color);
    --footer-text-color: var(--navbar-text-color);
    --form-bg-color: var(--hover-bg-color);
    --hero-bg-color: #1c1c1c;
    --hover-bg-color: hsl(0, 0%, 96%);
    --inline-code-bg-color: rgba(231, 231, 231, 0.75);
    --inline-code-text-color: #424850;
    --input-bg-color: white;
    --input-border-color-focus: #288bba;
    --input-border-color: hsl(0, 0%, 85%);
    --input-box-shadow-focus: 0 0 6px 0 #7ed6ff;
    --input-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0);
    --input-required-asterisk-color: #98434B;
    --link-color: #216ec4;
    //--main-bg-color: #fdfdfd;
    --main-bg-color: white;
    --navbar-bg-color: #2c2c2c;
    --navbar-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
    --navbar-link-bg-color-hover: #444647;
    --navbar-text-color: hsl(0, 0%, 85%);
    --post-meta-text-color: black;
    --post-meta-icon-fill: #696c6f;
    --scrollbar-thumb-bg-color-hover: #adadad;
    --scrollbar-thumb-bg-color: #858585;
    --scrollbar-track-bg-color: var(--navbar-bg-color);
    --selection-bg-color: rgba(218, 227, 231, 0.8);
    --selection-text-color: black;
    --spoiler-bg-color: #dae3e7;
    --star-fill-color-filled: #35647a;
    --star-fill-color-empty: #adacac;
    --table-header-bg-color: hsl(0, 0%, 90%);
    --table-header-text-color: black;
    --table-border-color: hsl(0, 0%, 80%);
    --tag-bg-color-hover: #35647a;
    --tag-bg-color: #dae3e7;
    --tag-text-color-hover: white;
    --tag-text-color: var(--text-color-emphasis);
    --text-color-emphasis: #2e3c42;
    --text-color-normal: #3b4249;
    --theme-switch-bg-color: #747474;
    --theme-switch-knob-active-shadow: none;
    --theme-switch-knob-bg-color: rgb(207, 207, 207);
    --theme-switch-knob-border-color: #35647a;
    --theme-switch-knob-shadow: none;
}

html.dark {
    --button-bg-color-hover: #f3d5b3;
    --button-bg-color: #bda17f;
    --button-text-color: #292929;
    --card-bg-color: #292929;
    --footer-bg-color: var(--navbar-bg-color);
    --footer-text-color: var(--navbar-text-color);
    --form-bg-color: var(--hover-bg-color);
    --hero-bg-color: #202020;
    --hover-bg-color: #292929;
    --inline-code-bg-color: rgba(88, 88, 88, 0.65);
    --inline-code-text-color: #c4c4c4;
    --input-bg-color: #3b3b3b;
    --input-border-color-focus: #bda17f;
    --input-border-color: hsl(0, 0%, 25%);
    --input-box-shadow-focus: 0 0 6px 0 #fcd876;
    --input-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0);
    --input-required-asterisk-color: #C25450;
    --link-color: #cea25a;
    --main-bg-color: #1a1a1a;
    --navbar-bg-color: #292929;
    --navbar-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
    --navbar-link-bg-color-hover: #444647;
    --navbar-text-color: hsl(0, 0%, 85%);
    --post-meta-text-color: #c7c7c7;
    --post-meta-icon-fill: #919191;
    --scrollbar-thumb-bg-color-hover: #adadad;
    --scrollbar-thumb-bg-color: #858585;
    --scrollbar-track-bg-color: var(--navbar-bg-color);
    --selection-bg-color: rgba(156, 147, 135, 0.8);
    --selection-text-color: black;
    --spoiler-bg-color: #9c9387;
    --star-fill-color-filled: #bda17f;
    --star-fill-color-empty: #474747;
    --table-header-bg-color: #292929;
    --table-header-text-color: #dedede;
    --table-border-color: #575757;
    --tag-bg-color-hover: #ffcd91;
    --tag-bg-color: #ada08f;
    --tag-text-color-hover: black;
    --tag-text-color: black;
    --text-color-emphasis: #cccccc;
    --text-color-normal: #adadad;
    --theme-switch-bg-color: #6e5f4b;
    --theme-switch-knob-active-shadow: 0 0 10px 0 #f3d5b3;
    --theme-switch-knob-bg-color: #a79c87;
    --theme-switch-knob-border-color: #635b4b;
    --theme-switch-knob-shadow: 0 0 5px 0 lighten(#a79c87, 75%);
}
