@import 'colors';

html.light {
    --main-bg-color: #ffffff;
    --nav-bg-color: #2c2c2c;
    --nav-text-color: #dedede;
    --hero-bg-color: #1c1c1c;
    --selection-bg-color: #{$primary-color-selection};

    --text-color-normal: #{$denim};
    --text-color-emphasis: #384950;
    --link-color: #{$primary-color-link};

    --button-bg-color: #{$primary-color};
    --button-bg-hover-color: #{$primary-color-light};

    --card-bg-color: #ffffff;
    
    --tag-bg-color: #{$primary-color-tag};
    --tag-text-color: #{$primary-color};

    --code-bg-color: rgba(234, 234, 234, 0.749);
    --code-text-color: #5b6169;

    --hover-color-general: #f6f6f6;
    
    --form-bg-color: #f6f6f6;
    --form-input-color: white;
    
    --blockquote-bg-color: transparent;
    --blockquote-text-color: var(--text-color-normal);
    --spoiler-color: #{$primary-color-tag};
    --comment-bg-color: #f6f6f6;
}

html.dark {
    --main-bg-color: #1a1a1a;
    --nav-bg-color: #292929;
    --nav-text-color: #dedede;
    --hero-bg-color: #202020;
    --selection-bg-color: #{$secondary-color-selection};

    --text-color-normal: #adadad;
    --text-color-emphasis: #cccccc;
    --link-color: #{$secondary-color-link};

    --button-bg-color: #{$secondary-color};
    --button-bg-hover-color: #{$secondary-color-light};

    --card-bg-color: #292929;

    --tag-bg-color: #ada08f;
    --tag-text-color: #000000;

    --code-bg-color: rgba(88, 88, 88, 0.65);
    --code-text-color: #b2b2b2;

    --hover-color-general: #292929;

    --form-bg-color: #292929;
    --form-input-color: #3b3b3b;

    --blockquote-bg-color: #2c2c2c;
    --blockquote-text-color: #aaaaaa;
    --spoiler-color: #9c9387;
    --comment-bg-color: #292929;
}
