@import 'colors';
@import 'mixins';

html.day {
    --main-bg-color: #ffffff;
    --nav-bg-color: rgb(44, 44, 44);
    --hero-bg-color: #252525;
    --selection-bg-color: #{$primary-color-selection};

    --text-color-normal: #{$denim};
    --text-color-nav: #cecdcd;
    --text-color-emphasis: #192226;
    --link-color: #{$primary-color-link};

    --button-bg-color: #{$primary-color};
    --button-text-color: white;
    --button-bg-hover-color: #{$primary-color-light};
    --button-text-hover-color: white;

    --card-bg-color: #ffffff;
    --label-bg-color: #dae3e7;
    --hover-color-general: #eaeaea;

    --form-bg-color: #eaeaea;
    --form-shadow-color: #bebebe;

    --code-color: #37474F;
    --code-bg-color: #dae3e7;
    --blockquote-bg-color: rgb(216, 216, 216);
    --blockquote-text-color: #484e55;
    --spoiler-color: #90A4AE;
}

html.night {
    --main-bg-color: #212121;
    //--nav-bg-color: #1F1F1F;
    --nav-bg-color: rgb(44, 44, 44);
    --hero-bg-color: #282828;
    --selection-bg-color: #{$secondary-color-selection};

    --text-color-normal: #9e9e9e;
    --text-color-emphasis: #bdbdbd;
    --text-color-nav: #cecdcd;
    --link-color: #{$secondary-color-link};

    --button-bg-color: #{$secondary-color};
    --button-text-color: #d1d1d1;
    --button-bg-hover-color: #{$secondary-color-light};
    --button-text-hover-color: #141414;

    --card-bg-color: #2e2e2e;
    --label-bg-color: #484747;
    --hover-color-general: #313131;

    --form-bg-color: #313131;
    --form-shadow-color: #151515;

    --code-color: #cacaca;
    --code-bg-color: rgb(82, 82, 82);
    --blockquote-bg-color: rgb(63, 62, 62);
    --blockquote-text-color: #aaaaaa;
    --spoiler-color: rgb(163, 158, 148);
}
