#page-not-found {
    align-items: center;
    animation: backgroundScroll 40s linear infinite;
    animation-fill-mode: forwards;
    background-color: #1a1a1a;
    // https://www.transparenttextures.com/stardust.html
    background-image: url('/assets/img/404/stardust.png');
    display: flex;
    flex-direction: column;
    grid-column: 1;
    height: 100%;
    justify-content: center;
    left: 0;
    margin-top: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    text-shadow: black;

    @keyframes backgroundScroll {
        from {background-position: 0 0;}
        to {background-position: 798px 0;}
    }

    h1 {
        color: #cccccc;
    }

    p {
        color: #adadad;
    }

    a {
        color: #cea25a;
    }
}
