@import 'settings';
@import 'mixins';

#about-me {
    display: grid;
    grid-template-columns: minmax(0, $page-max-width);
    row-gap: $paragraph-spacing;
    margin-bottom: $nav-height;

    a {
        @include underlinedLink;
    }

    p {
        margin: 0;
    }

    ul,
    ol {
        @include transition(color);
        padding-left: 2em;
    }
}