@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'settings';

.blog-page-title {
    font-size: 1.8em;
}

.post-tag {
    display: inline-block;
}

.post-preview-grid {
    margin-top: 3em;
}

.tag-navigation {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    li {
        margin-bottom: 0;
    }

    .post-tag {
        margin-bottom: 1em;
        margin-right: 1em;
        padding: 0.2em 0.8em;
        height: 2.2em;
    }
}

.post-preview {
    list-style: none;
    margin: 0;
    display: grid;
    align-items: center;
    grid-template-areas:
        "thumbnail"
        "title"
        "meta"
        "description";

    &:not(:last-of-type) {
        margin-bottom: 6em;
    }

    .post-meta {
        grid-area: meta;
    }
}

.post-preview-title {
    font-size: 1em;
    margin-bottom: 1em;
    grid-area: title;
    
    a {
        font-weight: map-get($font-weights, "bolder");
        color: var(--text-color-emphasis);
    }
}

.post-preview-thumbnail-container {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-bottom: 1.5em;
    grid-area: thumbnail;
}

.post-preview-thumbnail {
    flex-shrink: 0;
    height: auto;
    min-width: calc(100vw - 2.7 * 1.2rem);
    width: 100%;
    display: flex;
    align-items: center;

    img {
        height: auto !important;
    }
}

.post-preview-description {
    margin-bottom: 1em;
    grid-area: description;
}

.post-preview-read-post-link {
    font-weight: map-get($font-weights, "bold");
}

@media screen and (min-width: 750px) {
    .post-preview {
        flex-wrap: nowrap;
        grid-template-areas:
            "thumbnail title"
            "thumbnail description"
            "thumbnail meta";

        &:not(:last-of-type) {
            margin-bottom: 4em;
        }
    }
    
    .post-preview-thumbnail-container {
        margin-right: 1.8em;
        margin-bottom: 0;
    }

    .post-preview-thumbnail {
        min-width: inherit;
        width: 150px;
    }
}

@media screen and (min-width: 900px) {
    .post-preview-thumbnail {
        width: 275px;
    }
}

.post-preview-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-trail {
    margin-top: 3em;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.pagination-page {
    @extend .tag;
    margin-bottom: 1em;
    margin-right: 0.625em;
    padding: 0.4em 0.8em;
    font-size: 0.875em;
}

.pagination-page-current {
    @extend .active-tag;
}

.post-title {
    margin-top: 0 !important;
    margin-bottom: 1rem;
}

.post-meta {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
    font-weight: map-get($font-weights, "light");
    list-style: none;
    margin: 0;
    color: var(--post-meta-text-color);

    .author-photo {
        height: 2.5rem;
        width: 2.5rem !important;

        * {
            border-radius: 50% !important;
        }
    }

    .meta {
        display: flex;
        align-items: center;
        margin: 0 1em 1em 0;
        @include transition(color);
    }

    .meta-icon {
        @include transition(fill);
        fill: var(--post-meta-icon-fill);
        height: 1em;
        margin-right: 5px;
        width: 1em;
    }
}

.post-meta-tags {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;

    li {
        margin: 0;
    }
}

.post-meta-tag {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    margin-right: 0.625em;
    padding: 0.3em 0.8em;
}

#post {
    @include headings {
        scroll-margin-top: $navbar-height + 20px;
        margin-top: 1.5em;
    }
}

.post-header {
    margin-bottom: $paragraph-spacing;
}

.post-content {
    display: grid;
    grid-template-columns: minmax(0, $page-max-width);
    row-gap: $paragraph-spacing;
    overflow-wrap: break-word;

    p {
        margin: 0;
    }

    a:not(.button) {
        @include underlinedLink;
    }
    
    figure {
        figcaption {
            font-size: 0.875em;
            font-style: italic;
            text-align: center;
            @include transition(color);
        }

        picture {
            margin-top: 0;
            margin-bottom: 1em;
        }
    }

    figure,
    picture {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    img,
    iframe {
        max-width: 100%;
    }

    img {
        border-radius: 5px;
        max-width: 100%;
    }

    blockquote,	
    figure,	
    picture,	
    iframe,	
    table,
    div.highlighter-rouge {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    ol li::marker {
        @include transition(color);
        color: var(--text-color-emphasis);
        font-weight: map-get($font-weights, "bold");
        margin-right: 5px;
    }

    ul,
    ol {
        @include transition(color);
        padding-left: 2em;
    }

    blockquote {
        border-left: 4px solid;
        margin-left: 1.2rem;
        padding: 0.5em 1.2em;

        p:not(:last-child) {
            margin-bottom: $paragraph-spacing;
        }
    }

    div.highlighter-rouge {
        border-radius: 5px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);

        & > div.highlight {
            // 20px bottom + 10px from pre.highlight = 30px (see below)
            padding: 30px 30px 20px 30px;

            pre.highlight {
                // Spacing between horizontal bar and the code, whenever we overflow horizontally
                padding-bottom: 10px;
            }
        }

        code {
            padding: 0;
        }
    }

    .spoiler {    
        @include transition(color, background-color);
        
        &,
        * {
            background-color: var(--spoiler-bg-color);
            color: var(--spoiler-bg-color);
        }

        &:hover {
            &,
            * {
                background-color: transparent;
                color: var(--text-color-normal);
            }

            code {
                background-color: var(--inline-code-bg-color);
                color: var(--inline-code-text-color);
            }
        }
    }
}

.code-header {
    display: flex;
    background-color: #3b3b3b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 12px 20px;
    margin-bottom: calc(-1 * #{$paragraph-spacing} + -1px);
    margin-top: 0.5em;
    z-index: 2;

    // Code blocks that have a header
    & + .highlighter-rouge {
        margin-top: 0 !important;

        // If we don't do this, the top-left and top-right border radii will be visible
        & .highlight {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}

.code-file-name-container {
    display: flex;
    align-items: center;
    flex: 2;
    justify-content: flex-start;
}

.code-file-name {
    color: #bcbcbc;
    font-size: 1rem;
    font-weight: map-get($font-weights, "normal");
    margin: 0;
    word-break: break-all;
    @include transition(color);

    &::before {
        content: "📂";
        margin-right: 5px;
    }
}

.copy-code-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.copy-code-button {
    border: none;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    background-color: #616161;
    color: #e7e7e7;
    padding: 0.4em 0.5em;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    top: 0;
    position: relative;
    @include transition(color, background-color);

    &::before {
        content: "Copy";
    }

    &::after {
        margin-left: 4px;
        content: "📋";
        width: 1em;
    }

    &.copied,
    &:focus, 
    &:hover {
        color: black;
        background-color: #adadad;
    }

    &:active {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
        top: 2px;
    }

    &.copied {
        &::before {
            content: "Copied!";
        }

        &::after {
            content: "✔️";
        }
    }
}

code {
    background-color: var(--inline-code-bg-color);
    border-radius: 3px;
    color: var(--inline-code-text-color);
    font-family: $font-family-code;
    font-size: 0.875em;
    padding: 3px 6px;
    @include transition(color, background-color);
}


