@import 'mixins';
@import 'fonts';
@import 'colors';
@import 'settings';

.contact-heading {
    font-size: 1.5em;
    margin-bottom: 2rem;
}

#contact-information {
    column-gap: 120px;
    display: grid;
    grid-template-areas: "form"
                         "socials";
    grid-template-rows: auto;

    @media only screen and (min-width: 800px) {
        grid-template-areas: "form form form socials";
    }
}

.contact-form {
    $form-max-width: 475px;

    background-color: var(--form-bg-color);
    border-radius: 2px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
    grid-area: form;
    margin-bottom: 60px;
    max-width: $form-max-width;
    padding: 30px;
    @include transition(background-color);

    * {
        font-family: $font-family-normal;
        font-size: 1em;
    }

    textarea {
        line-height: 1.6 !important;
        max-width: $form-max-width;
        min-height: 8.75em;
        resize: none;
        width: 100%;
    }

    .button {
        border-radius: 2px;
        height: 2.5em;
        max-width: 100%;
        width: 100%;
    }
}

// Spammers begone
input.honeypot {
    display: none;
}

.social-networks-heading {
    font-size: 1.17em;
}

#social-networks {
    column-gap: 30px;
    display: grid;
    grid-auto-rows: 60px;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    margin-bottom: 60px;
    margin-top: 60px;
    row-gap: 50px;
    list-style-type: none;
}

.social-network {
    margin: 0;
}

.social-network-link {
    height: 100%;
    border-radius: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include transition(background-color);

    &:focus, &:hover {
        background-color: var(--hover-bg-color);
        cursor: pointer;
    }

    .network-name {
        color: var(--text-color-normal);
        font-weight: map-get($font-weights, "normal");
        align-self: center;
        grid-column: 2;
        @include transition(color);
    }
}

.network-icon {
    align-self: center;
    justify-self: center;
    width: 35px;
}

.linkedin-square {
    background: white;
    /* Nice little hack for getting a perfect fill */
    border-radius: 4px;
    fill: $brand-linkedin;
}

.github {
    @include transition(fill);
    @include themed(fill, $brand-github, $brand-github-alt);
}

.stack-exchange {
    fill: $brand-stack-exchange;
}

.upwork {
    fill: $brand-upwork;
}
