@import 'mixins';
@import 'fonts';
@import 'colors';
@import 'settings';

#contact {
    margin-top: 50px;
}

#contact-information {
    column-gap: 120px;
    display: grid;
    grid-template-areas: "form"
                         "socials";
    grid-template-rows: auto;
}

#contact-form {
    grid-area: form;
    margin-bottom: 60px;

    form {
        $form-max-width: 475px;
        margin-bottom: 50px;
        margin-top: 30px;
        max-width: $form-max-width;
    
        * {
            font-family: $font-family-primary, $font-family-backup;
            font-size: 1em;
        }
    
        textarea {
            max-width: $form-max-width;
            min-height: 200px;
            resize: none;
            transition: height 0s;
            width: 100%;
        }
    
        input:not([class="button solid-button"]), textarea {
            background-color: var(--form-bg-color);
            border: 0px solid;
            border-radius: 5px;
            box-shadow: 0 0 2px 2px var(--form-shadow-color);
            color: var(--text-color-normal);
            margin-bottom: 20px;
            padding: 5px 10px;
            transition: background-color $transition-duration, box-shadow $transition-duration, color $transition-duration;
            width: 100%;

            &:focus {
                box-shadow: 0 0 2px 2px var(--button-bg-hover-color);
                outline: none;
            }
        }
    
        label {
            display: block;
            margin-bottom: 5px;

            &.required::after {
                color: var(--link-color);
                content: " *";
                @include transition;
            }
        }
    
        .button {
            height: 50px;
            max-width: 100%;
            width: 100%;
        }
    }
}

@media only screen and (min-width: $device-cutoff-large) {
    #contact-information {
        grid-template-areas: "form form form socials";
    }
}

/* Spammers begone */
input.honeypot {
    display: none;
}

#social-networks {
    column-gap: 30px;
    display: grid;
    grid-auto-rows: 60px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-bottom: 60px;
    margin-top: 60px;
    row-gap: 50px;

    h3 {
        grid-column: 1 / -1;
        grid-row: 1;
    }

    svg {
        align-self: center;
        justify-self: center;
        width: 35px;
    }

    .linkedin-square {
        background: white;
        /* Nice little hack for getting a perfect fill */
        border-radius: 4px;
        fill: $brand-linkedin;
    }
    
    .github {
        @include transition;
        fill: $brand-github;

        .night & {
            fill: $brand-github-alt;
        }
    }
    
    .stack-exchange {
        fill: $brand-stack-exchange;
    }
    
    .upwork {
        fill: $brand-upwork;
    }
}

.social-network {
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Position relative because we have an absolutely 
    positioned .container-link as a child */
    position: relative;
    @include transition(background-color);

    &:hover {
        background-color: var(--hover-color-general);
        cursor: pointer;
    }

    .network-name {
        align-self: center;
        grid-column: 2;
        @include transition;
    }
}