@import 'mixins';
@import 'settings';
@import 'colors';
@import 'card';


#card-grid {
    @include card-grid;
}

#projects h2 {
   @include transition;
}

.project {
    /* Header, description, footer, respectively */
    grid-template-rows: max-content 1fr max-content;

    .project-name {
        color: var(--link-color);
        text-decoration: none;
        @include transition;
    }

    h4 {
        align-self: center;
        grid-area: heading;
        @include transition;
    }

    .project-icon * {
        width: 24px;
        margin-right: 3px;
        display: inline-block;
        vertical-align: middle;
    }
    
    .project-rating {
        font-size: 0.85em;
        justify-self: center;
        align-self: center;
        grid-area: rating;
        display: flex;
        align-items: center;
        @include transition;

        .star {
            width: 16px;
            height: 16px;
            margin-right: 2px;
            fill: $denim;
        }
    }

    .description {
        margin-top: 0px;
        margin-bottom: 0px;
        @include transition;
    }

    .topics {
        display: flex;
        flex-wrap: wrap;
        grid-row: 3;
    
        .topic {
            font-size: 0.9em;
            padding: 5px;
            margin-top: 10px;
            margin-bottom: 0px;
            margin-right: 10px;
            border-radius: 2px;
            background-color: var(--label-bg-color);
            box-shadow: 0 0 2px black;
            @include transition;
        }
    }
}

/* All project cards except the placeholder get a background and box shadow */
.project:not(#project-placeholder) {
    header {
        display: grid;
        grid-template-areas: "heading heading rating";
    }
}

#project-placeholder {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    p {
        @include transition;
    }

    a {
        display: inline-block;
        margin-top: 20px;
        text-decoration: none;
        border-radius: 50%;    
        width: 50px;
        height: 50px;

        svg {
            fill: var(--text-color-emphasis);
            @include transition;
        }
    }
}

#skills {
    #skill-grid {
        display: grid;
        column-gap: 100px;
        row-gap: 40px;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }

    .skill-category h4 {
        margin-bottom: 20px;
    }

    .skill-item {
        margin-top: 10px;
        display: grid;
        column-gap: 10px;
        grid-template-columns: 1fr 1fr;

        &:hover {
            background-color: var(--hover-color-general);
        }

        .skill-name {
            grid-column: 1;
            @include transition;
        }
        
        .skill-rating {
            grid-column: 2;
            display: inline;
            text-align: right;
        }
    }
}

.star {
    width: 18px;
    height: 18px;

    &.star-filled {
        fill: var(--button-bg-color);
        @include transition;

        .night & {
            fill: $gray;
        }
    }

    &.star-empty {
        fill: $silver;
        @include transition;
    
        .night & {
            fill: $coffee-gray;
        }
    }
}

.institution {
    margin-top: 40px;

    .collapsible-content {
        display: grid;
        /* Mobile first: only one column. Changes to two columns on bigger screens. See media query below. */
        grid-template-columns: 1fr;

        h4 {
            margin-top: 21px;
            margin-bottom: 21px;
            margin-left: 10px;
            font-weight: normal;
        }

        ul {
            margin-top: 16px;
            margin-bottom: 16px;
            padding-left: 40px;
            padding-right: 10px;
        }
        
        p {
            padding-left: 10px;
        }

        .awards {
            /* Only matters on mobile, where the awards are stacked underneath courses */
            border-top: solid var(--collapsible-content-border-width) var(--button-bg-color);
            @include transition;
        }
    }
}

/* Line up courses and awards side by side on larger screens */
@media only screen and (min-width: $device-cutoff-large) {

    .institution .collapsible-content {
        grid-template-rows: 1fr;
        grid-template-columns: auto auto;

        .awards {
            /* Now that it's lined up to the right of the courses, there's no need for a top border */
            border-top: none;
            /* But there is for a left border */
            border-left: solid var(--collapsible-content-border-width) var(--button-bg-color);
            @include transition(border);
        }
    }
}