@import 'mixins';
@import 'settings';
@import 'colors';

.project-grid {
    list-style-type: none;

    .project {
        grid-template-rows: max-content 1fr max-content;
        margin-bottom: 0;
    
        header {
            display: flex;
            justify-content: space-between;
        }
    
        .project-name {
            align-self: center;
            grid-area: heading;
            @include transition(color);
    
            .name {
                display: inline;
                color: var(--text-color-emphasis);
                font-size: 1rem;
                margin: 0;
                font-weight: map-get($font-weights, "bold");
            }
        }
    
        .project-icon {
            display: inline-block;
            margin-right: 5px;
    
            * {
                vertical-align: middle;
                width: 24px;
            }
        }
        
        .project-rating {
            align-items: center;
            align-self: center;
            display: flex;
            font-size: 0.875em;
            grid-area: rating;
            justify-self: center;
            margin-right: 0.5em;
            @include transition(color);
    
            .star {
                margin-right: 3px;
                margin-top: 2px;
            }
        }
    
        .project-description {
            margin-bottom: 0px;
            margin-top: 0px;
            @include transition(color);
        }
    
        .topics {
            display: flex;
            flex-wrap: wrap;
            grid-row: 3;
            list-style-type: none;
            margin: 0;
        
            .topic {
                font-size: 0.875em;
                margin-bottom: 0px;
                margin-right: 0.5em;
                margin-top: 0.5em;
                padding: 0.25em 0.5em;
            }
        }
    }
}

#github-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    a {
        border-radius: 50%;
        display: inline-block;
        height: 50px;
        margin-top: 20px;
        text-decoration: none;    
        width: 50px;

        svg {
            @include transition(fill);
            @include themed(fill, $brand-github, $brand-github-alt);
        }
    }
}

#skills {
    #skill-grid {
        column-gap: 100px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        row-gap: 40px;
        list-style: none;
    }

    .skill-category {
        margin: 0;
    }

    .skill-category-name {
        margin-bottom: 1em;
    }

    .skill-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0.5em;
        padding: 0.1em 0.25em;
        border-radius: 5px;
        @include transition(background-color);

        &:hover {
            background-color: var(--hover-bg-color);

            .tooltip {
                display: block;
            }
        }

        .skill-name {
            grid-column: 1;
            word-break: break-word;
            @include transition(color);
        }
        
        .skill-rating {
            align-items: center;
            grid-column: 2;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: flex-end;

            .star {
                margin-left: 4.7px;
            }

            .tooltip {
                // Align the tooltip to the right of each skill rating
                $tooltip-width: 100px;
                width: $tooltip-width;
                left: calc(100% - #{$tooltip-width});
            }
        }
    }
}

#work-experience {
    h2 {
        margin-bottom: 3rem;
    }

    .jobs {
        list-style: none;
    }

    .job {
        grid-template-rows: max-content 1fr max-content;
        width: 100%;
        
        &:not(:last-child) {
            margin-bottom: 3rem;
        }

        .job-header {
            display: flex;
            align-items: center;
            margin-bottom: 0.25em;
        }

        .company-logo {
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            margin-right: 0.5em;

            img {
                border-radius: 50%;
            }
        }

        .job-title {
            font-size: 1.1em;
            display: block;
            margin: 0;
        }

        .job-details {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0.5em;
        }

        .job-detail {
            display: flex;
            align-items: center;
            font-size: 0.875em;
            margin: 0 1em 0.25em 0;
        }

        .job-detail-icon {
            width: 1em;
            margin-right: 0.5em;
            fill: var(--text-color-normal);
            @include transition(fill);
        }

        .technologies-used {
            margin: 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            list-style-type: none;

            .tech {
                padding: 0.4em 0.8em;
                margin: 0.25em 0.5em 0.25em 0;
            }

            .react {
                @include themed(background-color, rgba($brand-react, 0.2), $brand-react);
                @include themed(color, #007190, #142d34);
            }

            .typescript {
                @include themed(background-color, rgba($brand-typescript, 0.15), $brand-typescript);
                @include themed(color, lighten($brand-typescript, 10%), #d5d5d5);
            }
        }

        .responsibilities {
            margin: 0;
        }
    }
}

.institution {
    
    &:not(:last-child) {
        margin-bottom: 40px;
    }

    .institution-name {
        font-weight: map-get($font-weights, "bold");
    }

    .collapsible-content {
        display: grid;
        /* Mobile first: only one column. Changes to two columns on bigger screens. See media query below. */
        grid-template-columns: 1fr;

        h3 {
            font-weight: map-get($font-weights, "normal");
            margin-bottom: 21px;
            margin-left: 20px;
            margin-top: 21px;
        }

        ul {
            margin-bottom: 16px;
            margin-top: 16px;
            padding-left: 40px;
            padding-right: 10px;
        }
        
        p {
            padding-left: 10px;
        }

        .courses, .awards {
            .section-title {
                font-style: italic;
                margin-top: 1em;
                margin-left: 1em;
            }
        }

        .awards {
            /* Only matters on mobile, where the awards are stacked underneath courses */
            border-top: solid var(--collapsible-content-border-width) var(--button-bg-color);
            @include transition(border);
        }
    }
}

/* Line up courses and awards side by side on larger screens */
@media only screen and (min-width: 50rem) {

    .institution .collapsible-content {
        grid-template-columns: auto auto;
        grid-template-rows: 1fr;

        .awards {
            /* Now that it's lined up to the right of the courses, there's no need for a top border */
            border-left: solid var(--collapsible-content-border-width) var(--button-bg-color);
            border-top: none;
        }
    }
}
