@import 'mixins';
@import 'settings';


#intro {
    * {
        @include transition;
    }

    #hero-banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    
        #main-cta {
            flex: 1 0 0;
        }

        #profile-photo {
            flex: 1 1 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: $paragraph-spacing;

            img {
                height: 150px;
                width: 150px;
                border-radius: 50%;
            }
        }
    }

    #cta-buttons {
        margin-top: $paragraph-spacing;
        margin-bottom: $paragraph-spacing;

        .button {
            width: 100%;
            height: 45px;
            margin-bottom: 15px;
            margin-right: 15px;

            svg {
                margin-right: 10px;
            }
        }
    }
}

article#about-me {
    margin-top: 80px;
}

@media only screen and (min-width: 400px) {    
    #cta-buttons {
        display: flex;

        .button {
            max-width: 200px;
        }
    }
}