@import 'mixins';
@import 'settings';

#hero-banner {
    &, * {
        @include transition;
    }

    align-items: center;
    background-color: var(--hero-bg-color);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 250px;
    padding-bottom: 90px;
    padding-top: 70px;
    position: relative;

    img {
        border: 5px solid var(--hero-bg-color);
        background-color: var(--hero-bg-color);
        border-radius: 50%;
        bottom: -70px;
        height: 140px;
        position: absolute;
        width: 140px;
    }
    
    .title, .subtitle {
        color: white;
    }

    .title {
        font-size: 35px;
    }

    img {
        margin-top: 20px;
    }

    a {
        color: #64b5f6;

        border-bottom: 3px solid transparent;

        &:hover {
            border-bottom: 3px solid #64b5f6;
        }

        .night & {
            color: #cea25a;

            &:hover {
                border-bottom: 3px solid #cea25a;
            }
        }
    }
}

#projects {
    margin-top: 130px;

    .heading {
        margin-bottom: 3em;
    }

    #preview-placeholder {
        align-items: center;
        display: flex;
        justify-content: center;

        .hollow-button {
            height: 60px;
            width: 160px;
        }
    }
}

#cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cta-buttons {
    margin-top: 1.5em;
    max-width: 400px;
    width: 100%;

    .button {
        height: 60px;
        margin-bottom: 15px;
        width: 100%;
    }
}

@media only screen and (min-width: 400px) {
    #cta-buttons {
        display: flex;
        justify-content: space-around;

        .button {
            max-width: 175px;
        }
    }
}