@import 'mixins';
@import 'settings';


#intro {
    #lede {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    
        #main-cta {
            flex: 1 0 0;
            margin-bottom: 20px;

            p {
                font-size: 1.1em;
            }
        }

        #profile-photo {
            flex: 1 2 0;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            img {
                height: 150px;
                width: 150px;
                border-radius: 50%;
                box-shadow: 0px 0px 12px 2px var(--bg-color-contrast);
            }
        }
    }
}

article#about-me {
    margin-top: 80px;
}

#intro *, #about-me p {
    @include transition;
}

#cta-buttons {
    margin-bottom: 30px;

    svg {
        margin-right: 10px;
    }
}

@media only screen and (min-width: 400px) {
    
    #cta-buttons {
        display: flex;

        .button {
            max-width: 200px;
        }
    }
}