@import 'mixins';
@import 'settings';

#hero-banner {
    $headshot-size: 140px;
    align-items: center;
    background-color: var(--hero-bg-color);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    grid-column: 1 / 4 !important;
    justify-content: center;
    min-height: 300px;
    padding: 70px 1.2rem;
    position: relative;

    &, * {
        @include transition(color);
    }

    #headshot {
        background-color: var(--hero-bg-color);
        border: 5px solid var(--hero-bg-color);
        border-radius: 50%;
        bottom: -70px;
        height: $headshot-size;
        position: absolute;
        width: $headshot-size;
    }

    .subtitle {
        margin-bottom: calc(#{$headshot-size} / 4);
        max-width: 70ch;
        color: #c6c6c6;
    }

    .title {
        font-size: 1.94em;
        color: white;
    }

    + .section {
        margin-top: $headshot-size; 
    }
}

#featured-posts, #featured-projects {
    .card-grid {
        margin-top: 60px;
    }
}

#featured-projects {
    #view-more-projects {
        align-items: center;
        display: flex;
        justify-content: center;

        .button {
            height: 3.5em;
            width: 10em;
        }
    }
}

#cta {
    align-items: center;
    display: flex;
    flex-direction: column;

    #cta-buttons {
        max-width: 22em;
        width: 100%;
    
        .button {
            height: 3.5em;
            margin-bottom: 1em;
            width: 100%;
        }
    }
}

// 28.75rem = 460px
@media only screen and (min-width: 28.75rem) {
    #cta-buttons {
        display: flex;
        justify-content: space-around;

        .button {
            max-width: 10em;
        }
    }
}