@import 'mixins';
@import 'settings';

#hero-banner {
    margin-top: $navbar-height / 2;
    display: grid;
    grid-template-areas:
        "title title headshot"
        "subtitle subtitle subtitle";

    .title {
        grid-area: title;
    }
    
    .subtitle {
        margin: 0;
        grid-area: subtitle;
    }
}

.heading {
    margin-bottom: 3rem;

    p {
        margin: 0;
    }
}

#headshot {
    --headshot-size: 5rem;
    width: var(--headshot-size);
    height: var(--headshot-size);
    grid-area: headshot;
    justify-self: center;

    img {
        border-radius: 50%;
    }
}

@media screen and (min-width: 500px) {
    #hero-banner {
        grid-template-areas: 
            "title title headshot"
            "subtitle subtitle subtitle";
    }

    #headshot {
        margin-left: 1em;
    }
}

@media screen and (min-width: 600px) {
    #hero-banner {
        grid-template-areas: 
            "title title headshot"
            "subtitle subtitle headshot";
    }

    #headshot {
        --headshot-size: 7.5rem;
        margin-left: 1rem;
    }
}