@import 'mixins';
@import 'settings';

#hero-banner {
    &, * {
        @include transition;
    }

    align-items: center;
    background-color: var(--hero-bg-color);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    grid-column: 1 / 4 !important;
    justify-content: center;
    min-height: 300px;
    padding: 70px 1.2rem;
    position: relative;

    img {
        background-color: var(--hero-bg-color);
        border: 5px solid var(--hero-bg-color);
        border-radius: 50%;
        bottom: -70px;
        height: 140px;
        position: absolute;
        width: 140px;
    }
    
    .title, .subtitle {
        color: white;
        text-align: center;
    }

    .title {
        font-size: 1.94em;
    }

    img {
        margin-top: 20px;
    }

    a {
        @include themed(color, #64b5f6, $secondary-color-link);
        @include underlined-link(#64b5f6, $secondary-color-link);
    }
}

#featured-projects {
    margin-top: 130px;

    .heading {
        margin-bottom: 2em;
    }

    #view-more-projects {
        align-items: center;
        display: flex;
        justify-content: center;

        .button {
            height: 60px;
            width: 160px;
        }
    }
}

#cta {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#cta-buttons {
    margin-top: 1.5em;
    max-width: 400px;
    width: 100%;

    .button {
        height: 60px;
        margin-bottom: 15px;
        width: 100%;
    }
}

@media only screen and (min-width: 420px) {
    #cta-buttons {
        display: flex;
        justify-content: space-around;

        .button {
            max-width: 175px;
        }
    }
}