@import 'colors';
@import 'mixins';
@import 'settings';

#notes {
    .notes-board {
        border: solid 0.5em #e3c19d;
        background-color: #cc8f4e;
        background-image: url("/assets/img/cardboard.png");
        border-radius: 10px;
        box-shadow: inset 0 2px 4px 0px rgba(0, 0, 0, 0.15);
        margin-top: 2.5rem;
    }

    .notes-list {
        list-style: none;
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
        position: relative;
        z-index: 1;
    }

    .note {
        margin: 1em;
        height: fit-content;
        transform-style: preserve-3d;
        max-width: 250px;
        background-color: #ffc;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        position: relative;
        @include transition(transform, top, box-shadow, border-radius);

        &::after {
            content: "";
            position: absolute;
            transform: translateZ(-1px);
            right: 3px;
            bottom: 15px;
            width: 200px;
            height: 25px;
            background: rgba(0, 0, 0, 0.2);
            box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
        }
        
        &:nth-child(2n) {
            background-color: #ffdcdc;
            -o-transform:rotate(2deg);
            -webkit-transform:rotate(2deg);
            -moz-transform:rotate(2deg);
            transform: rotate(2deg);
            top: 12px;
        }
        
        &:nth-child(3n) {
            -o-transform:rotate(-3deg);
            -webkit-transform:rotate(-3deg);
            -moz-transform:rotate(-3deg);
            transform: rotate(-3deg);
            box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3);
            top: -5px;
            background-color: #f1f2f2;

            &::after {
                content: "";
                position: absolute;
                transform: translateZ(-1px);
                left: 0px;
                right: unset;
                width: 200px;
                height: 25px;
                background: rgba(0, 0, 0, 0.2);
                box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
            }

            &:hover {
                border-bottom-left-radius: 100px 15px;
                border-bottom-right-radius: 0px;
            }
        }

        &:nth-child(5n) {
            top: -10px;
            background-color: #e0f8e1;
        }

        &:nth-child(6n) {
            background-color: #ffc;
        }

        &:nth-child(7n) {
            background-color: #f1f2f2;
        }
        
        &:hover {
            border-bottom-right-radius: 100px 15px;
        }
        
        a {
            display: block;
            height: 100%;
            width: 100%;
            padding: 2.25em 1.5em 1.5em 1.5em;
        }

        .note-date {
            position: absolute;
            right: 1.5em;
            font-size: 1.125em;
            top: 0.25em;
            font-family: 'Reenie Beanie', cursive;
        }

        .note-title {
            font-weight: map-get($map: $font-weights, $key: "bold");
            font-size: 1em;
        }

        .note-description {
            font-family: 'Reenie Beanie', cursive;
            margin: 0;
            font-size: 1.25em;
            font-weight: map-get($font-weights, "normal");
        }
    }
}