@import 'colors';
@import 'mixins';
@import 'settings';

$bolt-width: 0.5em;
$bolt-offset: -40px;
$string-width: $bolt-width;
$string-height: 3em;
$string-thickness: 3px;

#notes {
    .notes-by-year {
        margin-top: 2.5rem;

        .year {
            margin-bottom: 1.5em;
        }
    }

    .notes-board {
        border: solid 0.5em #e3c19d;
        background-color: #b7814a;
        background-image: url("/assets/img/cardboard.png");
        border-radius: 10px;
        box-shadow: inset 0 2px 4px 0px rgba(0, 0, 0, 0.15);
        position: relative;

        /*
        // Bolt
        &::before {
            content: "";
            position: absolute;
            width: $bolt-width;
            height: $bolt-width;
            border-radius: 50%;
            background: linear-gradient(45deg, rgb(153, 153, 153), white);
            border: solid 1px gray;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
            top: $bolt-offset;
            left: calc(50% - #{$bolt-width} / 2);
        }

        // String
        &::after {
            content: "";
            position: absolute;
            height: $string-height;
            width: $string-width;
            z-index: -1;
            background-color: transparent;
            border: solid $string-thickness #b98e60;
            border-radius: 3em;
            top: calc(#{$bolt-offset} - #{$string-thickness} + 3px);
            left: calc(50% - #{$string-width} / 2 - #{$bolt-width} / 4);
        }
        */
    }

    .notes-list {
        list-style: none;
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        position: relative;
        z-index: 1;
    }

    .note {
        margin: 1em;
        height: min-content;
        transform-style: preserve-3d;
        max-width: 250px;
        background: linear-gradient(180deg, #ffc, 90%, #f1f1dd);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        position: relative;
        justify-self: center;
        @include transition(transform, top, box-shadow, border-radius);
        
        a {
            border: none;
        }
        
        /*
        // Pin
        &::before {
            content: "";
            position: absolute;
            width: $bolt-width;
            height: $bolt-width;
            border-radius: 50%;
            background: linear-gradient(45deg, rgb(153, 153, 153), white);
            border: solid 1px gray;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
            top: 0.25em;
            left: calc(50% - #{$bolt-width} / 2);
        }
        */

        // Pseudo corner shadow
        &::after {
            content: "";
            position: absolute;
            transform: translateZ(-1px);
            right: 3px;
            bottom: 15px;
            width: calc(100% - 3px);
            height: 25px;
            background: rgba(0, 0, 0, 0.2);
            box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
        }
        
        // Even
        &:nth-child(2n) {
            background: linear-gradient(180deg, #ffdcdc, 90%, #fae5e5);
            -o-transform:rotate(2deg);
            -webkit-transform:rotate(2deg);
            -moz-transform:rotate(2deg);
            transform: rotate(2deg);
            top: 12px;
        }

        // Odd
        &:nth-child(2n + 1) {
            // Pseudo corner shadow
            &::after {
                content: "";
                left: 0px;
                right: unset;
            }

            &:hover {
                border-bottom-left-radius: 100px 15px;
                border-bottom-right-radius: 0px;
            }
        }
        
        // Tilt left
        &:nth-child(3n) {
            -o-transform:rotate(-3deg);
            -webkit-transform:rotate(-3deg);
            -moz-transform:rotate(-3deg);
            transform: rotate(-3deg);
            box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3);
            top: -5px;
            background: linear-gradient(180deg, #f1f2f2, 90%, #faffff);

            /*
            // Pin
            &::before {
                content: "";
                position: absolute;
                width: $bolt-width;
                height: $bolt-width;
                border-radius: 50%;
                background: linear-gradient(45deg, rgb(153, 153, 153), white);
                border: solid 1px gray;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
                top: 0.25em;
                left: unset;
                right: 2em;
            }
            */
        }

        &:nth-child(5n) {
            top: -10px;
            background: linear-gradient(180deg, #e0f8e1, 90%, #f0fdf1);
        }

        &:nth-child(6n) {
            background: linear-gradient(180deg, #ffc, 90%, #f1f1dd);
        }

        &:nth-child(7n) {
            background: linear-gradient(180deg, #f1f2f2, 90%, #faffff);
        }
        
        &:hover {
            border-bottom-right-radius: 100px 15px;
        }
        
        a {
            display: block;
            height: 100%;
            width: 100%;
            padding: 2.25em 1.5em 1.5em 1.5em;
        }

        .note-date {
            position: absolute;
            right: 1.5em;
            font-size: 1.125em;
            top: 0.25em;
            font-family: 'Reenie Beanie', cursive;
        }

        .note-title {
            font-weight: map-get($map: $font-weights, $key: "bold");
            font-size: 1em;
            color: #384950;
        }

        .note-description {
            font-family: 'Reenie Beanie', cursive;
            margin: 0;
            font-size: 1.25em;
            font-weight: map-get($font-weights, "normal");
        }

        .note-date,
        .note-description {
            color: $denim;
        }
    }
}