#smirking-emoji {
  --face-color: #ffca3b;
  --eyebrow-color: #d58d00;
  --face-border-color: black;
  --eye-color: black;
  --mouth-color: black;

  .face {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50%;
    background-color: var(--face-color);
    border: solid 3vmin var(--face-border-color);
    position: relative;
    display: flex;
    justify-content: center;
    transform: scale(0.5);
  }

  .eyes {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 11vmin;
  }

  .eye {
    background-color: black;
    border-radius: 3vmin;
    position: relative;
    width: 5vmin;
    height: 8vmin;
    top: 4vmin;
    left: 2vmin;
    border-top-left-radius: 0;

    &::before {
      content: '';
      position: absolute;
      width: 6vmin;
      height: 8vmin;
      border: 2vmin solid transparent;
      border-top: 2vmin solid var(--eye-color);
      border-left: 2vmin solid var(--eye-color);
      left: -5.8vmin;
      top: -2.2vmin;
      border-radius: 50%;
      transform: rotate(45deg);
    }
  }

  .eyebrow {
    width: 18vmin;
    height: 13vmin;
    background-color: transparent;
    align-self: flex-end;
    margin-bottom: 9vmin;
    border-radius: 46%;
    border: 3vmin solid transparent;
    border-bottom: 3vmin solid var(--eyebrow-color);
    position: absolute;
    transform: scaleY(-1);

    &::before,
    &::after {
      content: '';
      width: 3vmin;
      height: 3vmin;
      border-radius: 50%;
      position: absolute;
      bottom: -1.2vmin;
      background-color: var(--eyebrow-color);
    }

    &::before {
      left: -1.6vmin;
    }

    &::after {
      right: -1.6vmin;
    }
  }

  .eyebrow-left {
    transform: rotate(150deg);
    top: -8vmin;
    left: 5vmin;
  }

  .eyebrow-right {
    transform: rotate(210deg);
    right: 5vmin;
    top: -8vmin;
  }

  .mouth {
    width: 18vmin;
    height: 10vmin;
    background-color: transparent;
    align-self: flex-end;
    border-bottom-right-radius: 100%;
    border-bottom: 3vmin solid var(--mouth-color);
    border-right: 3vmin solid var(--mouth-color);
    position: relative;
    bottom: 5vmin;
    left: 4vmin;
    transform: rotate(5deg);

    &::before,
    &::after {
      content: '';
      width: 3vmin;
      height: 3vmin;
      border-radius: 50%;
      position: absolute;
      background-color: var(--mouth-color);
    }

    &::before {
      left: -1.5vmin;
      top: 7vmin;
    }

    &::after {
      right: -2.9vmin;
      top: -1.8vmin;
    }
  }
}
