{% assign slug = include.name | slugify %}
<article class="category" id="{{ slug }}">
    <h2 class="category-name"><a href="{{ site.url }}/blog/{{ slug }}">{{ include.name }}</a></h2>
    <div class="post-previews">
    {% for post in site.categories[include.name] %}
        <div class="card post-preview">
            <header>
                <h3 class="post-title">{{ post.title }}</h3>
                {% include posts/stats.html target=post %}
            </header>
            <p class="post-description">{{ post.description }}</p>
            <a class="container-link" href="{{ post.url }}"></a>
        </div>
    {% endfor %}
    </div>
</article>