<hr>
<div id="fair-use-rationale">
    <h4>Fair Use Rationale: Copyrighted Images</h4>
    <p>
        Though any images displayed in this article that were not created by the author himself, or that depict an intellectual property that does not belong to him, are subject to copyright, their use is covered by U.S. fair use laws because they are:
        <ul>
            <li>Used to illustrate the subject in question and not to profit from or illegally distribute said materials.</li>
            <li>Of a low resolution, and thus not suitable for illegal production and distribution.</li>
            <li>Not used in such a way that the reader would be misled into believing that the article is written or authorized by the owner of said images.</li>
            <li>Not replaceable with an uncopyrighted or freely copyrighted image of comparable educational value.</li>
        </ul>
    </p>
</div>