{% assign minutes = include.content | number_of_words | divided_by: 250 %}
{% if minutes == 0 %}{% assign minutes = 1 %}{% endif %}
<div class="post-meta">
    {% if include.showProfilePhoto %}
    <img src="/assets/img/profile-photo.png" alt="By Aleksandr Hovhannisyan" class="meta author-photo" />
    {% endif %}
    <div class="meta post-date-published">
        {% include svg.html svg="calendar" class="meta-icon" %}
        <time datetime="{{ include.date | date: "%Y-%m-%d" }}">{{ include.date | date: "%b %-d, %Y" }}</time>
    </div>
    {% if include.lastUpdated %}
    <div class="meta post-date-updated">
        {% include svg.html svg="info" class="meta-icon" %}
        <time datetime="{{ include.lastUpdated | date: "%Y-%m-%d" }}">Updated: {{ include.lastUpdated | date: "%b %-d, %Y" }}</time>
    </div>
    {% endif %}
    <div class="meta post-reading-length">
        {% include svg.html svg="clock" class="meta-icon" %}
        <span>{{ minutes }} min read</span>
    </div>
    {% if include.tags %}
    <div class="meta post-tags" role="list" aria-label="Tags belonging to this blog post.">
        {% for tag in include.tags %}
        <a href="/tag/{{ tag }}" class="tag post-tag">{{ tag }}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>
