{% assign post = include.post %}
<picture class="lazy-loaded-picture post-thumbnail">
    <source 
        type="image/webp" 
        srcset="/assets/img/posts/{{ post.slug }}/thumbnail-placeholder.webp" 
        data-src="/assets/img/posts/{{ post.slug }}/thumbnail.webp" >
    <img 
        data-src="/assets/img/posts/{{ post.slug }}/thumbnail.PNG" 
        src="/assets/img/posts/{{ post.slug }}/thumbnail-placeholder.PNG" 
        alt="Blog post thumbnail" 
        class="placeholder" />
</picture>