@import 'colors';
@import 'mixins';
@import 'settings';

.blog-overview {
    margin-top: 40px;
}

.category-links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: calc(#{$page-max-width} / 2.5);
    @include underlined-link;

    a {
        margin-right: 10px;
    }
}

.post {
    margin-top: 135px;
}

.post-title {
    margin-bottom: 20px;
}

.post-stats {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-style: italic;

    .post-date,
    .post-reading-length,
    .post-categories {
        align-items: center;
        display: flex;
        margin-bottom: 15px;
        margin-right: 20px;
        @include transition;

        svg {
            @include transition;
            fill: var(--text-color-normal);
            height: 15px;
            margin-right: 5px;
            width: 15px;
        }
    }

    .post-categories {
        @include underlined-link;
    }
}

.post-category {
    margin-top: 50px;

    .post-category-name {
        @include underlined-link;
    }
}

.post-previews {
    margin-top: 80px;

    .post-preview {
        grid-template-rows: 1fr 1fr;
        width: 100%;

        .post-description {
            margin-bottom: 0px;
            margin-top: 0px;
        }
    }
}

.post-body {
    $main-spacing: 60px;
    $img-spacing: 20px;
    margin-top: $main-spacing;

    .post-stats {
        margin-bottom: calc(#{$main-spacing} / 2);
        margin-top: calc(#{$main-spacing} / 4);
    }

    @include headings {
        margin-bottom: calc(#{$main-spacing} / 2);
    }

    h2 {
        margin-top: $main-spacing;
    }

    h3 {
        margin-top: calc(#{$main-spacing} / 2);
    }

    figure {
        figcaption {
            font-size: 0.8em;
            font-style: italic;
            margin-bottom: $img-spacing;
            text-align: center;
            @include transition;
        }
    }

    figure,
    picture {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    img,
    iframe,
    .pro-con-table {
        margin: $img-spacing auto;
        max-width: 100%;
    }

    img {
        box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.4);
        width: 100%;
    }

    figure,
    picture,
    iframe,
    .pro-con-table {
        &+p {
            margin-top: $paragraph-spacing;
        }
    }

    ol li::marker {
        @include transition;
        color: var(--text-color-emphasis);
        font-weight: bold;
        margin-right: 5px;
    }

    ul,
    ol {
        @include transition;
        margin-bottom: 30px;
        margin-top: 30px;
        padding-left: 40px;

        li {
            margin-bottom: 5px;
            margin-top: 5px;

            ul,
            ol {
                transition: 0s;
            }
        }
    }

    blockquote {
        background: var(--blockquote-bg-color);
        border-left: 4px solid #6b6a6a;
        margin: 25px auto;
        padding: 1px 16px 1px 20px;
        @include transition;

        p {
            color: var(--blockquote-text-color);
            margin-top: $paragraph-spacing;
        }
    }

    code {
        background-color: var(--code-bg-color);
        border-radius: 5px;
        color: var(--code-color);
        font-family: Inconsolata, Courier New;
        font-size: 1rem;
        padding: 3px;
        @include transition;
    }

    .filename {
        background-color: #141414;
        color: #bcbcbc;
        margin-bottom: calc(-1.8 * #{$paragraph-spacing});
        padding: 10px 20px;

        &::before {
            content: "📂";
        }
    }

    div.highlighter-rouge {
        margin: calc(#{$main-spacing} / 2) auto;

        code {
            padding: 0;
        }
    }

    .spoiler {

        &,
        * {
            background-color: var(--spoiler-color);
            color: var(--spoiler-color);
        }

        margin-bottom: 1px;

        margin-top: 1px;
        @include transition;

        &:hover {

            &,
            * {
                background-color: transparent;
                color: var(--blockquote-text-color);
            }

            code {
                background-color: var(--code-bg-color);
                color: var(--code-color);
            }
        }
    }

    .pro-con-table {
        background-color: var(--blockquote-bg-color);
        border: 4px solid var(--blockquote-text-color);
        color: var(--blockquote-text-color);
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        transition: background-color $transition-duration, border $transition-duration;

        div {
            flex: 1 1 0;

            header {
                font-weight: bold;
                padding-left: 20px;
                @include transition;
            }

            li {
                padding-left: 10px;
            }
        }
    }

    #fair-use-rationale {
        margin-top: 50px;

        p,
        ul {
            font-style: italic;
        }
    }
}