@import 'colors';
@import 'mixins';
@include comment-banner("Styling for blog post previews.");

.post-title {
    margin-bottom: 20px;
}

.post-stats {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-style: italic;

    .post-date, .post-reading-length {
        @include transition;
    }
}

#post-previews {
    @include card-grid;

    .post-preview {
        width: 100%;

        .post-excerpt {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}

.post {
    .post-title {
        font-size: 2.5em;
    }
}

.post-body {
    $main-spacing: 60px;
    $img-spacing: 20px;
    margin-top: $main-spacing;
    font-size: 1.1em;

    .post-stats {
        margin-top: calc(#{$main-spacing} / 4);
        margin-bottom: calc(#{$main-spacing} / 2);
    }

    @include headings {
        margin-bottom: calc(#{$main-spacing} / 2);
    }

    h2 {
        margin-top: $main-spacing;
    }

    h3 {
        margin-top: calc(#{$main-spacing} / 2);
    }

    figure {
        margin: $img-spacing auto;

        img {
            margin: 0;
        }

        figcaption {
            font-size: 14px;
            font-style: italic;
            text-align: center;
            @include transition;
        }
    }

    img, iframe {
        margin: $img-spacing auto;
        width: 100%;
    }

    iframe {
        height: 315px;
        width: 100%;
    }

    ol li::marker {
        @include transition;
        font-weight: bold;
        margin-right: 5px;
        color: var(--text-color-emphasis);
    }

    ul, ol {
        @include transition;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 40px;

        li {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    blockquote {
        --blockquote-bg-color: rgb(216, 216, 216);
        --blockquote-text-color: rgb(110, 110, 110);

        html.night & {
            --blockquote-bg-color: rgb(63, 63, 63);
            --blockquote-text-color: #{$beige};
        }

        p, p * {
            color: var(--blockquote-text-color);

            em {
                @include transition;
            }
        }

        background: var(--blockquote-bg-color);
        margin: 25px auto;
        padding: 1px 16px 1px 20px;
        border-left: 4px solid var(--blockquote-text-color);
        @include transition;
    }

    code {
        font-family: Inconsolata, Courier New;
        background-color: var(--code-bg-color);
        color: var(--text-color-emphasis);
        padding-left: 5px;
        padding-right: 5px;
        font-size: 1rem;
        @include transition;
    }

    div.highlighter-rouge {
        margin: calc(#{$main-spacing} / 2) auto;
        padding: 10px auto;

        code {
            padding: 0;
        }
    }

    .spoiler {
        background-color: $beige;
        color: $beige;
        margin-top: 1px;
        margin-bottom: 1px;
        @include transition;

        &:hover {
            background-color: transparent;
            color: var(--text-color-emphasis);
        }
    }
}