@import 'colors';
@import 'mixins';
@import 'settings';

.post-tag {
    display: inline-block;
    font-weight: normal;

    &:hover, &:focus, &.active-tag {
        @include themed(background-color, $primary-color, #ffcd91);
        @include themed(color, white !important, black !important);
    }
}

.blog-overview {
    margin-top: 75px;

    .tag-navigation {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;

        .post-tag {
            margin-bottom: 16px;
            margin-right: 16px;
            padding: 4px 16px;
        }

        .more-tags-label {
            align-items: center;
            display: flex;
            font-size: 1.6rem;
            margin-bottom: 16px;
            @include transition(color);
        }
    }

    .post-preview {
        $tag-margin: 8px;
    
        cursor: pointer;
        grid-gap: 30px;
        grid-template-rows: 200px auto;
        // To ensure the spacing at the bottom of each card matches the spacing
        // at the top, since the tag margins and card padding will combine to
        // produce more spacing
        padding-bottom: calc(var(--card-padding) - #{$tag-margin});
    
        .post-thumbnail {
            img {
                height: 200px;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    
        .post-title {
            color: var(--link-color);
        }
    
        .post-preview-body {
            grid-template-rows: 1fr 1fr;
    
            .post-description {
                margin-bottom: 0px;
                margin-top: 0px;
            }
    
            .post-tags {
                font-size: 1.6rem;
                margin-top: 20px;
                z-index: 2;
                position: relative;
                
                .post-tag {
                    margin-right: $tag-margin;
                    margin-bottom: $tag-margin;
                    padding: 4px 8px;
                }
            }
        }
    }
}

.post-title {
    margin-bottom: 20px;
}

.post-header {
    margin-top: 75px;
}

.post-stats {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    font-style: italic;

    .stat {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        margin-right: 20px;

        .stat-icon {
            @include transition;
            fill: var(--text-color-normal);
            height: 15px;
            margin-right: 5px;
            width: 15px;
        }
    }

    .post-date,
    .post-reading-length,
    .post-tags {
        align-items: center;
        display: flex;
        @include transition;
    }

    .post-tags {
        flex-wrap: wrap;

        .post-tag {
            display: flex;
            align-items: center;
            font-style: normal;
            margin-bottom: 20px;
            margin-right: 8px;
            padding: 4px 8px;
        }
    }
}

#post {
    grid-column: 1 / 4;
    overflow-wrap: break-word;
    @include centered;

    & > * {
        grid-column: 2;
    }

    .post-stats {
        margin-bottom: 30px;
    }

    @include headings {
        margin-bottom: $paragraph-spacing;
    }

    h2 {
        margin-top: -70px;
        padding-top: 90px;
    }

    h3 {
        margin-top: -75px;
        padding-top: 90px;
    }

    h4 {
        margin-top: -80px;
        padding-top: 90px;
    }

    h5 {
        margin-top: -85px;
        padding-top: 90px;
    }

    h6 {
        margin-top: -90px;
        padding-top: 90px;
    }

    a:not(.post-tag) {
        @include underlined-link;
    }

    figure {
        figcaption {
            font-size: 1.4rem;
            font-style: italic;
            text-align: center;
            @include transition;
        }

        picture {
            margin-top: 0;
            margin-bottom: 15px;
        }
    }

    figure,
    picture {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    img,
    iframe,
    .pro-con-table {
        max-width: 100%;
    }

    img {
        border-radius: 5px;
        cursor: zoom-in;
        max-width: 100%;
    }

    .img-with-shadow {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    }

    blockquote,
    figure,
    picture,
    iframe,
    .pro-con-table,
    div.highlighter-rouge {
        margin-bottom: $img-spacing;
        // Add the remainder so the top and bottom are spaced equally
        margin-top: calc(#{$img-spacing} - #{$paragraph-spacing});
    }

    li:not(:last-child) {
        margin-bottom: 0.5 * $paragraph-spacing + 0px;
    }

    ol li::marker {
        @include transition;
        color: var(--text-color-emphasis);
        font-weight: 500;
        margin-right: 5px;
    }

    ul,
    ol {
        @include transition;
        margin-bottom: $paragraph-spacing;
        margin-top: calc(30px - #{$paragraph-spacing});
        padding-left: 40px;
    }

    blockquote {
        background: var(--blockquote-bg-color);
        border-left: 4px solid #6b6a6a;
        margin-bottom: $paragraph-spacing;
        padding: 1.3em;
        @include transition;

        p {
            color: var(--blockquote-text-color);
            margin: 0;
        }
    }

    .code-header {
        z-index: 2;

        .file-name {
            background-color: #3b3b3b;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.3);
            color: #bcbcbc;
            // paragraph-spacing - img-spacing will always be negative, which is what we need
            margin-bottom: calc(#{$paragraph-spacing} - #{$img-spacing});
            margin-top: calc(#{$img-spacing} - #{$paragraph-spacing});
            padding: 10px 20px;
            @include transition;

            &::before {
                content: "📂";
                margin-right: 5px;
            }
        }

        & + .highlighter-rouge .highlight {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    div.highlighter-rouge {
        border-radius: 5px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);

        & > .highlight {
            padding: 30px;
        }

        code {
            padding: 0;
        }
    }

    .MathJax_Display {
        margin-bottom: $img-spacing;
        margin-top: calc(#{$img-spacing} - #{$paragraph-spacing});
    }

    .spoiler {

        &,
        * {
            background-color: var(--spoiler-color);
            color: var(--spoiler-color);
        }

        margin-bottom: 1px;

        margin-top: 1px;
        @include transition;

        &:hover {

            &,
            * {
                background-color: transparent;
                color: var(--blockquote-text-color);
            }

            code {
                background-color: var(--code-bg-color);
                color: var(--code-text-color);
            }
        }
    }

    .pro-con-table {
        border-radius: 5px;
        border: solid 5px var(--blockquote-bg-color);
        color: var(--blockquote-text-color);
        @include transition;
        table-layout: fixed;
        text-align: center;
        border-spacing: 0;

        th {
            background-color: var(--blockquote-bg-color);
            @include transition(background-color);
        }

        td {
            width: 50%;
        }

        th, td {
            padding: 20px;
        }
    }

    #fair-use-rationale {
        margin-top: 50px;

        p,
        ul {
            font-style: italic;
        }
    }
}

code {
    background-color: var(--code-bg-color);
    border-radius: 3px;
    color: var(--code-text-color);
    font-family: Monaco, Consolas, 'Courier New', monospace;
    font-size: 1.6rem;
    padding: 2px 4px;
    @include transition;
}