@import 'fonts';
@import 'mixins';

::selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-text-color);
  text-shadow: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.screen-reader-only {
  position: absolute;
  left: -5000px;

  &:focus {
    left: 0;
  }
}

html {
  font-size: 1rem / map-get($type-scale, 'font-size-base') * 100%;
  @media screen and (min-width: 500px) {
    font-size: 62.5%;
  }
}

.centered {
  display: grid;
  grid-template-columns: minmax(2.4rem, 1fr) minmax(0, var(--page-max-width)) minmax(2.4rem, 1fr);

  > * {
    grid-column: 2;
  }
}

body {
  background-color: var(--main-bg-color);
  color: var(--text-color-normal);
  grid-template-rows: var(--navbar-height) 1fr auto;
  grid-template-areas:
    'navbar navbar navbar'
    '. content .'
    'footer footer footer';
  grid-row-gap: var(--navbar-height);
  min-width: 0; // https://css-tricks.com/preventing-a-grid-blowout/
  min-height: 100vh;
  @include font-family('sans');
  @include font-weight('regular');
  @include font-size(0);
}

#page-content {
  grid-area: content;
  scroll-margin-top: var(--navbar-height);
}

// Links an entire parent container, but the parent must be set to relative position
.container-link {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

strong {
  color: var(--text-color-emphasis);
  @include font-weight('bold');
}

@include headings {
  color: var(--text-color-emphasis);
  @include font-weight('bold');
}

h1 {
  @include font-size(5);
}

h2 {
  @include font-size(4);
}

h3 {
  @include font-size(3);
}

h4 {
  @include font-size(2);
}

h5 {
  @include font-size(1);
}

h6 {
  @include font-size(0);
}

p {
  color: var(--text-color-normal);
}

.underlined-link {
  @include underlined-link;
}

a {
  color: var(--link-color);
  font-weight: inherit;
  text-decoration: none;
}

.linked-heading {
  position: relative;
  scroll-margin-top: var(--scroll-margin-top);

  &:hover {
    .heading-anchor {
      visibility: visible;
      opacity: 1;
    }
  }
}

.heading-anchor-wrapper {
  position: absolute;
  width: 1em;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);

  &:hover {
    .heading-anchor {
      visibility: visible;
      opacity: 1;
    }
  }
}

.heading-anchor {
  visibility: hidden;
  opacity: 0;
  margin-left: 0.4rem;
}

.section:not(:last-of-type) {
  margin-bottom: 12.8rem;
}

.input {
  background-color: var(--input-bg-color);
  border: solid 1px var(--input-border-color);
  border-radius: 2px;
  box-shadow: var(--input-box-shadow);
  color: var(--text-color-emphasis);
  height: 2em;
  padding: 0.25em 0.5em;
  width: 100%;

  &:focus {
    outline: none;
    border-color: var(--input-border-color-focus);
    box-shadow: var(--input-box-shadow-focus);
  }
}

label {
  color: var(--text-color-emphasis);
  display: block;
  @include font-weight('semiBold');

  &.required::after {
    color: var(--input-required-asterisk-color);
    content: ' *';
  }
}
