@import 'mixins';

.screen-reader-only {
  position: absolute;
  left: 0;
  clip: rect(0, 0, 0, 0);

  &:focus {
    clip: auto;
  }
}

.centered {
  box-sizing: content-box;
  max-width: var(--page-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: MIN(4vw, 2.4rem);
  padding-right: MIN(4vw, 2.4rem);
}

// Links an entire parent container, but the parent must be set to relative position
.container-link {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.underlined-link {
  @include underlined-link;
}
