@import 'mixins';

.screen-reader-only {
  position: absolute;
  left: 0;
  clip: rect(0, 0, 0, 0);

  &:focus {
    clip: auto;
  }
}

.centered {
  display: grid;
  grid-template-columns: minmax(2.4rem, 1fr) minmax(0, var(--page-max-width)) minmax(2.4rem, 1fr);

  > * {
    grid-column: 2;
  }
}

// Links an entire parent container, but the parent must be set to relative position
.container-link {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.underlined-link {
  @include underlined-link;
}
