---
---

@import 'mixins';
@import 'settings';
@import 'colors';


@include comment-banner("Project card grid.");

#card-grid {
    @include card-grid;
}

#projects h2 {
   @include transition;
}

.project {
    /* Header, description, footer, respectively */
    grid-template-rows: max-content 1fr max-content;

    .project-name {
        color: var(--link-color);
        text-decoration: none;
    }

    h4 {
        align-self: center;
        grid-area: heading;
        @include transition;
    }

    .project-icon * {
        width: 24px;
        margin-right: 3px;
        display: inline-block;
        vertical-align: middle;
    }
    
    .project-rating {
        font-size: 0.85em;
        justify-self: center;
        align-self: center;
        grid-area: rating;
        @include transition;
    }

    .description {
        margin-top: 0px;
        margin-bottom: 0px;
        @include transition;
    }

    .topics {
        display: flex;
        flex-wrap: wrap;
        grid-row: 3;
        @include transition;
    
        p {
            font-size: 0.9em;
            padding: 5px;
            margin-top: 10px;
            margin-bottom: 0px;
            margin-right: 10px;
            border-radius: 2px;
            background-color: var(--label-bg-color);
            box-shadow: 0 0 2px black;
            @include transition;
        }
    }

    /* Displayed when a user hovers over a project card */
    .hover-content {
        font-size: 1.2em;
        /* Note: .card has 'position: relative' set */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* Center the content for the hover layer */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* Opacity = 0 means it's hidden by default */
        opacity: 0;
        border-radius: 5px;
        background-color: var(--hover-color-general);
        @include transition;

        // Whatever icon is being used
        i {
            margin-top: 20px;
        }
    }
}

/* All project cards except the placeholder get a background and box shadow */
.project:not(#project-placeholder) {
    header {
        display: grid;
        grid-template-areas: "heading heading rating";
    }
}

/* Transition for the hover content changes its opacity */
.project:hover .hover-content {
    opacity: 0.92;
}

#project-placeholder {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    p {
        @include transition;
    }

    .github-icon {
        display: inline-block;
        font-size: 3em;
        margin-top: 20px;
        text-decoration: none;
        color: black;
        @include transition;
        border-radius: 50%;    
        width: 60px;
        height: 60px;
    }
}

@include comment-banner("Skills section.");

#skills {
    #skill-grid {
        display: grid;
        column-gap: 100px;
        row-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }

    .skill-category h4 {
        margin-bottom: 20px;
    }

    .skill-item {
        margin-top: 10px;
        display: grid;
        column-gap: 10px;
        grid-template-columns: 1fr 1fr;

        &:hover {
            background-color: var(--hover-color-general);
        }

        .skill-name {
            grid-column: 1;
            @include transition;
        }
        
        .skill-rating {
            grid-column: 2;
            display: inline;
            text-align: right;
        }
    }

    .fa-star {
        &.filled {
            color: var(--button-bg-color);

            .night & {
                color: rgb(145, 145, 145);
            }
        }

        &.empty {
            color: var(--text-color-gray);

            .night & {
                color: rgb(104, 98, 80);
            }
        }
    }    
}

@include comment-banner("Education section.");

.institution {
    margin-top: 40px;

    .collapsible-content {
        display: grid;
        /* Mobile first: only one column. Changes to two columns on bigger screens. See media query below. */
        grid-template-columns: 1fr;

        h4 {
            margin-top: 21px;
            margin-bottom: 21px;
            margin-left: 10px;
            font-weight: normal;
        }

        ul {
            margin-top: 16px;
            margin-bottom: 16px;
            padding-left: 40px;
            padding-right: 10px;
        }
        
        p {
            padding-left: 10px;
        }

        .awards {
            /* Only matters on mobile, where the awards are stacked underneath courses */
            border-top: solid var(--collapsible-content-border-width) var(--button-bg-color);
            transition: border var(--global-transition-duration);
        }
    }
}

/* Line up courses and awards side by side on larger screens */
@media only screen and (min-width: $device-cutoff-large) {

    .institution .collapsible-content {
        grid-template-rows: 1fr;
        grid-template-columns: auto auto;

        .awards {
            /* Now that it's lined up to the right of the courses, there's no need for a top border */
            border-top: none;
            /* But there is for a left border */
            border-left: solid var(--collapsible-content-border-width) var(--button-bg-color);
            @include transition(border);
        }
    }
}