// Palette
$white: white;
$black: black;

$blue-900: #1E3A46;
$blue-800: #21404D;
$blue-700: #244655;
$blue-600: #284D5E;
$blue-500: #35647A;
$blue-400: #5F8496;
$blue-300: #88A4B1;
$blue-200: #B1C4CC;
$blue-100: #DAE3E7;

$accent-blue: #216ec4;
$accent-blue-light: #288bba;
$accent-blue-lighter: #7ed6ff;

$gray-900: #2E3C42;
$gray-800: #3B4249;
$gray-700: #444647;
$gray-600: #51585E;
$gray-500: #676D72;
$gray-400: #92979B;
$gray-300: #A8ACB0;
$gray-200: #BDC1C4;
$gray-100: #F5F5F5;

$black-900: #1A1A1A;
$black-800: #2c2c2c;
$black-700: #292929;
$black-600: #3B3B3B;
$black-500: #585858;
$black-400: #ADADAD;
$black-300: #CCCCCC;
$black-200: #DEDEDE;
$black-100: #F5F5F5;

// Third-party brand colors
$brand-github: #24292e;
$brand-github-alt: #bebfc1;
$brand-linkedin: #0077b5;
$brand-upwork: #6fda44;
$brand-stack-exchange: #195398;

// Code
$code-background: #252525;
$code-selection: #add6ff26;
$code-comment: #6a9955;
$code-text: #b3b9c5;
$code-function: #d4d4d4;
$code-variable: #569cd6;
$code-number: #b5cea8;
$code-attribute: #9cdcfe;
$code-keyword: #569cd6;
$code-string: #ce9178;
$code-tag: #569cd6;
$code-constant: #569cd6;
$code-support: #9cdcfe;
$code-operator: #d4d4d4;
$code-punctuation: #d4d4d4;
$code-operator-word: #569cd6;
