// Third-party brand colors
$brand-github: #24292E;
$brand-github-alt: #BEBFC1;
$brand-linkedin: #0077B5;
$brand-upwork: #6fda44;
$brand-stack-exchange: #195398;

// Code
$code-background: #252525;
$code-selection: #add6ff26;
$code-comment: #6A9955;
$code-text: #b3b9c5;
$code-function: #d4d4d4;
$code-variable: #569cd6;
$code-number: #b5cea8;
$code-attribute: #9cdcfe;
$code-keyword: #569cd6;
$code-string: #ce9178;
$code-tag: #569cd6;
$code-constant: #569cd6;
$code-support: #9cdcfe;
$code-operator: #d4d4d4;
$code-punctuation: #d4d4d4;
$code-operator-word: #569cd6;