$fontWeights: (
  'light': 300,
  'regular': 400,
  'semiBold': 600,
  'bold': 700,
);

$fontFamilies: (
  'normal': 'Titillium Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif',
  'cursive': 'Reenie Beanie, cursive',
  'code': 'Inconsolata, Monaco, Consolas, Courier New, monospace'
);

$fontScale: 1.125;
$baseRem: 2rem;

$fontSizes: (
  -2: $baseRem / ($fontScale * $fontScale),
  -1: $baseRem / $fontScale,
   0: $baseRem,
   1: $baseRem * $fontScale,
   2: $baseRem * $fontScale * $fontScale,
   3: $baseRem * $fontScale * $fontScale * $fontScale,
   4: $baseRem * $fontScale * $fontScale * $fontScale * $fontScale,
   5: $baseRem * $fontScale * $fontScale * $fontScale * $fontScale * $fontScale,
);

$line-height: 1.6;
