@import 'zIndex';

@function toRem($px) {
  $rem: $px / 16px;
  @return #{$rem}rem;
}

@function z-index($key) {
  @return map-get($zIndex, $key);
}

@function pow($base, $exponent) {
  $result: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $result: $result * $base;
    }
  } @else if $exponent < 0 {
    @for $i from $exponent to 0 {
      $result: $result / $base;
    }
  }

  @return $result;
}
