@import 'functions';
@import 'fonts';

// Inspiration: https://stackoverflow.com/a/49437769/5323344
@mixin transition($props...) {
  $result: ();

  @for $i from 1 through length($props) {
    $prop: nth($props, $i);
    $result: append($result, $prop);
    $result: append($result, ease #{var(--transition-duration)});

    @if $i != length($props) {
      $result: append(
        $result,
        unquote(
          $string: ',',
        )
      );
    }
  }

  transition: $result;
}

@mixin headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

@mixin zIndex($key) {
  z-index: zIndex($key);
}

@mixin fontFamily($family) {
  font-family: var(--font-family-#{$family});
}

@mixin fontWeight($humanReadableWeight: inherit) {
  font-weight: var(--font-weight-#{$humanReadableWeight});
}

@mixin fontSize($step) {
  $font-size: $font-size-base * pow($font-size-scale, $step);
  $line-height: -0.027 * ($font-size / 1rem * 10) + 2.266;
  // expose CSS var to later compute other things, e.g., spacing
  --line-height: #{$line-height};
  font-size: $font-size;
  line-height: var(--line-height);
}

@mixin underlinedLink($initiallyUnderlined: true) {
  @if $initiallyUnderlined {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  } @else {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@mixin themed($attribute, $light, $dark) {
  #{$attribute}: $light;

  .dark & {
    #{$attribute}: $dark;
  }
}

@mixin selectionResistantColor($color) {
  &,
  &::selection {
    color: $color;
  }
}

@mixin centered($marginMin: 2.4rem, $contentMax: var(--page-max-width)) {
  display: grid;
  grid-template-columns: minmax($marginMin, 1fr) minmax(0, $contentMax) minmax($marginMin, 1fr);

  > * {
    grid-column: 2;
  }
}

@mixin responsiveGrid($mobileMin, $desktopMin, $mobileMax: 1fr, $desktopMax: 1fr, $cutoff: 600px) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($mobileMin, $mobileMax));

  @media only screen and (min-width: $cutoff) {
    grid-template-columns: repeat(auto-fit, minmax($desktopMin, $desktopMax));
  }
}

@mixin rhythm() {
  display: grid;
  grid-row-gap: calc(var(--line-height) * 1em);
}
