$transition-duration: 0.2s;
$page-max-width: 1000px;
$paragraph-spacing: calc(1em + 0.5vw);
$font-weights: ("light": 300, "normal": 400, "bold": 600, "bolder": 700);

$navbar-height: 64px;
$navbar-z-index: 100;
$footer-height: 80px;
$scroll-margin-top: calc(#{$navbar-height} + 1em);
