$transition-duration: 0.2s;
$page-max-width: 900px;
$paragraph-spacing: 1.7em;
$line-height-paragraphs: 1.7;
$line-height-headings: 1.4;
$font-weights: ("light": 300, "normal": 400, "bold": 600, "bolder": 700);

$navbar-height: 64px;
$navbar-z-index: 100;
$footer-height: 80px;
$scroll-margin-top: calc(#{$navbar-height} + 1em);
