html {
  --transition-duration: 0.2s;
  --page-max-width: 45em;
  --line-height-headings: 1.5;
  --list-item-spacing: 0.25em;
  --navbar-height: 3.2em;
  --navbar-z-index: 100;
  --navbar-toggle-size: 1.6em;
  --footer-height: 4em;
  --scroll-margin-top: calc(var(--navbar-height) + 1em);

  --blue-900: #1E3A46;
  --blue-800: #21404D;
  --blue-700: #244655;
  --blue-600: #284D5E;
  --blue-500: #35647A;
  --blue-400: #5F8496;
  --blue-300: #88A4B1;
  --blue-200: #B1C4CC;
  --blue-100: #DAE3E7;

  --accent-blue: #216ec4;
  --accent-blue-light: #288bba;
  --accent-blue-lighter: #7ed6ff;

  --gray-900: #2E3C42;
  --gray-800: #3B4249;
  --gray-700: #444647;
  --gray-600: #51585E;
  --gray-500: #676D72;
  --gray-400: #92979B;
  --gray-300: #A8ACB0;
  --gray-200: #BDC1C4;
  --gray-100: #F5F5F5;

  --black-900: #1A1A1A;
  --black-800: #2c2c2c;
  --black-700: #292929;
  --black-600: #3B3B3B;
  --black-500: #585858;
  --black-400: #ADADAD;
  --black-300: #CCCCCC;
  --black-200: #DEDEDE;
  --black-100: #F5F5F5;
}

html.light {
  --button-bg-color-hover: var(--blue-400);
  --button-bg-color: var(--blue-500);
  --button-text-color: white;
  --card-bg-color: white;
  --footer-bg-color: var(--black-800);
  --footer-text-color: var(--black-200);
  --form-bg-color: var(--gray-100);
  --hover-bg-color: var(--gray-100);
  --inline-code-bg-color: hsl(210, 25%, 9%, 0.07);
  --inline-code-text-color: var(--blue-800);
  --input-bg-color: white;
  --input-border-color-focus: var(--accent-blue-light);
  --input-border-color: var(--gray-200);
  --input-box-shadow-focus: 0 0 6px 0 var(--accent-blue-lighter);
  --input-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0);
  --input-required-asterisk-color: #98434b;
  --link-color: var(--accent-blue);
  --main-bg-color: white;
  --navbar-bg-color: var(--black-800);
  --navbar-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
  --navbar-link-bg-color-hover: var(--gray-700);
  --navbar-text-color: var(--black-200);
  --post-meta-icon-fill: var(--gray-600);
  --post-meta-text-color: var(--gray-500);
  --scrollbar-thumb-bg-color-hover: var(--black-400);
  --scrollbar-thumb-bg-color: var(--black-500);
  --scrollbar-track-bg-color: var(--navbar-bg-color);
  --selection-bg-color: rgba(218, 227, 231, 0.8);
  --selection-text-color: var(--blue-900);
  --spoiler-bg-color: var(--blue-100);
  --star-fill-color-filled: var(--blue-500);
  --table-border-color: var(--gray-200);
  --table-header-bg-color: var(--gray-100);
  --table-header-text-color: var(--gray-900);
  --tag-bg-color-hover: var(--blue-500);
  --tag-bg-color: var(--blue-100);
  --tag-text-color-hover: white;
  --tag-text-color: var(--blue-800);
  --text-color-emphasis: var(--gray-900);
  --text-color-normal: var(--gray-800);
}

html.dark {
  --button-bg-color-hover: #f3d5b3;
  --button-bg-color: #bda17f;
  --button-text-color: var(--black-700);
  --card-bg-color: var(--black-700);
  --footer-bg-color: var(--navbar-bg-color);
  --footer-text-color: var(--navbar-text-color);
  --form-bg-color: var(--hover-bg-color);
  --hover-bg-color: var(--black-700);
  --inline-code-bg-color: rgba(88, 88, 88, 0.65);
  --inline-code-text-color: #c4c4c4;
  --input-bg-color: var(--black-600);
  --input-border-color-focus: #bda17f;
  --input-border-color: var(--black-600);
  --input-box-shadow-focus: 0 0 6px 0 #fcd876;
  --input-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0);
  --input-required-asterisk-color: #c25450;
  --link-color: #cea25a;
  --main-bg-color: var(--black-900);
  --navbar-bg-color: var(--black-700);
  --navbar-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
  --navbar-link-bg-color-hover: var(--gray-700);
  --navbar-text-color: hsl(0, 0%, 85%);
  --post-meta-icon-fill: var(--black-400);
  --post-meta-text-color: var(--black-400);
  --scrollbar-thumb-bg-color-hover: var(--black-400);
  --scrollbar-thumb-bg-color: var(--black-500);
  --scrollbar-track-bg-color: var(--navbar-bg-color);
  --selection-bg-color: rgba(209, 201, 191, 80%);
  --selection-text-color: black;
  --spoiler-bg-color: #9c9387;
  --star-fill-color-filled: #bda17f;
  --table-border-color: var(--black-500);
  --table-header-bg-color: var(--black-700);
  --table-header-text-color: var(--black-200);
  --tag-bg-color-hover: #ffcd91;
  --tag-bg-color: #ada08f;
  --tag-text-color-hover: black;
  --tag-text-color: black;
  --text-color-emphasis: var(--black-200);
  --text-color-normal: var(--black-400);
}
