@import 'colors';

html {
  --transition-duration: 0.2s;
  --page-max-width: 90rem;
  --navbar-height: 6.4rem;
  --scroll-margin-top: var(--navbar-height);

  --font-line-height: 1.6;

  @media screen and (min-width: 500px) {
    --font-line-height: 1.75;
  }

  @media screen and (min-width: 800px) {
    html {
      --scroll-margin-top: 0;
    }
  }
}

html.light {
  --button-bg-color-hover: #{$blue-400};
  --button-bg-color: #{$blue-500};
  --button-text-color: #{$white};
  --card-bg-color: #{$white};
  --code-block-box-shadow: none;
  --footer-bg-color: #{$black-800};
  --footer-text-color: #{$black-200};
  --form-bg-color: #{$black-100};
  --hover-bg-color: #{$black-100};
  --inline-code-bg-color: hsl(210 57% 24% / 0.09);
  --inline-code-text-color: #{$gray-700};
  --input-bg-color: #{$white};
  --input-border-color-focus: #{$accent-blue-light};
  --input-border-color: #{$gray-200};
  --input-box-shadow-focus: 0 0 6px 0 #{$accent-blue-lighter};
  --input-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0);
  --input-required-asterisk-color: #98434b;
  --link-color: #{$accent-blue};
  --main-bg-color: #{$white};
  --navbar-bg-color: #{$black-800};
  --navbar-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
  --navbar-link-bg-color-hover: #{$gray-700};
  --navbar-text-color: #{$black-200};
  --post-meta-icon-fill: #{$gray-600};
  --scrollbar-thumb-bg-color-hover: #{$gray-200};
  --scrollbar-thumb-bg-color: #{$gray-300};
  --scrollbar-track-bg-color: #{$gray-100};
  --selection-bg-color: rgba(218, 227, 231, 0.8);
  --selection-text-color: #{$blue-900};
  --spoiler-bg-color: #{$blue-100};
  --star-fill-color-filled: #{$blue-500};
  --table-border-color: #{$gray-200};
  --table-header-bg-color: #{$gray-100};
  --table-header-text-color: #{$gray-900};
  --tag-bg-color-hover: #{$blue-500};
  --tag-bg-color: #{$blue-100};
  --tag-text-color-hover: #{$white};
  --tag-text-color: #{$blue-800};
  --text-color-emphasis: #{$gray-900};
  --text-color-normal: #{$gray-800};
}

html.dark {
  --button-bg-color-hover: #f3d5b3;
  --button-bg-color: #bda17f;
  --button-text-color: #{$black-700};
  --card-bg-color: #{$black-700};
  --code-block-box-shadow: 0 0.2rem 0.8rem 0 rgba(0,0,0,0.4);
  --footer-bg-color: var(--navbar-bg-color);
  --footer-text-color: var(--navbar-text-color);
  --form-bg-color: #{$black-700};
  --hover-bg-color: #{$black-700};
  --inline-code-bg-color: rgba(88, 88, 88, 0.65);
  --inline-code-text-color: #{$black-300};
  --input-bg-color: #{$black-600};
  --input-border-color-focus: #bda17f;
  --input-border-color: #{$black-600};
  --input-box-shadow-focus: 0 0 6px 0 #fcd876;
  --input-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0);
  --input-required-asterisk-color: #c25450;
  --link-color: #cea25a;
  --main-bg-color: #{$black-900};
  --navbar-bg-color: #{$black-700};
  --navbar-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
  --navbar-link-bg-color-hover: #{$gray-700};
  --navbar-text-color: #{$black-200};
  --post-meta-icon-fill: #{$black-400};
  --scrollbar-thumb-bg-color-hover: #{$black-400};
  --scrollbar-thumb-bg-color: #{$black-500};
  --scrollbar-track-bg-color: var(--navbar-bg-color);
  --selection-bg-color: rgba(209, 201, 191, 80%);
  --selection-text-color: #{$black};
  --spoiler-bg-color: #9c9387;
  --star-fill-color-filled: #bda17f;
  --table-border-color: #{$black-500};
  --table-header-bg-color: #{$black-700};
  --table-header-text-color: #{$black-200};
  --tag-bg-color-hover: #ffcd91;
  --tag-bg-color: #ada08f;
  --tag-text-color-hover: #{$black};
  --tag-text-color: #{$black};
  --text-color-emphasis: #{$black-200};
  --text-color-normal: #{$black-400};
}
