@import 'fonts';

html {
  // Palette
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  --color-blue-9: hsl(198, 40%, 20%);
  --color-blue-8: hsl(198, 40%, 22%);
  --color-blue-7: hsl(198, 40%, 24%);
  --color-blue-6: hsl(199, 40%, 26%);
  --color-blue-5: hsl(199, 39%, 34%);
  --color-blue-4: hsl(200, 22%, 48%);
  --color-blue-3: hsl(199, 21%, 61%);
  --color-blue-2: hsl(198, 21%, 75%);
  --color-blue-1: hsl(198, 21%, 88%);

  --color-gray-9: hsl(198, 18%, 22%);
  --color-gray-8: hsl(210, 11%, 26%);
  --color-gray-7: hsl(200, 2%, 27%);
  --color-gray-6: hsl(208, 7%, 34%);
  --color-gray-5: hsl(207, 5%, 43%);
  --color-gray-4: hsl(207, 4%, 59%);
  --color-gray-3: hsl(210, 5%, 67%);
  --color-gray-2: hsl(206, 6%, 75%);
  --color-gray-1: hsl(180, 7%, 94%);

  --color-black-900: hsl(0, 0%, 10%);
  --color-black-800: hsl(0, 0%, 16%);
  --color-black-700: hsl(0, 0%, 17%);
  --color-black-600: hsl(0, 0%, 23%);
  --color-black-500: hsl(0, 0%, 35%);
  --color-black-400: hsl(0, 0%, 68%);
  --color-black-300: hsl(0, 0%, 80%);
  --color-black-200: hsl(0, 0%, 87%);
  --color-black-100: hsl(0, 0%, 96%);

  --color-accent-blue-5: hsl(212, 71%, 45%);
  --color-accent-blue-4: hsl(212, 65%, 44%);
  --color-accent-blue-3: hsl(212, 100%, 75%);

  --color-accent-orange-5: hsl(37, 54%, 58%);
  --color-accent-orange-4: hsl(33, 100%, 78%);
  --color-accent-orange-3: hsl(33, 32%, 62%);
  --color-accent-orange-2: hsl(34, 15%, 62%);

  --color-accent-red-5: hsl(354, 39%, 43%);
  --color-accent-red-4: hsl(354, 39%, 54%);

  // Third-party brand colors
  --color-brand-github: hsl(210, 12%, 16%);
  --color-brand-github-alt: hsl(220, 2%, 75%);
  --color-brand-linkedin: hsl(201, 100%, 35%);
  --color-brand-upwork: hsl(103, 67%, 56%);
  --color-brand-stack-exchange: hsl(213, 72%, 35%);

  // Code
  --color-code-background: hsl(0, 0%, 15%);
  --color-code-selection: hsla(210, 100%, 84%, 0.15);
  --color-code-comment: hsl(101, 29%, 47%);
  --color-code-text: hsl(220, 13%, 74%);
  --color-code-function: hsl(0, 0%, 83%);
  --color-code-keyword: hsl(207, 61%, 59%);
  --color-code-variable: var(--color-code-keyword);
  --color-code-number: hsl(99, 28%, 73%);
  --color-code-attribute: hsl(201, 98%, 80%);
  --color-code-string: hsl(17, 47%, 64%);
  --color-code-tag: var(--color-code-keyword);
  --color-code-constant:--color-code-keyword;
  --color-code-support: hsl(201, 98%, 80%);
  --color-code-operator: hsl(0, 0%, 83%);
  --color-code-punctuation: hsl(0, 0%, 83%);
  --color-code-operator-word: var(--color-code-keyword);

  font-size: 1rem / $font-size-base * 100%;
  @media screen and (min-width: 500px) {
    font-size: 62.5%;
  }
  --transition-duration: 0.2s;
  --page-max-width: 80rem;
  --navbar-height: 6.4rem;
  --scroll-margin-top: var(--navbar-height);
}

html.light {
  --button-bg-color-hover: var(--color-blue-4);
  --button-bg-color: var(--color-blue-5);
  --button-text-color: var(--color-white);
  --card-bg-color: var(--color-white);
  --code-block-box-shadow: none;
  --footer-bg-color: var(--color-black-800);
  --footer-text-color: var(--color-black-200);
  --form-bg-color: var(--color-black-100);
  --hover-bg-color: var(--color-black-100);
  --inline-code-bg-color: hsla(210, 57%, 24%, 0.09);
  --inline-code-text-color: var(--color-gray-7);
  --input-bg-color: var(--color-white);
  --input-border-color-focus: var(--color-accent-blue-4);
  --input-border-color: var(--color-gray-2);
  --input-box-shadow-focus: 0 0 6px 0 var(--color-accent-blue-3);
  --input-box-shadow: 0 0 5px 0 hsla(0, 0%, 0%, 0);
  --input-required-asterisk-color: var(--color-accent-red-5);
  --link-color: var(--color-accent-blue-5);
  --main-bg-color: var(--color-white);
  --navbar-bg-color: var(--color-black-800);
  --navbar-box-shadow: 0 0 4px 0 hsla(0, 0%, 0%, 0.8);
  --navbar-link-bg-color-hover: var(--color-gray-7);
  --navbar-text-color: var(--color-black-200);
  --scrollbar-thumb-bg-color-hover: var(--color-gray-2);
  --scrollbar-thumb-bg-color: var(--color-gray-3);
  --scrollbar-track-bg-color: var(--color-gray-1);
  --selection-bg-color: hsla(198, 21%, 88%, 0.8);
  --selection-text-color: var(--color-blue-9);
  --star-fill-color-filled: var(--color-blue-5);
  --table-border-color: var(--color-gray-2);
  --table-header-bg-color: var(--color-gray-1);
  --table-header-text-color: var(--color-gray-9);
  --tag-bg-color-hover: var(--color-blue-5);
  --tag-bg-color: var(--color-blue-1);
  --tag-text-color-hover: var(--color-white);
  --tag-text-color: var(--color-blue-8);
  --text-color-emphasis: var(--color-gray-9);
  --text-color-normal: var(--color-gray-8);
}

html.dark {
  --button-bg-color-hover: var(--color-accent-orange-4);
  --button-bg-color: var(--color-accent-orange-3);
  --button-text-color: var(--color-black-800);
  --card-bg-color: var(--color-black-800);
  --code-block-box-shadow: 0 0.2rem 0.8rem 0 hsla(0, 0%, 0%, 0.4);
  --footer-bg-color: var(--navbar-bg-color);
  --footer-text-color: var(--navbar-text-color);
  --form-bg-color: var(--color-black-800);
  --hover-bg-color: var(--color-black-800);
  --inline-code-bg-color: hsla(0, 0%, 35%, 0.65);
  --inline-code-text-color: var(--color-black-300);
  --input-bg-color: var(--color-black-600);
  --input-border-color-focus: var(--color-accent-orange-4);
  --input-border-color: var(--color-black-600);
  --input-box-shadow-focus: 0 0 6px 0 var(--color-accent-orange-4);
  --input-box-shadow: 0 0 5px 0 hsla(0, 0%, 0%, 0);
  --input-required-asterisk-color: var(--color-accent-red-4);
  --link-color: var(--color-accent-orange-5);
  --main-bg-color: var(--color-black-900);
  --navbar-bg-color: var(--color-black-800);
  --navbar-box-shadow: 0 0 8px 0 hsla(0, 0%, 0%, 0.8);
  --navbar-link-bg-color-hover: var(--color-gray-7);
  --navbar-text-color: var(--color-black-200);
  --scrollbar-thumb-bg-color-hover: var(--color-black-400);
  --scrollbar-thumb-bg-color: var(--color-black-500);
  --scrollbar-track-bg-color: var(--navbar-bg-color);
  --selection-bg-color: hsla(33, 16%, 78%, 80%);
  --selection-text-color: var(--color-black);
  --star-fill-color-filled: var(--color-accent-orange-3);
  --table-border-color: var(--color-black-500);
  --table-header-bg-color: var(--color-black-800);
  --table-header-text-color: var(--color-black-200);
  --tag-bg-color-hover: var(--color-accent-orange-4);
  --tag-bg-color: var(--color-accent-orange-2);
  --tag-text-color-hover: var(--color-black);
  --tag-text-color: var(--color-black);
  --text-color-emphasis: var(--color-black-200);
  --text-color-normal: var(--color-black-400);
}
