@import "../mixins";

#page-not-found {
  animation: background-scroll 40s linear infinite;
  animation-fill-mode: forwards;
  background-color: hsl(0deg 0% 8%);

  // https://www.transparenttextures.com/stardust.html
  background-image: url("/assets/images/404/stardust.png");
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 spacing(-1);
  @keyframes background-scroll {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 798px 0;
    }
  }

  :is(h1, p, a) {
    color: white;
  }

  h1 {
    text-shadow: 0.1em 0.1em black;
  }
}
