@import "../mixins";

#page-not-found {
  align-items: center;
  animation: background-scroll 40s linear infinite;
  animation-fill-mode: forwards;
  background-color: hsl(0deg 0% 8%);

  // https://www.transparenttextures.com/stardust.html
  background-image: url("/assets/images/404/stardust.png");
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  padding: 0 1.2rem;
  @keyframes background-scroll {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 798px 0;
    }
  }

  h1 {
    color: hsl(0deg 0% 90%);
    margin-bottom: 2.4rem;
    text-shadow: 0.1em 0.1em black;
  }

  p {
    color: hsl(0deg 0% 75%);
    margin-bottom: 1.6rem;
  }

  a {
    color: hsl(0deg 0% 90%);
  }
}
