@import '../mixins';

.blog {
  &-title {
    margin-bottom: 1.6rem;
  }

  &-description {
    margin-bottom: 2.4rem;
    @include font-size('md');
  }

  &-navigation-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
  }

  &-navigation-tag {
    display: flex;
    border-radius: 0.4rem;
    padding: 0.8rem 1.6rem;
  }
}
