@import '../mixins';

.blog-post-previews {
  .post-preview-grid {
    margin-top: 9.6rem;
  }
}

.blog-page-title {
  margin-bottom: 1.6rem;
}

.blog-page-description {
  margin-bottom: 2.4rem;
  @include font-size('md');
}

.navigation-tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.navigation-tag {
  display: flex;
  border-radius: 0.4rem;
  padding: 0.8rem 1.6rem;
}

.pagination-trail {
  margin-top: 6.4rem;
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
}

.pagination-page {
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  @include font-size('sm');
}
