@import "../mixins";

.blog {
  &-title {
    margin-bottom: 1.6rem;
  }

  &-description {
    margin-bottom: 2.4rem;
    max-width: 60ch;
  }

  &-nav {
    position: relative;
  }

  .skip-popular-tags {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-bg-color);
    color: var(--color-text-emphasis);
    @include font($family: "main", $weight: "bold", $size: "md");
  }

  .tag-count {
    @include font($size: "xs");
  }

  .post-preview-grid {
    margin-top: 9.6rem;
  }
}
