@import '../mixins';

.blog {
  .post-preview-grid {
    margin-top: clamped(6.4rem, 9.6rem);
  }

  &-title {
    margin-bottom: 1.6rem;
  }

  &-description {
    margin-bottom: 2.4rem;
    @include font-size('md');
  }

  &-navigation-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
  }

  &-navigation-tag {
    display: flex;
    border-radius: 0.4rem;
    padding: 0.8rem 1.6rem;
  }
}

.pagination-trail {
  margin-top: 6.4rem;
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
}

.pagination-page {
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  @include font-size('sm');
}
