@import "../functions";
@import "../mixins";

.skip-popular-tags {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-bg-color);
  color: var(--color-text-emphasis);
  @include font-size("md");
  @include font-weight("body", "bold");
}
