@import '../mixins';

.blog-page-title {
  margin-bottom: 1.6rem;
}

.blog-page-description {
  margin-bottom: 2.4rem;
}

.navigation-tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.navigation-tag {
  display: flex;
  border-radius: 0.4rem;
  margin-bottom: 1.2rem;
  margin-right: 1.2rem;
  padding: 0.6rem 1.6rem;
}

.pagination-trail {
  margin-top: 3.2rem;
  display: flex;
  justify-content: flex-end;
}

.pagination-page {
  margin-bottom: 0.6rem;
  margin-right: 1.2rem;
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
  @include font-size(-1);
}
