@import "../mixins";

.contact {
  height: 100%;

  &-content {
    height: 100%;
    display: grid;
    align-items: center;
    grid-auto-flow: row;
    column-gap: 9.6rem;
    row-gap: 4.8rem;
    @include tablet {
      row-gap: 0;
      grid-auto-flow: column;
      grid-template-columns: minmax(0, 40rem) auto;
    }
  }

  &-title {
    margin-bottom: 0.8rem;
  }

  &-subtitle {
    margin-bottom: 2.4rem;

    .submitted & {
      margin: 0;
    }
  }

  &-form {
    display: grid;
    grid-auto-flow: row;
    row-gap: 1.6rem;
    background-color: var(--form-bg-color);
    border-radius: 0.2rem;
    border: solid 1px hsl(0deg 0% 0% / 8%);
    padding: clamped(1.2rem, 2.4rem);
    height: fit-content;

    .labeled-input {
      display: grid;
      grid-auto-flow: row;
      row-gap: 0.4rem;
    }

    textarea {
      min-height: 17.5rem;
    }
  }

  button[type="submit"] {
    border-radius: 0.2rem;
    height: 4.8rem;
    @include focus-outline($color: var(--button-bg-color-focus), $offset: 0.2rem);
  }

  &-socials {
    display: grid;
    row-gap: 4rem;
    grid-template-rows: min-content auto;

    &-list {
      column-gap: 3.2rem;
      display: grid;
      grid-auto-rows: 4.8rem;
      grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
      row-gap: 4rem;
    }
  }

  &-social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 1.6rem;
    border-radius: 0.2rem;
    color: var(--color-text-normal);

    svg {
      justify-self: center;
      width: 3.2rem;
      height: 3.2rem;
      fill: currentColor;
    }

    &:is(:focus, :hover) {
      background-color: var(--hover-bg-color);
      cursor: pointer;
      color: var(--color-text-emphasis);
    }

    &-name {
      @include font($family: "main", $weight: "regular");
    }
  }
}

// Detect spam (Netlify honeypot field)
input.honeypot {
  display: none;
}
