@import "../mixins";

.contact {
  height: 100%;

  &-content {
    height: 100%;
    display: grid;
    align-items: center;
    grid-auto-flow: row;
    gap: var(--sp-8);
    @include tablet {
      grid-auto-flow: column;
      gap: to-rems(96px);
      grid-template-columns: 3fr 2fr;
    }
  }

  &-title {
    margin-bottom: var(--sp--2);
  }

  &-subtitle {
    margin-bottom: var(--sp-3);

    .submitted & {
      margin: 0;
    }
  }

  &-form {
    display: grid;
    gap: var(--sp-0);
    background-color: var(--form-bg-color);
    border-radius: var(--sp--4);
    border: solid 1px hsl(0deg 0% 0% / 8%);
    padding: clamped(12px, 24px);

    textarea {
      min-height: to-rems(175px);
    }
  }

  button[type="submit"] {
    border-radius: var(--sp--4);
    padding: var(--sp-0);
  }

  &-socials {
    display: grid;
    gap: var(--sp-0);
    grid-template-rows: min-content auto;

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: clamped(8px, 16px);
    }
  }

  &-social {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: clamped(8px, 16px);
    padding: clamped(8px, 16px);
    white-space: nowrap;
    min-width: fit-content;
    justify-content: center;
    border-radius: var(--sp--4);
    color: var(--color-text-normal);

    svg {
      justify-self: center;
      width: clamped(24px, 32px);
      height: clamped(24px, 32px);
      fill: currentColor;
    }

    &:is(:focus, :hover) {
      background-color: var(--hover-bg-color);
      cursor: pointer;
      color: var(--color-text-emphasis);
    }
  }
}

// Detect spam (Netlify honeypot field)
input.honeypot {
  display: none;
}
