@import "../mixins";

.contact {
  height: 100%;

  &-content {
    height: 100%;
    display: grid;
    align-items: center;
    grid-auto-flow: row;
    gap: spacing(8);
    @include tablet {
      grid-auto-flow: column;
      gap: to-rems(96px);
      grid-template-columns: 3fr 2fr;
    }
  }

  &-title {
    margin-bottom: spacing(-2);
  }

  &-subtitle {
    margin-bottom: spacing(3);

    .submitted & {
      margin: 0;
    }
  }

  &-form {
    display: grid;
    gap: spacing(0);
    background-color: var(--form-bg-color);
    border-radius: spacing(-3);
    border: solid 1px hsl(0deg 0% 0% / 8%);
    padding: spacing(2, true);

    textarea {
      min-height: to-rems(175px);
    }
  }

  button[type="submit"] {
    border-radius: spacing(-4);
    padding: spacing(0);
  }

  &-socials {
    display: grid;
    gap: spacing(0);
    grid-template-rows: min-content auto;

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: spacing(0, true);
    }
  }

  &-social {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: spacing(0, true);
    padding: spacing(0, true);
    white-space: nowrap;
    min-width: fit-content;
    justify-content: center;
    border-radius: spacing(-4);
    color: var(--color-text-normal);

    svg {
      justify-self: center;
      width: spacing(5, true);
      height: spacing(5, true);
      fill: currentColor;
    }

    &:is(:focus, :hover) {
      background-color: var(--hover-bg-color);
      cursor: pointer;
      color: var(--color-text-emphasis);
    }
  }
}

// Detect spam (Netlify honeypot field)
input.honeypot {
  display: none;
}
