@use "../functions";
@use "../mixins";

.home-page {
  gap: functions.size("spacing", "8");

  @include mixins.mobile-lg {
    gap: functions.size("spacing", "12");
  }
}

.home-page-hero {
  display: flex;
  justify-content: space-between;
  gap: functions.size("spacing", "5");
}

.home-hash-art {
  display: none;

  @include mixins.desktop {
    display: unset;
  }
}
