@import "../functions";
@import "../mixins";

.hash-art-grid {
  display: none;
  width: fit-content;

  @include desktop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    filter: grayscale(1);
  }
}

.hash-art-cell {
  aspect-ratio: 1;
  width: spacing(10);
}
