@import "../mixins";
@import "../functions";

.hero-banner {
  margin-bottom: clamped(64px, 76px);
  gap: 3.2rem;
  max-width: 67ch;

  &-title {
    margin-bottom: 0.8rem;
  }
}

#projects {
  margin-bottom: 0.8rem;
}

.projects-subheading {
  margin-bottom: 4.8rem;
}
