@import '../mixins';
@import '../functions';

.hero-banner {
  margin-bottom: clamped(6.4rem, 7.6rem);
  display: flex;
  align-items: center;
  gap: 3.2rem;

  &-title {
    margin-bottom: 0.8rem;
  }

  &-headshot {
    flex: 1 0 auto;
    display: none;
  }

  @include tablet {
    &-headshot {
      display: unset;
      width: 18rem;
      aspect-ratio: 1;
      justify-self: center;

      img {
        border-radius: 50%;
      }
    }
  }
}

#projects {
  margin-bottom: 0.8rem;
}

.projects-subheading {
  margin-bottom: 4.8rem;
}
