@import "../mixins";
@import "../functions";

.hero-banner {
  margin-bottom: clamped(64px, 76px);
  gap: spacing(5);
  max-width: 67ch;

  &-title {
    margin-bottom: spacing(-2);
  }
}

#projects {
  margin-bottom: spacing(-2);
}

.projects-subheading {
  margin-bottom: spacing(8);
}
