@import '../mixins';
@import '../functions';

.hero-banner {
  margin-bottom: clamped(6.4rem, 7.6rem);

  &-title {
    margin-bottom: 0.8rem;
  }

  &-subtitle {
    @include font-size('md');
  }

  &-headshot {
    display: none;
  }

  @media screen and (min-width: 600px) {
    & {
      display: grid;
      grid-template-areas:
        "title headshot"
        "subtitle headshot";
      grid-template-columns: auto min-content;
      column-gap: 3.2rem;
      row-gap: 0.4rem;
    }

    &-title {
      grid-area: title;
      margin: 0;
    }

    &-subtitle {
      grid-area: subtitle;
    }
  }

  @include tablet {
    &-headshot {
      --headshot-size: 18rem;
      display: unset;
      width: var(--headshot-size);
      grid-area: headshot;
      justify-self: center;

      img {
        border-radius: 50%;
      }
    }
  }
}

#projects {
  margin-bottom: 0.8rem;
}

.projects-subheading {
  margin-bottom: 4.8rem;
}
