@use "../partials/functions";
@use "../partials/mixins";

.demo-tiles {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: functions.size("spacing", "0");
}

.demo-tile {
  position: relative;
  background-color: functions.color("surface", "3");
  color: functions.color("text", "emphasis");
  border-radius: functions.size("spacing", "-3");
  @include mixins.font($family: "body", $weight: "bold");
}

.demo-tile::after {
  content: attr(data-ratio);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aspect-ratio-1-1 {
  aspect-ratio: 1;
}

.aspect-ratio-4-3 {
  aspect-ratio: 4/3;
}

.aspect-ratio-3-2 {
  aspect-ratio: 3/2;
}

.aspect-ratio-16-9 {
  aspect-ratio: 16/9;
}

.demo-square-grid {
  --gap: #{functions.size("spacing", "0")};
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: var(--gap);
  column-gap: var(--gap);
}

.demo-square-grid > * {
  aspect-ratio: 1;
  background-color: functions.color("surface", "3");
  color: functions.color("text", "emphasis");
  position: relative;
}

.demo-square * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.demo-square figure {
  --offset: 0;
}

.demo-document {
  writing-mode: vertical-rl;
  width: 100%;
  height: 200px;
}

.demo-parent {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: functions.color("surface", "2");
  color: functions.color("text", "emphasis");
  height: 100%;
}

.demo-child {
  padding: 10%;
  background-color: white;
  color: black;
}

.demo-grid {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  column-gap: 1em;
}
