@use "../partials/functions";
@use "../partials/mixins";

.carousel {
  position: relative;
}

.carousel [role="list"] {
  padding: 0;
  list-style: none;
}

.carousel-scroll-container {
  /* Enable horizontal scrolling */
  overflow-x: auto;

  /* Enable horizontal scroll snap */
  scroll-snap-type: x proximity;

  /* Smoothly snap from one focal point to another */
  scroll-behavior: smooth;
}

.slideshow .carousel-scroll-container {
  /* Mandatory scroll snap is more consistent for a slideshow */
  scroll-snap-type: x mandatory;
}

.carousel-media {
  /* Arrange media horizontally */
  display: flex;
  gap: functions.spacing("0");
}

.slideshow .carousel-media {
  /* No gap in slideshows */
  gap: 0;
}

.carousel-item {
  /* Limit the height of each media item */
  height: 300px;

  /* Prevent media from shrinking */
  flex-shrink: 0;

  /* The focal point for each item is the center */
  scroll-snap-align: center;
}

.carousel-item:first-of-type {
  /* Allow users to fully scroll to the start */
  scroll-snap-align: start;
}

.carousel-item:last-of-type {
  /* Allow users to fully scroll to the end */
  scroll-snap-align: end;
}

.carousel-item > *,
.carousel-item :is(figure, picture, img) {
  height: 100%;
}

.carousel-item img {
  /* Responsive width based on aspect ratio */
  width: auto;
}

.slideshow .carousel-item {
  /* Full-width slides, taller height */
  height: 90vmin;
  width: 100%;
}

.slideshow .carousel-item > *,
.slideshow .carousel-item :is(figure, picture, img) {
  /* Cover the full slide */
  width: 100%;
  height: 100%;
}

.slideshow .carousel-item img {
  /* Crop and center overflowing images */
  object-fit: cover;
  object-position: center;
}

.carousel figure {
  position: relative;
}

.carousel figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: functions.spacing("-3");
  text-align: center;
  background-color: hsl(0deg 0% 0% / 75%);
  @include mixins.font($size: "xs");
}

/* stylelint-disable-next-line no-descending-specificity */
.carousel figcaption *,
.carousel figcaption {
  color: white;
}

.carousel-control {
  --offset-x: #{functions.spacing("-3")};
  cursor: pointer;

  /* Anchor the controls relative to the outer wrapper */
  position: absolute;

  /* Center the controls vertically */
  top: 50%;
  padding: functions.spacing("0");
  transform: translateY(-50%);
  border-radius: 50%;
  border: solid 1px hsl(0deg 0% 50%);
  background-color: white;
  color: black;
  box-shadow: 0 0 16px 0 hsl(0deg 0% 0% / 20%);
  line-height: 0;
}

/* Don't allow icons to be event targets */
.carousel-control * {
  pointer-events: none;
}

.carousel-control[data-direction="start"] {
  /* Same as left in LTR and right in RTL */
  inset-inline-start: var(--offset-x);
}

.carousel-control[data-direction="end"] {
  /* Same as right in LTR and left in RTL */
  inset-inline-end: var(--offset-x);
}

[dir="rtl"] .carousel-control:is(.start, .end) {
  transform: translateY(-50%) scale(-1);
}

.carousel-control[aria-disabled="true"] {
  filter: opacity(0.5);
  cursor: not-allowed;
}
