@import 'mixins';

.button {
    align-items: center;
    border-radius: 5px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    @include transition;
}

.solid-button {
    @include solid-button(var(--button-bg-color), var(--card-bg-color));
}

.hollow-button {
    @include hollow-button(var(--card-bg-color), var(--button-bg-color));
}

.arrow-button {    
    &::after {
        font-size: 25px;
        font-weight: bold;
        margin-left: 10px;
        content: "→";
        transform: translateX(0);
        transition: transform 0.2s ease-in-out;
    }
    
    &:hover {
        &::after {
            transform: translateX(5px);
        }
    }
}
