@import 'mixins';
@import 'fonts';


/* Note: this is an anchor with a class of button */
.button {
    align-items: center;
    border-radius: 5px;
    display: flex;
    font-size: 1em;
    font-weight: bold;
    justify-content: center;
    text-decoration: none;

    svg {
        height: 20px;
    }
}

.collapsible {    
    border: none;
    font-family: $font-family-primary, $font-family-backup;
    font-size: 1em;
    margin-top: 20px;
    outline: none;
    width: 100%;
}

.collapsible-header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    @include transition;

    * {
        align-self: center;
    }

    svg {
        @include transition;
        margin-left: 10px;
        margin-right: 20px;
        width: 18px; 
    }
}

.button, .collapsible-header {
    background-color: var(--button-bg-color);
    border: none;
    cursor: pointer;

    &, * {
        @include transition;
        color: var(--button-text-color);
        fill: var(--button-text-color);
    }

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: var(--button-bg-hover-color);

        &, * {
            color: var(--button-text-hover-color);
            fill: var(--button-text-hover-color);
        }
    }
}

.collapsible-content {
    border: solid var(--collapsible-content-border-width) var(--button-bg-color);
    border-top: none;
    /* Will be set to a sufficiently large max-height by corresponding click handler for .collapsible */
    max-height: 0px;
    overflow: hidden;

    --collapsible-content-border-width: 3px;
    @include transition(all, 0.5s);
}

/* To get rid of Firefox's dotted lines when these are clicked */
.button::-moz-focus-inner, .collapsible::-moz-focus-inner {
    outline: none;
}