@import 'mixins';
@import 'settings';
@import 'colors';


.card-grid {
    $card-spacing: 50px;
    display: grid;
    column-gap: $card-spacing;
    row-gap: $card-spacing;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));

    @media only screen and (min-width: 25.6rem) {
        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    }
}