@import 'mixins';

.card {
    --card-padding: 30px;
    background-color: var(--card-bg-color);
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15), 
                0 1px 2px 0 rgba(0,0,0,0.15), 
                0 2px 4px 0 rgba(0,0,0,0.15), 
                0 4px 8px 0 rgba(0,0,0,0.15);
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--card-padding);
    position: relative;
    row-gap: calc(var(--card-padding) / 2);
    transform: none;
    transition: background-color $transition-duration, 
                box-shadow $transition-duration, 
                transform $transition-duration;

    &:hover, &:focus {
        box-shadow: 0 5px 13px rgba(0,0,0,0.15), 
                    0 6px 6px rgba(0,0,0,0.15), 
                    0 8px 8px rgba(0,0,0,0.15), 
                    0 12px 12px rgba(0,0,0,0.15);
        cursor: pointer;
        transform: translate(0, -5px);

        .hover-content {
            opacity: 0.92;
        }
    }

    /* Displayed when a user hovers over a card */
    .hover-content {
        align-items: center;
        background-color: var(--card-bg-color);
        border-radius: 5px;
        color: var(--text-color-emphasis);
        display: flex;
        flex-direction: column;
        font-size: 2.2rem;
        font-weight: bold;
        height: 100%;
        justify-content: center;
        left: 0;
        opacity: 0;
        /* Note: .card has 'position: relative' set */
        position: absolute;
        top: 0;
        width: 100%;
        @include transition;

        // Whatever icon is being used
        svg {
            fill: var(--text-color-emphasis);
            margin-top: 20px;
            width: 1.2em;
        }
    }
}
