@import 'mixins';

.card {
    --card-padding: 30px;
    padding: var(--card-padding);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: calc(var(--card-padding) / 2);
    position: relative;
    transform: none;
    background-color: var(--card-bg-color);
    box-shadow: 0 2px 10px rgba(0,0,0,0.15), 
                0 2px 2px rgba(0,0,0,0.15), 
                0 4px 4px rgba(0,0,0,0.15), 
                0 8px 8px rgba(0,0,0,0.15);
    border-radius: 5px;
    transition: background-color $transition-duration, 
                box-shadow $transition-duration, 
                transform 0.35s;

    &:hover {
        transform: translate(0, -5px);
        cursor: pointer;
        box-shadow: 0 5px 13px rgba(0,0,0,0.15), 
                    0 6px 6px rgba(0,0,0,0.15), 
                    0 8px 8px rgba(0,0,0,0.15), 
                    0 12px 12px rgba(0,0,0,0.15);

        .hover-content {
            opacity: 0.92;
        }
    }

    /* Displayed when a user hovers over a card */
    .hover-content {
        font-size: 1.2em;
        /* Note: .card has 'position: relative' set */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* Center the content for the hover layer */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* Opacity = 0 means it's hidden by default */
        opacity: 0;
        border-radius: 5px;
        background-color: var(--hover-color-general);
        @include transition;

        // Whatever icon is being used
        svg {
            fill: var(--text-color-emphasis);
            width: 1.2em;
            margin-top: 20px;
        }
    }
}
