@import 'mixins';

.collapsible {    
    border: none;
    margin-top: 20px;
    outline: none;
    width: 100%;

    &.collapsible-closed {
        // Downward-pointing vector
        .collapsible-header::before {
            transform: rotate(45deg);
        }
    }

    &.collapsible-open {
        // Upward-pointing vector
        .collapsible-header::before {
            transform: rotate(-135deg);
        }
    }
}

.collapsible-header {
    background-color: var(--button-bg-color);
    border: none;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    align-items: center;
    padding: 10px;

    &, * {
        @include transition(background-color, color, fill);
        @include themed(color, white, black);
    }

    &:hover, &:focus {
        background-color: var(--button-bg-hover-color);
    }

    // Vector/arrowhead
    &::before {
        content: "";
        border: solid;
        border-width: 0 2px 2px 0;
        margin-left: 15px;
        margin-right: 25px;
        padding: 3px;
        display: inline-block;
        @include transition(transform, border-color);
    }
}

.collapsible-content {
    border: solid var(--collapsible-content-border-width) var(--button-bg-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: none;
    /* Will be set to a sufficiently large max-height by corresponding click handler for .collapsible */
    max-height: 0px;
    overflow: hidden;

    --collapsible-content-border-width: 3px;
    @include transition(max-height, color, border-color);
}