.comment-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2.25rem;
    margin-bottom: 4em;

    h2 {
        margin: 0 !important;
    }

    .post-comment-button {
        padding: 0.4em 0.8em;
        margin: 1em 0;
    }
}

#comments-wrapper {
    display: flex;
}

.comments {
    list-style-type: none;
    width: 100%;
    padding: 0 !important;

    .comment {
        margin-bottom: 4em;
    }

    .comment-header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .meta {
            margin: 0.5em 0.5em 0.5em 0;
        }
    }

    .commenter {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .avatar {
            width: 2em;
            border-radius: 50% !important;
        }

        .username {
            font-size: 1.1em;
            @include underlinedLink(#384950, #cccccc);
        }

        .author-badge {
            font-size: 0.75em;
            display: flex;
            align-items: center;
            padding: 0 0.4em;
            height: 1.5rem;
        }
    }

    .comment-edited {
        font-size: 0.875em;
        font-style: italic;
    }

    .date-posted {
        font-size: 0.875em;
    }

    .comment-body {
        display: grid;
        row-gap: $paragraph-spacing;
        @include transition(color);

        > * {
            min-width: 0;
        }
    }
}