@import 'mixins';
@import 'settings';

#page-footer {
    align-items: center;
    background: var(--bg-color-nav);
    bottom: 0;
    color: var(--text-color-nav);
    display: flex;
    height: 55px;
    justify-content: center;
    position: absolute;
    width: 100%;
    @include transition;

    span {
        text-align: center;
    }

    * {
        font-weight: bold;
    }
}