@import 'mixins';
@import 'settings';

#page-footer {
    align-items: center;
    background: var(--nav-bg-color);
    bottom: 0;
    // box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.8);
    color: var(--text-color-nav);
    display: flex;
    height: 80px;
    justify-content: center;
    position: absolute;
    width: 100%;
    @include transition;

    span {
        text-align: center;
    }

    * {
        font-weight: bold;
    }
}