@import 'mixins';

.star {
    height: 1em;
    width: 1em;
    @include transition(fill);

    &.star-filled {
        fill: var(--button-bg-color);
    }

    &.star-empty {
        @include themed(fill, #adacac, #474747);
    }
}