.katex {
    font-size: 1.1em;
}

.inline-equation {
    white-space: normal;
}

.block-equation {
    text-align: center;
    
    .katex {
        display: inline-block;
        white-space: nowrap;
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 0.5em;
        width: 100%;
    }

    .base {
        margin-top: 0.5em;
    }
}

// The first block-level equation after anything that's not itself a block-level equation
*:not(.block-equation) + .block-equation {
    // This 1.5em + 0.5em margin top from the .base above = 2em total
    margin-top: 1.5em;
}

// Any element coming after a block-level group of equations
.block-equation + *:not(.block-equation) {
    // Need to match the 2em we got above. We have 0.5em padding bottom on .katex
    // already, so we need 1.5em here.
    margin-top: 1.5em;
}