.lazily-loaded-picture {
    position: relative;
    display: block;

    .placeholder {
        position: relative;
        width: 100%;
        transform: scale(1);
    }

    .real-image {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        width: 100%;
        height: 100%;
    }
}

.clickable-picture img {
    cursor: zoom-in;
}
