@import 'settings';
@import 'mixins';

.project-grid {
    list-style-type: none;
}

.project {
    grid-template-rows: max-content 1fr max-content;
    margin-bottom: 0;
}

.project-header {
    display: flex;
    justify-content: space-between;
}

.project-name-wrapper {
    align-self: center;
    grid-area: heading;
}

.project-name {
    display: inline;
    color: var(--text-color-emphasis);
    font-size: 1rem;
    margin: 0;
    font-weight: map-get($font-weights, "bold");
}

.project-icon {
    display: inline-block;
    margin-right: 5px;

    * {
        vertical-align: middle;
        width: 24px;
    }
}

.project-rating {
    align-items: center;
    align-self: center;
    display: flex;
    font-size: 0.875em;
    grid-area: rating;
    justify-self: center;
    margin-right: 0.5em;

    .star {
        margin-right: 3px;
        margin-top: 2px;
    }
}

.project-description {
    margin-bottom: 0px;
    margin-top: 0px;
}

.project-technologies {
    display: flex;
    flex-wrap: wrap;
    grid-row: 3;
    list-style-type: none;
    margin: 0;
}

.project-technology {
    font-size: 0.875em;
    margin-bottom: 0px;
    margin-right: 0.5em;
    margin-top: 0.5em;
    padding: 0.25em 0.5em;
}

#github-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    a {
        border-radius: 50%;
        display: inline-block;
        height: 50px;
        margin-top: 20px;
        width: 50px;

        svg {
            fill: $brand-github;
        }
    }
}