@import 'colors';
@import 'mixins';
@import 'settings';

table {
    border-collapse: collapse;
    max-width: 100%;
    overflow-x: auto;
    display: block;
}

thead {
    background-color: var(--table-header-bg-color);
    color: var(--table-header-text-color);
    @include transition(background-color);

    th {
        font-weight: map-get($font-weights, "bold");
    }
}

td,
th {
    text-align: left;
    padding: 0.5em 1em;
    border: solid 3px var(--table-border-color);
    @include transition(color, border-color);
}

