.tooltip {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;

    .tooltip-text {
        align-items: center;
        background-color: #555;
        border-radius: 5px;
        color: white;
        display: none;
        font-size: 1.4rem;
        justify-content: center;
        left: 0;
        padding: 5px;
        position: relative;
        @include transition;

        &::after {
            border-style: solid;
            border-width: 5px;
            content: "";
            position: absolute;
        }
    }

    $tooltip-spacing: 10px;

    .tooltip-top {
        bottom: calc(100% + #{$tooltip-spacing});

        &::after {
            border-color: #555 transparent transparent transparent;
            left: 50%;
            margin-left: -5px;
            top: 100%;
        }
    }

    .tooltip-right {
        left: calc(100% + #{$tooltip-spacing});
        margin-left: 10px;

        &::after {
            border-color: transparent #555 transparent transparent;
            margin-top: -5px;
            right: 100%;
            top: 50%;
        }
    }

    .tooltip-bottom {
        top: calc(100% + #{$tooltip-spacing});
        
        &::after {
            border-color: transparent transparent #555 transparent;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
        }
    }

    .tooltip-left {
        margin-right: 10px;
        right: 100%;

        &::after {
            border-color: transparent transparent transparent #555;
            left: 100%;
            margin-top: -5px;
            top: 50%;
        }
    }

    &:hover .tooltip-text {
        display: flex;
    }
}
