@import 'colors';
@import 'settings';
@import 'mixins';

#topnav {
    background-color: var(--nav-bg-color);
    box-shadow: var(--nav-box-shadow);
    left: 0;
    min-height: $nav-height;
    position: fixed;
    right: 100%;
    top: 0;
    width: 100%;
    z-index: $nav-z-index;
    @include centered;
    @include transition(color, box-shadow, background-color);

    * {
        color: var(--nav-text-color);
        fill: var(--nav-text-color);
        font-weight: map-get($font-weights, "normal");
    }

    .nav-container {
        align-items: center;
        display: flex;
        height: $nav-height;
        justify-content: space-between;
    }
    
    #home-link {
        align-items: center;
        background: none;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        flex-shrink: 0;

        #logo {
            height: 32px;
            border-radius: 50%;
        }

        #website-name {
            margin-left: 5px;
            @include transition(color);
        }

        &:hover, &:focus {
            #website-name {
                color: white;
            }
        }
    }

    #theme-switch-container {
        display: flex;
        height: 30px;
        justify-content: center;
    }

    #theme-switch {
        --switch-width: 52px;
        align-items: center;
        align-self: center;
        border: none;
        border-radius: 100px;        
        cursor: pointer;
        display: flex;
        flex-wrap: nowrap;   
        font-size: 0.5625em;
        height: 22px;
        justify-content: space-between;
        margin-right: 5px;
        padding-left: 3px;
        padding-right: 3px;
        position: relative;
        width: var(--switch-width);
        background-color: var(--theme-switch-bg-color);

        #sun, #moon {
            height: 18px;
        }

        #knob {
            --switch-orb-height: 25px;
            --switch-orb-width: 25px; 
            background-color: var(--theme-switch-knob-bg-color);
            border: 1.3px solid var(--theme-switch-knob-border-color);
            box-shadow: var(--theme-switch-knob-shadow);
            border-radius: 50%;
            height: var(--switch-orb-height);
            left: 0;    
            position: absolute;
            right: calc(var(--switch-width) - var(--switch-orb-width));
            width: var(--switch-orb-width);
            @include transition(left, right, background-color, border, width, height);

            .dark & {
                box-shadow: 0 0 5px 0 white;
                left: calc(var(--switch-width) - var(--switch-orb-width));
                right: var(--orb-distance-from-edge);
            }
        }

        &:active {
            #knob {
                height: calc(var(--switch-orb-height) - 4px);
                width: calc(var(--switch-orb-width) - 4px);
            }
        }
    }

    .nav-menu {
        position: fixed;
        left: 0;
        top: $nav-height;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        @include transition(opacity, visibility);
    }

    .nav-links {
        background-color: var(--nav-bg-color);
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.8);
        list-style-type: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;

        .nav-item {
            margin: 1.5em auto;
            text-align: center;

            .nav-link {
                border-radius: 2px;
                padding: 0.75em;
                margin: 0 1.2rem;
                display: block;
                @include transition(background-color, color);
            }

            #active-nav-link, 
            .nav-link:hover, 
            .nav-link:focus {
                color: white;
                background-color: var(--nav-link-bg-color-hover);
            }
        }
    }

    #navbar-toggle {
        $button-size: 27px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
        height: $button-size;
        width: $button-size;
        flex-shrink: 0;
        cursor: pointer;

        .icon-bar {
            display: block;
            width: $button-size;
            height: 3px;
            margin: 2px;
            background: var(--nav-text-color);
            @include transition(background-color, transform, opacity);
        }
        

        &:focus,
        &:hover {
            .icon-bar {
                background-color: white;
            }
        }
    } 
    
    /* For mobile */
    &.opened {
        .nav-menu {
            background-color: rgba(0, 0, 0, 0.4);
            opacity: 1;
            visibility: visible;
        }

        #navbar-toggle {
            .icon-bar {
                &:first-child,
                &:last-child {
                    position: absolute;
                    margin: 0;
                    width: 30px;
                }

                &:first-child {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

@media only screen and (min-width: 870px) {
    #topnav, 
    #topnav.opened {
        .nav-menu {
            position: static;
            display: block;
            height: 100%;
            opacity: 1;
            visibility: visible;
        }

        .nav-links {
            align-items: center;
            box-shadow: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin: 0;
            position: static;
    
            .nav-item {
                margin: 0 0 0 1.5em;
                height: $nav-height;
                display: flex;
                align-items: center;

                .nav-link {
                    padding: 0.25em 0.5em;
                    display: inline;
                    margin: 0;
                }
            }
        }
    
        #navbar-toggle {
           display: none;
        }
    }
}