@import 'colors';
@import 'settings';
@import 'mixins';

$topnav-min-height: 64px;

#topnav {
    background-color: var(--bg-color-nav);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.8);
    left: 0;
    min-height: $topnav-min-height;
    position: fixed;
    right: 100%;
    top: 0;
    width: 100%;
    /* This is to ensure that it always appears above everything. */
    z-index: 100;
    @include transition;

    * {
        color: var(--text-color-nav);
        font-weight: bold;
    }

    .nav-container {
        align-items: center;
        display: flex;
        height: $topnav-min-height;
        justify-content: space-between;
        max-width: $page-max-width;
    }

    .nav-links {
        background-color: var(--bg-color-nav);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.8);
        color: var(--text-color-nav);
        /* Mobile menu dropdown takes up 100% of the viewport width */
        display: block;
        left: 0;
        list-style-type: none;
        margin-left: 0;
        margin-right: 0;
        margin-top: calc(#{$topnav-min-height} / 2);
        max-height: 0px;
        /* Otherwise, the link text will be visible (will overflow its container) when max-height is 0px */
        overflow: hidden;
        padding: 0;
        position: absolute;
        right: 0;
        top: 20px;
        @include transition;

        .active-nav-link {
            color: $nearly-white;
        }

        li {
            margin: 40px auto;
            text-align: center;
        }

        a {
            border: none;
            text-decoration: none;
            vertical-align: middle;
            @include transition;

            &:hover {
                background-color: var(--bg-color-nav);
                color: $nearly-white;
                text-decoration: underline;
            }
        }
    }

    .navbar-hamburger {
        fill: var(--text-color-nav);
        height: 1.5em;
        width: 1.5em;
    }   
}

#theme-switch-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    #theme-switch {
        align-self: center;    
        background-color: var(--bg-color-nav);
        border: var(--switch-border-thickness) solid var(--text-color-nav);
        border-radius: 100px;        
        cursor: pointer;
        height: 20px;
        margin-right: 5px;
        position: relative;
        width: var(--switch-width);        
        --switch-width: 40px;
        --switch-border-thickness: 3px;
        @include transition;
    }

    #theme-switch::before {        
        background-color: var(--text-color-nav);
        border-radius: 50%;
        content: "";
        height: var(--switch-orb-height);
        left: var(--orb-distance-from-edge);    
        position: absolute;
        right: calc(var(--switch-width) - var(--orb-distance-from-edge) - 1.5 * var(--switch-orb-width));
        /* We want to be halfway from the top, but we have to account for
        our own height to get the 'true' center position */
        top: calc(50% - var(--switch-orb-height) / 2);
        width: var(--switch-orb-width);
        --orb-distance-from-edge: 2px;
        --switch-orb-height: 10px;
        --switch-orb-width: 12px;
        @include transition;

        html.night & {
            left: calc(var(--switch-width) - var(--orb-distance-from-edge) - 1.5 * var(--switch-orb-width));
            right: var(--orb-distance-from-edge);
        }
    }

    #theme-label::before {
        align-self: center;

        html.day & {
            content: "Light mode";
        }

        html.night & {
            content: "Dark mode";
        }
    }
}

@media only screen and (min-width: $device-cutoff-medium) {

    #topnav {
        .nav-links {
            align-items: center;
            box-shadow: none;

            /* Show the links on a single row on the navbar */
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            
            margin: 0;
            /* Note 1: I'm using !important here only as a last resort to cover an edge case. Suppose
            you open the navbar on a small screen (< 700 px) and then close it. Per the JavaScript,
            the inline style for .nav-links will be set to 'max-height: 0px' when the menu cloes. If we then switch
            to a wider view (e.g., by flipping the device to horizontal orientation), the inline style of
            'max-height: 0px' will end up overriding the style below, effectively making the navbar
            links invisible. !important allows us to override the inline style set by the script. */
    
            /* Note 2: This is admittedly a bit hacky, but it will suffice. The first max-height is for MS Edge and IE 11,
            which do not yet support intrinsic & extrinsic sizing (and will thus reject the second max-height). However, all other 
            browsers that do support max-content will override the first style and instead apply the second one. */
            max-height: 100px !important;
            max-height: max-content !important;
            position: static;
    
            li {
                margin: 0;
            }
    
            a {
                margin-left: 40px;
            }
        }
    
       .navbar-hamburger {
           display: none;
        }
    }
}