@layer TOKENS, RESET, GLOBAL, UTILS, COMPONENTS, PAGES, DEMOS;

@import './layers/tokens.css';
@import './layers/reset.css';
@import './layers/global.css';
@import './layers/utils.css';
@import './layers/components.css';

@layer TOKENS {
  :root {
    /* Typography */
    --font-family-body: Reenie Beanie, cursive;
    --font-family-display: Rampart One, sans-fallback;
    --font-weight-display-regular: 400;
  }
}

@layer PAGES {
  html {
    scroll-behavior: smooth;
  }

  body {
    --color-lines: hsl(0deg 0% 15% / 4%);
    background-image:
      linear-gradient(var(--color-lines) 3.6px, transparent 3.6px),
      linear-gradient(90deg, var(--color-lines) 3.6px, transparent 3.6px),
      linear-gradient(var(--color-lines) 1.8px, transparent 1.8px),
      linear-gradient(90deg, var(--color-lines) 1.8px, white 1.8px);
    background-size:
      90px 90px,
      90px 90px,
      18px 18px,
      18px 18px;
    background-position:
      -3.6px -3.6px,
      -3.6px -3.6px,
      -1.8px -1.8px,
      -1.8px -1.8px;
  }

  .container {
    max-width: calc(1536rem / 16);
  }

  @keyframes artwork-subtitle-pulse {
    from {
      scale: 1;
    }

    to {
      scale: 1.1;
    }
  }

  @keyframes artwork-caption-scale {
    0% {
      transform: scale(0);
      opacity: 0;
    }

    60% {
      transform: scale(1.1);
      opacity: 0.6;
    }
  }

  .artwork {
    height: 100%;
    display: grid;
    place-items: center;
    gap: var(--size-spacing-0);
    scroll-margin-top: var(--size-spacing-10);
    isolation: isolate;
    padding: var(--size-spacing-3);

    &:is(:focus-within, :target, :hover) .artwork-caption {
      animation: artwork-caption-scale 0.3s ease-in;
      transform: scale(1);
      opacity: 1;
    }
  }

  .artwork-page {
    &::before {
      right: 1%;
      top: 0;
    }

    &::after {
      left: 1%;
      top: 0;
    }

    & a {
      color: inherit;
    }
  }

  .artwork-page-header {
    padding: var(--size-spacing-12) var(--size-spacing-5);

    & .title {
      --font-size-multiplier: 1.2;
      width: fit-content;
      margin: 0 auto;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: var(--size-tracking-lg);
      text-shadow: 0.0625rem 0.0625rem;
      font-size: calc(var(--font-size-multiplier) * var(--size-font-4xl));
      font-family: var(--font-family-display);
      font-weight: var(--font-weight-display-regular);

      &::after {
        translate: 0 0;
        rotate: 0deg;
        content: 'Now with double the pixels!';
        display: block;
        width: fit-content;
        margin-inline: auto;
        text-shadow: none;
        white-space: nowrap;
        animation: artwork-subtitle-pulse 1s ease infinite alternate-reverse;
        will-change: scale;
        text-transform: none;
        font-size: var(--size-font-md);
        line-height: var(--size-leading-sm);
        font-family: var(--font-family-body);
        font-weight: var(--font-weight-body-regular);
      }
    }
  }

  .artwork-page-footer {
    border-top: solid var(--size-spacing--3);
    padding: var(--size-spacing-5);
    text-wrap: balance;
    text-align: center;
    line-height: var(--size-leading-xs);
    font-size: var(--size-font-lg);
  }

  .artwork-nav {
    background: linear-gradient(
      0deg,
      transparent 45%,
      var(--color-text-normal) 45%,
      var(--color-text-normal) 50%,
      transparent 50%
    );
    width: 100%;

    & a {
      background-color: white;
      position: relative;
      padding: var(--size-relative--2) var(--size-relative-0);
      text-transform: uppercase;
      letter-spacing: var(--size-tracking-lg);
      text-decoration: none;
      color: var(--color-text-normal);
      border: solid 2px;
      box-shadow:
        5px 5px,
        4.75px 4.75px,
        4.5px 4.5px,
        4.25px 4.25px,
        4px 4px,
        3.75px 3.75px,
        3.5px 3.5px,
        3.25px 3.25px,
        3px 3px,
        2.75px 2.75px,
        2.5px 2.5px,
        2.25px 2.25px,
        2px 2px,
        1.75px 1.75px,
        1.5px 1.5px,
        1.25px 1.25px,
        1px 1px,
        0.75px 0.75px,
        0.5px 0.5px,
        0.25px 0.25px;
    }

    & ol {
      display: flex;
      gap: var(--size-spacing-0);
      width: 100%;
      padding: var(--size-spacing-0) var(--size-spacing--2);
      overflow-x: auto;

      & > * {
        display: flex;
      }

      & > :first-child {
        margin-inline-end: auto;
      }
    }
  }

  .artwork-list {
    padding: var(--size-spacing-5);
  }

  .artwork-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .artwork-caption {
    padding: var(--size-spacing--3) var(--size-spacing--1);
    color: var(--color-text-normal);
    transform: scale(0);
    text-align: center;
    text-wrap: balance;
    will-change: transform, opacity;
    font-size: var(--size-font-lg);
    line-height: var(--size-leading-3xs);
    transition-timing-function: var(--transition-timing-function);
    transition-duration: var(--transition-duration);
    transition-property: opacity, transform;
  }

  @media (--size-breakpoint-tablet-sm) {
    .artwork-page {
      &::before,
      &::after {
        content: '';
        width: 4px;
        background: var(--color-text-normal);
        position: fixed;
        height: 100vh;
      }
    }

    .artwork-page-header .title {
      --font-size-multiplier: 2;

      &::after {
        position: absolute;
        translate: 0 -50%;
        rotate: 2deg;
        inset-block-start: 0;
        inset-inline-end: 0;
      }
    }

    .artwork-nav ol {
      gap: var(--size-spacing-5);
      overflow-x: unset;
      padding: var(--size-spacing-0) var(--size-spacing-5);
    }
  }

  @media (--size-breakpoint-desktop-lg) {
    .artwork-page-header .title {
      --font-size-multiplier: 2.5;
    }
  }
}
