@use "partials/functions";
@use "partials/mixins";
@import "partials/tokens/animation";
@import "partials/tokens/size";
@import "partials/tokens/color";
@import "partials/global/reset";
@import "partials/utils/utils";
@import "partials/components/code";
@import "partials/components/figure";
@import "partials/pages/art/index";

html {
	scroll-behavior: smooth;
}

body {
	// https://www.magicpattern.design/tools/css-backgrounds
	--color-lines: hsl(0deg 0% 15% / 4%);
	background-image:
		linear-gradient(
			var(--color-lines) 3.6px,
			transparent 3.6px
		),
		linear-gradient(90deg, var(--color-lines) 3.6px, transparent 3.6px),
		linear-gradient(var(--color-lines) 1.8px, transparent 1.8px),
		linear-gradient(90deg, var(--color-lines) 1.8px, #fff 1.8px);
	background-size: 90px 90px, 90px 90px, 18px 18px, 18px 18px;
	background-position: -3.6px -3.6px, -3.6px -3.6px, -1.8px -1.8px, -1.8px -1.8px;
	@include mixins.font($family: "mono", $weight: "regular", $size: "base");
}

.container {
	max-width: functions.to-rems(1536px);
	margin-inline: auto;
}

@keyframes subtitle-pulse {
	from {
		scale: 1;
	}

	to {
		scale: 1.1;
	}
}

@keyframes popin {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	60% {
		transform: scale(1.1);
		opacity: 0.6;
	}
}

.artwork {
	--color-artwork-shadow: hsl(272deg 53% 20%);
	height: 100%;
	display: grid;
	place-items: center;
	gap: functions.size("spacing", "0");
	scroll-margin-top: functions.size("spacing", "10");

	/* Force each artwork to create its own stacking context since some art pieces use z-index
  tricks to position individual elements higher or lower within that artwork's context. Without this,
  they would leak into the global stacking context and potentially appear above other things (e.g., the navbar). */
	isolation: isolate;
	padding: functions.size("spacing", "3");

	&-page {
		@include mixins.tablet-sm {
			&::before,
			&::after {
				content: "";
				width: 4px;
				background: functions.color("text", "normal");
				position: fixed;
				height: 100vh;
			}
		}

		&::before {
			right: 1%;
			top: 0;
		}

		&::after {
			left: 1%;
			top: 0;
		}

		a {
			color: functions.color("text", "normal");
		}

		&-header {
			padding: functions.size("spacing", "12") functions.size("spacing", "5");

			.title {
				--font-size-multiplier: 1.2;
				width: fit-content;
				margin: 0 auto;
				position: relative;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: functions.size("tracking", "lg");
				text-shadow: functions.to-rems(1px) functions.to-rems(1px);
				font-size: calc(var(--font-size-multiplier) * #{functions.size("font", "5xl")});
				@include mixins.font($family: "display", $weight: "regular");

				@include mixins.tablet-sm {
					--font-size-multiplier: 2;
				}

				@include mixins.desktop-lg {
					--font-size-multiplier: 2.5;
				}

				&::after {
					translate: 0 0;
					rotate: 0deg;

					content: "Now with double the pixels!";
					display: block;
					width: fit-content;
					margin-inline: auto;
					text-shadow: none;
					white-space: nowrap;
					animation: subtitle-pulse 1s ease infinite alternate-reverse;
					will-change: scale;
					text-transform: none;
					@include mixins.font($family: "cursive", $weight: "regular", $size: "md");

					@include mixins.tablet-sm {
						position: absolute;
						translate: 0 -50%;
						rotate: 2deg;
						inset-block-start: 0;
						inset-inline-end: 0;
					}
				}
			}
		}

		&-footer {
			border-top: solid functions.size("spacing", "-3");
			padding: functions.size("spacing", "5");
			text-wrap: balance;
			text-align: center;
			line-height: functions.size("leading", "xs");
		}
	}

	&-nav {
		background: linear-gradient(0deg, transparent 45%, functions.color("text", "normal") 45%, functions.color("text", "normal") 50%, transparent 50%);
		width: 100%;

		a {
			background-color: white;
			position: relative;
			padding: functions.size("relative", "-2") functions.size("relative", "0");
			text-transform: uppercase;
			letter-spacing: functions.size("tracking", "lg");
			text-decoration: none;
			color: functions.color("text", "normal");
			border: solid 2px;
			box-shadow:
				5px 5px,
				4.75px 4.75px,
				4.5px 4.5px,
				4.25px 4.25px,
				4px 4px,
				3.75px 3.75px,
				3.5px 3.5px,
				3.25px 3.25px,
				3px 3px,
				2.75px 2.75px,
				2.5px 2.5px,
				2.25px 2.25px,
				2px 2px,
				1.75px 1.75px,
				1.5px 1.5px,
				1.25px 1.25px,
				1px 1px,
				0.75px 0.75px,
				0.5px 0.5px,
				0.25px 0.25px;
		}

		ol {
			display: flex;
			gap: functions.size("spacing", "0");
			width: 100%;
			padding: functions.size("spacing", "0") functions.size("spacing", "-2");
			overflow-x: auto;

			& > * {
				display: flex;
			}

			& > :first-child {
				margin-inline-end: auto;
			}

			@include mixins.tablet-sm {
				gap: functions.size("spacing", "5");
				overflow-x: unset;
				padding: functions.size("spacing", "0") functions.size("spacing", "5");
			}
		}
	}

	&-list {
		padding: functions.size("spacing", "5");
	}

	&-link {
		text-decoration: none;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	&-caption {
		padding: functions.size("spacing", "-3") functions.size("spacing", "-1");
		color: functions.color("text", "normal");
		transform: scale(0);
		text-align: center;
		text-wrap: balance;
		will-change: transform, opacity;
		@include mixins.font($family: "cursive", $weight: "regular", $size: "lg", $leading: "3xs");
		@include mixins.transition(opacity, transform);
	}

	&:is(:focus-within, :target, :hover) &-caption {
		animation: popin 0.3s ease-in;
		transform: scale(1);
		opacity: 1;
	}
}
