@layer TOKENS, RESET, GLOBAL, UTILS, COMPONENTS, LAYOUT, PAGES, DEMOS;

/* 1. Design tokens have the lowest specificity as they do not affect any styling. These are just variable declarations. */
@import './layers/tokens.css';

/* 2. CSS reset to ensure a consistent baseline */
@import './layers/reset.css';

/* 3. General global styling */
@import './layers/global.css';

/* 4. Utility classes */
@import './layers/utils.css';

/* 5. Specific components */
@import './layers/components.css';

/* 6. Layout styles */
@import './layers/layout.css';

/* 7. Rare/one-off page-specific CSS */
@import './layers/pages.css';
