@layer tokens, reset, global, utils, components, layout, pages, demos;

@layer tokens {
  @import "partials/tokens/animation";
  @import "partials/tokens/color";
  @import "partials/tokens/size";
}

@layer reset {
  @import "partials/reset";
}

@layer global {
  @import "partials/global";
}

@layer utils {
  @import "partials/utils/utils";
}

@layer components {
  @import "partials/components/components";
}

@layer layout {
  @import "partials/layout";
}

@layer pages {
  @import "partials/pages/pages";
}
