---
title: Blog
layout: default
---

{% include banner.html heading="Welcome to my blog!" content="I like to write about programming, video games, music, and whatever else comes to mind. All opinions are my own." %}

<article class="blog-overview container">
    <div class="category-links container">
        <a href="{{ site.url }}/blog/programming">Programming</a>
        <a href="{{ site.url }}/blog/gaming">Gaming</a>
        <a href="{{ site.url }}/blog/music">Music</a>
    </div>
    <article class="post-previews card-grid">
        {{ content }}
    </article>
</article>