---
title: Blog
layout: default
---

{% include banner.html heading="Welcome to my blog!" content="I like to write about dev, CS theory, video games, and whatever else comes to mind. All opinions are my own." %}
<section class="section blog-overview">
    <ul class="category-links">
        <li class="category-link{% if page.category == 'all' %} active-category{% endif %}"><a href="{{ site.url }}/blog/">All</a></li>
        <li class="category-link{% if page.category == 'dev' %} active-category{% endif %}"><a href="{{ site.url }}/blog/dev">Dev</a></li>
        <li class="category-link{% if page.category == 'cs101' %} active-category{% endif %}"><a href="{{ site.url }}/blog/cs101">CS101</a></li class="category-link">
        <li class="category-link{% if page.category == 'gaming' %} active-category{% endif %}"><a href="{{ site.url }}/blog/gaming">Gaming</a></li class="category-link">
        <li class="category-link{% if page.category == 'music' %} active-category{% endif %}"><a href="{{ site.url }}/blog/music">Music</a></li class="category-link">
    </ul>
    <section class="post-previews card-grid">
        {{ content }}
    </section>
</section>