---
title: Blog
layout: default
---

{% include banner.html heading="Welcome to my blog!" content="I like to write about dev, CS theory, video games, and whatever else comes to mind. All opinions are my own." %}
<section class="section blog-overview">
    <div class="category-links container">
        <a href="{{ site.url }}/blog/dev">Dev</a>
        <a href="{{ site.url }}/blog/cs101">CS101</a>
        <a href="{{ site.url }}/blog/gaming">Gaming</a>
        <a href="{{ site.url }}/blog/gaming">Music</a>
    </div>
    <section class="post-previews card-grid">
        {{ content }}
    </section>
</section>