<!DOCTYPE html>

<html lang="en-US" class="light">
    <head>
        <!-- Metadata for search engines -->
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
        <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | join: ', ' }}{% else %}{{ site.keywords | join: ', ' }}{% endif %}" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="{{ site.author }}" />
        <meta name="referrer" content="origin" />
        <!-- og: properties are for social media previews -->
        <meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
        {% assign thumbnail_ext = 'png' %}
        {% if page.thumbnail_ext %}
            {% assign thumbnail_ext = page.thumbnail_ext %}
        {% endif %}
        <meta property="og:image" content="{{ site.url }}/{{ page.img_path }}/{{ page.slug }}thumbnail.{{ thumbnail_ext }}" />
        <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
        <meta property="og:url" content="{{ site.url }}" />
        {% if page.noindex %}
            <!-- Prevent this page from showing up on search engines -->
            <meta name="robots" content="noindex">
        {% endif %}
        <link rel="stylesheet" href="/assets/styles/main.css" />
        <link rel="icon" href="/favicon.png" type="image/x-icon" />
        {% if page.canonical_url %}
            <link rel="canonical" href="{{ page.canonical_url }}" />
        {% endif %}
        {% if page.url == "/" %}
            <title>{{ site.title }}: {{ page.title }}</title>
        {% else %}
            <title>{{ page.title }} | {{ site.title }}</title>
        {% endif %}
        <!-- Load the user's last selected theme -->
        <script>
            if (localStorage.getItem('theme')) {
                document.documentElement.className = localStorage.getItem('theme');
            }
        </script>
        <!-- For performance (https://medium.com/clio-calliope/making-google-fonts-faster-aadf3c02a36d) -->
        <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/Karla-Regular.ttf" crossorigin>
        <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/Karla-Italic.ttf" crossorigin>
        <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/Karla-Bold.ttf" crossorigin>
        <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/Karla-BoldItalic.ttf" crossorigin>
    </head>
    <body>
        {% include topnav.html %}
        <main id="page-content">
            {{ content }}
        </main>
        <!-- Note: footer is not part of page wrapper to ensure it sticks to the bottom of the page -->
        <footer id="page-footer">
            <span>Copyright {{ site.author }}, 2019–2020</span>
        </footer>
        <!-- Custom javascript -->
        <script src="/assets/scripts/common.js"></script>
        {% if page.custom_js %}
            {% for script in page.custom_js %}
            <script src="/assets/scripts/{{ script }}.js"></script>
            {% endfor %}
        {% endif %}
    </body>
</html>