<!DOCTYPE html>

<html lang="en" class="day">
    <head>
        {% include meta.html %}
        <!-- Nunito font -->
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
        <!-- Favicon -->
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <title>{{ page.title }} | {{ site.title }}</title>
        {% include stylesheets.html %}
        {% include loadTheme.html %}
    </head>
    <body>
        <div id="page-wrapper">
            <header>
                {% include topnav.html %}
            </header>
            <main>
                {{ content }}
            </main>
        </div>
        <!-- Note: footer is not part of page wrapper to ensure it sticks to the bottom of the page -->
        {% include footer.html %}
        {% include scriptLinks.html %}
    </body>
</html>