---
title: Blog
layout: blog
---

{% for post in site.tags[page.tag] %}
    <div class="card post-preview" tabindex="0">
        <a class="container-link" href="{{ post.url }}" tabindex="-1"></a>
        {% include posts/thumbnail.html post=post %}
        <div class="post-preview-body">
            <header>
                <h3 class="post-title">{{ post.title }}</h3>
                {% include posts/meta.html content=post.content date=post.date %}
            </header>
            <p class="post-description">{{ post.description | truncate: 160 }}</p>
            <footer class="post-tags">
                {% for tag in post.tags limit: 4 %}
                <a href="/tag/{{ tag }}" class="post-tag tag">{{ tag }}</a>
                {% endfor %}
            </footer>
        </div>
    </div>
{% endfor %}