@import "../functions";

// https://heydonworks.com/article/the-flexbox-holy-albatross/
.col-wrap {
  --gap: #{spacing(5)};
  --multiplier: calc(var(--container-width, 40rem) - 100%);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  > * {
    flex-grow: 1;
    flex-basis: calc(var(--multiplier) * 999);
    min-width: calc(100% / var(--columns, 2) - (var(--columns, 2) - 1) * var(--gap));
    max-width: 100%;
  }
}

.col-1 {
  --columns: 1;
}

.col-2 {
  --columns: 2;
}

.col-3 {
  --columns: 3;
}
