@import "../functions";

.container {
  --padding-x: #{spacing(0)};
  /* stylelint-disable-next-line scss/no-global-function-names */
  inline-size: min(100% - 2 * var(--padding-x), #{to-rems(860px)});
  margin-inline: auto;
}
