@use "sass:list";

@import "../config";
@import "../functions";

$spacing-steps: get($config, "spacing", "steps");
$spacing-base-index: list.index($spacing-steps, get($config, "spacing", "base"));
@for $i from 1 through list.length($spacing-steps) {
  $step: $i - $spacing-base-index;
  $value-px: list.nth($spacing-steps, $i) * 1px;
  /* stylelint-disable-next-line custom-property-pattern */
  .gap-#{$step} {
    gap: var(--#{get-custom-property-prefix("spacing")}-#{$step});
  }
}
