@import "../functions";

.inline-list {
  > * {
    display: inline-block;
  }

  > *:not(:last-child) {
    &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 2.5px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: currentcolor;
    }
  }
}
