@use "../functions";

.rhythm {
  --rhythm: calc(#{functions.leading("base")} * 1em);

  > * + * {
    margin-top: var(--rhythm);
  }

  > :is(h1, h2, h3, h4, h5, h6) + * {
    --rhythm: #{functions.relative("0")};
  }

  > :is(h1, h2, h3, h4, h5, h6) + :is(h2,h3,h4,h5,h6) {
    --rhythm: #{functions.relative("1")};
  }
}
