@use "../functions";

.rhythm {
  @supports (margin-top: 1lh) {
    --rhythm: 1lh;
  }
  @supports not (margin-top: 1lh) {
    --rhythm: calc(#{functions.leading("base")} * 1em);
  }

  > * + * {
    margin-top: var(--rhythm);
  }

  > * + :where(h2) {
    margin-top: calc(1.25 * var(--rhythm));
  }

  > :where(h1, h2, h3, h4, h5, h6) + * {
    margin-top: calc(0.5 * var(--rhythm));
  }
}
