@import "./partials/functions";
@import "partials/tokens/spacing";
@import "partials/tokens/typography";
@import "partials/global/reset";
@import "partials/utils/stack";
@import "partials/utils/gap";
@import "partials/utils/fontSize";

@keyframes background-scroll {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 798px 0;
  }
}

body {
  @include font($family: "body", $weight: "regular");
}

main {
  display: grid;
  place-content: center;
  text-align: center;
  gap: spacing("0");
  height: 100%;
  background-color: hsl(0deg 0% 8%);
  // https://www.transparenttextures.com/stardust.html
  background-image: url("/assets/images/404/stardust.png");
  padding: 0 spacing("-1");
  animation: background-scroll 40s linear infinite;
  animation-fill-mode: forwards;

  * {
    color: white;
  }

  h1 {
    text-shadow: 0.1em 0.1em black;
  }
}
