@use '../tokens' as *;
@use '../functions';

html {
  @each $property, $value in functions.get($tokens, 'animation') {
    --transition-#{$property}: #{$value};
  }
}

@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    animation: none !important;
    transition: none !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}
