@import "../../functions";
@import "../../mixins";

#artwork-page-header {
  text-align: center;
  padding: spacing(5) 0;

  .title {
    text-shadow: spacing(-3) spacing(-3) black;
    max-width: fit-content;
    margin: 0 auto;
    position: relative;
    @include font-family("cursiveTitle");
    @include font-weight("cursiveTitle", "regular");

    &::after {
      @keyframes subtitle-pulse {
        from {
          transform: scale(1);
        }

        to {
          transform: scale(1.1);
        }
      }

      --transform-base: rotate(2deg) translateX(-50%);
      content: "Best viewed in Chrome!";
      text-shadow: none;
      vertical-align: top;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      animation: subtitle-pulse 1s ease infinite alternate-reverse;
      will-change: transform;
      @include font-size("md");
      @include font-family("cursiveBody");
      @include font-weight("cursiveBody", "regular");

      @include mobile-lg {
        left: unset;
        top: -10%;

        @keyframes subtitle-pulse {
          from {
            transform: var(--transform-base) scale(1);
          }

          to {
            transform: var(--transform-base) scale(1.1);
          }
        }
      }
    }
  }
}

#artwork-list {
  --gap: #{spacing(5)};
  padding-top: calc(2 * var(--gap));
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.artwork {
  --artwork-per-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 calc(1 / var(--artwork-per-row) * 100% - 2 * var(--gap));
  padding: spacing(3);
  @include mobile-lg {
    --artwork-per-row: 3;
  }
}

.artwork-link {
  display: flex;
  flex-direction: column;
  row-gap: spacing(0);
  align-items: center;
  justify-content: center;
  position: relative;

  &::after {
    @keyframes popin {
      0% {
        transform: scale(0);
        opacity: 0;
      }

      60% {
        transform: scale(1.1);
        opacity: 0.6;
      }
    }
    content: attr(aria-label);
    color: var(--color-text-emphasis);
    transform: scale(0);
    text-align: center;
    max-width: 30ch;
    line-height: 1.2;
    font-size: spacing(3);
    will-change: transform, opacity;
    @include font-family("cursiveBody");
    @include transition(opacity, transform);
  }

  &:is(:active, :hover, :focus-within) {
    &::after {
      animation: popin 0.3s ease-in;
      transform: scale(1);
      opacity: 1;
    }
  }
}
