@import "../../functions";
@import "../../mixins";

#artwork-page-header {
  padding: spacing(5) 0;

  .title {
    text-shadow: to-rems(1px) to-rems(1px) currentcolor;
    max-width: fit-content;
    margin: 0 auto;
    position: relative;

    &::after {
      @keyframes subtitle-pulse {
        from {
          transform: scale(1);
        }

        to {
          transform: scale(1.1);
        }
      }

      --rotation: 0deg;
      --transform-base: rotate(var(--rotation)) translate(-50%, -50%);
      content: "Best viewed in Chrome!";
      text-shadow: none;
      vertical-align: top;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      animation: subtitle-pulse 1s ease infinite alternate-reverse;
      will-change: transform;
      @include font($family: "cursive", $weight: "regular", $size: "md");

      @include mobile-lg {
        --rotation: 2deg;
        left: unset;
        top: -10%;

        @keyframes subtitle-pulse {
          from {
            transform: var(--transform-base) scale(1);
          }

          to {
            transform: var(--transform-base) scale(1.1);
          }
        }
      }
    }
  }
}

.artwork {
  $root: &;
  display: grid;
  place-items: center;
  gap: spacing(0);

  /* Force each artwork to create its own stacking context since some art pieces use z-index
  tricks to position individual elements higher or lower within that artwork's context. Without this,
  they would leak into the global stacking context and potentially appear above other things (e.g., the navbar). */
  isolation: isolate;
  padding: spacing(3);

  &-caption {
    @keyframes popin {
      0% {
        transform: scale(0);
        opacity: 0;
      }

      60% {
        transform: scale(1.1);
        opacity: 0.6;
      }
    }
    color: var(--color-text-emphasis);
    transform: scale(0);
    text-align: center;
    max-width: 30ch;
    will-change: transform, opacity;
    font-size: var(--fs-lg);
    @include font($family: "cursive", $weight: "regular");
    @include transition(opacity, transform);
  }

  &:is(:focus-within, :target, :hover) &-caption {
    animation: popin 0.3s ease-in;
    transform: scale(1);
    opacity: 1;
  }
}
