@import '../../mixins';

#artwork-page-header {
  text-align: center;
  padding-bottom: 3.2rem;

  .title {
    font-size: 4.8rem;
    line-height: 1.8;
    text-shadow: 0.4rem 0.4rem black;
    max-width: fit-content;
    margin: 0 auto 1.6rem auto;
    position: relative;
    @include font-family('cursiveTitle');

    &::after {
      @keyframes subtitle-pulse {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(1.1);
        }
      }

      content: 'Best viewed in Chrome!';
      text-shadow: none;
      vertical-align: top;
      position: absolute;
      right: 0;
      bottom: -2em;
      left: 0;
      animation: subtitle-pulse 1s ease infinite alternate-reverse;
      will-change: transform;
      @include font-family('cursiveBody');
      @include font-size('md');
      @include font-weight('regular');

      @include mobile-lg {
        @keyframes subtitle-pulse {
          from {
            transform: rotate(2deg) scale(1);
          }
          to {
            transform: rotate(2deg) scale(1.1);
          }
        }

        left: unset;
        bottom: unset;
        top: -0.8rem;
        right: -10rem;
        transform: rotate(2deg);
      }
    }
  }
}

#artwork-list {
  --gap: 3.2rem;
  padding-top: calc(2 * var(--gap));
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.artwork {
  --artwork-per-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 calc(1 / var(--artwork-per-row) * 100% - 2 * var(--gap));
  padding: 2.4rem;

  @include mobile-lg {
    --artwork-per-row: 3;
  }
}

.artwork-link {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  align-items: center;
  justify-content: center;
  position: relative;

  &::after {
    @keyframes popin {
      0% {
        transform: scale(0);
        opacity: 0;
      }
      60% {
        transform: scale(1.1);
        opacity: 0.6;
      }
    }

    content: attr(aria-label);
    color: var(--color-text-emphasis);
    transform: scale(0);
    text-align: center;
    max-width: 30ch;
    line-height: 1.2;
    font-size: 2.4rem;
    will-change: transform, opacity;
    font-family: Reenie Beanie, cursive;
    @include transition('opacity', 'transform');
  }

  &:is(:active, :hover, :focus-within) {
    &::after {
      animation: popin 0.3s ease-in;
      transform: scale(1);
      opacity: 1;
    }
  }
}
