// Reference image: https://www.syfy.com/sites/syfy/files/styles/1200x680/public/2020/05/jerry-rick-and-morty-season-4.jpg

.jerry {
  --color-jerry-skin: #eac2a6;
  --color-jerry-hair: #78625a;

  // --color-jerry-shirt: #607A32;
  width: 18vmin;
  height: 25.2vmin;
  position: relative;
  overflow: hidden;
  transform: scale(1.1);

  // Originally drawn at this size and scaled down
  // transform: scale(1.67);

  &-hair-bg {
    background-color: black;
    transform: scale(1.012);
  }

  &-hair-bg,
  &-hair {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 15.6vmin;
    clip-path:
      polygon(
        5% 100%,
        3% 90%,
        2% 85%,
        2% 80%,
        2.5% 70%,
        2% 65%,
        1% 58%,
        1% 55%,
        2% 50%,
        4% 45%,
        6% 40%,
        15% 25%,
        20% 18%,
        30% 10%,
        40% 4%,
        46% 2%,
        50% 1%,
        55% 1%,
        60% 2%,
        63% 3%,
        68% 5%,
        73% 8%,
        76% 10%,
        82% 14%,
        85% 17%,
        87% 19%,
        92% 30%,
        92% 40%,
        91% 45%,
        92% 48%,
        93% 51%,
        94% 58%,
        94% 60%,
        94% 62%,
        94% 66%,
        91% 75%
      );
  }

  &-hair {
    background-color: var(--color-jerry-hair);
  }

  &-face {
    background-color: var(--color-jerry-skin);
    position: absolute;
    left: 50%;
    top: 13%;
    transform: translate(-50%, 0);
    transform-style: preserve-3d;
    width: 14.7vmin;
    height: 21vmin;
    border: solid 0.2vmin black;
    border-radius: 40% 30% 43% 43% / 40% 40% 35% 43%;

    .top {
      position: absolute;
      left: 52%;
      top: -4%;
      transform: rotate(-3deg) translate(-50%, 0);
      width: 64%;
      height: 20%;
      background-color: inherit;
      border-left: solid 0.1vmin transparent;
      border-top: solid 0.2vmin black;
      border-radius: 100%;
    }

    // Ears
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: inherit;
    }

    // Left ear
    &::after {
      --ear-cutoff-percentage: 55%;
      width: 3.6vmin;
      height: 3.9vmin;
      border: solid 0.2vmin black;
      border-radius: 50%;
      left: -1.5vmin;
      top: 53%;
      transform: rotate(-4deg);
      clip-path: polygon(0 0, var(--ear-cutoff-percentage) 0, var(--ear-cutoff-percentage) 100%, 0 100%, 0 0);
    }

    // Right ear
    &::before {
      width: 3.9vmin;
      height: 4.8vmin;
      border: solid 0.2vmin black;
      border-radius: 50%;
      right: -0.84vmin;
      top: 49%;
      transform: translateZ(-1px);
    }
  }

  &-eye {
    --jerry-eye-size: 5.28vmin;
    --jerry-eye-white-percent: 56%;
    --jerry-eyelid-percent: calc(var(--jerry-eye-white-percent) + 3%);
    --jerry-eyeball-position: 84% calc(var(--jerry-eye-white-percent) - 2%);
    --jerry-eyeball-size: 5.5%;
    width: var(--jerry-eye-size);
    height: var(--jerry-eye-size);
    border: solid 0.2vmin black;
    border-radius: 50%;
    position: absolute;
    background-image:
      radial-gradient(
        ellipse at var(--jerry-eyeball-position),
        black var(--jerry-eyeball-size),
        transparent var(--jerry-eyeball-size)
      ),
      linear-gradient(
        to top,
        white var(--jerry-eye-white-percent),
        black var(--jerry-eye-white-percent),
        black var(--jerry-eyelid-percent),
        var(--color-jerry-skin) var(--jerry-eyelid-percent)
      );

    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    // Cuts top part of eye
    &::after {
      width: 85%;
      height: 40%;
      left: 50%;
      top: -10%;
      border-radius: 50%;
      transform: translate(-50%, 0%);
      background-color: var(--color-jerry-skin);
    }

    // Eyebrows
    &::before {
      --jerry-eyebrow-size: 2.1vmin;
      width: 3vmin;
      height: 1.2vmin;
      border-top: solid 0.2vmin black;
      border-left: solid 0.1vmin transparent;
      border-right: solid 0.1vmin transparent;
      border-radius: 100% 100% 0 0;
    }

    &.left {
      left: 14.5%;
      top: 17.5%;

      // Left eyebrow
      &::before {
        top: -2.28vmin;
        left: 0.84vmin;
        transform: rotate(-2deg);
      }
    }

    &.right {
      --jerry-eyeball-position: 85% calc(var(--jerry-eye-white-percent) - 5%);
      top: 18.5%;
      right: 0;

      // Right eyebrow
      &::before {
        width: 3vmin;
        height: 1.5vmin;
        top: -2.52vmin;
        right: 1.08vmin;
        transform: rotate(9deg);
      }

      &::after {
        width: 80%;
        top: -6%;
        border-radius: 50%;
      }
    }
  }

  &-nose {
    position: absolute;
    left: 52%;
    top: 49%;
    transform: rotate(-2deg);

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 0.06vmin;
      background-color: black;
    }

    &::before {
      width: 2.4vmin;
      top: 1.8vmin;
    }

    &::after {
      width: 3.6vmin;
      left: 0.06vmin;
      transform: rotate(75deg);
    }
  }

  &-mouth {
    position: absolute;
    left: 58%;
    top: 65%;
    transform: translate(-50%, 0) rotate(-2deg);
    width: 7.8vmin;
    height: 1.8vmin;
    border-bottom: solid 0.3vmin black;
    border-radius: 0 0 40% 100%;

    &::before,
    &::after {
      --dimple-size: 1.32vmin;
      content: "";
      position: absolute;
    }

    &::before {
      border-top: solid 0.1vmin black;
      border-left: solid 0.1vmin black;
      border-radius: 100% 0;
      width: var(--dimple-size);
      height: var(--dimple-size);
      transform: rotate(-30deg);
      left: -1.8vmin;
    }

    &::after {
      --dimple-size: 1.14vmin;
      border-top: solid 0.2vmin black;
      border-left: solid 0.2vmin black;
      border-radius: 100% 0;
      width: var(--dimple-size);
      height: var(--dimple-size);
      transform: scaleX(-1) rotate(-42deg);
      right: -1.56vmin;
      top: 0.78vmin;
    }
  }
}
