@import "../../mixins";

.sticky-note-board {
  border: solid 0.8em #e3c19d;
  background-color: #b7814a;
  background-image: url("/assets/images/art/cardboard.png");
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 15%);
  position: relative;
}

.sticky-note {
  height: min-content;
  transform-style: preserve-3d;
  background: linear-gradient(180deg, #ffc, 90%, #f1f1dd);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
  position: relative;
  justify-self: center;
  padding: 2.5em 1.8em 1.8em;
  margin: spacing(2);
  cursor: pointer;
  @include transition(transform, top, box-shadow, border-radius);

  &::after {
    content: "";
    position: absolute;
    transform: translateZ(-1px);
    right: 3px;
    bottom: 15px;
    width: calc(100% - 3px);
    height: 25px;
    background: rgb(0 0 0 / 20%);
    box-shadow: 2px 15px 5px rgb(0 0 0 / 40%);
  }

  &:hover {
    border-bottom-right-radius: 100px 15px;
  }
}

.sticky-note-description {
  color: black;
  margin: 0;
  @include font-size("lg");
  @include font-family("cursiveBody");
}
